Repository reearth/reearth-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, api, worker, cicd

- change from main
  ui/src/pages/Editor.tsx
Labels: ui

feat(worker): Add parking_lot crate to dependencies and implement sweep algorithm module
  worker/Cargo.lock
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/relate/edge_end_builder.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/geometry_graph.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/edge_set_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/rstar_edge_set_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/segment_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/simple_edge_set_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/planar_graph.rs
  worker/crates/geometry/src/algorithm/relate/relate_operation.rs
  worker/crates/geometry/src/algorithm/sweep.rs
  worker/crates/geometry/src/algorithm/sweep/active.rs
  worker/crates/geometry/src/algorithm/sweep/cross.rs
  worker/crates/geometry/src/algorithm/sweep/events.rs
  worker/crates/geometry/src/algorithm/sweep/im_segment.rs
  worker/crates/geometry/src/algorithm/sweep/iter.rs
  worker/crates/geometry/src/algorithm/sweep/line_or_point.rs
  worker/crates/geometry/src/algorithm/sweep/point.rs
  worker/crates/geometry/src/algorithm/sweep/proc.rs
  worker/crates/geometry/src/algorithm/sweep/segment.rs
  worker/crates/geometry/src/algorithm/sweep/vec_set.rs
Labels: worker

feat(worker): Add parking_lot crate to dependencies and implement sweep algorithm module (#254)
  worker/Cargo.lock
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/relate/edge_end_builder.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/geometry_graph.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/edge_set_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/rstar_edge_set_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/segment_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/simple_edge_set_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/planar_graph.rs
  worker/crates/geometry/src/algorithm/relate/relate_operation.rs
  worker/crates/geometry/src/algorithm/sweep.rs
  worker/crates/geometry/src/algorithm/sweep/active.rs
  worker/crates/geometry/src/algorithm/sweep/cross.rs
  worker/crates/geometry/src/algorithm/sweep/events.rs
  worker/crates/geometry/src/algorithm/sweep/im_segment.rs
  worker/crates/geometry/src/algorithm/sweep/iter.rs
  worker/crates/geometry/src/algorithm/sweep/line_or_point.rs
  worker/crates/geometry/src/algorithm/sweep/point.rs
  worker/crates/geometry/src/algorithm/sweep/proc.rs
  worker/crates/geometry/src/algorithm/sweep/segment.rs
  worker/crates/geometry/src/algorithm/sweep/vec_set.rs
Labels: worker

reorganize workflow calls and replace dispatch with simple checkout
  .github/workflows/build_deploy_api.yml
  .github/workflows/build_deploy_ui.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_api_nightly.yml
  .github/workflows/deploy_ui_nightly.yml
Labels: cicd

refactor around build_deploy file
  .github/actions/build_deploy_api/action.yml
  .github/actions/build_deploy_ui/action.yml
  .github/workflows/ci.yml
Labels: cicd

remove redundant files
  .github/workflows/build_deploy_api.yml
  .github/workflows/build_deploy_ui.yml
Labels: cicd

chore(api): add gcs env example and refactor config
  api/.env.example
  api/internal/app/config/config.go
  api/internal/infrastructure/fs/file_test.go
Labels: api

ci(ui, api): add nightly release flow for ui and api (#243)
  .github/actions/build_deploy_api/action.yml
  .github/actions/build_deploy_ui/action.yml
  .github/workflows/build_ui.yml
  .github/workflows/ci.yml
  .github/workflows/ci_ui.yml
  ui/docker-compose.yml
  ui/dockerfile
  ui/nginx.conf
Labels: ui, cicd

feat(worker): Add environment variable for cityGmlPath in worker
  worker/README.md
  worker/crates/cli/src/dot.rs
  worker/crates/cli/src/run.rs
  worker/crates/types/src/workflow.rs
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
Labels: worker

feat(worker): Add environment variable for cityGmlPath in worker (#255)
  worker/README.md
  worker/crates/cli/src/dot.rs
  worker/crates/cli/src/run.rs
  worker/crates/types/src/workflow.rs
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
Labels: worker

ci: migrate gcr to gar
  .github/actions/build_deploy_api/action.yml
  .github/actions/build_deploy_ui/action.yml
Labels: none

feat: Add environment variable for cityGmlPath in worker README
  worker/README.md
  worker/crates/cli/src/run.rs
  worker/crates/common/src/serde.rs
  worker/crates/types/src/workflow.rs
  worker/examples/Cargo.toml
  worker/examples/plateau/attribute_reader.rs
  worker/examples/plateau/lod_splitter_with_dm.rs
Labels: worker

feat: Add environment variable for cityGmlPath in worker README (#257)
  worker/README.md
  worker/crates/cli/src/run.rs
  worker/crates/common/src/serde.rs
  worker/crates/types/src/workflow.rs
  worker/examples/Cargo.toml
  worker/examples/plateau/attribute_reader.rs
  worker/examples/plateau/lod_splitter_with_dm.rs
Labels: worker

chore(worker): Update Makefile.toml and README.md for cityGmlPath environment variable
  worker/Makefile.toml
  worker/README.md
  worker/examples/plateau/testdata/workflow/attribute_reader.yml
  worker/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
  worker/examples/plateau/testdata/workflow/xml_validator.yml
Labels: worker

chore(worker): Update Makefile.toml and README.md for cityGmlPath environment variable (#258)
  worker/Makefile.toml
  worker/README.md
  worker/examples/plateau/testdata/workflow/attribute_reader.yml
  worker/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
  worker/examples/plateau/testdata/workflow/xml_validator.yml
Labels: worker

feat(worker): Add orientation_extractor module to geometry
  schema/actions.json
  worker/README.md
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/orientation_extractor.rs
  worker/crates/geometry/src/algorithm/winding_order.rs
Labels: worker

feat(worker): Add orientation_extractor module to geometry (#259)
  schema/actions.json
  worker/README.md
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/orientation_extractor.rs
  worker/crates/geometry/src/algorithm/winding_order.rs
Labels: worker

feat(worker): add approx crate to dependencies for geometry and action-processor modules
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/validator.rs
  worker/crates/common/Cargo.toml
  worker/crates/common/src/collection.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/lib.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/line.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_line_string.rs
  worker/crates/geometry/src/types/multi_point.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/types/point.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/types/solid.rs
  worker/crates/geometry/src/types/triangle.rs
  worker/crates/geometry/src/validation.rs
Labels: worker

feat(worker): add approx crate to dependencies for geometry and action-processor modules (#260)
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/validator.rs
  worker/crates/common/Cargo.toml
  worker/crates/common/src/collection.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/lib.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/line.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_line_string.rs
  worker/crates/geometry/src/types/multi_point.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/types/point.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/types/solid.rs
  worker/crates/geometry/src/types/triangle.rs
  worker/crates/geometry/src/validation.rs
Labels: worker

- workspace update name - workspace read team members
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/workspace/queries.graphql
  ui/src/lib/gql/workspace/useApi.ts
  ui/src/lib/gql/workspace/useQueries.ts
  ui/src/types/member.ts
  ui/src/types/workspace.ts
Labels: ui

- setCurrentWorkspace to update in navigation
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
Labels: ui

- role type fix
  ui/src/features/WorkspaceSettings/components/IntegrationsSettings.tsx
Labels: ui

- typescript errors
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
Labels: ui

- Minor changes to type - Add methods for members Crud on workspace
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/workspace/queries.graphql
  ui/src/lib/gql/workspace/useApi.ts
  ui/src/lib/gql/workspace/useQueries.ts
  ui/src/types/workspace.ts
Labels: ui

- search user query implementation
  ui/src/lib/gql/user/queries.graphql
  ui/src/lib/gql/user/useApi.ts
  ui/src/lib/gql/user/useQueries.ts
  ui/src/types/user.ts
Labels: ui

- update type on Role and related changes
  ui/src/features/WorkspaceSettings/components/IntegrationsSettings.tsx
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
  ui/src/types/member.ts
Labels: ui

- type error
  ui/src/types/workspace.ts
Labels: ui

ci: migrate GCR to GAR (#256)
  .github/actions/build_deploy_api/action.yml
  .github/actions/build_deploy_ui/action.yml
Labels: none

- language stuff
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

- updated workspace crud
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
  ui/src/lib/gql/user/useApi.ts
  ui/src/lib/gql/user/useQueries.ts
  ui/src/types/user.ts
Labels: ui

- updated comment - fixed type
  ui/src/lib/gql/user/useQueries.ts
Labels: ui

- sort the members
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
Labels: ui

- a single comma can ruin the layout
  ui/src/routes/workspace_.$workspaceId_.settings.$tab.lazy.tsx
Labels: ui

feat(geometry): add check_coord_is_not_finite function
  worker/crates/action-processor/src/geometry/validator.rs
  worker/crates/geometry/src/algorithm/contains/point.rs
  worker/crates/geometry/src/utils.rs
  worker/crates/geometry/src/validation.rs
Labels: worker

feat(geometry): add check_coord_is_not_finite function (#262)
  worker/crates/action-processor/src/geometry/validator.rs
  worker/crates/geometry/src/algorithm/contains/point.rs
  worker/crates/geometry/src/utils.rs
  worker/crates/geometry/src/validation.rs
Labels: worker

- minor changes
  ui/src/lib/gql/workspace/useQueries.ts
Labels: ui

- revert back
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
Labels: ui

- an actual bug
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
Labels: ui

feat(worker): add Default trait to Coordinate<T, Z>
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/area2d.rs
  worker/crates/geometry/src/algorithm/area3d.rs
  worker/crates/geometry/src/algorithm/map_coords.rs
  worker/crates/geometry/src/algorithm/remove_repeated_points.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/coordnum.rs
  worker/crates/geometry/src/types/line.rs
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/utils.rs
Labels: worker

feat(worker): add Default trait to Coordinate<T, Z> (#263)
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/area2d.rs
  worker/crates/geometry/src/algorithm/area3d.rs
  worker/crates/geometry/src/algorithm/map_coords.rs
  worker/crates/geometry/src/algorithm/remove_repeated_points.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/coordnum.rs
  worker/crates/geometry/src/types/line.rs
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/utils.rs
Labels: worker

.github/labeler.yml:

ui:
  - ui/**/*
api:
  - api/**/*
worker:
  - worker/**/*
cicd:
  - .github/workflows/**/*
