Repository reearth/reearth-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, api, worker, cicd

.github/labeler.yml:

ui:
  - ui/**/*
api:
  - api/**/*
worker:
  - worker/**/*
cicd:
  - .github/workflows/**/*

feat(worker): add approx crate to dependencies for geometry and action-processor modules
  schema/actions.json
  worker/Cargo.lock
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/validator.rs
Labels: worker

feat(worker): add approx crate to dependencies for geometry and action-processor modules (#264)
  schema/actions.json
  worker/Cargo.lock
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/validator.rs
Labels: worker

- using local cache rather than api calls
  ui/src/features/PageWrapper/WorkspaceId.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
  ui/src/lib/gql/workspace/useQueries.ts
Labels: ui

- fixes and fixes
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
  ui/src/lib/gql/workspace/useQueries.ts
Labels: ui

- remove workspace description
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
Labels: ui

feat(worker): Add schema-action and schema-workflow commands to CLI
  schema/workflow.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/Makefile.toml
  worker/crates/cli/src/cli.rs
  worker/crates/cli/src/lib.rs
  worker/crates/cli/src/schema_action.rs
  worker/crates/cli/src/schema_workflow.rs
  worker/crates/geometry/src/validation.rs
  worker/crates/types/src/workflow.rs
Labels: worker

feat(worker): Add schema-action and schema-workflow commands to CLI (#265)
  schema/workflow.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/Makefile.toml
  worker/crates/cli/src/cli.rs
  worker/crates/cli/src/lib.rs
  worker/crates/cli/src/schema_action.rs
  worker/crates/cli/src/schema_workflow.rs
  worker/crates/geometry/src/validation.rs
  worker/crates/types/src/workflow.rs
Labels: worker

- added minor changes
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
Labels: ui

- Minor refactor
  ui/src/features/NotFoundPage/index.tsx
  ui/src/features/TopNavigation/components/UserNavigation.tsx
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
  ui/src/lib/gql/user/useApi.ts
  ui/src/lib/gql/user/useQueries.ts
  ui/src/pages/LoadingPage.tsx
Labels: ui

- minor fix
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
Labels: ui

- added a comment
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
Labels: ui

feat(worker): Add num-traits crate to dependencies for worker and geometry modules
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-processor/src/geometry/validator.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/validation.rs
Labels: worker

feat(worker): Add num-traits crate to dependencies for worker and geometry modules (#266)
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-processor/src/geometry/validator.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/validation.rs
Labels: worker

feat(worker): add HoleCounter module to geometry
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/hole_counter.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/hole.rs
  worker/crates/types/src/geometry.rs
Labels: worker

feat(worker): add HoleCounter module to geometry (#267)
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/hole_counter.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/hole.rs
  worker/crates/types/src/geometry.rs
Labels: worker

feat(websocket): define GCS client
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/persistence/gcs/gcs_client.rs
  websocket/crates/infra/src/persistence/gcs/mod.rs
  websocket/crates/infra/src/persistence/mod.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
Labels: none

feat(websocket): support download
  websocket/crates/infra/src/persistence/gcs/gcs_client.rs
Labels: none

chore: add .coderabbit.yaml configuration file
  .coderabbit.yaml
Labels: none

chore: add .coderabbit.yaml configuration file (#269)
  .coderabbit.yaml
Labels: none

wip add workflow schema
  api/gql/project.graphql
  api/gql/workflow.graphql
Labels: api

chore(worker): update YAML schema references in workflow files
  worker/README.md
  worker/docs/images/xml_validator.png
  worker/examples/plateau/testdata/workflow/attribute_reader.yml
  worker/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
  worker/examples/plateau/testdata/workflow/xml_validator.yml
Labels: worker

chore(worker): update YAML schema references in workflow files (#271)
  worker/README.md
  worker/docs/images/xml_validator.png
  worker/examples/plateau/testdata/workflow/attribute_reader.yml
  worker/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
  worker/examples/plateau/testdata/workflow/xml_validator.yml
Labels: worker

working v12 implementation
  ui/package.json
  ui/src/features/Dialog/components/searches/CanvasSearch.tsx
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/CanvasDevTools/components/ChangeLogger.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/NodeInspector.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/ViewportLogger.tsx
  ui/src/features/Editor/components/CustomConnectionLine.tsx
  ui/src/features/Editor/components/CustomEdge.tsx
  ui/src/features/Editor/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/CustomHandle.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/Handles.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/components/Nodes/index.ts
  ui/src/features/Editor/components/OverlayUI/components/CanvasActionbar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Infobar/index.tsx
  ui/src/features/Editor/components/ParamEditor/index.tsx
  ui/src/mock_data/nodeEdgeData.ts
  ui/src/pages/Editor.tsx
  ui/src/types/edge.ts
  ui/src/types/node.ts
  ui/yarn.lock
Labels: ui

Update ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/hooks.ts
Labels: ui

Set note to fix x y coords in node inspector
  ui/src/features/Editor/components/CanvasDevTools/components/NodeInspector.tsx
Labels: ui

chore(ui): Upgrade React Flow to v12 (beta) (#272)
  ui/package.json
  ui/src/features/Dialog/components/searches/CanvasSearch.tsx
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/CanvasDevTools/components/ChangeLogger.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/NodeInspector.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/ViewportLogger.tsx
  ui/src/features/Editor/components/CustomConnectionLine.tsx
  ui/src/features/Editor/components/CustomEdge.tsx
  ui/src/features/Editor/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/CustomHandle.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/Handles.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/components/Nodes/index.ts
  ui/src/features/Editor/components/OverlayUI/components/CanvasActionbar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Infobar/index.tsx
  ui/src/features/Editor/components/ParamEditor/index.tsx
  ui/src/mock_data/nodeEdgeData.ts
  ui/src/pages/Editor.tsx
  ui/src/types/edge.ts
  ui/src/types/node.ts
  ui/yarn.lock
Labels: ui

Project has multiple workflows
  ui/src/features/BottomPanel/index.tsx
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/index.tsx
  ui/src/mock_data/workflowData.ts
  ui/src/pages/Editor.tsx
  ui/src/types/project.ts
  ui/src/types/workflow.ts
Labels: ui

feat(worker): add PlanarityFilter module to geometry
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/planarity_filter.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_line_string.rs
  worker/crates/geometry/src/types/multi_point.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/point.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/utils.rs
  worker/crates/types/src/geometry.rs
Labels: worker

feat(worker): add PlanarityFilter module to geometry (#273)
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/planarity_filter.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_line_string.rs
  worker/crates/geometry/src/types/multi_point.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/point.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/utils.rs
  worker/crates/types/src/geometry.rs
Labels: worker

chore(worker): add tests for AttributeKeeper and Filter modules
  worker/crates/action-processor/src/attribute/keeper.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/planarity_filter.rs
  worker/crates/action-processor/src/lib.rs
  worker/crates/action-processor/src/tests.rs
  worker/crates/action-processor/src/tests/utils.rs
Labels: worker

chore(worker): add tests for AttributeKeeper and Filter modules (#274)
  worker/crates/action-processor/src/attribute/keeper.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/planarity_filter.rs
  worker/crates/action-processor/src/lib.rs
  worker/crates/action-processor/src/tests.rs
  worker/crates/action-processor/src/tests/utils.rs
Labels: worker

ci: use workflow_call instead of workflow_dispatch
  .github/actions/build_deploy_api/action.yml
  .github/actions/build_deploy_ui/action.yml
  .github/workflows/ci.yml
Labels: cicd
