Repository reearth/reearth-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, api, worker, cicd

- deleted collapsible component - updated bottomPanel to always render but display hidden
  ui/src/components/collapsiblePanels/HorizontalPanel.tsx
  ui/src/components/collapsiblePanels/components/ToggleArea.tsx
  ui/src/components/collapsiblePanels/index.ts
  ui/src/components/collapsiblePanels/types.ts
  ui/src/components/index.ts
  ui/src/features/BottomPanel/index.tsx
Labels: ui

- fixed the maximize height issue
  ui/src/features/BottomPanel/components/Console/index.tsx
  ui/src/features/BottomPanel/index.tsx
Labels: ui

- Fixed minor things
  ui/src/features/BottomPanel/index.tsx
Labels: ui

wip global left panel
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dashboard/components/Nav/index.tsx
  ui/src/features/Dashboard/components/index.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/CanvasTabs/index.tsx
Labels: ui

add ci support and refactor
  api/.env.example
  api/.gitignore
  api/docker-compose.yml
  api/internal/adapter/gql/gqlmodel/convert_project.go
  api/internal/app/app.go
  api/internal/app/auth_client.go
  api/internal/app/config/config.go
  api/internal/app/config/config_test.go
  api/internal/app/config/published.go
  api/internal/app/main.go
  api/internal/app/repo.go
  api/internal/app/web.go
  api/internal/app/web_index.go
  api/internal/app/web_index_test.go
  api/internal/app/web_test.go
  api/internal/usecase/interactor/project.go
  api/internal/usecase/interactor/project_test.go
Labels: api

ci(api): add ci and ci_api support
  .github/workflows/ci.yml
  .github/workflows/ci_api.yml
Labels: cicd

fix ci lint and go workspace file
  .vscode/launch.json
  .vscode/settings.json
  api/e2e/common.go
  api/e2e/gql_me_test.go
  api/e2e/gql_project_test.go
  api/e2e/gql_user_test.go
  api/e2e/gql_workspace_test.go
  api/e2e/ping_test.go
  api/e2e/seeder.go
  api/internal/adapter/gql/loader.go
  api/internal/app/config/config_test.go
  api/pkg/project/project.go
  go.work
  go.work.sum
Labels: api

ci(api): add ci and ci_api support (#203)
  .github/workflows/ci.yml
  .github/workflows/ci_api.yml
  .vscode/launch.json
  .vscode/settings.json
  api/e2e/common.go
  api/e2e/gql_me_test.go
  api/e2e/gql_project_test.go
  api/e2e/gql_user_test.go
  api/e2e/gql_workspace_test.go
  api/e2e/ping_test.go
  api/e2e/seeder.go
  api/internal/adapter/gql/loader.go
  api/internal/app/config/config_test.go
  api/pkg/project/project.go
  go.work
  go.work.sum
Labels: api, cicd

chore: add .vscode config for api server
  .vscode/launch.json
  .vscode/settings.json
Labels: none

chore: remove .vscode file
  .vscode/launch.json
  .vscode/settings.json
Labels: none

chore: remove .vscode config (#204)
  .vscode/launch.json
  .vscode/settings.json
Labels: none

feat: add reearth-flow-runtime dependency and Router struct
  worker/Cargo.lock
  worker/crates/runtime/src/builder_dag.rs
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/runtime/src/node.rs
  worker/examples/Cargo.toml
  worker/examples/plateau/domain_of_definition_validator.rs
  worker/examples/plateau/testdata/graphs/attribute_reader.yml
  worker/examples/plateau/testdata/graphs/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/graphs/folder_and_file_path_reader.yml
  worker/examples/plateau/testdata/graphs/xml_validator.yml
  worker/examples/plateau/testdata/workflow/attribute_reader.yml
Labels: worker

feat: add reearth-flow-runtime dependency and Router struct (#205)
  worker/Cargo.lock
  worker/crates/runtime/src/builder_dag.rs
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/runtime/src/node.rs
  worker/examples/Cargo.toml
  worker/examples/plateau/domain_of_definition_validator.rs
  worker/examples/plateau/testdata/graphs/attribute_reader.yml
  worker/examples/plateau/testdata/graphs/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/graphs/folder_and_file_path_reader.yml
  worker/examples/plateau/testdata/graphs/xml_validator.yml
  worker/examples/plateau/testdata/workflow/attribute_reader.yml
Labels: worker

chore(api): fix env example
  api/.env.example
Labels: api

chore(api): fix env example (#206)
  api/.env.example
Labels: api

- Added .gitignore entry for flow-config.json
  ui/.gitignore
Labels: ui

- installed auth0-react
  ui/package.json
Labels: ui

- lock file updated
  ui/yarn.lock
Labels: ui

- using port 3000 because auth0 is configired that way - Added to comment to remove it later on
  ui/vite.config.ts
Labels: ui

- updated config for auth0
  ui/src/config/index.ts
Labels: ui

- added auth0 code - removed the cognito part - added comments to be addressed later
  ui/src/auth/auth0Auth.ts
  ui/src/auth/authHook.ts
  ui/src/auth/authProvider.tsx
  ui/src/auth/index.tsx
  ui/src/auth/useAuth.ts
Labels: ui

- added authProviedr and authenticated page to the main component
  ui/src/main.tsx
Labels: ui

- Logout implemented
  ui/src/features/Dashboard/components/Nav/components/UserNavigation.tsx
Labels: ui

feat(worker): update thread pool size for processors
  worker/Cargo.lock
  worker/crates/action-processor/src/feature/transformer.rs
  worker/crates/action-processor/src/plateau/domain_of_definition_validator.rs
  worker/crates/action-processor/src/plateau/xml_attribute_extractor.rs
  worker/crates/common/src/future.rs
  worker/crates/common/src/lib.rs
  worker/crates/common/src/xml.rs
  worker/crates/runner/src/executor.rs
  worker/crates/runner/src/orchestrator.rs
  worker/crates/runner/src/runner.rs
  worker/crates/runtime/Cargo.toml
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/runtime/src/executor/dag_executor.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/runtime/src/executor_operation.rs
  worker/crates/runtime/src/node.rs
  worker/examples/plateau/domain_of_definition_validator.rs
  worker/examples/plateau/helper.rs
  worker/examples/plateau/testdata/graphs/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  worker/examples/plateau/xml_validator.rs
Labels: worker

feat(worker): update thread pool size for processors (#208)
  worker/Cargo.lock
  worker/crates/action-processor/src/feature/transformer.rs
  worker/crates/action-processor/src/plateau/domain_of_definition_validator.rs
  worker/crates/action-processor/src/plateau/xml_attribute_extractor.rs
  worker/crates/common/src/future.rs
  worker/crates/common/src/lib.rs
  worker/crates/common/src/xml.rs
  worker/crates/runner/src/executor.rs
  worker/crates/runner/src/orchestrator.rs
  worker/crates/runner/src/runner.rs
  worker/crates/runtime/Cargo.toml
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/runtime/src/executor/dag_executor.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/runtime/src/executor_operation.rs
  worker/crates/runtime/src/node.rs
  worker/examples/plateau/domain_of_definition_validator.rs
  worker/examples/plateau/helper.rs
  worker/examples/plateau/testdata/graphs/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  worker/examples/plateau/xml_validator.rs
Labels: worker

feat(worker): update thread pool size for processors
  worker/Cargo.lock
  worker/crates/action-processor/src/plateau/domain_of_definition_validator.rs
  worker/crates/runtime/src/errors.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/runtime/src/executor/receiver_loop.rs
  worker/crates/runtime/src/executor/sink_node.rs
Labels: worker

- selected is never undefined - No highlight if the BottomPanel is not open
  ui/src/features/BottomPanel/index.tsx
Labels: ui

- updated some comments - added profile picture
  ui/src/auth/auth0Auth.ts
  ui/src/auth/authHook.ts
  ui/src/auth/authProvider.tsx
  ui/src/config/index.ts
  ui/src/features/Dashboard/components/Nav/components/UserNavigation.tsx
Labels: ui

- fixed user type in authContext
  ui/src/auth/auth0Auth.ts
  ui/src/auth/authHook.ts
Labels: ui

- stupid me thinking `&&` loads the first value
  ui/src/features/Dashboard/components/Nav/components/UserNavigation.tsx
Labels: ui

- never forget the console log statements
  ui/src/features/Dashboard/components/Nav/components/UserNavigation.tsx
Labels: ui

- Remove comments after discussion with Kyle san - Refactored some code
  ui/src/auth/auth0Auth.ts
  ui/src/auth/authHook.ts
  ui/src/auth/authProvider.tsx
  ui/src/auth/index.tsx
  ui/src/auth/useAuth.ts
  ui/src/config/authInfo.ts
  ui/src/config/index.ts
  ui/src/features/Root/index.tsx
  ui/src/main.tsx
  ui/vite.config.ts
Labels: ui

feat(ui): Maximize view from Bottom Panel (#199)
  ui/src/components/collapsiblePanels/HorizontalPanel.tsx
  ui/src/components/collapsiblePanels/components/ToggleArea.tsx
  ui/src/components/collapsiblePanels/index.ts
  ui/src/components/collapsiblePanels/types.ts
  ui/src/components/index.ts
  ui/src/features/BottomPanel/components/Console/index.tsx
  ui/src/features/BottomPanel/index.tsx
Labels: ui

chore(worker): Fix action name mismatch in BuilderDag
  schema/actions.json
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/cli/src/schema.rs
  worker/crates/runner/src/runner.rs
  worker/crates/runtime/src/builder_dag.rs
  worker/crates/runtime/src/errors.rs
Labels: worker

chore(worker): Fix action name mismatch in BuilderDag (#211)
  schema/actions.json
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/cli/src/schema.rs
  worker/crates/runner/src/runner.rs
  worker/crates/runtime/src/builder_dag.rs
  worker/crates/runtime/src/errors.rs
Labels: worker

chore(worker): sort actions alphabetically in SchemaCliCommand
  schema/actions.json
  worker/crates/cli/src/schema.rs
Labels: worker

chore(worker): sort actions alphabetically in SchemaCliCommand (#212)
  schema/actions.json
  worker/crates/cli/src/schema.rs
Labels: worker

chore(worker): Update SinkNode constructor to include shutdown and runtime parameters
  worker/crates/action-processor/src/xml/fragmenter.rs
  worker/crates/runtime/src/executor/dag_executor.rs
  worker/crates/runtime/src/executor/sink_node.rs
Labels: worker

chore(worker): Update SinkNode constructor to include shutdown and runtime parameters (#213)
  worker/crates/action-processor/src/xml/fragmenter.rs
  worker/crates/runtime/src/executor/dag_executor.rs
  worker/crates/runtime/src/executor/sink_node.rs
Labels: worker

- fallback picture updated
  ui/src/features/Dashboard/components/Nav/components/UserNavigation.tsx
Labels: ui

.github/labeler.yml:

ui:
  - ui/**/*
api:
  - api/**/*
worker:
  - worker/**/*
cicd:
  - .github/workflows/**/*
