Repository reearth/reearth-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, api, worker, cicd

regen i18n
  ui/i18next-parser.config.js
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

feat(worker): add unmatched_xlink_detector action processor
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/plateau.rs
  worker/crates/action-processor/src/plateau/errors.rs
  worker/crates/action-processor/src/plateau/mapping.rs
  worker/crates/action-processor/src/plateau/unmatched_xlink_detector.rs
  worker/crates/action-processor/src/plateau/xml_attribute_extractor.rs
  worker/crates/common/src/xml.rs
  worker/crates/xml/Cargo.toml
  worker/crates/xml/src/convert.rs
  worker/crates/xml/src/decl.rs
  worker/crates/xml/src/display.rs
  worker/crates/xml/src/dom_impl.rs
  worker/crates/xml/src/error.rs
  worker/crates/xml/src/lib.rs
  worker/crates/xml/src/mutex.rs
  worker/crates/xml/src/name.rs
  worker/crates/xml/src/namespace.rs
  worker/crates/xml/src/node.rs
  worker/crates/xml/src/options.rs
  worker/crates/xml/src/parser.rs
  worker/crates/xml/src/syntax.rs
  worker/crates/xml/src/text.rs
  worker/crates/xml/src/trait_impl.rs
  worker/crates/xml/src/traits.rs
Labels: worker

- member and projects are optional as of now
  ui/src/types/workspace.ts
Labels: ui

feat(worker): add unmatched_xlink_detector action processor (#226)
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/plateau.rs
  worker/crates/action-processor/src/plateau/errors.rs
  worker/crates/action-processor/src/plateau/mapping.rs
  worker/crates/action-processor/src/plateau/unmatched_xlink_detector.rs
  worker/crates/action-processor/src/plateau/xml_attribute_extractor.rs
  worker/crates/common/src/xml.rs
  worker/crates/xml/Cargo.toml
  worker/crates/xml/src/convert.rs
  worker/crates/xml/src/decl.rs
  worker/crates/xml/src/display.rs
  worker/crates/xml/src/dom_impl.rs
  worker/crates/xml/src/error.rs
  worker/crates/xml/src/lib.rs
  worker/crates/xml/src/mutex.rs
  worker/crates/xml/src/name.rs
  worker/crates/xml/src/namespace.rs
  worker/crates/xml/src/node.rs
  worker/crates/xml/src/options.rs
  worker/crates/xml/src/parser.rs
  worker/crates/xml/src/syntax.rs
  worker/crates/xml/src/text.rs
  worker/crates/xml/src/trait_impl.rs
  worker/crates/xml/src/traits.rs
Labels: worker

- minor import fix - export types from lib/gql
  ui/src/lib/gql/index.ts
  ui/src/stores/index.ts
  ui/src/types/workspace.ts
Labels: ui

- Moved the providers to the main.tsx
  ui/src/features/Root/index.tsx
  ui/src/main.tsx
Labels: ui

- Reverted the changed code. - main.ts can just have the router
  ui/src/features/Root/index.tsx
  ui/src/main.tsx
Labels: ui

- workspace navigation works
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/LoadingPage/index.tsx
  ui/src/features/Root/index.tsx
Labels: ui

- ran `yarn i18n`
  ui/src/providers/i18n/locales/en.json
  ui/src/providers/i18n/locales/es.json
  ui/src/providers/i18n/locales/fr.json
  ui/src/providers/i18n/locales/ja.json
  ui/src/providers/i18n/locales/zh.json
Labels: ui

- workspace navigation after creation works
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/queries/workspace.ts
Labels: ui

- removed demo code
  ui/src/features/Root/index.tsx
Labels: ui

- Updates so mocked projects can be shown for now
  ui/src/features/Dashboard/components/MainSection.tsx
Labels: ui

- removed unused code
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
Labels: ui

- Minor refactor
  ui/src/features/LoadingPage/index.tsx
Labels: ui

- correct json?
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
Labels: ui

- corrected imports
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/features/Dialog/components/workspace/useWorkspace.tsx
Labels: ui

- Fixing queries and updating gql
  ui/src/lib/api/project.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/queries/project.ts
Labels: ui

- Fixed queries
  ui/src/lib/gql/queries/project.ts
Labels: ui

- changed folder structure - Updated icon - Removed the export from __gen__
  ui/codegen.ts
  ui/src/features/Dialog/components/workspace/useWorkspace.tsx
  ui/src/lib/gql/index.ts
  ui/src/lib/gql/queries/index.ts
  ui/src/lib/gql/workspace/hooks.ts
  ui/src/lib/gql/workspace/index.ts
  ui/src/lib/gql/workspace/queries.ts
  ui/src/lib/gql/workspace/types.ts
  ui/src/types/index.ts
  ui/src/types/workspace.ts
Labels: ui

chore: update opendal dependency to include additional services
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/storage/src/storage.rs
  worker/crates/storage/src/storage_sync.rs
Labels: worker

- just needed an async
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/lib/gql/workspace/hooks.ts
Labels: ui

- remove onSuccess and onError functions - using useEffect instead
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/lib/gql/workspace/hooks.ts
Labels: ui

feat(worker): add geometry_collection module to the geometry crate
  worker/Cargo.lock
  worker/crates/action-log/Cargo.toml
  worker/crates/action-log/src/action.rs
  worker/crates/action-log/src/lib.rs
  worker/crates/action-processor/src/feature/filter.rs
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/geometry/src/types.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/geometry_collection.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/storage/src/storage.rs
  worker/crates/storage/src/storage_sync.rs
  worker/examples/plateau/attribute_reader.rs
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
  worker/examples/plateau/xml_validator.rs
Labels: worker

feat(worker): add geometry_collection module to the geometry crate (#232)
  worker/Cargo.lock
  worker/crates/action-log/Cargo.toml
  worker/crates/action-log/src/action.rs
  worker/crates/action-log/src/lib.rs
  worker/crates/action-processor/src/feature/filter.rs
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/geometry/src/types.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/geometry_collection.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/storage/src/storage.rs
  worker/crates/storage/src/storage_sync.rs
  worker/examples/plateau/attribute_reader.rs
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
  worker/examples/plateau/xml_validator.rs
Labels: worker

- update the cache directly
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/workspace/hooks.ts
  ui/src/lib/gql/workspace/queries.ts
Labels: ui

- Using fragments
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/workspace/queries.ts
Labels: ui

- it works but not satisfied with the implementation
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/features/LoadingPage/index.tsx
  ui/src/lib/gql/workspace/hooks.ts
  ui/src/lib/gql/workspace/queries.ts
Labels: ui

- Workspaces are cached forever
  ui/src/lib/gql/workspace/hooks.ts
Labels: ui

- OKay, it looks slightly better
  ui/src/lib/gql/workspace/hooks.ts
Labels: ui

- description property doesn't exist on workspace
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
Labels: ui

- types should be defined /types folder
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/lib/gql/workspace/hooks.ts
  ui/src/lib/gql/workspace/index.ts
  ui/src/lib/gql/workspace/types.ts
  ui/src/types/index.ts
  ui/src/types/workspace.ts
Labels: ui

- Minor fix
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
Labels: ui

- bit of renaming
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/features/LoadingPage/index.tsx
  ui/src/lib/gql/workspace/hooks.ts
Labels: ui

- delete workspace mutation
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
  ui/src/lib/gql/workspace/hooks.ts
Labels: ui

- updated navigation code from workspace navigation
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
Labels: ui

feat(websocket): initial setup and domains
  websocket/.gitignore
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/README.md
  websocket/clippy.toml
  websocket/config/config.toml
  websocket/crates/domain/Cargo.toml
  websocket/crates/domain/src/lib.rs
  websocket/crates/domain/src/project.rs
  websocket/crates/domain/src/repository.rs
  websocket/crates/domain/src/snapshot.rs
  websocket/crates/domain/src/utils.rs
Labels: none

feat(websocket): initial setup and domains (#233)
  websocket/.gitignore
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/README.md
  websocket/clippy.toml
  websocket/config/config.toml
  websocket/crates/domain/Cargo.toml
  websocket/crates/domain/src/lib.rs
  websocket/crates/domain/src/project.rs
  websocket/crates/domain/src/repository.rs
  websocket/crates/domain/src/snapshot.rs
  websocket/crates/domain/src/utils.rs
Labels: none

feat(worker): add splitter module to the geometry crate
  schema/actions.json
  worker/Cargo.lock
  worker/crates/action-processor/src/feature/reader/citygml.rs
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/splitter.rs
  worker/crates/action-source/src/file/reader/citygml.rs
  worker/crates/types/src/feature.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
Labels: worker

feat(worker): add splitter module to the geometry crate (#234)
  schema/actions.json
  worker/Cargo.lock
  worker/crates/action-processor/src/feature/reader/citygml.rs
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/splitter.rs
  worker/crates/action-source/src/file/reader/citygml.rs
  worker/crates/types/src/feature.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
Labels: worker

- Final refactor (maybe?)
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/features/LoadingPage/index.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
  ui/src/lib/gql/workspace/hook.ts
  ui/src/lib/gql/workspace/index.ts
Labels: ui

.github/labeler.yml:

ui:
  - ui/**/*
api:
  - api/**/*
worker:
  - worker/**/*
cicd:
  - .github/workflows/**/*
