Repository reearth/reearth-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, api, worker, cicd

- Needed fixing
  ui/src/lib/gql/workspace/hook.ts
Labels: ui

- has to have try..catch
  ui/src/features/Dashboard/index.tsx
  ui/src/lib/gql/workspace/hook.ts
Labels: ui

- renaming
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/features/LoadingPage/index.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
  ui/src/lib/gql/workspace/hook.ts
Labels: ui

- removed useCallback - moved types definition
  ui/src/lib/gql/workspace/hook.ts
  ui/src/types/api.ts
  ui/src/types/index.ts
  ui/src/types/workspace.ts
Labels: ui

- updated comment
  ui/src/types/api.ts
Labels: ui

- fixed type errors - removed workspace mock data
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dialog/index.tsx
  ui/src/mock_data/projectData.ts
  ui/src/mock_data/workspaceData.ts
Labels: ui

feat(websocket): add support for redis infra
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/lib.rs
  websocket/crates/infra/src/persistence/mod.rs
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/infra/src/persistence/redis/flow_project_lock.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
  websocket/crates/infra/src/persistence/redis/mod.rs
  websocket/crates/infra/src/persistence/redis/redis_client.rs
Labels: none

feat(ui): Workspace API Integration (#222)
  ui/codegen.ts
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
  ui/src/features/Dashboard/components/Nav/index.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Dialog/components/Content.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/features/Dialog/components/workspace/index.ts
  ui/src/features/Dialog/components/workspace/useWorkspace.tsx
  ui/src/features/Dialog/index.tsx
  ui/src/features/LoadingPage/index.tsx
  ui/src/features/Root/index.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/index.ts
  ui/src/lib/gql/provider/GraphQLRequestProvider.tsx
  ui/src/lib/gql/queries/user.ts
  ui/src/lib/gql/workspace/hook.ts
  ui/src/lib/gql/workspace/index.ts
  ui/src/lib/gql/workspace/queries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/main.tsx
  ui/src/mock_data/projectData.ts
  ui/src/mock_data/workspaceData.ts
  ui/src/stores/index.ts
  ui/src/types/api.ts
  ui/src/types/index.ts
  ui/src/types/workspace.ts
Labels: ui

consolidate workflow tabs and bottom panel
  ui/src/features/BottomPanel/index.tsx
  ui/src/features/Dashboard/components/Nav/components/index.ts
  ui/src/features/Dashboard/components/Nav/index.tsx
  ui/src/features/Dashboard/components/index.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/CanvasTabs/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Infobar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/index.ts
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/components/index.ts
  ui/src/features/LeftPanel/index.tsx
  ui/src/features/Root/index.tsx
  ui/src/features/TopNavigation/components/UserNavigation.tsx
  ui/src/features/TopNavigation/components/WorkspaceNavigation.tsx
  ui/src/features/TopNavigation/components/index.ts
  ui/src/features/TopNavigation/index.tsx
Labels: ui

- User query refactored
  ui/src/features/Dashboard/components/Nav/components/UserNavigation.tsx
  ui/src/lib/gql/index.ts
  ui/src/lib/gql/queries/index.ts
  ui/src/lib/gql/queries/user.ts
  ui/src/lib/gql/user/hook.ts
  ui/src/lib/gql/user/index.ts
  ui/src/lib/gql/user/queries.ts
  ui/src/types/user.ts
Labels: ui

- me is different from users
  ui/src/types/user.ts
Labels: ui

move devtools
  ui/src/features/Root/index.tsx
Labels: ui

feat(ui): User query refactored (#237)
  ui/src/features/Dashboard/components/Nav/components/UserNavigation.tsx
  ui/src/lib/gql/index.ts
  ui/src/lib/gql/queries/index.ts
  ui/src/lib/gql/queries/user.ts
  ui/src/lib/gql/user/hook.ts
  ui/src/lib/gql/user/index.ts
  ui/src/lib/gql/user/queries.ts
  ui/src/types/user.ts
Labels: ui

small refactor
  ui/src/features/BottomPanel/components/DataTable/index.tsx
  ui/src/features/BottomPanel/index.tsx
Labels: ui

update styles for workspace creation dialog
  ui/src/features/Dashboard/components/LeftSection/components/WorkspaceSection.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
Labels: ui

update some styles
  ui/src/components/Dialog/index.tsx
  ui/src/features/Dialog/components/ContentSection.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/features/TopNavigation/components/UserNavigation.tsx
  ui/src/features/TopNavigation/components/WorkspaceNavigation.tsx
Labels: ui

regen i18n
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

- merge fix
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
Labels: ui

- get projects integrated - added create projects - removed mockDate for projects more changes..
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/index.ts
  ui/src/lib/gql/project/hook.ts
  ui/src/lib/gql/project/index.ts
  ui/src/lib/gql/project/queries.ts
  ui/src/lib/gql/queries/project.ts
  ui/src/lib/gql/queries/workspace.ts
  ui/src/mock_data/projectData.ts
  ui/src/mock_data/runsData.ts
  ui/src/types/project.ts
  ui/src/types/run.ts
  ui/src/utils/date.ts
  ui/src/utils/index.ts
Labels: ui

- added a comment
  ui/src/features/Dashboard/components/MainSection.tsx
Labels: ui

- added add project integration
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dialog/components/Content.tsx
  ui/src/features/Dialog/components/project/AddProject.tsx
  ui/src/features/Dialog/components/project/index.ts
  ui/src/features/Dialog/components/project/useProject.tsx
  ui/src/lib/gql/project/hook.ts
  ui/src/stores/index.ts
Labels: ui

- added a comment
  ui/src/lib/gql/project/hook.ts
Labels: ui

- added a default stale time of 20 seconds
  ui/src/lib/gql/provider/TanStackQueryProvider.tsx
Labels: ui

- Delete works
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/lib/gql/project/hook.ts
  ui/src/types/project.ts
Labels: ui

- staletime should not be infinity for project query
  ui/src/lib/gql/project/hook.ts
Labels: ui

- added a comment - updated project limit to 20
  ui/src/lib/gql/project/hook.ts
Labels: ui

small changes and regen i18n
  ui/.env-local
  ui/src/components/Tooltip/index.tsx
  ui/src/features/BottomPanel/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

feat(ui): sub workflow UI (#236)
  ui/.env-local
  ui/src/components/Dialog/index.tsx
  ui/src/components/Tooltip/index.tsx
  ui/src/features/BottomPanel/components/DataTable/index.tsx
  ui/src/features/BottomPanel/index.tsx
  ui/src/features/Dashboard/components/LeftSection/components/WorkspaceSection.tsx
  ui/src/features/Dashboard/components/Nav/components/index.ts
  ui/src/features/Dashboard/components/Nav/index.tsx
  ui/src/features/Dashboard/components/index.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Dialog/components/ContentSection.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/features/Editor/components/OverlayUI/components/CanvasTabs/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Infobar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/index.ts
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/components/index.ts
  ui/src/features/LeftPanel/index.tsx
  ui/src/features/TopNavigation/components/UserNavigation.tsx
  ui/src/features/TopNavigation/components/WorkspaceNavigation.tsx
  ui/src/features/TopNavigation/components/index.ts
  ui/src/features/TopNavigation/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

- import order fix
  ui/src/features/Dashboard/components/LeftSection/components/RunsSection.tsx
Labels: ui

feat(worker): Add bounded_by field to CityGML parsing
  worker/Cargo.lock
  worker/crates/action-processor/src/feature/reader/citygml.rs
  worker/crates/action-source/src/file/reader/citygml.rs
  worker/crates/types/src/geometry.rs
Labels: worker

feat(worker): Add bounded_by field to CityGML parsing (#238)
  worker/Cargo.lock
  worker/crates/action-processor/src/feature/reader/citygml.rs
  worker/crates/action-source/src/file/reader/citygml.rs
  worker/crates/types/src/geometry.rs
Labels: worker

- Review comments resolved
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/lib/gql/project/hook.ts
Labels: ui

- lint fixes
  ui/src/features/Dashboard/components/LeftSection/components/RunsSection.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/Handles.tsx
Labels: ui

- adding tanstack react-query eslint
  ui/.eslintrc.cjs
Labels: ui

- better way to format data
  ui/src/lib/gql/workspace/hook.ts
Labels: ui

- accidently deleted
  ui/src/lib/gql/workspace/hook.ts
Labels: ui

- The solution is always more simple than you think
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/lib/gql/project/hook.ts
Labels: ui

- updated comment
  ui/src/lib/gql/project/hook.ts
Labels: ui

feat(worker): add reprojection processor
  worker/Cargo.lock
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/reprojector.rs
  worker/crates/action-processor/src/geometry/types.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/error.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
Labels: worker

feat(worker): add reprojection processor (#239)
  worker/Cargo.lock
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/reprojector.rs
  worker/crates/action-processor/src/geometry/types.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/error.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
Labels: worker

.github/labeler.yml:

ui:
  - ui/**/*
api:
  - api/**/*
worker:
  - worker/**/*
cicd:
  - .github/workflows/**/*
