Repository reearth/reearth-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, api, worker, cicd

.github/labeler.yml:

ui:
  - ui/**/*
api:
  - api/**/*
worker:
  - worker/**/*
cicd:
  - .github/workflows/**/*

remove cloud cdn config from ui deployment workflow
  .github/workflows/deploy_ui_nightly.yml
Labels: cicd

replace set-output with
  .github/workflows/build_api.yml
  .github/workflows/build_ui.yml
  .github/workflows/ci.yml
  .github/workflows/ci_ui.yml
Labels: cicd

replace set-ouput with GITHUB_OUPTUT
  .github/workflows/build_api.yml
  .github/workflows/build_ui.yml
  .github/workflows/ci.yml
  .github/workflows/ci_ui.yml
Labels: cicd

fix yarn cache dir
  .github/workflows/build_ui.yml
  .github/workflows/ci_ui.yml
Labels: cicd

handle the potential yarn cache failure gracefully and provide a default value for the cache directory path
  .github/workflows/ci_ui.yml
Labels: cicd

feat(ui): Project API integration (#227)
  ui/.eslintrc.cjs
  ui/README.md
  ui/codegen.ts
  ui/package.json
  ui/src/features/Dashboard/components/LeftSection/components/RunsSection.tsx
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Dialog/components/Content.tsx
  ui/src/features/Dialog/components/project/AddProject.tsx
  ui/src/features/Dialog/components/project/index.ts
  ui/src/features/Dialog/components/project/useProject.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/Handles.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/index.ts
  ui/src/lib/gql/project/index.ts
  ui/src/lib/gql/project/queries.graphql
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/project/useQueries.ts
  ui/src/lib/gql/provider/TanStackQueryProvider.tsx
  ui/src/mock_data/projectData.ts
  ui/src/mock_data/runsData.ts
  ui/src/stores/index.ts
  ui/src/types/project.ts
  ui/src/types/run.ts
  ui/src/utils/date.ts
  ui/src/utils/index.ts
  ui/yarn.lock
Labels: ui

- queries should be written in graphql
  ui/codegen.ts
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/user/queries.graphql
  ui/src/lib/gql/user/queries.ts
  ui/src/lib/gql/workspace/queries.graphql
  ui/src/lib/gql/workspace/queries.ts
Labels: ui

- better structure for organising API
  ui/src/lib/gql/user/hook.ts
  ui/src/lib/gql/user/index.ts
  ui/src/lib/gql/user/useApi.ts
  ui/src/lib/gql/user/useQueries.ts
  ui/src/types/user.ts
Labels: ui

- renaming
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/project/useQueries.ts
Labels: ui

- better structure
  ui/src/lib/gql/workspace/index.ts
  ui/src/lib/gql/workspace/useApi.ts
  ui/src/lib/gql/workspace/useQueries.ts
Labels: ui

- updated eslint rules - eslint works in all cases
  ui/.eslintrc.cjs
  ui/src/lib/gql/workspace/queries.graphql
Labels: ui

lots of refactoring - introducing /pages dir - for all the pages
  ui/src/features/Dashboard/LeftSection/components/RunsSection.tsx
  ui/src/features/Dashboard/LeftSection/components/WorkspaceSection.tsx
  ui/src/features/Dashboard/LeftSection/components/index.ts
  ui/src/features/Dashboard/LeftSection/index.tsx
  ui/src/features/Dashboard/MainSection.tsx
  ui/src/features/Dashboard/components/index.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/PageWrapper/index.ts
  ui/src/pages/Dashboard.tsx
  ui/src/pages/Editor.tsx
  ui/src/pages/LoadingPage.tsx
  ui/src/pages/WorkspaceRuns.tsx
  ui/src/pages/WorkspaceSettings.tsx
  ui/src/pages/index.ts
  ui/src/routes/index.lazy.tsx
  ui/src/routes/workspace_.$workspaceId.lazy.tsx
  ui/src/routes/workspace_.$workspaceId_.project.$projectId.lazy.tsx
  ui/src/routes/workspace_.$workspaceId_.runs.$tab.lazy.tsx
  ui/src/routes/workspace_.$workspaceId_.settings.$tab.lazy.tsx
Labels: ui

- Missed one file
  ui/src/routes/workspace.lazy.tsx
Labels: ui

chore(ui): refactor canvas and nodes (#249)
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/ChangeLogger.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/NodeInspector.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/ViewportLogger.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/index.ts
  ui/src/features/Editor/components/CanvasDevTools/index.tsx
  ui/src/features/Editor/components/CanvasDevTools/style.css
  ui/src/features/Editor/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/index.tsx
  ui/src/features/Root/index.tsx
  ui/src/routes/workspace_.$workspaceId_.project.$projectId.lazy.tsx
Labels: ui

- Added ErrorPage
  ui/src/features/ErrorPage/index.tsx
Labels: ui

feat(worker): Add two_dimention_forcer module to geometry module
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/two_dimention_forcer.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/types/src/geometry.rs
Labels: worker

feat(worker): Add two_dimention_forcer module to geometry module (#251)
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/two_dimention_forcer.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/types/src/geometry.rs
Labels: worker

feat(worker): add geometry extractor module
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/extractor.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/action-processor/src/geometry/two_dimention_forcer.rs
Labels: worker

feat(worker): add geometry extractor module (#252)
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/extractor.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/action-processor/src/geometry/two_dimention_forcer.rs
Labels: worker

- little bit of renaming - adding new function to fetch project by Id
  ui/src/features/Dashboard/MainSection.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/project/queries.graphql
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/project/useQueries.ts
  ui/src/types/project.ts
Labels: ui

- bit of renaming - addding workspaceBy Id query
  ui/src/features/Dialog/index.tsx
  ui/src/features/TopNavigation/components/WorkspaceNavigation.tsx
  ui/src/lib/gql/workspace/queries.graphql
  ui/src/lib/gql/workspace/useApi.ts
  ui/src/lib/gql/workspace/useQueries.ts
  ui/src/types/workspace.ts
Labels: ui

- Minor changes
  ui/src/features/Runs/index.tsx
  ui/src/features/WorkspaceSettings/index.tsx
  ui/src/pages/LoadingPage.tsx
  ui/src/utils/router/checkWorkspace.ts
Labels: ui

- No need to wrap at the component level
  ui/src/pages/Dashboard.tsx
Labels: ui

- Updated the structure slightly
  ui/src/lib/gql/workspace/useApi.ts
  ui/src/lib/gql/workspace/useQueries.ts
Labels: ui

- PageWrapper is complete - Not using the useNavigate to automatically route, showing not found page instead - Some other changes
  ui/src/features/NotFoundPage/index.tsx
  ui/src/features/PageWrapper/ProjectId.tsx
  ui/src/features/PageWrapper/WorkspaceId.tsx
  ui/src/features/PageWrapper/index.ts
  ui/src/features/PageWrapper/index.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/project/queries.graphql
  ui/src/lib/gql/workspace/queries.graphql
  ui/src/lib/gql/workspace/useQueries.ts
  ui/src/routes/workspace_.$workspaceId.lazy.tsx
  ui/src/routes/workspace_.$workspaceId_.project.$projectId.lazy.tsx
  ui/src/routes/workspace_.$workspaceId_.runs.$tab.lazy.tsx
  ui/src/routes/workspace_.$workspaceId_.settings.$tab.lazy.tsx
Labels: ui

- 1 last fix
  ui/src/features/PageWrapper/ProjectId.tsx
Labels: ui

- minor change
  ui/src/features/Dashboard/MainSection.tsx
Labels: ui

- added extra check
  ui/src/features/PageWrapper/ProjectId.tsx
Labels: ui

- minor minor changes
  ui/src/features/Runs/index.tsx
Labels: ui

rename backend docker image as reearth-flow-api
  .github/workflows/build_api.yml
  .github/workflows/deploy_api_nightly.yml
Labels: cicd

get yarn cache path with different approach
  .github/workflows/ci_ui.yml
Labels: cicd

feat(worker): add Strum and Strum_macros crates to geometry and action-processor dependencies
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/runtime/src/executor/sink_node.rs
  worker/crates/types/src/geometry.rs
Labels: worker

feat(worker): add Strum and Strum_macros crates to geometry and action-processor dependencies (#253)
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/runtime/src/executor/sink_node.rs
  worker/crates/types/src/geometry.rs
Labels: worker

- Remove source comment
  ui/.eslintrc.cjs
Labels: ui

- Additional checks - Cleaner code
  ui/src/features/PageWrapper/ProjectId.tsx
  ui/src/features/PageWrapper/WorkspaceId.tsx
Labels: ui

- removing console.log
  ui/src/features/Editor/index.tsx
Labels: ui

- Removing todo
  ui/src/pages/Editor.tsx
Labels: ui

- better Not found page
  ui/src/features/NotFoundPage/index.tsx
Labels: ui

- update i18n
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

- Updated code and some renaming
  ui/src/features/Dashboard/components/LeftSection/components/RunsSection.tsx
  ui/src/features/Dashboard/components/LeftSection/components/WorkspaceSection.tsx
  ui/src/features/Dashboard/components/LeftSection/components/index.ts
  ui/src/features/Dashboard/components/LeftSection/index.tsx
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dashboard/components/index.ts
  ui/src/features/Dashboard/index.tsx
  ui/src/pages/Dashboard.tsx
  ui/src/routes/workspace_.$workspaceId.lazy.tsx
Labels: ui
