Repository reearth/reearth-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cicd, engine, ui, websocket

feat(cli): update CLI and worker command to include version information
  engine/Cargo.toml
  engine/cli/Cargo.toml
  engine/cli/src/cli.rs
  engine/runtime/action-log/Cargo.toml
  engine/runtime/action-plateau-processor/Cargo.toml
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-source/Cargo.toml
  engine/runtime/action-wasm-processor/Cargo.toml
  engine/runtime/common/Cargo.toml
  engine/runtime/eval-expr/Cargo.toml
  engine/runtime/examples/Cargo.toml
  engine/runtime/geometry/Cargo.toml
  engine/runtime/gltf/Cargo.toml
  engine/runtime/macros/Cargo.toml
  engine/runtime/runner/Cargo.toml
  engine/runtime/runner/src/runner.rs
  engine/runtime/runtime/Cargo.toml
  engine/runtime/runtime/src/executor/processor_node.rs
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/runtime/runtime/src/executor/source_node.rs
  engine/runtime/sevenz/Cargo.toml
  engine/runtime/state/Cargo.toml
  engine/runtime/storage/Cargo.toml
  engine/runtime/telemetry/Cargo.toml
  engine/runtime/tests/Cargo.toml
  engine/runtime/types/Cargo.toml
  engine/worker/Cargo.toml
  engine/worker/src/command.rs
Labels: engine

feat(cli): update CLI and worker command to include version information (#864)
  engine/Cargo.toml
  engine/cli/Cargo.toml
  engine/cli/src/cli.rs
  engine/runtime/action-log/Cargo.toml
  engine/runtime/action-plateau-processor/Cargo.toml
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-source/Cargo.toml
  engine/runtime/action-wasm-processor/Cargo.toml
  engine/runtime/common/Cargo.toml
  engine/runtime/eval-expr/Cargo.toml
  engine/runtime/examples/Cargo.toml
  engine/runtime/geometry/Cargo.toml
  engine/runtime/gltf/Cargo.toml
  engine/runtime/macros/Cargo.toml
  engine/runtime/runner/Cargo.toml
  engine/runtime/runner/src/runner.rs
  engine/runtime/runtime/Cargo.toml
  engine/runtime/runtime/src/executor/processor_node.rs
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/runtime/runtime/src/executor/source_node.rs
  engine/runtime/sevenz/Cargo.toml
  engine/runtime/state/Cargo.toml
  engine/runtime/storage/Cargo.toml
  engine/runtime/telemetry/Cargo.toml
  engine/runtime/tests/Cargo.toml
  engine/runtime/types/Cargo.toml
  engine/worker/Cargo.toml
  engine/worker/src/command.rs
Labels: engine

feat(engine): add release automation configuration and manifest files
  .github/workflows/release_engine.yml
  engine/.release-please-manifest.json
  engine/release-please-config.json
Labels: cicd, engine

fix
  .github/workflows/release_engine.yml
  engine/release-please-config.json
Labels: cicd, engine

fix:
  .github/workflows/release_engine.yml
  engine/release-please-config.json
Labels: cicd, engine

fix:
  .release-please-manifest.json
  engine/.release-please-manifest.json
  release-please-config.json
Labels: engine

feat(engine): update versioning in Cargo.toml files and add version check in CI workflow
  .github/workflows/ci_engine.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/cli/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-log/Cargo.toml
  engine/runtime/action-plateau-processor/Cargo.toml
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-source/Cargo.toml
  engine/runtime/action-wasm-processor/Cargo.toml
  engine/runtime/common/Cargo.toml
  engine/runtime/eval-expr/Cargo.toml
  engine/runtime/examples/Cargo.toml
  engine/runtime/geometry/Cargo.toml
  engine/runtime/gltf/Cargo.toml
  engine/runtime/macros/Cargo.toml
  engine/runtime/runner/Cargo.toml
  engine/runtime/runtime/Cargo.toml
  engine/runtime/sevenz/Cargo.toml
  engine/runtime/state/Cargo.toml
  engine/runtime/storage/Cargo.toml
  engine/runtime/telemetry/Cargo.toml
  engine/runtime/tests/Cargo.toml
  engine/runtime/types/Cargo.toml
  engine/worker/Cargo.toml
Labels: cicd, engine

fix
  .github/workflows/ci_engine.yml
Labels: cicd

fix
  .github/workflows/ci_engine.yml
Labels: cicd

feat(engine): update versioning in Cargo.toml files and add version check in CI workflow (#865)
  .github/workflows/ci_engine.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/cli/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-log/Cargo.toml
  engine/runtime/action-plateau-processor/Cargo.toml
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-source/Cargo.toml
  engine/runtime/action-wasm-processor/Cargo.toml
  engine/runtime/common/Cargo.toml
  engine/runtime/eval-expr/Cargo.toml
  engine/runtime/examples/Cargo.toml
  engine/runtime/geometry/Cargo.toml
  engine/runtime/gltf/Cargo.toml
  engine/runtime/macros/Cargo.toml
  engine/runtime/runner/Cargo.toml
  engine/runtime/runtime/Cargo.toml
  engine/runtime/sevenz/Cargo.toml
  engine/runtime/state/Cargo.toml
  engine/runtime/storage/Cargo.toml
  engine/runtime/telemetry/Cargo.toml
  engine/runtime/tests/Cargo.toml
  engine/runtime/types/Cargo.toml
  engine/worker/Cargo.toml
Labels: cicd, engine

wip project import
  ui/src/components/buttons/BaseButton/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/index.tsx
  ui/src/features/WorkspaceDeployments/index.tsx
  ui/src/features/WorkspaceProjects/hooks.ts
  ui/src/features/WorkspaceProjects/index.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerAddDialog.tsx
  ui/src/features/WorkspaceTriggers/index.tsx
  ui/src/hooks/index.ts
  ui/src/hooks/useIsMainWorkflow.ts
  ui/src/lib/yjs/useWorkflowTabs.ts
Labels: ui

feat(ci): add conditional check for version comparison in CI workflow
  .github/workflows/ci_engine.yml
Labels: cicd

fix
  .github/workflows/ci_engine.yml
Labels: cicd

fix
  .github/workflows/ci_engine.yml
Labels: cicd

fix(api): correct deployment head flag casing
  server/api/internal/infrastructure/mongo/deployment.go
Labels: api

fix
  .github/workflows/ci_engine.yml
Labels: cicd

refactor(config): update GraphQL configuration tag to optional
  server/api/internal/app/config/config.go
Labels: api

fix
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
Labels: engine

feat(ci): add conditional check for version comparison in CI workflow (#866)
  .github/workflows/ci_engine.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
Labels: cicd, engine

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: server/api/**/*
cicd:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
engine:
  - changed-files:
      - any-glob-to-any-file: engine/**/*
ui:
  - changed-files:
      - any-glob-to-any-file: ui/**/*
websocket:
  - changed-files:
      - any-glob-to-any-file: websocket/**/*
