Repository reearth/reearth-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, api, worker, cicd

chore(worker): modify dot command
  worker/crates/cli/src/dot.rs
Labels: worker

chore(worker): modify dot command (#241)
  worker/crates/cli/src/dot.rs
Labels: worker

- index should reroute to workspace - workspace will handle the rest
  ui/src/features/LoadingPage/index.tsx
Labels: ui

- / and workspace/ uses the same page
  ui/src/features/LoadingPage/index.tsx
  ui/src/types/user.ts
Labels: ui

- minor change
  ui/src/features/Dashboard/index.tsx
Labels: ui

- added workspace check logic in the workspace settings as well
  ui/src/features/Dashboard/index.tsx
  ui/src/features/WorkspaceSettings/index.tsx
Labels: ui

- runs route has a workspace check now
  ui/src/features/Runs/components/StatusContent.tsx
  ui/src/features/Runs/index.tsx
  ui/src/routes/workspace_.$workspaceId_.project.$projectId.lazy.tsx
Labels: ui

- Don't need to set workspace here now
  ui/src/features/TopNavigation/components/WorkspaceNavigation.tsx
Labels: ui

- moved to separate hook
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Runs/index.tsx
  ui/src/features/WorkspaceSettings/index.tsx
  ui/src/routes/workspace_.$workspaceId_.runs.$tab.lazy.tsx
  ui/src/utils/router/checkWorkspace.ts
Labels: ui

- slightly better structure
  ui/src/lib/gql/user/hook.ts
Labels: ui

- yarn type fix
  ui/src/types/user.ts
Labels: ui

- moving tanstack devtools to dev dependency
  ui/package.json
Labels: ui

feat(worker): support reading workflow from stdin
  schema/actions.json
  worker/crates/cli/src/run.rs
Labels: worker

feat(worker): support reading workflow from stdin (#242)
  schema/actions.json
  worker/crates/cli/src/run.rs
Labels: worker

wip fix perf
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/index.tsx
  ui/src/features/Root/index.tsx
  ui/src/routes/workspace_.$workspaceId_.project.$projectId.lazy.tsx
Labels: ui

- proper mapping of the project object
  ui/src/lib/gql/project/hook.ts
  ui/src/types/project.ts
Labels: ui

- moved to the mutation function
  ui/src/lib/gql/project/hook.ts
Labels: ui

- refactored hooks into a separate function
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/lib/gql/project/function.ts
  ui/src/lib/gql/project/hook.ts
Labels: ui

- minor refactor
  ui/src/lib/gql/project/function.ts
Labels: ui

- update project details API
  ui/src/lib/gql/project/hook.ts
  ui/src/types/project.ts
Labels: ui

- create new object for workspace rather than returning from gql
  ui/src/lib/gql/workspace/hook.ts
Labels: ui

- Added a todo
  ui/src/lib/gql/workspace/hook.ts
Labels: ui

ci(ui, api): add nightly release flow for ui and api
  .github/workflows/build_api.yml
  .github/workflows/build_ui.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_api_nightly.yml
  .github/workflows/deploy_ui_nightly.yml
  ui/dockerfile
  ui/nginx.conf
Labels: ui, cicd

expose port for web server and start nginx when container launches
  ui/dockerfile
Labels: ui

add docker-compose.yml
  ui/docker-compose.yml
Labels: ui

fix gcp image in deploy api nightly
  .github/workflows/deploy_api_nightly.yml
Labels: cicd

fix comment
  ui/dockerfile
  ui/nginx.conf
Labels: ui

clean up console logs
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Editor/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/index.tsx
Labels: ui

add canvas devtools components (unused)
  ui/src/features/Editor/components/CanvasDevTools/components/ChangeLogger.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/NodeInspector.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/ViewportLogger.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/index.ts
  ui/src/features/Editor/components/CanvasDevTools/index.tsx
  ui/src/features/Editor/components/CanvasDevTools/style.css
  ui/src/features/Editor/components/OverlayUI/index.tsx
Labels: ui

feat(worker): add validation module to the types crate
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/bounding_rect.rs
  worker/crates/geometry/src/algorithm/coordinate_position.rs
  worker/crates/geometry/src/algorithm/coords_iter.rs
  worker/crates/geometry/src/algorithm/dimensions.rs
  worker/crates/geometry/src/algorithm/intersects.rs
  worker/crates/geometry/src/algorithm/intersects/coordinate.rs
  worker/crates/geometry/src/algorithm/intersects/line.rs
  worker/crates/geometry/src/algorithm/intersects/line_string.rs
  worker/crates/geometry/src/algorithm/intersects/point.rs
  worker/crates/geometry/src/algorithm/intersects/polygon.rs
  worker/crates/geometry/src/algorithm/intersects/rect.rs
  worker/crates/geometry/src/algorithm/kernels.rs
  worker/crates/geometry/src/algorithm/utils.rs
  worker/crates/geometry/src/lib.rs
  worker/crates/geometry/src/types.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/types/rectangle.rs
  worker/crates/geometry/src/types/triangle.rs
  worker/crates/geometry/src/types/validation.rs
  worker/crates/geometry/src/utils.rs
Labels: worker

feat(worker): add validation module to the types crate (#244)
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/bounding_rect.rs
  worker/crates/geometry/src/algorithm/coordinate_position.rs
  worker/crates/geometry/src/algorithm/coords_iter.rs
  worker/crates/geometry/src/algorithm/dimensions.rs
  worker/crates/geometry/src/algorithm/intersects.rs
  worker/crates/geometry/src/algorithm/intersects/coordinate.rs
  worker/crates/geometry/src/algorithm/intersects/line.rs
  worker/crates/geometry/src/algorithm/intersects/line_string.rs
  worker/crates/geometry/src/algorithm/intersects/point.rs
  worker/crates/geometry/src/algorithm/intersects/polygon.rs
  worker/crates/geometry/src/algorithm/intersects/rect.rs
  worker/crates/geometry/src/algorithm/kernels.rs
  worker/crates/geometry/src/algorithm/utils.rs
  worker/crates/geometry/src/lib.rs
  worker/crates/geometry/src/types.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/types/rectangle.rs
  worker/crates/geometry/src/types/triangle.rs
  worker/crates/geometry/src/types/validation.rs
  worker/crates/geometry/src/utils.rs
Labels: worker

- renaming - response from graphql should be used to convert to UI type
  ui/src/lib/gql/project/index.ts
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/project/useQueries.ts
Labels: ui

- markdown auto lint
  ui/README.md
Labels: ui

- updated eslint with graphql plugin
  ui/.eslintrc.cjs
  ui/package.json
  ui/yarn.lock
Labels: ui

- lint error
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/Handles.tsx
Labels: ui

feat(worker): add contains module to algorithm crate
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/contains.rs
  worker/crates/geometry/src/algorithm/contains/line.rs
  worker/crates/geometry/src/algorithm/contains/line_string.rs
  worker/crates/geometry/src/algorithm/contains/point.rs
  worker/crates/geometry/src/algorithm/contains/polygon.rs
  worker/crates/geometry/src/algorithm/contains/rect.rs
  worker/crates/geometry/src/algorithm/contains/triangle.rs
  worker/crates/geometry/src/algorithm/dimensions.rs
  worker/crates/geometry/src/algorithm/line_intersection.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/utils.rs
Labels: worker

- refactoring to graphql queries - updated codegen - updated package.json to include lint - add lint for graphql files
  ui/.eslintrc.cjs
  ui/codegen.ts
  ui/package.json
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/project/queries.graphql
  ui/src/lib/gql/project/queries.ts
  ui/yarn.lock
Labels: ui

feat(worker): add contains module to algorithm crate (#246)
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/contains.rs
  worker/crates/geometry/src/algorithm/contains/line.rs
  worker/crates/geometry/src/algorithm/contains/line_string.rs
  worker/crates/geometry/src/algorithm/contains/point.rs
  worker/crates/geometry/src/algorithm/contains/polygon.rs
  worker/crates/geometry/src/algorithm/contains/rect.rs
  worker/crates/geometry/src/algorithm/contains/triangle.rs
  worker/crates/geometry/src/algorithm/dimensions.rs
  worker/crates/geometry/src/algorithm/line_intersection.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/utils.rs
Labels: worker

- added graphql intellisense support
  ui/package.json
Labels: ui

build ui inside docker and refactor
  ui/dockerfile
  ui/nginx.conf
Labels: ui

.github/labeler.yml:

ui:
  - ui/**/*
api:
  - api/**/*
worker:
  - worker/**/*
cicd:
  - .github/workflows/**/*
