Repository reearth/reearth-flow, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cicd, engine, subscriber, ui, websocket

fix(subscriber): update edgeExecution on new event instead of duplicate document on mongo
  server/subscriber/internal/infrastructure/mongo/edge.go
  server/subscriber/internal/infrastructure/mongo/mongodoc/consumer.go
  server/subscriber/internal/infrastructure/mongo/mongodoc/edge.go
  server/subscriber/internal/infrastructure/storage.go
  server/subscriber/internal/usecase/gateway/edge_storage.go
  server/subscriber/internal/usecase/interactor/edge_subscriber.go
  server/subscriber/internal/usecase/interactor/edge_subscriber_test.go
Labels: subscriber

fix(subscriber): implement missing FindEdgeExecution from mockEdgeStorage
  server/subscriber/internal/usecase/interactor/edge_subscriber_test.go
Labels: subscriber

refactor(websocket): simplify BroadcastPool initialization by removing redundant cleanup task
  server/websocket/src/broadcast/pool.rs
Labels: websocket

fix(websocket): update default Redis TTL from 3600 to 86400 seconds for improved caching
  server/websocket/src/conf.rs
Labels: websocket

fix(subscriber): mongo persistence is not working for edgeExecution
  server/subscriber/internal/infrastructure/mongo/edge.go
  server/subscriber/internal/infrastructure/mongo/mongodoc/consumer.go
  server/subscriber/internal/infrastructure/mongo/mongodoc/edge.go
Labels: subscriber

feat(websocket): enhance Redis connection management and error handling
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

fix(subscriber): mongo persistence leading to duplication of edgeExecution
  server/subscriber/internal/infrastructure/mongo/edge.go
Labels: subscriber

chore(ui): add flow brand favicon url to reearth config json template
  ui/docker/reearth_config.json.template
Labels: ui

chore(subscriber): update compositeID on mongo persistence
  server/subscriber/internal/infrastructure/mongo/edge.go
Labels: subscriber

edge status and intermediate data
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/hooks.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/index.tsx
  ui/src/features/Editor/useDebugRun.ts
  ui/src/hooks/useJobSubscriptionsSetup.ts
  ui/src/lib/gql/job/useApi.ts
  ui/src/lib/gql/job/useQueries.ts
  ui/src/lib/indexedDB/index.ts
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/hooks.ts
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/useEdgeStatusSubscription.ts
  ui/src/routes/workspaces.$workspaceId_.projects_.$projectId.lazy.tsx
  ui/src/stores/indexedDB.ts
  ui/src/types/job.ts
Labels: ui

regen i18n
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

prettier css
  ui/src/index.css
Labels: ui

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: server/api/**/*
cicd:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
engine:
  - changed-files:
      - any-glob-to-any-file: engine/**/*
subscriber:
  - changed-files:
      - any-glob-to-any-file: server/subscriber/**/*
ui:
  - changed-files:
      - any-glob-to-any-file: ui/**/*
websocket:
  - changed-files:
      - any-glob-to-any-file: server/websocket/**/*
