Repository reearth/reearth-flow, pull requests merged in 2024-05, with the labels that each got.

#181 chore(cicd): update labeler.yml to include worker and cicd directories
  .github/labeler.yml
  .github/workflows/deploy_ui_nightly.yml
Labels: cicd

#182 feat(ui): add tanstack query support
  .github/CODEOWNERS
  ui/index.html
  ui/package.json
  ui/src/config/index.ts
  ui/src/providers/QueryProvider.tsx
  ui/src/providers/index.tsx
  ui/src/routes/__root.tsx
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#183 chore(ui): deps upgrades
  ui/.storybook/main.ts
  ui/package.json
  ui/src/components/icons/FlowLogo.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/LoadingPage/index.tsx
  ui/src/features/NotFoundPage/index.tsx
  ui/src/routes/__root.tsx
  ui/src/routes/index.lazy.tsx
  ui/src/routes/workspace.lazy.tsx
  ui/src/routes/workspace_.$workspaceId.lazy.tsx
  ui/src/stories_examples/Button.stories.ts
  ui/src/stories_examples/Button.tsx
  ui/src/stories_examples/Configure.mdx
  ui/src/stories_examples/Header.stories.ts
  ui/src/stories_examples/Header.tsx
  ui/src/stories_examples/Page.stories.ts
  ui/src/stories_examples/Page.tsx
  ui/src/stories_examples/assets/accessibility.png
  ui/src/stories_examples/assets/accessibility.svg
  ui/src/stories_examples/assets/addon-library.png
  ui/src/stories_examples/assets/assets.png
  ui/src/stories_examples/assets/avif-test-image.avif
  ui/src/stories_examples/assets/context.png
  ui/src/stories_examples/assets/discord.svg
  ui/src/stories_examples/assets/docs.png
  ui/src/stories_examples/assets/figma-plugin.png
  ui/src/stories_examples/assets/github.svg
  ui/src/stories_examples/assets/share.png
  ui/src/stories_examples/assets/styling.png
  ui/src/stories_examples/assets/testing.png
  ui/src/stories_examples/assets/theming.png
  ui/src/stories_examples/assets/tutorials.svg
  ui/src/stories_examples/assets/youtube.svg
  ui/src/stories_examples/button.css
  ui/src/stories_examples/header.css
  ui/src/stories_examples/page.css
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#185 feat(worker): add domain of definition validator action
  worker/crates/action-universal/src/plateau.rs
  worker/crates/action-universal/src/plateau/domain_of_definition_validator.rs
  worker/crates/action-universal/src/plateau/xml_attribute_extractor.rs
  worker/crates/action-universal/src/xml/fragmenter.rs
  worker/crates/action/src/feature.rs
  worker/crates/common/src/xml.rs
Labels: worker

#186 feat(worker): add ThreeDimentionBoxReplacer action
  worker/Cargo.lock
  worker/crates/action-universal/Cargo.toml
  worker/crates/action-universal/src/geometry.rs
  worker/crates/action-universal/src/geometry/three_dimention_box_replacer.rs
  worker/crates/action-universal/src/lib.rs
  worker/crates/action-universal/src/plateau.rs
  worker/crates/action-universal/src/prelude.rs
  worker/crates/action/src/geometry.rs
  worker/crates/action/src/lib.rs
  worker/crates/geometry/src/types.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/geometry_2d.rs
  worker/crates/geometry/src/types/geometry_3d.rs
  worker/crates/geometry/src/types/multi_point.rs
  worker/examples/plateau/testdata/graphs/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
Labels: worker

#189 feat(worker): refactor ThreeDimentionBoxReplacer to use iterator and improve error handling
  worker/crates/action-universal/src/geometry/three_dimention_box_replacer.rs
  worker/crates/geometry/src/types.rs
  worker/crates/geometry/src/types/face.rs
  worker/crates/geometry/src/types/line.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rectangle.rs
  worker/crates/geometry/src/types/solid.rs
Labels: worker

#190 feat(worker): refactor geometry module and add Extruder action
  worker/crates/action-universal/src/geometry.rs
  worker/crates/action-universal/src/geometry/extruder.rs
  worker/crates/action-universal/src/geometry/three_dimention_box_replacer.rs
  worker/crates/geometry/src/types/geometry.rs
Labels: worker

#191 feat(worker): add coordinate system setter module
  worker/Cargo.lock
  worker/crates/action-universal/Cargo.toml
  worker/crates/action-universal/src/geometry.rs
  worker/crates/action-universal/src/geometry/coordinate_system_setter.rs
Labels: worker

#188 feat(ui): params editor
  ui/.env-local
  ui/README.md
  ui/package.json
  ui/src/components/Input/index.tsx
  ui/src/components/Label/index.tsx
  ui/src/components/Select/index.tsx
  ui/src/components/Tabs/index.tsx
  ui/src/components/collapsiblePanels/VerticalPanel.tsx
  ui/src/components/collapsiblePanels/index.ts
  ui/src/components/index.ts
  ui/src/features/BottomPanel/index.tsx
  ui/src/features/Canvas/components/Actionbar/index.tsx
  ui/src/features/Canvas/components/CanvasActionbar/index.tsx
  ui/src/features/Canvas/components/ParamEditor/index.tsx
  ui/src/features/Canvas/components/Toolbox/index.tsx
  ui/src/features/Canvas/components/index.ts
  ui/src/features/Canvas/index.tsx
  ui/src/features/Dashboard/components/LeftSection/components/WorkspaceMembers.tsx
  ui/src/features/Dashboard/components/LeftSection/index.tsx
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/LeftPanel/index.tsx
  ui/src/features/RightPanel/index.tsx
  ui/src/hooks/index.ts
  ui/src/hooks/useFullscreen.ts
  ui/src/mock_data/membersData.ts
  ui/src/routes/__root.tsx
  ui/src/routes/workspace_.$workspaceId_.project.$projectId.lazy.tsx
  ui/src/types/edge.ts
  ui/src/types/index.ts
  ui/src/types/member.ts
  ui/src/types/node.ts
  ui/src/types/project.ts
  ui/src/types/shared.ts
  ui/src/types/workflow.ts
  ui/src/types/workspace.ts
  ui/yarn.lock
Labels: ui

#193 feat(worker): add domain of definition validator action
  worker/crates/action-universal/src/plateau/domain_of_definition_validator.rs
  worker/crates/action-universal/src/plateau/xml_attribute_extractor.rs
  worker/examples/Cargo.toml
  worker/examples/plateau/domain_of_definition_validator.rs
  worker/examples/plateau/testdata/graphs/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/xml_validator.yml
Labels: worker

#194 feat(ui): update dashboard and editor ui
  ui/package.json
  ui/src/components/buttons/BaseButton/index.tsx
  ui/src/config/index.ts
  ui/src/features/Canvas/components/Breadcrumb/index.tsx
  ui/src/features/Canvas/components/Infobar/index.tsx
  ui/src/features/Canvas/components/index.ts
  ui/src/features/Canvas/index.tsx
  ui/src/features/Dashboard/components/LeftSection/components/WorkspaceMembers.tsx
  ui/src/features/Dashboard/components/LeftSection/components/WorkspaceNavigation.tsx
  ui/src/features/Dashboard/components/LeftSection/index.tsx
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Root/index.tsx
  ui/src/mock_data/projectData.ts
  ui/src/routes/__root.tsx
  ui/src/routes/workspace_.$workspaceId_.project.$projectId.lazy.tsx
  ui/src/types/project.ts
Labels: ui

#195 chore(worker): add graph module to workflow-runner crate
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-universal/Cargo.toml
  worker/crates/action/Cargo.toml
  worker/crates/action/src/lib.rs
  worker/crates/cli/Cargo.toml
  worker/crates/cli/src/dot.rs
  worker/crates/cli/src/run.rs
  worker/crates/workflow-runner/Cargo.toml
  worker/crates/workflow-runner/src/action_runner.rs
  worker/crates/workflow-runner/src/dag/dag_impl.rs
  worker/crates/workflow-runner/src/dag/execution_dag.rs
  worker/crates/workflow-runner/src/lib.rs
  worker/crates/workflow-runner/src/types.rs
  worker/crates/workflow-runner/src/types/graph.rs
  worker/crates/workflow/Cargo.toml
  worker/crates/workflow/src/id.rs
  worker/crates/workflow/src/lib.rs
  worker/crates/workflow/src/workflow.rs
  worker/examples/Cargo.toml
  worker/examples/plateau/helper.rs
  worker/tests/Cargo.toml
  worker/tests/helper.rs
Labels: worker

#161 feat(ui): Table Component
  ui/package.json
  ui/src/components/Checkbox/index.stories.tsx
  ui/src/components/Checkbox/index.tsx
  ui/src/components/DataTable/index.stories.tsx
  ui/src/components/DataTable/index.tsx
  ui/src/components/Input/index.stories.tsx
  ui/src/components/Table/index.tsx
  ui/src/components/buttons/ButtonWithTooltip/index.tsx
  ui/src/components/collapsiblePanels/HorizontalPanel.tsx
  ui/src/components/index.ts
  ui/src/features/BottomPanel/components/Console/index.tsx
  ui/src/features/BottomPanel/components/DataTable/index.tsx
  ui/src/features/BottomPanel/index.tsx
  ui/src/features/Canvas/components/Toolbox/index.tsx
  ui/src/mock_data/fires.json
  ui/src/mock_data/pointData.ts
  ui/src/providers/i18n/locales/en.json
  ui/src/providers/i18n/locales/es.json
  ui/src/providers/i18n/locales/fr.json
  ui/src/providers/i18n/locales/ja.json
  ui/src/providers/i18n/locales/zh.json
  ui/yarn.lock
Labels: ui

#196 feat(ui): Reearth Core
  ui/package.json
  ui/src/features/BottomPanel/components/Map/index.tsx
  ui/src/features/BottomPanel/components/TwoDMap/index.tsx
  ui/src/features/BottomPanel/components/index.ts
  ui/src/features/BottomPanel/index.tsx
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#203 ci(api): add ci and ci_api support
  .github/workflows/ci.yml
  .github/workflows/ci_api.yml
  .vscode/launch.json
  .vscode/settings.json
  api/e2e/common.go
  api/e2e/gql_me_test.go
  api/e2e/gql_project_test.go
  api/e2e/gql_user_test.go
  api/e2e/gql_workspace_test.go
  api/e2e/ping_test.go
  api/e2e/seeder.go
  api/internal/adapter/gql/loader.go
  api/internal/app/config/config_test.go
  api/pkg/project/project.go
  go.work
  go.work.sum
Labels: cicd, api

#205 feat: add reearth-flow-runtime dependency and Router struct
  worker/Cargo.lock
  worker/crates/runtime/src/builder_dag.rs
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/runtime/src/node.rs
  worker/examples/Cargo.toml
  worker/examples/plateau/domain_of_definition_validator.rs
  worker/examples/plateau/testdata/graphs/attribute_reader.yml
  worker/examples/plateau/testdata/graphs/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/graphs/folder_and_file_path_reader.yml
  worker/examples/plateau/testdata/graphs/xml_validator.yml
  worker/examples/plateau/testdata/workflow/attribute_reader.yml
Labels: worker

#208 feat(worker): update thread pool size for processors
  worker/Cargo.lock
  worker/crates/action-processor/src/feature/transformer.rs
  worker/crates/action-processor/src/plateau/domain_of_definition_validator.rs
  worker/crates/action-processor/src/plateau/xml_attribute_extractor.rs
  worker/crates/common/src/future.rs
  worker/crates/common/src/lib.rs
  worker/crates/common/src/xml.rs
  worker/crates/runner/src/executor.rs
  worker/crates/runner/src/orchestrator.rs
  worker/crates/runner/src/runner.rs
  worker/crates/runtime/Cargo.toml
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/runtime/src/executor/dag_executor.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/runtime/src/executor_operation.rs
  worker/crates/runtime/src/node.rs
  worker/examples/plateau/domain_of_definition_validator.rs
  worker/examples/plateau/helper.rs
  worker/examples/plateau/testdata/graphs/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  worker/examples/plateau/xml_validator.rs
Labels: worker

#209 chore(worker): Remove unused modules and files
  worker/crates/action-processor/src/attribute.rs
  worker/crates/action-processor/src/attribute/aggregator.rs
  worker/crates/action-processor/src/attribute/duplicate_filter.rs
  worker/crates/action-processor/src/attribute/errors.rs
  worker/crates/action-processor/src/attribute/keeper.rs
  worker/crates/action-processor/src/attribute/manager.rs
  worker/crates/action-processor/src/errors.rs
  worker/crates/action-processor/src/feature.rs
  worker/crates/action-processor/src/feature/counter.rs
  worker/crates/action-processor/src/feature/errors.rs
  worker/crates/action-processor/src/feature/filter.rs
  worker/crates/action-processor/src/feature/merger.rs
  worker/crates/action-processor/src/feature/sorter.rs
  worker/crates/action-processor/src/feature/transformer.rs
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/coordinate_system_setter.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/extruder.rs
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/action-processor/src/lib.rs
  worker/crates/action-processor/src/mapping.rs
  worker/crates/action-processor/src/plateau.rs
  worker/crates/action-processor/src/plateau/dictionaries_initiator.rs
  worker/crates/action-processor/src/plateau/domain_of_definition_validator.rs
  worker/crates/action-processor/src/plateau/errors.rs
  worker/crates/action-processor/src/plateau/udx_folder_extractor.rs
  worker/crates/action-processor/src/plateau/utils.rs
  worker/crates/action-processor/src/plateau/xml_attribute_extractor.rs
  worker/crates/action-processor/src/universal.rs
  worker/crates/action-processor/src/xml.rs
  worker/crates/action-processor/src/xml/errors.rs
  worker/crates/action-processor/src/xml/fragmenter.rs
  worker/crates/action-processor/src/xml/validator.rs
  worker/crates/action-sink/src/lib.rs
  worker/crates/action-sink/src/universal.rs
  worker/crates/action-source/src/errors.rs
  worker/crates/action-source/src/file/path_extractor.rs
  worker/crates/action-source/src/file/reader.rs
  worker/crates/action-source/src/file/reader/citygml.rs
  worker/crates/action-source/src/file/reader/csv.rs
  worker/crates/action-source/src/file/reader/json.rs
  worker/crates/action-source/src/file/reader/runner.rs
  worker/crates/action-source/src/lib.rs
  worker/crates/action-source/src/mapping.rs
  worker/crates/action-source/src/universal.rs
  worker/crates/runtime/src/executor.rs
  worker/crates/runtime/src/executor/name.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/runtime/src/executor/receiver_loop.rs
  worker/crates/runtime/src/executor/sink_node.rs
  worker/crates/runtime/src/node.rs
Labels: worker

#210 feat(worker): add json schema and action meta info
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-processor/src/attribute/aggregator.rs
  worker/crates/action-processor/src/attribute/duplicate_filter.rs
  worker/crates/action-processor/src/attribute/keeper.rs
  worker/crates/action-processor/src/attribute/manager.rs
  worker/crates/action-processor/src/feature/counter.rs
  worker/crates/action-processor/src/feature/filter.rs
  worker/crates/action-processor/src/feature/merger.rs
  worker/crates/action-processor/src/feature/sorter.rs
  worker/crates/action-processor/src/feature/transformer.rs
  worker/crates/action-processor/src/geometry/coordinate_system_setter.rs
  worker/crates/action-processor/src/geometry/extruder.rs
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/action-processor/src/plateau/dictionaries_initiator.rs
  worker/crates/action-processor/src/plateau/domain_of_definition_validator.rs
  worker/crates/action-processor/src/plateau/udx_folder_extractor.rs
  worker/crates/action-processor/src/plateau/xml_attribute_extractor.rs
  worker/crates/action-processor/src/xml/fragmenter.rs
  worker/crates/action-processor/src/xml/validator.rs
  worker/crates/action-sink/Cargo.toml
  worker/crates/action-sink/src/file/writer.rs
  worker/crates/action-source/Cargo.toml
  worker/crates/action-source/src/file/path_extractor.rs
  worker/crates/action-source/src/file/reader.rs
  worker/crates/action-source/src/file/reader/csv.rs
  worker/crates/action-source/src/file/reader/runner.rs
  worker/crates/cli/Cargo.toml
  worker/crates/cli/src/cli.rs
  worker/crates/cli/src/dot.rs
  worker/crates/cli/src/lib.rs
  worker/crates/cli/src/logger.rs
  worker/crates/cli/src/main.rs
  worker/crates/cli/src/schema.rs
  worker/crates/common/Cargo.toml
  worker/crates/eval-expr/Cargo.toml
  worker/crates/geometry/Cargo.toml
  worker/crates/runner/Cargo.toml
  worker/crates/runner/src/runner.rs
  worker/crates/runtime/Cargo.toml
  worker/crates/runtime/src/builder_dag.rs
  worker/crates/runtime/src/node.rs
  worker/crates/types/Cargo.toml
  worker/crates/types/src/attribute.rs
  worker/crates/types/src/expr.rs
Labels: worker

#199 feat(ui): Maximize view from Bottom Panel
  ui/src/components/collapsiblePanels/HorizontalPanel.tsx
  ui/src/components/collapsiblePanels/components/ToggleArea.tsx
  ui/src/components/collapsiblePanels/index.ts
  ui/src/components/collapsiblePanels/types.ts
  ui/src/components/index.ts
  ui/src/features/BottomPanel/components/Console/index.tsx
  ui/src/features/BottomPanel/index.tsx
Labels: ui

#211 chore(worker): Fix action name mismatch in BuilderDag
  schema/actions.json
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/cli/src/schema.rs
  worker/crates/runner/src/runner.rs
  worker/crates/runtime/src/builder_dag.rs
  worker/crates/runtime/src/errors.rs
Labels: worker

#212 chore(worker): sort actions alphabetically in SchemaCliCommand
  schema/actions.json
  worker/crates/cli/src/schema.rs
Labels: worker

#213 chore(worker): Update SinkNode constructor to include shutdown and runtime parameters
  worker/crates/action-processor/src/xml/fragmenter.rs
  worker/crates/runtime/src/executor/dag_executor.rs
  worker/crates/runtime/src/executor/sink_node.rs
Labels: worker

#207 feat(ui): Auth0 Integration
  ui/.gitignore
  ui/package.json
  ui/src/config/authInfo.ts
  ui/src/config/index.ts
  ui/src/features/AuthenticatedPage/index.tsx
  ui/src/features/Dashboard/components/Nav/components/UserNavigation.tsx
  ui/src/features/Root/index.tsx
  ui/src/lib/auth/auth0Auth.ts
  ui/src/lib/auth/authProvider.tsx
  ui/src/lib/auth/index.ts
  ui/src/lib/auth/types.ts
  ui/src/lib/auth/useAuth.ts
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#214 feat(worker): add file info extractor action
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/Makefile.toml
  worker/README.md
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-processor/src/attribute.rs
  worker/crates/action-processor/src/attribute/errors.rs
  worker/crates/action-processor/src/attribute/file_path_info_extractor.rs
  worker/crates/action-processor/src/attribute/mapping.rs
  worker/crates/action-processor/src/feature.rs
  worker/crates/action-processor/src/feature/mapping.rs
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/mapping.rs
  worker/crates/action-processor/src/plateau.rs
  worker/crates/action-processor/src/plateau/mapping.rs
  worker/crates/action-processor/src/xml.rs
  worker/crates/action-processor/src/xml/mapping.rs
  worker/crates/common/src/fs.rs
  worker/crates/runner/src/orchestrator.rs
  worker/crates/runtime/Cargo.toml
  worker/crates/storage/Cargo.toml
  worker/crates/types/Cargo.toml
  worker/crates/types/src/attribute.rs
  worker/crates/types/src/datetime.rs
  worker/crates/types/src/feature.rs
  worker/crates/types/src/lib.rs
Labels: worker

#215 feat(worker): Update XML validator workflow to use new XML file
  worker/crates/action-processor/src/attribute/mapping.rs
  worker/crates/action-processor/src/feature/mapping.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/plateau/mapping.rs
  worker/crates/action-processor/src/xml/mapping.rs
  worker/crates/action-source/src/file/path_extractor.rs
  worker/crates/runtime/src/executor/execution_dag.rs
  worker/examples/plateau/attribute_reader.rs
  worker/examples/plateau/testdata/graphs/xml_validator.yml
  worker/examples/plateau/testdata/workflow/attribute_reader.yml
  worker/examples/plateau/testdata/workflow/xml_validator.yml
  worker/examples/plateau/xml_validator.rs
Labels: worker

#216 feat(worker): Update XML validator workflow to use new XML file
  worker/crates/action-processor/src/attribute/aggregator.rs
  worker/crates/action-processor/src/attribute/duplicate_filter.rs
  worker/crates/action-processor/src/attribute/file_path_info_extractor.rs
  worker/crates/action-processor/src/attribute/keeper.rs
  worker/crates/action-processor/src/attribute/manager.rs
  worker/crates/action-processor/src/feature/counter.rs
  worker/crates/action-processor/src/feature/filter.rs
  worker/crates/action-processor/src/feature/merger.rs
  worker/crates/action-processor/src/feature/sorter.rs
  worker/crates/action-processor/src/feature/transformer.rs
  worker/crates/action-processor/src/geometry/coordinate_system_setter.rs
  worker/crates/action-processor/src/geometry/extruder.rs
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/action-processor/src/plateau/dictionaries_initiator.rs
  worker/crates/action-processor/src/plateau/domain_of_definition_validator.rs
  worker/crates/action-processor/src/plateau/udx_folder_extractor.rs
  worker/crates/action-processor/src/plateau/xml_attribute_extractor.rs
  worker/crates/action-processor/src/xml/validator.rs
  worker/crates/common/src/collection.rs
  worker/crates/common/src/xml.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/runtime/src/node.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/helper.rs
  worker/examples/plateau/testdata/workflow/attribute_reader.yml
  worker/examples/plateau/testdata/workflow/xml_validator.yml
Labels: worker

#218 feat(worker): Add EdgeId type for routing in Node module
  worker/crates/action-processor/src/xml/validator.rs
  worker/crates/cli/src/run.rs
  worker/crates/common/src/xml.rs
  worker/crates/runner/src/executor.rs
  worker/crates/runner/src/orchestrator.rs
  worker/crates/runner/src/runner.rs
  worker/crates/runtime/src/builder_dag.rs
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/runtime/src/executor/dag_executor.rs
  worker/crates/runtime/src/executor/execution_dag.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/runtime/src/executor/source_node.rs
  worker/crates/runtime/src/feature_store.rs
  worker/crates/runtime/src/forwarder.rs
  worker/crates/runtime/src/node.rs
  worker/crates/state/src/lib.rs
  worker/examples/plateau/helper.rs
  worker/examples/plateau/testdata/graphs/xml_validator.yml
  worker/tests/helper.rs
Labels: worker

#219 chore(worker): Update cache directory path in code files
  worker/crates/action-processor/src/xml/validator.rs
  worker/crates/cli/src/run.rs
  worker/crates/common/src/dir.rs
  worker/crates/common/src/xml.rs
  worker/crates/runtime/src/forwarder.rs
  worker/examples/plateau/helper.rs
Labels: worker

#220 chore(worker): Refactor FeatureWriter flush method to convert features into serde_json::Value
  worker/crates/runtime/src/feature_store.rs
Labels: worker

#200 feat(ui): Setup for management freatures
  ui/.env-local
  ui/package.json
  ui/src/components/Card/index.tsx
  ui/src/components/Collapsible/index.tsx
  ui/src/components/FileTree/index.tsx
  ui/src/components/Input/index.tsx
  ui/src/components/Label/index.tsx
  ui/src/components/Tabs/index.tsx
  ui/src/components/buttons/BaseButton/index.tsx
  ui/src/components/icons/Center.tsx
  ui/src/components/icons/Output.tsx
  ui/src/components/icons/Preview.tsx
  ui/src/components/icons/Reader.tsx
  ui/src/components/icons/Transformer.tsx
  ui/src/components/icons/Writer.tsx
  ui/src/components/icons/index.ts
  ui/src/components/index.ts
  ui/src/features/BottomPanel/index.tsx
  ui/src/features/Dashboard/components/LeftSection/components/MembersList.tsx
  ui/src/features/Dashboard/components/LeftSection/components/MembersSection.tsx
  ui/src/features/Dashboard/components/LeftSection/components/RunsSection.tsx
  ui/src/features/Dashboard/components/LeftSection/components/index.ts
  ui/src/features/Dashboard/components/LeftSection/index.tsx
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dashboard/components/Nav/components/UserNavigation.tsx
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
  ui/src/features/Dashboard/components/Nav/index.tsx
  ui/src/features/Dashboard/components/index.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Dialog/components/Content.tsx
  ui/src/features/Dialog/components/settings/useSettings.tsx
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/Handles.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Breadcrumb/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/CanvasActionbar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/CanvasTabs/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/ParamEditor/index.tsx
  ui/src/features/LeftPanel/index.tsx
  ui/src/features/RightPanel/index.tsx
  ui/src/features/Runs/components/ManualRun.tsx
  ui/src/features/Runs/components/RunsTable.tsx
  ui/src/features/Runs/components/StatusContent.tsx
  ui/src/features/Runs/components/index.ts
  ui/src/features/Runs/index.tsx
  ui/src/mock_data/runsData.ts
  ui/src/providers/i18n/locales/ja.json
  ui/src/routeTree.gen.ts
  ui/src/routes/workspace_.$workspaceId_.runs.$tab.lazy.tsx
  ui/src/types/index.ts
  ui/src/types/run.ts
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#221 feat(worker): Add tracing to workflow runner
  worker/crates/runner/src/runner.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/runtime/src/executor/source_node.rs
Labels: worker
