Repository reearth/reearth-flow, pull requests merged in 2024-08, with the labels that each got.

#387 feat(ui): Update password
  ui/src/features/Dialog/components/settings/AccountDialog.tsx
  ui/src/lib/gql/user/useApi.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#394 chore(ui): upgrade to eslint 9
  ui/.eslintignore
  ui/.eslintrc.cjs
  ui/README.md
  ui/eslint.config.mjs
  ui/package.json
  ui/src/components/Command/index.tsx
  ui/src/components/DataTable/index.tsx
  ui/src/components/FileTree/index.tsx
  ui/src/components/Input/index.tsx
  ui/src/components/Logs/index.tsx
  ui/src/components/buttons/BaseButton/index.tsx
  ui/src/env.d.ts
  ui/src/features/Editor/components/BottomPanel/components/Map/index.tsx
  ui/src/features/Editor/components/Canvas/useNodes.ts
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/lib/auth/useAuth.ts
  ui/src/lib/fetch/actions/useFetch.ts
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/user/useApi.ts
  ui/src/lib/gql/user/useQueries.ts
  ui/src/lib/gql/workspace/queries.graphql
  ui/src/lib/gql/workspace/useApi.ts
  ui/src/lib/yjs/conversions.ts
  ui/src/lib/yjs/useWorkflowTabs.ts
  ui/src/lib/yjs/useYEdge.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/types/action.ts
  ui/src/utils/cancellableDebounce.ts
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#396 feat(worker): Add doc_action module and update dependencies
  worker/Cargo.lock
  worker/Cargo.toml
  worker/Makefile.toml
  worker/crates/cli/Cargo.toml
  worker/crates/cli/src/cli.rs
  worker/crates/cli/src/doc_action.rs
  worker/crates/cli/src/lib.rs
  worker/crates/cli/src/schema_action.rs
  worker/crates/cli/src/utils.rs
  worker/docs/mdbook/src/SUMMARY.md
  worker/docs/mdbook/src/action.md
Labels: worker

#402 feat(worker): add lineString coercer to GeometryCoercer
  schema/actions.json
  worker/crates/action-processor/src/geometry/coercer.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
Labels: worker

#401 chore(ui): Deps Upgrade
  ui/package.json
  ui/yarn.lock
Labels: ui

#400 chore(ui): Filetree fixed
  ui/src/components/FileTree/index.tsx
  ui/tailwind.config.ts
Labels: ui

#403 chore(worker): remove typetag.workspace from Cargo.toml files
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-plateau-processor/Cargo.toml
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-sink/Cargo.toml
  worker/crates/action-source/Cargo.toml
  worker/crates/storage/src/operator.rs
  worker/crates/types/Cargo.toml
Labels: worker

#404 feat(ui): warning dialog for project and workspace deletion
  ui/package.json
  ui/src/components/AlertDialog/index.tsx
  ui/src/components/index.ts
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings/components/WorkspaceDeletionDialog.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings/components/index.ts
  ui/src/features/WorkspaceSettings/components/GeneralSettings/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/yarn.lock
Labels: ui

#406 feat(worker): add lineString coercer to GeometryCoercer
  worker/crates/action-processor/src/geometry/coercer.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
Labels: worker

#405 feat(ui): basic notification system
  ui/eslint.config.mjs
  ui/package.json
  ui/src/components/Toast/index.tsx
  ui/src/components/index.ts
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/NotificationSystem/index.tsx
  ui/src/features/NotificationSystem/useToast.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/routes/__root.tsx
  ui/yarn.lock
Labels: ui

#407 feat(worker): update line on line overlayer processor
  schema/actions.json
  worker/crates/action-processor/src/feature/counter.rs
  worker/crates/action-processor/src/feature/merger.rs
  worker/crates/action-processor/src/geometry/line_on_line_overlayer.rs
  worker/crates/geometry/src/algorithm/line_intersection.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/multi_line_string.rs
  worker/crates/types/src/geometry.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
Labels: worker

#410 feat(worker): add elevation extractor to geometry module
  .github/labeler.yml
  .github/workflows/pr_title.yml
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/elevation_extractor.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/types/src/geometry.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
Labels: cicd, worker

#411 feat(ui): update node creation to use actual actions
  ui/src/components/ActionItem/index.tsx
  ui/src/components/Dialog/index.tsx
  ui/src/components/Tabs/index.tsx
  ui/src/components/index.ts
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/components/CustomHandle/Handles.tsx
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/Canvas/useNodes.ts
  ui/src/features/Editor/components/LeftPanel/components/Actions/Action.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/SingleAction.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/hooks/useDoubleClick.ts
  ui/src/lib/fetch/actions/useFetch.ts
  ui/src/lib/fetch/index.ts
  ui/src/lib/fetch/transformers/index.ts
  ui/src/lib/fetch/transformers/useApi.ts
  ui/src/lib/fetch/transformers/useFetch.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/routes/__root.tsx
  ui/src/routes/index.tsx
  ui/src/types/action.ts
  ui/src/types/node.ts
  ui/src/utils/randomID.test.ts
  ui/src/utils/randomID.ts
Labels: ui

#412 fix(ui): action dnd from actions list in left panel
  ui/src/components/ActionItem/index.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/Action.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
Labels: ui

#413 feat(worker): update bufferable module for geometry
  schema/actions.json
  worker/crates/action-processor/src/geometry/bufferer.rs
  worker/crates/geometry/src/algorithm/bufferable.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/types/src/geometry.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
Labels: worker

#415 feat(worker): add AreaOnAreaOverlayer action to quality-check workflow
  schema/actions.json
  worker/crates/action-plateau-processor/src/building_usage_attribute_validator.rs
  worker/crates/action-plateau-processor/src/dictionaries_initiator.rs
  worker/crates/action-plateau-processor/src/udx_folder_extractor.rs
  worker/crates/action-plateau-processor/src/unmatched_xlink_detector.rs
  worker/crates/action-plateau-processor/src/xml_attribute_extractor.rs
  worker/crates/action-processor/src/attribute/aggregator.rs
  worker/crates/action-processor/src/attribute/duplicate_filter.rs
  worker/crates/action-processor/src/attribute/file_path_info_extractor.rs
  worker/crates/action-processor/src/attribute/keeper.rs
  worker/crates/action-processor/src/attribute/manager.rs
  worker/crates/action-processor/src/attribute/statistics_calculator.rs
  worker/crates/action-processor/src/feature/counter.rs
  worker/crates/action-processor/src/feature/filter.rs
  worker/crates/action-processor/src/feature/merger.rs
  worker/crates/action-processor/src/feature/reader.rs
  worker/crates/action-processor/src/feature/rhai.rs
  worker/crates/action-processor/src/feature/sorter.rs
  worker/crates/action-processor/src/feature/transformer.rs
  worker/crates/action-processor/src/geometry/area_on_area_overlayer.rs
  worker/crates/action-processor/src/geometry/coordinate_system_setter.rs
  worker/crates/action-processor/src/geometry/elevation_extractor.rs
  worker/crates/action-processor/src/geometry/extractor.rs
  worker/crates/action-processor/src/geometry/extruder.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/hole_counter.rs
  worker/crates/action-processor/src/geometry/line_on_line_overlayer.rs
  worker/crates/action-processor/src/geometry/orientation_extractor.rs
  worker/crates/action-processor/src/geometry/replacer.rs
  worker/crates/action-processor/src/geometry/reprojector.rs
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/action-processor/src/geometry/three_dimention_rotator.rs
  worker/crates/action-processor/src/geometry/validator.rs
  worker/crates/action-processor/src/xml/fragmenter.rs
  worker/crates/action-processor/src/xml/validator.rs
  worker/crates/action-sink/src/file/writer.rs
  worker/crates/action-source/src/feature_creator.rs
  worker/crates/action-source/src/file/path_extractor.rs
  worker/crates/action-source/src/file/reader.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
Labels: worker

#414 feat(ui): Project Pagination
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Runs/components/ManualRun.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/project/queries.graphql
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/project/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/types/project.ts
Labels: ui

#379 feat(worker): Add make gltf
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-sink/Cargo.toml
  worker/crates/action-sink/src/file.rs
  worker/crates/action-sink/src/file/gltf.rs
  worker/crates/action-sink/src/file/metadata.rs
  worker/crates/action-sink/src/file/writer.rs
  worker/crates/types/Cargo.toml
  worker/crates/types/src/geometry.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/gltf_tiles.yml
Labels: worker

#417 feat(worker): Add new actions to quality-check workflow
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
Labels: worker

#418 feat(worker): Update example feature transformer to use a different workflow.yml
  worker/crates/action-source/src/file/path_extractor.rs
  worker/examples/plateau/example_feature_transformer.rs
  worker/examples/plateau/testdata/workflow/quality-check/01-common/workflow.yml
Labels: worker

#420 feat(worker): Add info_span and error_span methods to NodeContext
  worker/crates/action-source/src/file/path_extractor.rs
  worker/crates/runtime/src/executor_operation.rs
  worker/examples/plateau/testdata/graphs/xml_validator.yml
  worker/examples/plateau/testdata/workflow/quality-check/01-common/workflow.yml
Labels: worker

#422 ci: Update taplo dependency to latest version
  .github/workflows/ci_worker.yml
  worker/.taplo.toml
  worker/Cargo.toml
  worker/Makefile.toml
  worker/crates/action-log/Cargo.toml
  worker/crates/action-plateau-processor/Cargo.toml
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-sink/Cargo.toml
  worker/crates/action-source/Cargo.toml
  worker/crates/cli/Cargo.toml
  worker/crates/common/Cargo.toml
  worker/crates/eval-expr/Cargo.toml
  worker/crates/geometry/Cargo.toml
  worker/crates/macros/Cargo.toml
  worker/crates/runner/Cargo.toml
  worker/crates/runtime/Cargo.toml
  worker/crates/state/Cargo.toml
  worker/crates/storage/Cargo.toml
  worker/crates/telemetry/Cargo.toml
  worker/crates/types/Cargo.toml
  worker/examples/Cargo.toml
  worker/tests/Cargo.toml
Labels: cicd, worker

#423 ci: Update taplo dependency and formatting options
  .github/workflows/ci_worker.yml
  worker/.taplo.toml
  worker/Cargo.toml
  worker/Makefile.toml
Labels: cicd, worker

#425 feat(worker): Update attribute module structure
  schema/actions.json
  worker/crates/action-processor/src/attribute.rs
  worker/crates/action-processor/src/attribute/errors.rs
  worker/crates/action-processor/src/attribute/keeper.rs
  worker/crates/action-processor/src/attribute/mapper.rs
  worker/crates/action-processor/src/attribute/mapping.rs
  worker/crates/action-processor/src/attribute/statistics_calculator.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/quality-check/01-common/workflow.yml
Labels: worker

#426 feat(worker): Update attribute module structure
  schema/actions.json
  worker/crates/action-processor/src/attribute/statistics_calculator.rs
  worker/crates/action-sink/src/file/writer.rs
  worker/crates/action-source/src/file/reader/csv.rs
  worker/crates/action-source/src/file/reader/runner.rs
  worker/crates/eval-expr/src/lib.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/quality-check/01-common/workflow.yml
Labels: worker

#427 feat(worker): add TranXlinkChecker processor for plateau
  schema/actions.json
  worker/crates/action-plateau-processor/src/building_installation_geometry_type_extractor.rs
  worker/crates/action-plateau-processor/src/errors.rs
  worker/crates/action-plateau-processor/src/lib.rs
  worker/crates/action-plateau-processor/src/mapping.rs
  worker/crates/action-plateau-processor/src/tran_xlink_checker.rs
  worker/crates/action-plateau-processor/src/unmatched_xlink_detector.rs
  worker/crates/action-processor/src/feature/merger.rs
  worker/crates/action-processor/src/feature/rhai.rs
  worker/crates/action-processor/src/geometry/area_on_area_overlayer.rs
  worker/crates/action-processor/src/geometry/coercer.rs
  worker/crates/action-processor/src/geometry/hole_extractor.rs
  worker/crates/action-processor/src/geometry/line_on_line_overlayer.rs
  worker/crates/types/src/feature.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/example_feature_transformer.rs
  worker/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
Labels: worker

#428 feat(worker): Update module names in worker/examples/plateau/testdata/graphs
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/feature/reader/citygml.rs
  worker/crates/action-source/src/file/reader/citygml.rs
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/testdata/graphs/attribute_reader.yml
  worker/examples/plateau/testdata/graphs/folder_and_file_path_reader.yml
  worker/examples/plateau/testdata/graphs/lod_splitter_with_dm.yml
  worker/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
Labels: worker

#429 feat(worker): increase num_threads to 20 in AttributeAggregator
  schema/actions.json
  worker/crates/action-processor/src/attribute/aggregator.rs
  worker/crates/action-processor/src/attribute/duplicate_filter.rs
  worker/crates/action-processor/src/attribute/manager.rs
  worker/crates/action-processor/src/feature/filter.rs
  worker/crates/action-processor/src/geometry/splitter.rs
  worker/crates/common/src/json.rs
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/types/src/geometry.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/graphs/folder_and_file_path_reader.yml
  worker/examples/plateau/testdata/graphs/lod_splitter_with_dm.yml
  worker/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
Labels: worker

#430 chore(worker): Update attribute module structure and calculationValue handling
  schema/actions.json
  worker/crates/action-processor/src/attribute/aggregator.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
Labels: worker

#419 chore(ui): refactor dashboard main code + styles improvements
  ui/src/components/ActionItem/index.tsx
  ui/src/components/Card/index.tsx
  ui/src/components/DropdownMenu/index.tsx
  ui/src/features/Dashboard/components/LeftSection/components/WorkspaceSection.tsx
  ui/src/features/Dashboard/components/LeftSection/index.tsx
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dashboard/components/MainSection/components/ProjectCard.tsx
  ui/src/features/Dashboard/components/MainSection/components/ProjectDeletionDialog.tsx
  ui/src/features/Dashboard/components/MainSection/components/ProjectEditDialog.tsx
  ui/src/features/Dashboard/components/MainSection/components/index.ts
  ui/src/features/Dashboard/components/MainSection/hooks.ts
  ui/src/features/Dashboard/components/MainSection/index.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/features/TopNavigation/components/WorkspaceNavigation.tsx
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/workspace/useApi.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#431 feat(worker): Update attribute module structure and calculationValue handling
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/geometry/splitter.rs
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/testdata/workflow/example_citygml.yml
Labels: worker

#432 chore(worker): Update geometry.rs and Cargo.toml files
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
Labels: worker

#433 feat(ui): deploy project ui/ux
  ui/src/components/Dialog/index.tsx
  ui/src/features/Dashboard/components/MainSection/components/ProjectEditDialog.tsx
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/components/DeployDialog.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/components/index.ts
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Breadcrumb/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/CanvasActionbar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#434 chore(worker): Update geometry.rs and Cargo.toml files
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/feature/reader/citygml.rs
  worker/crates/action-processor/src/geometry/splitter.rs
  worker/crates/action-source/src/file/reader/citygml.rs
Labels: worker

#436 chore(ui): refactor dialogs
  ui/src/components/Dialog/index.tsx
  ui/src/components/Input/index.tsx
  ui/src/components/TextArea/index.tsx
  ui/src/components/index.ts
  ui/src/features/Dashboard/components/MainSection/components/ProjectAddDialog.tsx
  ui/src/features/Dashboard/components/MainSection/components/ProjectEditDialog.tsx
  ui/src/features/Dashboard/components/MainSection/components/index.ts
  ui/src/features/Dashboard/components/MainSection/hooks.ts
  ui/src/features/Dashboard/components/MainSection/index.tsx
  ui/src/features/Dialog/components/Content.tsx
  ui/src/features/Dialog/components/ContentHeader.tsx
  ui/src/features/Dialog/components/ContentSection.tsx
  ui/src/features/Dialog/components/index.ts
  ui/src/features/Dialog/components/instructions/KeyboardDialog/index.tsx
  ui/src/features/Dialog/components/instructions/index.ts
  ui/src/features/Dialog/components/instructions/useInstructions.tsx
  ui/src/features/Dialog/components/project/AddProject.tsx
  ui/src/features/Dialog/components/project/index.ts
  ui/src/features/Dialog/components/project/useProject.tsx
  ui/src/features/Dialog/components/searches/CanvasSearch.tsx
  ui/src/features/Dialog/components/searches/index.ts
  ui/src/features/Dialog/components/searches/useSearches.tsx
  ui/src/features/Dialog/components/settings/AccountDialog.tsx
  ui/src/features/Dialog/components/settings/GeneralDialog.tsx
  ui/src/features/Dialog/components/settings/WorkflowDialog.tsx
  ui/src/features/Dialog/components/settings/WorkspacesDialog.tsx
  ui/src/features/Dialog/components/settings/components/FieldWrapper.tsx
  ui/src/features/Dialog/components/settings/components/index.ts
  ui/src/features/Dialog/components/settings/index.ts
  ui/src/features/Dialog/components/settings/useSettings.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/features/Dialog/components/workspace/index.ts
  ui/src/features/Dialog/components/workspace/useWorkspace.tsx
  ui/src/features/Dialog/index.tsx
  ui/src/features/Editor/components/LeftPanel/components/ProjectSettings.tsx
  ui/src/features/Editor/components/LeftPanel/components/index.ts
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/components/DeployDialog.tsx
  ui/src/features/KeyboardShortcutDialog/components/Shortcut.tsx
  ui/src/features/KeyboardShortcutDialog/components/index.ts
  ui/src/features/KeyboardShortcutDialog/index.tsx
  ui/src/features/KeyboardShortcutDialog/useShortcuts.ts
  ui/src/features/TopNavigation/components/AccountNavigation.tsx
  ui/src/features/TopNavigation/components/AccountUpdateDialog.tsx
  ui/src/features/TopNavigation/components/UserNavigation.tsx
  ui/src/features/TopNavigation/components/WorkspaceAddDialog.tsx
  ui/src/features/TopNavigation/components/WorkspaceNavigation.tsx
  ui/src/features/TopNavigation/components/index.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/routes/__root.tsx
  ui/src/stores/index.ts
  ui/src/types/shortcuts.ts
Labels: ui

#416 chore(ui): update vite-plugin-cesium and add base url
  ui/package.json
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#437 feat(worker): update edge id for worker runtime
  worker/crates/runtime/src/builder_dag.rs
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/runtime/src/executor/execution_dag.rs
  worker/crates/runtime/src/node.rs
  worker/examples/plateau/example_feature_transformer.rs
Labels: worker

#438 feat(ui): basic shortcut support
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/KeyboardShortcutDialog/components/Shortcut.tsx
  ui/src/features/KeyboardShortcutDialog/index.tsx
  ui/src/features/KeyboardShortcutDialog/useHooks.ts
  ui/src/features/KeyboardShortcutDialog/useShortcuts.ts
  ui/src/features/TopNavigation/components/AccountNavigation.tsx
  ui/src/hooks/index.ts
  ui/src/hooks/useShortcuts.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/routes/workspace_.$workspaceId_.project.$projectId.lazy.tsx
  ui/src/types/index.ts
  ui/src/types/shortcuts.ts
Labels: ui

#424 feat(worker): Add cesium3dtiles
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-sink/Cargo.toml
  worker/crates/action-sink/src/file.rs
  worker/crates/action-sink/src/file/cesium3dtiles.rs
  worker/crates/action-sink/src/file/gltf.rs
  worker/crates/action-sink/src/file/tree.rs
  worker/crates/action-sink/src/file/util.rs
  worker/crates/action-sink/src/mapping.rs
  worker/crates/common/Cargo.toml
  worker/crates/common/src/gltf.rs
  worker/crates/common/src/lib.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/cesium_3d_tiles.yml
Labels: worker

#439 feat(geometry): Add geojson conversion module
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/error.rs
  worker/crates/geometry/src/types.rs
  worker/crates/geometry/src/types/conversion.rs
  worker/crates/geometry/src/types/conversion/geojson.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/geometry_collection.rs
  worker/crates/geometry/src/types/line.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_line_string.rs
  worker/crates/geometry/src/types/multi_point.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/point.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/types/triangle.rs
Labels: worker

#440 chore(worker): Update dependencies and install required tools for CI workflow
  .github/workflows/ci_worker.yml
  worker/Cargo.lock
  worker/Cargo.toml
Labels: cicd, worker

#442 feat(worker): Add geojson conversion module
  schema/actions.json
  worker/Cargo.lock
  worker/crates/action-sink/Cargo.toml
  worker/crates/action-sink/src/errors.rs
  worker/crates/action-sink/src/file.rs
  worker/crates/action-sink/src/file/cesium3dtiles.rs
  worker/crates/action-sink/src/file/geojson.rs
  worker/crates/action-sink/src/mapping.rs
  worker/crates/geometry/src/algorithm/centroid.rs
  worker/crates/geometry/src/algorithm/coordinate_position.rs
  worker/crates/geometry/src/algorithm/remove_repeated_points.rs
  worker/crates/geometry/src/types/conversion/geojson.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/geometry_collection.rs
  worker/crates/geometry/src/types/line.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_line_string.rs
  worker/crates/geometry/src/types/multi_point.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/point.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/types/triangle.rs
  worker/crates/types/Cargo.toml
  worker/crates/types/src/conversion.rs
  worker/crates/types/src/conversion/geojson.rs
  worker/crates/types/src/conversion/nusamai.rs
  worker/crates/types/src/geometry.rs
  worker/crates/types/src/lib.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/example_citygml.yml
  worker/examples/plateau/testdata/workflow/example_feature_transformer.yml
Labels: worker

#443 chore(ui): update eslint config reearth with updated ruleset
  ui/eslint.config.mjs
  ui/package.json
  ui/src/components/Logs/index.tsx
  ui/src/config/index.ts
  ui/src/features/AuthenticationWrapper/index.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/NodeInspector.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
  ui/src/features/KeyboardShortcutDialog/components/Shortcut.tsx
  ui/src/features/KeyboardShortcutDialog/index.tsx
  ui/src/features/NotificationSystem/useToast.ts
  ui/src/features/TopNavigation/components/AccountUpdateDialog.tsx
  ui/src/hooks/useDoubleClick.ts
  ui/src/lib/i18n/i18n.ts
  ui/src/lib/yjs/conversions.ts
  ui/src/testing/setup.ts
  ui/src/types/action.ts
  ui/src/types/node.ts
  ui/src/types/run.ts
  ui/src/utils/cancellableDebounce.ts
  ui/src/utils/date.ts
  ui/src/utils/fullscreen.ts
  ui/tailwind.config.ts
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#444 feat(worker): Update file paths and names for worker modules
  schema/actions.json
  worker/crates/action-sink/src/echo.rs
  worker/crates/action-sink/src/file/cesium3dtiles.rs
  worker/crates/action-sink/src/file/geojson.rs
  worker/crates/action-sink/src/file/writer.rs
  worker/crates/action-sink/src/noop.rs
  worker/crates/action-source/src/feature_creator.rs
  worker/crates/action-source/src/file/path_extractor.rs
  worker/crates/action-source/src/file/reader/runner.rs
  worker/crates/runtime/src/executor/sink_node.rs
  worker/crates/runtime/src/executor/source_node.rs
  worker/crates/runtime/src/node.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/example_citygml.yml
Labels: worker

#446 feat(worker): add event system for worker runtime
  worker/crates/runner/src/executor.rs
  worker/crates/runtime/src/event.rs
  worker/crates/runtime/src/executor/dag_executor.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/runtime/src/executor/sink_node.rs
  worker/crates/runtime/src/executor/source_node.rs
  worker/crates/runtime/src/feature_store.rs
  worker/crates/runtime/src/forwarder.rs
  worker/crates/runtime/src/node.rs
  worker/examples/plateau/testdata/workflow/quality-check/01-common/workflow.yml
Labels: worker

#447 chore(worker): Add Cesium 3D Tiles support to worker tools
  worker/.gitattributes
  worker/.gitignore
  worker/tools/README.md
  worker/tools/cesium/3dtiles.html
  worker/tools/cesium/3dtiles/.gitkeep
  worker/tools/cesium/index.html
  worker/tools/mvt/index.html
  worker/tools/mvt/style.json
Labels: worker

#449 chore(worker): Rename TwoDimentionForcer to TwoDimensionForcer
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/three_dimension_box_replacer.rs
  worker/crates/action-processor/src/geometry/three_dimension_rotator.rs
  worker/crates/action-processor/src/geometry/two_dimension_forcer.rs
  worker/docs/mdbook/src/action.md
Labels: worker

#450 chore(worker): Update Dockerfile and workflow configuration
  worker/Dockerfile
  worker/examples/plateau/testdata/workflow/simple_workflow.yml
Labels: worker

#453 feat(worker): add dimension filter action
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/dimension_filter.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/face.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/geometry_collection.rs
  worker/crates/geometry/src/types/line.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_line_string.rs
  worker/crates/geometry/src/types/multi_point.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/point.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/types/solid.rs
  worker/crates/geometry/src/types/traits.rs
  worker/crates/geometry/src/types/triangle.rs
  worker/crates/types/src/geometry.rs
  worker/docs/mdbook/src/action.md
Labels: worker

#448 feat(ui): Finalize tailwind changes
  ui/src/components/buttons/BaseButton/index.tsx
  ui/src/features/Dashboard/components/LeftSection/components/RunsSection.tsx
  ui/src/features/Dashboard/components/MainSection/components/ProjectCard.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/EntranceNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/ExitNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/ReaderNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/SubworkflowNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/TransformerNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/WriterNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/utils.ts
  ui/src/features/Editor/components/LeftPanel/components/Actions/Action.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/features/Editor/components/RightPanel/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/KeyboardShortcutDialog/components/Shortcut.tsx
  ui/src/features/NotFound/index.tsx
  ui/src/features/TopNavigation/index.tsx
  ui/src/index.css
  ui/src/routes/index.tsx
  ui/tailwind.config.ts
Labels: ui

#455 chore(worker): Update file paths and names for worker modules
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/feature/reader/citygml.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-source/src/file/reader/citygml.rs
  worker/crates/types/src/conversion/nusamai.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/example_feature_transformer.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/solid_phase_consistency_validation.yml
Labels: worker

#451 feat(ui): improve runs manager UI and UX
  ui/eslint.config.mjs
  ui/package.json
  ui/src/components/DateTimePicker/index.tsx
  ui/src/components/DateTimePicker/styles.css
  ui/src/components/Select/index.tsx
  ui/src/features/Dashboard/components/LeftSection/components/RunsSection.tsx
  ui/src/features/Dashboard/components/MainSection/hooks.ts
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Runs/components/ManualRun.tsx
  ui/src/features/Runs/components/NewRun.tsx
  ui/src/features/Runs/components/RunDetails.tsx
  ui/src/features/Runs/components/RunsTable.tsx
  ui/src/features/Runs/components/StatusContent.tsx
  ui/src/features/Runs/components/index.ts
  ui/src/features/Runs/components/styles.css
  ui/src/features/Runs/index.tsx
  ui/src/features/TopNavigation/components/WorkspaceAddDialog.tsx
  ui/src/features/TopNavigation/index.tsx
  ui/src/features/WorkspaceSettings/index.tsx
  ui/src/lib/i18n/locales.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/routeTree.gen.ts
  ui/src/routes/index.tsx
  ui/src/routes/workspaces_.$workspaceId.lazy.tsx
  ui/src/routes/workspaces_.$workspaceId_.projects.$projectId.lazy.tsx
  ui/src/routes/workspaces_.$workspaceId_.runs.$tab.lazy.tsx
  ui/src/routes/workspaces_.$workspaceId_.settings.$tab.lazy.tsx
  ui/src/types/run.ts
  ui/yarn.lock
Labels: ui

#456 feat(worker): add plateau gis quality checker
  .github/workflows/ci_worker.yml
  worker/.gitattributes
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/cli/Cargo.toml
  worker/crates/cli/src/cli.rs
  worker/crates/cli/src/dot.rs
  worker/crates/cli/src/errors.rs
  worker/crates/cli/src/main.rs
  worker/crates/cli/src/run.rs
  worker/tools/plateau-gis-quality-checker/.gitignore
  worker/tools/plateau-gis-quality-checker/.prettierignore
  worker/tools/plateau-gis-quality-checker/.prettierrc
  worker/tools/plateau-gis-quality-checker/.yarnrc.yml
  worker/tools/plateau-gis-quality-checker/README.md
  worker/tools/plateau-gis-quality-checker/build/.gitkeep
  worker/tools/plateau-gis-quality-checker/eslint.config.mjs
  worker/tools/plateau-gis-quality-checker/index.html
  worker/tools/plateau-gis-quality-checker/package.json
  worker/tools/plateau-gis-quality-checker/postcss.config.js
  worker/tools/plateau-gis-quality-checker/src-tauri/.gitignore
  worker/tools/plateau-gis-quality-checker/src-tauri/Cargo.toml
  worker/tools/plateau-gis-quality-checker/src-tauri/build.rs
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/128x128.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/128x128@2x.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/32x32.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square107x107Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square142x142Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square150x150Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square284x284Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square30x30Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square310x310Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square44x44Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square71x71Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square89x89Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/StoreLogo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/icon.ico
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/icon.png
  worker/tools/plateau-gis-quality-checker/src-tauri/src/handler.rs
  worker/tools/plateau-gis-quality-checker/src-tauri/src/main.rs
  worker/tools/plateau-gis-quality-checker/src-tauri/tauri.conf.json
  worker/tools/plateau-gis-quality-checker/src/App.css
  worker/tools/plateau-gis-quality-checker/src/App.tsx
  worker/tools/plateau-gis-quality-checker/src/main.tsx
  worker/tools/plateau-gis-quality-checker/src/vite-env.d.ts
  worker/tools/plateau-gis-quality-checker/tailwind.config.ts
  worker/tools/plateau-gis-quality-checker/tsconfig.json
  worker/tools/plateau-gis-quality-checker/tsconfig.node.json
  worker/tools/plateau-gis-quality-checker/vite.config.ts
  worker/tools/plateau-gis-quality-checker/yarn.lock
Labels: cicd, worker

#457 chore(worker): Update cargo commands in CI workflow and Makefile
  .github/workflows/ci_worker.yml
  worker/Makefile.toml
Labels: cicd, worker

#458 chore(worker): bump worker external libraries version
  worker/Cargo.lock
  worker/Cargo.toml
Labels: worker
