Repository reearth/reearth-flow, pull requests merged in 2024-09, with the labels that each got.

#460 chore(worker): Update file paths and names for worker modules
  worker/crates/common/src/uri.rs
Labels: worker

#461 feat(worker): update plateau gis quality checker
  worker/.editorconfig
  worker/Cargo.lock
  worker/crates/cli/src/run.rs
  worker/crates/common/Cargo.toml
  worker/crates/common/src/dir.rs
  worker/crates/runner/src/errors.rs
  worker/crates/runner/src/executor.rs
  worker/crates/runner/src/orchestrator.rs
  worker/crates/runner/src/runner.rs
  worker/examples/plateau/helper.rs
  worker/tools/plateau-gis-quality-checker/package.json
  worker/tools/plateau-gis-quality-checker/src-tauri/Cargo.toml
  worker/tools/plateau-gis-quality-checker/src-tauri/src/errors.rs
  worker/tools/plateau-gis-quality-checker/src-tauri/src/factory.rs
  worker/tools/plateau-gis-quality-checker/src-tauri/src/handler.rs
  worker/tools/plateau-gis-quality-checker/src-tauri/src/main.rs
  worker/tools/plateau-gis-quality-checker/src/App.tsx
  worker/tools/plateau-gis-quality-checker/yarn.lock
Labels: worker

#454 chore(ui): Note/Batch UI update
  ui/src/features/Editor/components/Canvas/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/NoteNode/index.tsx
Labels: ui

#463 feat(worker): update plateau gis quality checker
  worker/.gitattributes
  worker/.taplo.toml
  worker/Cargo.lock
  worker/crates/common/src/dir.rs
  worker/examples/plateau/helper.rs
  worker/tests/helper.rs
  worker/tools/plateau-gis-quality-checker/src-tauri/Cargo.toml
  worker/tools/plateau-gis-quality-checker/src-tauri/embed/workflows/common.yml
  worker/tools/plateau-gis-quality-checker/src-tauri/src/errors.rs
  worker/tools/plateau-gis-quality-checker/src-tauri/src/handler.rs
  worker/tools/plateau-gis-quality-checker/src-tauri/src/main.rs
  worker/tools/plateau-gis-quality-checker/src/App.tsx
Labels: worker

#467 feat(worker): plateau gis quality checker application
  ui/src/features/Dashboard/components/MainSection/components/ProjectCard.tsx
  worker/tools/plateau-gis-quality-checker/.yarnrc.yml
  worker/tools/plateau-gis-quality-checker/components.json
  worker/tools/plateau-gis-quality-checker/index.html
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/128x128.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/128x128@2x.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/32x32.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/icon.icns
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/icon.ico
  worker/tools/plateau-gis-quality-checker/src-tauri/tauri.conf.json
  worker/tools/plateau-gis-quality-checker/src/App.css
  worker/tools/plateau-gis-quality-checker/src/App.tsx
  worker/tools/plateau-gis-quality-checker/src/components/Button.tsx
  worker/tools/plateau-gis-quality-checker/src/components/Dropdown.tsx
  worker/tools/plateau-gis-quality-checker/src/components/FileSelector.tsx
  worker/tools/plateau-gis-quality-checker/src/components/FlowLogo.tsx
  worker/tools/plateau-gis-quality-checker/src/components/Input.tsx
  worker/tools/plateau-gis-quality-checker/src/components/Label.tsx
  worker/tools/plateau-gis-quality-checker/src/components/Loading/index.tsx
  worker/tools/plateau-gis-quality-checker/src/components/Loading/styles.css
  worker/tools/plateau-gis-quality-checker/src/components/Progress.tsx
  worker/tools/plateau-gis-quality-checker/src/components/WorkflowSelector.tsx
  worker/tools/plateau-gis-quality-checker/src/components/index.ts
  worker/tools/plateau-gis-quality-checker/src/index.css
  worker/tools/plateau-gis-quality-checker/src/utils.ts
  worker/tools/plateau-gis-quality-checker/yarn.lock
Labels: ui, worker

#459 feat(worker): Fix 3dtiles
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/geometry/bounds_extractor.rs
  worker/crates/action-processor/src/geometry/coercer.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/hole_extractor.rs
  worker/crates/action-processor/src/geometry/reprojector.rs
  worker/crates/action-processor/src/geometry/splitter.rs
  worker/crates/action-processor/src/geometry/validator.rs
  worker/crates/action-sink/Cargo.toml
  worker/crates/action-sink/src/file.rs
  worker/crates/action-sink/src/file/cesium3dtiles.rs
  worker/crates/action-sink/src/file/gltf.rs
  worker/crates/action-sink/src/file/types.rs
  worker/crates/action-sink/src/file/types/material.rs
  worker/crates/action-sink/src/file/types/metadata.rs
  worker/crates/action-sink/src/file/types/slice.rs
  worker/crates/action-sink/src/file/types/tree.rs
  worker/crates/action-sink/src/file/util.rs
  worker/crates/common/Cargo.toml
  worker/crates/common/src/gltf.rs
  worker/crates/common/src/image.rs
  worker/crates/common/src/lib.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/types/src/conversion/geojson.rs
  worker/crates/types/src/conversion/nusamai.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/example_feature_transformer.rs
Labels: worker

#469 feat(worker): add async runner for worker runtime
  worker/crates/common/src/uri.rs
  worker/crates/runner/src/errors.rs
  worker/crates/runner/src/executor.rs
  worker/crates/runner/src/orchestrator.rs
  worker/crates/runner/src/runner.rs
  worker/crates/runtime/src/executor/dag_executor.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/runtime/src/executor/sink_node.rs
  worker/crates/runtime/src/executor/source_node.rs
  worker/crates/runtime/src/forwarder.rs
  worker/crates/runtime/src/shutdown.rs
  worker/examples/plateau/example_feature_transformer.rs
  worker/tools/plateau-gis-quality-checker/src-tauri/src/handler.rs
  worker/tools/plateau-gis-quality-checker/src-tauri/src/main.rs
  worker/tools/plateau-gis-quality-checker/src-tauri/tauri.conf.json
  worker/tools/plateau-gis-quality-checker/src/App.tsx
Labels: worker

#408 feat(websocket): intro to socket support
  ui/package.json
  ui/src/lib/yjs/useYjsStore.ts
  ui/yarn.lock
  websocket/crates/infra/src/main.rs
  websocket/crates/infra/src/socket/handler.rs
  websocket/crates/infra/src/socket/room.rs
  websocket/crates/infra/src/socket/state.rs
Labels: ui, websocket

#470 chore(worker): Update release quality checker workflow and dependencies
  .github/workflows/release_quality_checker.yaml
  worker/Cargo.lock
  worker/Cargo.toml
  worker/tools/plateau-gis-quality-checker/build/.gitkeep
  worker/tools/plateau-gis-quality-checker/src-tauri/Cargo.toml
  worker/tools/plateau-gis-quality-checker/src-tauri/tauri.conf.json
Labels: cicd, worker

#471 chore(worker): Update release quality checker workflow
  .github/workflows/release_quality_checker.yaml
Labels: cicd

#473 chore(worker): Update reqwest dependency to version 0.12.5 with default features disabled
  worker/Cargo.lock
  worker/crates/storage/Cargo.toml
Labels: worker

#472 fix(websocket): change `App::new()` to `App::default()`
  websocket/crates/infra/src/main.rs
Labels: websocket

#475 chore(worker): Update Rust version to 1.81 and dependencies
  worker/Cargo.lock
  worker/Cargo.toml
  worker/Dockerfile
  worker/clippy.toml
Labels: worker

#476 ci: update release quality checker workflow
  .github/workflows/ci_worker.yml
  .github/workflows/release_quality_checker.yaml
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/attribute/file_path_info_extractor.rs
  worker/crates/action-processor/src/file/property_extractor.rs
  worker/crates/common/src/fs.rs
Labels: cicd, worker

#477 feat(ui): Undo & redo canvas actions
  ui/.env-local
  ui/.prettierignore
  ui/src/components/Dialog/index.tsx
  ui/src/config/index.ts
  ui/src/features/Dashboard/components/MainSection/components/ProjectAddDialog.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/KeyboardShortcutDialog/index.tsx
  ui/src/features/KeyboardShortcutDialog/useHooks.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useYEdge.test.ts
  ui/src/lib/yjs/useYEdge.ts
  ui/src/lib/yjs/useYNode.test.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/lib/yjs/useYWorkflow.test.ts
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/types/shortcuts.ts
Labels: ui

#478 chore(worker): Update version to 0.0.1 and disable prerelease flag in release quality checker workflow
  .github/workflows/release_quality_checker.yaml
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square107x107Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square142x142Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square150x150Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square284x284Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square30x30Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square310x310Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square44x44Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square71x71Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/Square89x89Logo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/StoreLogo.png
  worker/tools/plateau-gis-quality-checker/src-tauri/icons/icon.png
  worker/tools/plateau-gis-quality-checker/src-tauri/tauri.conf.json
Labels: cicd, worker

#479 ci: Update release quality checker workflow
  .github/workflows/release_quality_checker.yaml
Labels: cicd

#480 chore(worker): Update unmatched xlink detection logic
  worker/crates/action-plateau-processor/src/unmatched_xlink_detector.rs
  worker/crates/action-processor/src/attribute/manager.rs
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/types/src/feature.rs
  worker/examples/plateau/example_feature_transformer.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/workflow.yml
Labels: worker

#482 chore(worker): Remove unused workflow files
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/t_bldg_02.yml
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/t_bldg_06.yml
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/workflow.yml
Labels: worker

#483 chore(worker): Remove unused workflow file
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/c02.yml
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/workflow.yml
Labels: worker

#484 feat(worker): Add collection module to engine
  worker/crates/eval-expr/src/engine.rs
  worker/crates/eval-expr/src/module.rs
  worker/crates/eval-expr/src/module/collection.rs
  worker/crates/eval-expr/src/module/file.rs
  worker/examples/plateau/testdata/workflow/quality-check/01-common/workflow.yml
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/c_bldg_01.yml
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/workflow.yml
Labels: worker

#481 feat(ui): copy and paste functionality for nodes and edges
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/useCanvasCopyPaste.ts
  ui/src/features/Editor/useNodeLocker.ts
  ui/src/features/KeyboardShortcutDialog/components/Shortcut.tsx
  ui/src/features/KeyboardShortcutDialog/index.tsx
  ui/src/features/KeyboardShortcutDialog/useHooks.ts
  ui/src/hooks/useCopyPaste.ts
  ui/src/hooks/useShortcuts.ts
  ui/src/hooks/useUndoRedo.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/types/shortcuts.ts
Labels: ui

#486 feat(ui): improved shortcuts dialog ui
  ui/index.html
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/KeyboardShortcutDialog/components/Shortcut.tsx
  ui/src/features/KeyboardShortcutDialog/index.tsx
  ui/src/hooks/useShortcuts.ts
Labels: ui

#485 chore(worker): Update building usage attribute validation logic
  worker/crates/action-plateau-processor/src/building_usage_attribute_validator.rs
  worker/crates/runtime/src/dag_schemas.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_bldg_04_05.yml
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/workflow.yml
Labels: worker

#490 chore(worker): Add type conversion methods to AttributeValue
  worker/crates/types/src/attribute.rs
Labels: worker

#491 chore(worker): Refactor action-sink module to use EchoSink and NoopSink
  schema/actions.json
  worker/crates/action-processor/src/echo.rs
  worker/crates/action-processor/src/lib.rs
  worker/crates/action-processor/src/mapping.rs
  worker/crates/action-processor/src/noop.rs
  worker/crates/action-sink/src/echo.rs
  worker/crates/action-sink/src/noop.rs
  worker/docs/mdbook/src/action.md
  worker/docs/mdbook/src/get-started.md
  worker/examples/plateau/testdata/graphs/lod_splitter_with_dm.yml
  worker/examples/plateau/testdata/graphs/surface_validator_2d.yml
  worker/examples/plateau/testdata/workflow/example_feature_transformer.yml
  worker/examples/plateau/testdata/workflow/quality-check/01-common/workflow.yml
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/solid_phase_consistency_validation.yml
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/workflow.yml
  worker/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
  worker/examples/plateau/testdata/workflow/simple_workflow.yml
Labels: worker

#492 feat(ui): allow edges to be reconnected
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/Canvas/useEdges.ts
Labels: ui

#493 chore(worker): Update orientation extractor processor
  worker/crates/action-processor/src/geometry/orientation_extractor.rs
  worker/crates/action-processor/src/geometry/replacer.rs
  worker/examples/plateau/example_feature_transformer.rs
  worker/examples/plateau/testdata/graphs/surface_validator_2d.yml
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/workflow.yml
  worker/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
Labels: worker

#487 feat(api): run with deployment and job
  api/go.mod
  api/go.sum
  api/gql/deployment.graphql
  api/gql/project.graphql
  api/gqlgen.yml
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqldataloader/dataloader.go
  api/internal/adapter/gql/gqldataloader/deploymentloader_gen.go
  api/internal/adapter/gql/gqldataloader/jobloader_gen.go
  api/internal/adapter/gql/gqlmodel/convert_deployment.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/loader.go
  api/internal/adapter/gql/loader_deployment.go
  api/internal/adapter/gql/loader_job.go
  api/internal/adapter/gql/resolver_deployment.go
  api/internal/adapter/gql/resolver_job.go
  api/internal/adapter/gql/resolver_mutation_deployment.go
  api/internal/adapter/gql/resolver_query.go
  api/internal/app/config/config.go
  api/internal/app/repo.go
  api/internal/infrastructure/gcpbatch/batch.go
  api/internal/infrastructure/gcpbatch/batch_test.go
  api/internal/infrastructure/mongo/deployment.go
  api/internal/infrastructure/mongo/job.go
  api/internal/infrastructure/mongo/mongodoc/deployment.go
  api/internal/infrastructure/mongo/mongodoc/job.go
  api/internal/usecase/gateway/batch.go
  api/internal/usecase/gateway/container.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interactor/job.go
  api/internal/usecase/interactor/project.go
  api/internal/usecase/interfaces/common.go
  api/internal/usecase/interfaces/deployment.go
  api/internal/usecase/interfaces/job.go
  api/internal/usecase/repo/container.go
  api/internal/usecase/repo/deployment.go
  api/internal/usecase/repo/job.go
  api/pkg/deployment/builder.go
  api/pkg/deployment/deployment.go
  api/pkg/deployment/id.go
  api/pkg/id/id.go
  api/pkg/job/builder.go
  api/pkg/job/id.go
  api/pkg/job/job.go
  api/pkg/workflow/workflow.go
  go.work.sum
Labels: api

#495 chore(ui): refactor some code, fix some stuff
  ui/src/components/ActionItem/index.tsx
  ui/src/components/DateTimePicker/index.tsx
  ui/src/components/Dialog/index.tsx
  ui/src/components/FileTree/index.tsx
  ui/src/components/Input/index.tsx
  ui/src/components/Select/index.tsx
  ui/src/components/Table/index.tsx
  ui/src/components/Tabs/index.tsx
  ui/src/components/TextArea/index.tsx
  ui/src/components/icons/FlowLogo.tsx
  ui/src/features/Dashboard/components/LeftSection/components/RunsSection.tsx
  ui/src/features/Dashboard/components/LeftSection/components/WorkspaceSection.tsx
  ui/src/features/Dashboard/components/MainSection/components/ProjectCard.tsx
  ui/src/features/Dashboard/components/MainSection/index.tsx
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/components/CustomHandle/Handles.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/Action.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/LeftPanel/components/Resources.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/components/DeployDialog.tsx
  ui/src/features/Editor/components/OverlayUI/components/Breadcrumb/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/KeyboardShortcutDialog/components/Shortcut.tsx
  ui/src/features/KeyboardShortcutDialog/useHooks.ts
  ui/src/features/NotFound/index.tsx
  ui/src/features/Runs/components/NewRun.tsx
  ui/src/features/Runs/components/RunDetails.tsx
  ui/src/features/Runs/components/RunsTable.tsx
  ui/src/features/Runs/components/StatusContent.tsx
  ui/src/features/Runs/index.tsx
  ui/src/features/ThemeToggle/index.tsx
  ui/src/features/TopNavigation/components/AccountNavigation.tsx
  ui/src/features/TopNavigation/components/AccountUpdateDialog.tsx
  ui/src/features/TopNavigation/components/WorkspaceNavigation.tsx
  ui/src/features/TopNavigation/index.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings/index.tsx
  ui/src/features/WorkspaceSettings/components/IntegrationsSettings.tsx
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
  ui/src/features/WorkspaceSettings/index.tsx
  ui/src/hooks/useShortcuts.ts
  ui/src/index.css
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/theme/ThemeProvider.tsx
  ui/src/lib/theme/index.ts
  ui/src/routes/__root.tsx
  ui/src/routes/index.tsx
  ui/src/types/shortcuts.ts
Labels: ui

#496 chore(worker): Refactor closed curve filter to use "open" port instead of "line"
  schema/actions.json
  worker/crates/action-processor/src/geometry/closed_curve_filter.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/graphs/surface_validator_2d.yml
Labels: worker

#498 chore(worker): Update Cargo.toml to use workspace dependencies for mu…
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-log/Cargo.toml
  worker/crates/cli/Cargo.toml
  worker/crates/common/Cargo.toml
  worker/crates/geometry/Cargo.toml
  worker/crates/runtime/Cargo.toml
  worker/crates/storage/Cargo.toml
Labels: worker

#501 feat(worker): add CityGmlGeometryLodFilter processor for geometry
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/city_gml_geometry_lod_filter.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/docs/mdbook/src/action.md
Labels: worker

#502 ci: add assign author job on pr actions
  .github/workflows/pr.yml
Labels: cicd

#503 chore(websocket): fixed the issue of too many arguments in ProjectSnap…
  websocket/crates/domain/src/project.rs
  websocket/crates/domain/src/snapshot.rs
  websocket/crates/domain/src/utils.rs
  websocket/crates/infra/src/persistence/project_repository.rs
Labels: websocket

#504 ci: add websocket support and refactor
  .github/workflows/ci.yml
  .github/workflows/ci_websocket.yml
  websocket/.taplo.toml
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/Makefile.toml
  websocket/README.md
  websocket/crates/domain/Cargo.toml
  websocket/crates/domain/src/lib.rs
  websocket/crates/domain/src/project.rs
  websocket/crates/domain/src/repository.rs
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/infra/src/persistence/redis/flow_project_lock.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
  websocket/crates/infra/src/persistence/redis/mod.rs
  websocket/crates/infra/src/persistence/redis/redis_client.rs
  websocket/crates/infra/src/socket/errors.rs
  websocket/crates/infra/src/socket/handler.rs
  websocket/crates/infra/src/socket/room.rs
  websocket/crates/infra/src/socket/state.rs
  websocket/rustfmt.toml
Labels: cicd, websocket

#506 ci: fix server ui build actions
  .github/actions/build_deploy_api/action.yml
  .github/actions/build_deploy_ui/action.yml
  .github/workflows/ci.yml
Labels: cicd

#508 ci: add checkout build action
  .github/workflows/ci.yml
Labels: cicd

#510 chore(ui, api): update config for deployment
  api/.env.example
  api/Dockerfile
  api/docker-compose.yml
  api/internal/app/config/config.go
  api/internal/app/main.go
  api/internal/app/repo.go
  ui/.env-local
  ui/.gitignore
  ui/Dockerfile
  ui/docker-compose.yml
  ui/nginx.conf
  ui/reearth_config.template.json
  ui/src/config/index.ts
  ui/start.sh
  ui/vite.config.ts
Labels: ui, worker, api

#500 refactor(api): run project responsibility
  api/gql/deployment.graphql
  api/gql/project.graphql
  api/gql/workflow.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/convert_workflow.go
  api/internal/adapter/gql/gqlmodel/convert_workflow_test.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_mutation_deployment.go
  api/internal/adapter/gql/resolver_mutation_project.go
  api/internal/app/auth_server.go
Labels: api

#513 feat(worker): streamline feature storage and add append methods
  worker/crates/runtime/src/feature_store.rs
  worker/crates/state/src/lib.rs
  worker/examples/plateau/example_feature_transformer.rs
Labels: worker

#515 feat(worker): add completeGrouped property and refactor geometry processors for grouped handling
  schema/actions.json
  worker/crates/action-processor/src/feature/merger.rs
  worker/crates/action-processor/src/geometry/area_on_area_overlayer.rs
  worker/crates/action-processor/src/geometry/dissolver.rs
  worker/crates/action-processor/src/geometry/line_on_line_overlayer.rs
  worker/crates/action-processor/src/geometry/refiner.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/graphs/surface_validator_2d.yml
  worker/examples/plateau/testdata/workflow/quality-check/05-luse-urf/workflow.yml
Labels: worker

#519 chore(worker): modify README
  worker/README.md
  worker/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
Labels: worker

#445 feat(worker): Sink mvt
  schema/actions.json
  worker/Cargo.lock
  worker/crates/action-sink/Cargo.toml
  worker/crates/action-sink/src/file.rs
  worker/crates/action-sink/src/file/mvt.rs
  worker/crates/action-sink/src/file/vector_tile.rs
  worker/crates/action-sink/src/mapping.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/docs/mdbook/src/action.md
  worker/examples/plateau/testdata/workflow/mvt.yml
Labels: worker

#497 feat(worker): Add add_feature to metadata
  worker/crates/action-processor/src/feature/reader/citygml.rs
  worker/crates/action-sink/src/file/cesium3dtiles.rs
  worker/crates/action-sink/src/file/types/metadata.rs
  worker/crates/action-source/src/file/reader/citygml.rs
  worker/examples/plateau/testdata/workflow/cesium_3d_tiles.yml
Labels: worker

#523 chore(engine): bump external crates for engine
  engine/Cargo.lock
  engine/Cargo.toml
  engine/README.md
  engine/runtime/action-log/Cargo.toml
  engine/runtime/action-plateau-processor/Cargo.toml
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-source/Cargo.toml
  engine/runtime/common/Cargo.toml
  engine/runtime/eval-expr/Cargo.toml
  engine/runtime/examples/Cargo.toml
  engine/runtime/examples/plateau/max_lod_extractor.rs
  engine/runtime/examples/plateau/testdata/workflow/attribute_flatterner.yml
  engine/runtime/examples/plateau/testdata/workflow/attribute_reader.yml
  engine/runtime/examples/plateau/testdata/workflow/bounds_extractor.yml
  engine/runtime/examples/plateau/testdata/workflow/building_proccessor.yml
  engine/runtime/examples/plateau/testdata/workflow/cesium_3d_tiles.yml
  engine/runtime/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  engine/runtime/examples/plateau/testdata/workflow/example_citygml.yml
  engine/runtime/examples/plateau/testdata/workflow/example_feature_creator.yml
  engine/runtime/examples/plateau/testdata/workflow/example_feature_transformer.yml
  engine/runtime/examples/plateau/testdata/workflow/geometry_refiner.yml
  engine/runtime/examples/plateau/testdata/workflow/gltf_tiles.yml
  engine/runtime/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
  engine/runtime/examples/plateau/testdata/workflow/max_lod_extract.yml
  engine/runtime/examples/plateau/testdata/workflow/mvt.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/01-common/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/02-bldg/solid_phase_consistency_validation.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/02-bldg/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/05-luse-urf/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/simple_workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/xml_validator.yml
  engine/runtime/geometry/Cargo.toml
  engine/runtime/macros/Cargo.toml
  engine/runtime/runner/Cargo.toml
  engine/runtime/runtime/Cargo.toml
  engine/runtime/state/Cargo.toml
  engine/runtime/storage/Cargo.toml
  engine/runtime/storage/src/operator.rs
  engine/runtime/telemetry/Cargo.toml
  engine/runtime/tests/Cargo.toml
  engine/runtime/tests/fixture/workflow/feature/merger.yaml
  engine/runtime/types/Cargo.toml
Labels: engine

#464 chore(api): fix always-false condition and format code
  api/internal/adapter/gql/resolver.go
  api/internal/adapter/gql/resolver_mutation_project.go
  api/internal/adapter/http/user.go
  api/internal/app/app.go
  api/internal/app/auth_client.go
  api/internal/app/config/config.go
  api/internal/app/tracer.go
  api/internal/infrastructure/auth0/authenticator.go
  api/internal/usecase/interactor/common.go
  api/internal/usecase/interactor/usecase_test.go
  api/internal/usecase/interfaces/asset.go
  api/internal/usecase/repo/container.go
  api/pkg/asset/id.go
  api/pkg/id/id.go
  api/pkg/project/builder_test.go
  api/pkg/project/id.go
  api/pkg/project/project.go
  api/pkg/workflow/id.go
Labels: api

#505 feat(websocket): add local storage support for snapshots
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/crates/domain/src/snapshot.rs
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/persistence/local_storage/local_client.rs
  websocket/crates/infra/src/persistence/local_storage/mod.rs
  websocket/crates/infra/src/persistence/mod.rs
  websocket/crates/infra/src/persistence/project_repository.rs
Labels: websocket

#526 chore(ui): Deps upgrade
  ui/package.json
  ui/src/routeTree.gen.ts
  ui/yarn.lock
Labels: ui

#527 chore(ui): Account Dialog bug fix:
  ui/src/features/TopNavigation/components/AccountUpdateDialog.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#529 feat(engine): enhance LineOnLineOverlayer to support geometry feature…
  engine/runtime/action-processor/src/geometry/line_on_line_overlayer.rs
Labels: engine

#530 feat(engine): add zstd compression support for geometry attributes
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/action-processor/src/geometry/extractor.rs
  engine/runtime/action-processor/src/geometry/replacer.rs
  engine/runtime/common/Cargo.toml
  engine/runtime/common/src/compress.rs
  engine/runtime/common/src/lib.rs
  engine/runtime/common/src/str.rs
  engine/runtime/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
Labels: engine

#531 feat(engine): change module visibility to crate-level for action proc…
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/attribute.rs
  engine/runtime/action-processor/src/feature.rs
  engine/runtime/action-processor/src/feature/list_exploder.rs
  engine/runtime/action-processor/src/feature/mapping.rs
  engine/runtime/action-processor/src/file.rs
  engine/runtime/action-processor/src/geometry.rs
  engine/runtime/action-processor/src/geometry/line_on_line_overlayer.rs
  engine/runtime/action-processor/src/geometry/splitter.rs
  engine/runtime/action-processor/src/lib.rs
  engine/runtime/action-processor/src/xml.rs
  engine/runtime/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
  engine/runtime/types/src/feature.rs
  engine/schema/actions.json
Labels: engine

#532 feat(engine): add methods to convert feature attributes to map and create context from node
  engine/runtime/action-processor/src/geometry/area_on_area_overlayer.rs
  engine/runtime/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
  engine/runtime/runtime/src/executor_operation.rs
  engine/runtime/types/src/feature.rs
Labels: engine

#534 feat(engine): optimize feature merging and update workflow for area overlap processing
  engine/runtime/action-processor/src/feature/merger.rs
  engine/runtime/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
Labels: engine

#535 feat(engine): refactor workflow actions to remove Noop actions and enhance result file creation
  engine/runtime/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
Labels: engine

#536 ci: update working directory paths for plateau-gis-quality-checker
  .github/workflows/release_quality_checker.yaml
Labels: cicd

#533 fix(websocket): use thiserror replace box err fix thread safety
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/crates/domain/Cargo.toml
  websocket/crates/domain/src/project.rs
  websocket/crates/domain/src/repository.rs
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/persistence/gcs/gcs_client.rs
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/infra/src/persistence/redis/flow_project_lock.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
  websocket/crates/infra/src/persistence/redis/redis_client.rs
Labels: websocket, engine

#537 ci(api, ui): fix build deploy actions:
  .github/actions/build_deploy_api/action.yml
  .github/actions/build_deploy_ui/action.yml
  .github/workflows/build_deploy_api.yml
  .github/workflows/build_deploy_ui.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_api_nightly.yml
  .github/workflows/deploy_ui_nightly.yml
Labels: ui, cicd

#538 fix: ui docker nginx config
  ui/.dockerignore
  ui/Dockerfile
  ui/docker/40-envsubst-on-reearth_config.sh
  ui/docker/nginx.conf
  ui/docker/reearth_config.json.tmpl
  ui/nginx.conf
  ui/start.sh
Labels: ui

#539 chore(engine): update quality check workflows and adjust UI layout
  engine/plateau-gis-quality-checker/src-tauri/embed/workflows/luse-urf.yml
  engine/plateau-gis-quality-checker/src-tauri/embed/workflows/tran-rwy-trk-squr-wwy.yml
  engine/plateau-gis-quality-checker/src-tauri/icons/128x128.png
  engine/plateau-gis-quality-checker/src-tauri/icons/128x128@2x.png
  engine/plateau-gis-quality-checker/src-tauri/icons/32x32.png
  engine/plateau-gis-quality-checker/src-tauri/icons/Square107x107Logo.png
  engine/plateau-gis-quality-checker/src-tauri/icons/Square142x142Logo.png
  engine/plateau-gis-quality-checker/src-tauri/icons/Square150x150Logo.png
  engine/plateau-gis-quality-checker/src-tauri/icons/Square284x284Logo.png
  engine/plateau-gis-quality-checker/src-tauri/icons/Square30x30Logo.png
  engine/plateau-gis-quality-checker/src-tauri/icons/Square310x310Logo.png
  engine/plateau-gis-quality-checker/src-tauri/icons/Square44x44Logo.png
  engine/plateau-gis-quality-checker/src-tauri/icons/Square71x71Logo.png
  engine/plateau-gis-quality-checker/src-tauri/icons/Square89x89Logo.png
  engine/plateau-gis-quality-checker/src-tauri/icons/StoreLogo.png
  engine/plateau-gis-quality-checker/src-tauri/icons/icon.icns
  engine/plateau-gis-quality-checker/src-tauri/icons/icon.ico
  engine/plateau-gis-quality-checker/src-tauri/icons/icon.png
  engine/plateau-gis-quality-checker/src-tauri/src/handler.rs
  engine/plateau-gis-quality-checker/src/App.tsx
Labels: engine

#540 feat(engine): improve logging functionality and add slow action logger
  engine/plateau-gis-quality-checker/src-tauri/src/main.rs
  engine/plateau-gis-quality-checker/src/App.tsx
  engine/plateau-gis-quality-checker/src/components/Loading/index.tsx
  engine/plateau-gis-quality-checker/src/components/index.ts
  engine/runtime/action-log/src/factory.rs
  engine/runtime/action-log/src/lib.rs
  engine/runtime/runtime/src/executor/processor_node.rs
Labels: engine
