Repository reearth/reearth-flow, pull requests merged in 2024-12, with the labels that each got.

#666 fix(ui): new main workflow added to yDoc on each refresh
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/lib/yjs/useYjsSetup.ts
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/routes/workspaces_.$workspaceId_.projects_.$projectId.lazy.tsx
Labels: ui

#667 chore(engine): update Rust version to 1.83 and adjust Dockerfiles
  engine/Cargo.lock
  engine/Cargo.toml
  engine/Makefile.toml
  engine/clippy.toml
  engine/containers/cli/Dockerfile
  engine/containers/worker/Dockerfile
  engine/runtime/geometry/src/algorithm/coordinate_position.rs
  engine/runtime/geometry/src/algorithm/coords_iter.rs
  engine/runtime/geometry/src/algorithm/euclidean_distance.rs
  engine/runtime/geometry/src/algorithm/euclidean_length.rs
  engine/runtime/geometry/src/algorithm/relate/geomgraph/index/rstar_edge_set_intersector.rs
  engine/runtime/geometry/src/algorithm/sweep/cross.rs
  engine/runtime/geometry/src/algorithm/winding_order.rs
  engine/runtime/geometry/src/types/line_string.rs
  engine/runtime/geometry/src/types/multi_polygon.rs
  engine/runtime/geometry/src/types/polygon.rs
  engine/runtime/runtime/src/dag_schemas.rs
  engine/runtime/telemetry/src/lib.rs
Labels: engine

#668 feat(engine): update plateau-gis-converter dependency to v0.7.0 and add support for Curve geometry type
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/10-wtr/workflow.yml
  engine/runtime/types/src/conversion/nusamai.rs
  engine/runtime/types/src/geometry.rs
Labels: engine

#669 fix(engine): optimize MVTWriter geometry processing and update workflow configurations
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/action-sink/src/file/mvt/slice.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/04-luse-lsld/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/10-wtr/workflow.yml
Labels: engine

#670 feat(api): add language param to User
  api/gql/user.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/convert_user.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_mutation_user.go
Labels: api

#671 feat(ui): add select lang to AccountUpdateDialog
  ui/src/features/WorkspaceTopNavigation/components/AccountUpdateDialog.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/user/queries.graphql
  ui/src/lib/gql/user/useQueries.ts
  ui/src/lib/i18n/Provider.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#673 fix(engine): rename ACTION_LOG_DISABLE to FLOW_RUNTIME_ACTION_LOG_DISABLE and update related logic
  .github/workflows/ci_engine.yml
  engine/runtime/action-log/src/action.rs
  engine/runtime/runtime/src/feature_store.rs
  engine/runtime/tests/helper.rs
Labels: cicd, engine

#674 refactor(ui): add key action support for dialog navigation
  ui/src/components/ActionItem/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
Labels: ui

#672 fix(ui): a few small issues
  ui/src/features/Editor/components/Canvas/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/ReaderNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/TransformerNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/WriterNode.tsx
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/Canvas/useNodes.ts
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/WorkflowTab.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/Editor/useNodeLocker.ts
  ui/src/features/WorkspaceLeftPanel/components/EndSection/components/WorkspaceSettings.tsx
  ui/src/features/WorkspaceSettings/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useWorkflowTabs.test.ts
  ui/src/lib/yjs/useWorkflowTabs.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/types/node.ts
Labels: ui

#676 feat(engine): update example workflow path and enhance error messages…
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/feature/sorter.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/gltf/src/metadata.rs
  engine/runtime/types/src/feature.rs
  engine/schema/actions.json
Labels: engine

#678 chore(engine): add runtime environment variables section to README
  engine/README.md
Labels: engine

#679 fix(ui): Disable Redo & Undo if no actions available
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/lib/yjs/useYjsStore.ts
Labels: ui

#680 fix(engine): update texture handling and change example workflow path
  engine/runtime/action-sink/src/file/cesium3dtiles/slice.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/02-tran-rwy-trk-squr-wwy/workflow.yml
Labels: engine

#677 feat(ui): hook up params editor
  ui/src/components/SchemaForm/index.stories.tsx
  ui/src/components/SchemaForm/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/BaseActionButtons/index.tsx
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/RightPanel/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/WorkflowTab.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/PageWrapper/ProjectId.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useWorkflowTabs.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/lib/yjs/useYjsSetup.ts
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/lib/yjs/utils/workflowBuilder.test.ts
  ui/src/routes/workspaces_.$workspaceId_.projects_.$projectId.lazy.tsx
  ui/src/stores/index.ts
  ui/src/types/node.ts
  ui/src/utils/engineWorkflowYaml/consolidateWorkflows.test.ts
  ui/src/utils/engineWorkflowYaml/convertNodes.test.ts
  ui/src/utils/engineWorkflowYaml/convertNodes.ts
Labels: ui

#682 feat(engine): enhance schema action command with language file support and i18n integration
  engine/Makefile.toml
  engine/cli/src/cli.rs
  engine/cli/src/doc_action.rs
  engine/cli/src/schema_action.rs
  engine/cli/src/utils.rs
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
  engine/schema/i18n/actions/en.json
  engine/schema/i18n/actions/es.json
  engine/schema/i18n/actions/fr.json
  engine/schema/i18n/actions/ja.json
  engine/schema/i18n/actions/zh.json
Labels: engine

#684 fix(ui): Added NodePickerDIalog drag and drop for batch node adding
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
Labels: ui

#685 fix(ui): dropping into batch nodes
  ui/src/features/Editor/components/Canvas/useBatch.ts
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/Canvas/useNodes.ts
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
Labels: ui

#686 fix(ui): copy and pasting batched nodes
  ui/src/features/Editor/useCanvasCopyPaste.ts
Labels: ui

#688 fix(ui): copy pasting subworkflows
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/useCanvasCopyPaste.ts
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/lib/yjs/useYjsStore.ts
Labels: ui

#687 feat(engine): add zip dependency and integrate FeatureCreator action in workflows
  engine/Cargo.lock
  engine/Cargo.toml
  engine/cli/src/doc_action.rs
  engine/cli/src/dot.rs
  engine/cli/src/schema_action.rs
  engine/docs/mdbook/src/action.md
  engine/docs/mdbook/src/get-started.md
  engine/plateau-gis-quality-checker/src-tauri/embed/workflows/common.yml
  engine/plateau-gis-quality-checker/src-tauri/embed/workflows/luse-urf.yml
  engine/plateau-gis-quality-checker/src-tauri/embed/workflows/tran-rwy-trk-squr-wwy.yml
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-processor/src/feature.rs
  engine/runtime/action-processor/src/feature/errors.rs
  engine/runtime/action-processor/src/feature/file_path_extractor.rs
  engine/runtime/action-processor/src/feature/mapping.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/graphs/attribute_reader.yml
  engine/runtime/examples/plateau/testdata/graphs/domain_of_definition_validator.yml
  engine/runtime/examples/plateau/testdata/graphs/folder_and_file_path_reader.yml
  engine/runtime/examples/plateau/testdata/graphs/lod_splitter_with_dm.yml
  engine/runtime/examples/plateau/testdata/graphs/surface_validator_2d.yml
  engine/runtime/examples/plateau/testdata/graphs/xml_validator.yml
  engine/runtime/examples/plateau/testdata/workflow/attribute_reader.yml
  engine/runtime/examples/plateau/testdata/workflow/bounds_extractor.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/01-bldg/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/02-tran-rwy-trk-squr-wwy/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/03-frn-veg/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/04-luse-lsld/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/05-fld/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/06-urf-area/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/07-brid-tun-cons/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/08-ubld/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/10-wtr/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/example_tran_xlink_checker.yml
  engine/runtime/examples/plateau/testdata/workflow/geometry_refiner.yml
  engine/runtime/examples/plateau/testdata/workflow/gltf_tiles.yml
  engine/runtime/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
  engine/runtime/examples/plateau/testdata/workflow/max_lod_extract.yml
  engine/runtime/examples/plateau/testdata/workflow/mvt.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/01-common/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/02-bldg/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/05-luse-urf/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/07-lsld/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/xml_validator.yml
  engine/runtime/examples/plateau/xml_validator.rs
  engine/runtime/runner/src/executor.rs
  engine/runtime/runtime/src/dag_schemas.rs
  engine/runtime/runtime/src/node.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
  engine/schema/i18n/actions/en.json
  engine/schema/i18n/actions/es.json
  engine/schema/i18n/actions/fr.json
  engine/schema/i18n/actions/ja.json
  engine/schema/i18n/actions/zh.json
Labels: engine

#689 fix(engine): remove unused routing ports from actions and update asset download logic
  engine/docs/mdbook/src/action.md
  engine/runtime/runtime/src/node.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
  engine/worker/src/asset.rs
  engine/worker/src/types/metadata.rs
Labels: engine

#690 feat(engine): implement NoopPubSub backend and refactor CloudPubSub integration
  engine/worker/README.md
  engine/worker/src/command.rs
  engine/worker/src/pubsub.rs
  engine/worker/src/pubsub/backend.rs
  engine/worker/src/pubsub/backend/google.rs
  engine/worker/src/pubsub/backend/noop.rs
Labels: engine

#696 refactor(ui): aligned closer with batch node and text size from 14px …
  ui/src/features/Editor/components/Canvas/components/Nodes/NoteNode/index.tsx
Labels: ui

#697 fix(ui): Select shows items in the list, small gap fixes for icons, d…
  ui/src/components/SchemaForm/Templates/ArrayFieldItemTemplate.tsx
  ui/src/components/SchemaForm/Widgets/SelectWidget.tsx
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
Labels: ui

#698 chore(ui): upgrade deps
  ui/package.json
  ui/src/features/KeyboardShortcutDialog/index.tsx
  ui/yarn.lock
Labels: ui

#699 feat(engine): rename PLATEAU actions and modules to PLATEAU3 and reorganize structure
  engine/docs/mdbook/src/action.md
  engine/docs/mdbook/src/get-started.md
  engine/plateau-gis-quality-checker/src-tauri/embed/workflows/common.yml
  engine/plateau-gis-quality-checker/src-tauri/embed/workflows/luse-urf.yml
  engine/plateau-gis-quality-checker/src-tauri/embed/workflows/tran-rwy-trk-squr-wwy.yml
  engine/runtime/action-plateau-processor/src/lib.rs
  engine/runtime/action-plateau-processor/src/mapping.rs
  engine/runtime/action-plateau-processor/src/plateau3.rs
  engine/runtime/action-plateau-processor/src/plateau3/attribute_flattener.rs
  engine/runtime/action-plateau-processor/src/plateau3/building_installation_geometry_type_extractor.rs
  engine/runtime/action-plateau-processor/src/plateau3/building_usage_attribute_validator.rs
  engine/runtime/action-plateau-processor/src/plateau3/dictionaries_initiator.rs
  engine/runtime/action-plateau-processor/src/plateau3/domain_of_definition_validator.rs
  engine/runtime/action-plateau-processor/src/plateau3/errors.rs
  engine/runtime/action-plateau-processor/src/plateau3/mapping.rs
  engine/runtime/action-plateau-processor/src/plateau3/max_lod_extractor.rs
  engine/runtime/action-plateau-processor/src/plateau3/tran_xlink_checker.rs
  engine/runtime/action-plateau-processor/src/plateau3/types.rs
  engine/runtime/action-plateau-processor/src/plateau3/udx_folder_extractor.rs
  engine/runtime/action-plateau-processor/src/plateau3/unmatched_xlink_detector.rs
  engine/runtime/action-plateau-processor/src/plateau3/utils.rs
  engine/runtime/action-plateau-processor/src/plateau3/xml_attribute_extractor.rs
  engine/runtime/examples/plateau/testdata/graphs/attribute_reader.yml
  engine/runtime/examples/plateau/testdata/graphs/domain_of_definition_validator.yml
  engine/runtime/examples/plateau/testdata/graphs/folder_and_file_path_reader.yml
  engine/runtime/examples/plateau/testdata/graphs/surface_validator_2d.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/01-bldg/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  engine/runtime/examples/plateau/testdata/workflow/example_tran_xlink_checker.yml
  engine/runtime/examples/plateau/testdata/workflow/gltf_tiles.yml
  engine/runtime/examples/plateau/testdata/workflow/max_lod_extract.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/01-common/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/02-bldg/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/03-tran-rwy-trk-squr-wwy/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/xml_validator.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
  engine/schema/i18n/actions/en.json
  engine/schema/i18n/actions/es.json
  engine/schema/i18n/actions/fr.json
  engine/schema/i18n/actions/ja.json
  engine/schema/i18n/actions/zh.json
Labels: engine

#700 fix(ui): minWidth + height added for note resize.
  ui/src/features/Editor/components/Canvas/components/Nodes/NoteNode/index.tsx
Labels: ui

#701 fix(ui): minwidth/height inherit added for textarea
  ui/src/features/Editor/components/Canvas/components/Nodes/NoteNode/index.tsx
Labels: ui

#702 chore(engine): bump dependencies
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/examples/plateau/testdata/workflow/gltf_tiles.yml
Labels: engine

#703 chore(engine): update rhai dependency to version 1.20.1
  engine/Cargo.lock
  engine/Cargo.toml
Labels: engine

#704 fix(ui): removed dnd edge nodes without inputs & outputs
  ui/src/features/Editor/components/Canvas/useNodes.ts
Labels: ui

#691 fix(ui): add nodes on resize of a batch node.
  ui/src/features/Editor/components/Canvas/components/Nodes/BatchNode/index.tsx
Labels: ui

#707 ci(api): fix ci api mongo port
  .github/workflows/ci_api.yml
Labels: cicd

#705 feat(api): support project params
  api/e2e/common.go
  api/e2e/gql_deployment_test.go
  api/e2e/gql_param_test.go
  api/e2e/gql_project_test.go
  api/e2e/gql_user_test.go
  api/gql/_shared.graphql
  api/gql/asset.graphql
  api/gql/deployment.graphql
  api/gql/parameter.graphql
  api/gql/project.graphql
  api/gql/user.graphql
  api/gql/workspace.graphql
  api/gqlgen.yml
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/convert_parameter.go
  api/internal/adapter/gql/gqlmodel/models.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_mutation_parameter.go
  api/internal/adapter/gql/resolver_mutation_project.go
  api/internal/adapter/gql/resolver_project.go
  api/internal/infrastructure/memory/parameter.go
  api/internal/infrastructure/mongo/container.go
  api/internal/infrastructure/mongo/mongodoc/parameter.go
  api/internal/infrastructure/mongo/mongodoc/parameter_test.go
  api/internal/infrastructure/mongo/parameter.go
  api/internal/usecase/interactor/common.go
  api/internal/usecase/interactor/parameter.go
  api/internal/usecase/interactor/parameter_test.go
  api/internal/usecase/interfaces/common.go
  api/internal/usecase/interfaces/parameter.go
  api/internal/usecase/repo/container.go
  api/internal/usecase/repo/parameter.go
  api/pkg/id/id.go
  api/pkg/parameter/builder.go
  api/pkg/parameter/id.go
  api/pkg/parameter/parameter.go
  api/pkg/parameter/parameter_list.go
Labels: api

#709 feat(engine): add plateau4 module and UDXFolderExtractor processor
  engine/docs/mdbook/src/action.md
  engine/runtime/action-plateau-processor/src/lib.rs
  engine/runtime/action-plateau-processor/src/mapping.rs
  engine/runtime/action-plateau-processor/src/plateau3.rs
  engine/runtime/action-plateau-processor/src/plateau3/mapping.rs
  engine/runtime/action-plateau-processor/src/plateau4.rs
  engine/runtime/action-plateau-processor/src/plateau4/errors.rs
  engine/runtime/action-plateau-processor/src/plateau4/mapping.rs
  engine/runtime/action-plateau-processor/src/plateau4/udx_folder_extractor.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#710 fix(api): reinstate deployment in project schema
  api/gql/project.graphql
Labels: api

#711 refactor(api): move metadata with modularity
  api/internal/adapter/gql/gqlmodel/convert_deployment.go
  api/internal/app/repo.go
  api/internal/infrastructure/fs/file.go
  api/internal/infrastructure/gcpbatch/batch.go
  api/internal/infrastructure/gcpbatch/batch_test.go
  api/internal/infrastructure/gcs/file.go
  api/internal/infrastructure/mongo/mongodoc/deployment.go
  api/internal/infrastructure/mongo/mongodoc/job.go
  api/internal/usecase/gateway/batch.go
  api/internal/usecase/gateway/file.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interactor/project.go
  api/pkg/deployment/builder.go
  api/pkg/deployment/deployment.go
  api/pkg/job/builder.go
  api/pkg/job/job.go
  api/pkg/workflow/metadata.go
Labels: api

#712 fix(ui): yaml->yml
  ui/src/utils/yamlToFormData.test.ts
  ui/src/utils/yamlToFormData.ts
Labels: ui

#683 feat(ui): subworkflow compatibility with worker
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/Canvas/components/CustomEdge.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/SubworkflowNode.tsx
  ui/src/features/Editor/components/Canvas/useCreateNode.ts
  ui/src/features/Editor/components/Canvas/useNodes.ts
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Infobar/index.tsx
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/useCanvasCopyPaste.ts
  ui/src/global-constants.ts
  ui/src/lib/yjs/useWorkflowTabs.test.ts
  ui/src/lib/yjs/useWorkflowTabs.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/lib/yjs/utils/workflowBuilder.test.ts
  ui/src/types/node.ts
  ui/src/utils/engineWorkflowYaml/convertNodes.test.ts
  ui/src/utils/engineWorkflowYaml/convertNodes.ts
  ui/src/utils/engineWorkflowYaml/createSubGraphs.test.ts
Labels: ui

#715 feat(api): uuid job id and refactors
  api/internal/adapter/gql/gqlmodel/convert_deployment.go
  api/internal/adapter/gql/loader_job.go
  api/internal/app/auth_client.go
  api/internal/app/auth_server_test.go
  api/internal/app/config/config.go
  api/internal/app/repo.go
  api/internal/infrastructure/gcpbatch/batch.go
  api/internal/infrastructure/gcs/file.go
  api/internal/infrastructure/memory/job.go
  api/internal/infrastructure/mongo/container.go
  api/internal/infrastructure/mongo/job.go
  api/internal/usecase/interactor/common.go
  api/internal/usecase/repo/container.go
  api/pkg/id/id.go
  api/pkg/id/job_id.go
  api/pkg/id/job_id_test.go
Labels: api

#713 fix(ui): close for successful submission and no params message
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/RightPanel/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#714 chore(ui): replace randomId with uuid
  ui/package.json
  ui/src/features/Editor/components/Canvas/useCreateNode.ts
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/useCanvasCopyPaste.ts
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/utils/engineWorkflowYaml/consolidateWorkflows.test.ts
  ui/src/utils/engineWorkflowYaml/consolidateWorkflows.ts
  ui/src/utils/engineWorkflowYaml/convertEdges.test.ts
  ui/src/utils/engineWorkflowYaml/convertEdges.ts
  ui/src/utils/generateUUID.test.ts
  ui/src/utils/generateUUID.ts
  ui/src/utils/index.ts
  ui/src/utils/randomID.test.ts
  ui/src/utils/randomID.ts
  ui/yarn.lock
Labels: ui

#717 fix(ui): selection issue around batching
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Canvas/useBatch.ts
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/Canvas/useNodes.ts
Labels: ui

#718 chore(engine): rename maxLod to upToLod and remove unused properties
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/geometry/lod_filter.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#719 chore(api): support HEAD method for served File and metadata endpoint
  api/internal/app/file.go
  api/internal/infrastructure/fs/file.go
  api/internal/infrastructure/gcs/file.go
  api/internal/usecase/gateway/file.go
Labels: api

#720 fix(ui): entryGraphId should be a UUID
  ui/src/utils/engineWorkflowYaml/consolidateWorkflows.test.ts
  ui/src/utils/engineWorkflowYaml/consolidateWorkflows.ts
Labels: ui

#723 fix(ui): prettier consolidateworkflow
  ui/src/utils/engineWorkflowYaml/consolidateWorkflows.test.ts
  ui/src/utils/engineWorkflowYaml/consolidateWorkflows.ts
Labels: ui

#722 fix(ui): temp fix added for rjsf schema anyof type.
  ui/src/components/SchemaForm/Templates/ArrayFieldItemTemplate.tsx
  ui/src/components/SchemaForm/patchSchemaTypes.ts
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
Labels: ui

#725 fix(ui): conversion of workflows
  ui/src/utils/engineWorkflowYaml/convertNodes.test.ts
  ui/src/utils/engineWorkflowYaml/convertNodes.ts
Labels: ui

#726 fix(ui, api): entrygraphId & subgraph entry id should be same and no pub-sub for now
  ui/src/utils/engineWorkflowYaml/consolidateWorkflows.test.ts
  ui/src/utils/engineWorkflowYaml/consolidateWorkflows.ts
Labels: ui

#724 feat(api): subscription support for job status
  api/gql/deployment.graphql
  api/gqlgen.yml
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_subscription.go
  api/internal/infrastructure/gcpbatch/batch.go
  api/internal/usecase/interactor/common.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interactor/job.go
  api/internal/usecase/interfaces/job.go
Labels: api

#728 feat(api): multi lang support for actions
  api/internal/app/actions.go
  api/internal/app/actions_test.go
  api/internal/app/app.go
Labels: api

#729 feat(engine): add MaxLodExtractor processor and update related schemas
  engine/docs/mdbook/src/action.md
  engine/runtime/action-plateau-processor/src/plateau4.rs
  engine/runtime/action-plateau-processor/src/plateau4/errors.rs
  engine/runtime/action-plateau-processor/src/plateau4/mapping.rs
  engine/runtime/action-plateau-processor/src/plateau4/max_lod_extractor.rs
  engine/runtime/examples/plateau/testdata/graphs/plateau4/folder_and_file_path_reader.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#730 fix(api): actions with lang not cached properly
  api/internal/app/actions.go
  api/internal/app/actions_test.go
Labels: api

#732 feat(engine): update example feature transformer path and enhance error logging in forwarder
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/attribute/aggregator.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/graphs/plateau4/folder_and_file_path_reader.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/runtime/runtime/src/forwarder.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#733 feat(engine): enhance feature extraction and update workflow configuration with new actions
  engine/runtime/action-processor/src/feature/file_path_extractor.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/01-bldg/workflow.yml
Labels: engine

#734 feat(engine): add AttributeFlattener and LodFilter modules, update error handling and workflow configuration
  engine/docs/mdbook/src/action.md
  engine/runtime/action-plateau-processor/src/plateau4.rs
  engine/runtime/action-plateau-processor/src/plateau4/attribute_flattener.rs
  engine/runtime/action-plateau-processor/src/plateau4/errors.rs
  engine/runtime/action-plateau-processor/src/plateau4/mapping.rs
  engine/runtime/action-processor/src/feature.rs
  engine/runtime/action-processor/src/feature/errors.rs
  engine/runtime/action-processor/src/feature/lod_filter.rs
  engine/runtime/action-processor/src/feature/mapping.rs
  engine/runtime/action-processor/src/geometry.rs
  engine/runtime/action-processor/src/geometry/filter.rs
  engine/runtime/action-processor/src/geometry/lod_filter.rs
  engine/runtime/action-processor/src/geometry/mapping.rs
  engine/runtime/action-processor/src/geometry/planarity_filter.rs
  engine/runtime/action-processor/src/geometry/value_filter.rs
  engine/runtime/action-processor/src/tests/utils.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine
