Repository reearth/reearth-flow, pull requests merged in 2024-11, with the labels that each got.

#605 feat(ui): update deployment support
  api/internal/usecase/interactor/deployment.go
  ui/codegen.ts
  ui/eslint.config.mjs
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/components/DeployDialog.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/PageWrapper/ProjectId.tsx
  ui/src/features/Runs/components/NewRun.tsx
  ui/src/features/WorkspaceProjects/components/ProjectDeletionDialog.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings/components/WorkspaceDeletionDialog.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/convert.ts
  ui/src/lib/gql/deployment/queries.graphql
  ui/src/lib/gql/deployment/useApi.ts
  ui/src/lib/gql/deployment/useQueries.ts
  ui/src/lib/gql/fragment.graphql
  ui/src/lib/gql/job/queries.graphql
  ui/src/lib/gql/job/useQueries.ts
  ui/src/lib/gql/project/queries.graphql
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/project/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/types/deployment.ts
  ui/src/types/project.ts
Labels: ui, api

#606 chore(engine): update dependencies in Cargo.toml to latest versions
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/storage/src/storage.rs
  engine/runtime/storage/src/storage_sync.rs
Labels: engine

#607 feat(engine): add artifactRootUrl to metadata schema and update related structures
  engine/runtime/action-source/src/file/path_extractor.rs
  engine/runtime/common/src/dir.rs
  engine/schema/metadata.json
  engine/worker/src/types/metadata.rs
Labels: engine

#608 feat(engine): add async_zip dependency and enhance error handling in file operations
  engine/Cargo.lock
  engine/runtime/action-source/src/errors.rs
  engine/runtime/action-source/src/file/path_extractor.rs
  engine/runtime/common/Cargo.toml
  engine/runtime/common/src/dir.rs
  engine/runtime/common/src/fs.rs
  engine/worker/src/asset.rs
  engine/worker/src/command.rs
  engine/worker/src/errors.rs
Labels: engine

#609 feat(engine): add chrono dependency and enhance file handling in fs module
  engine/Cargo.lock
  engine/runtime/common/Cargo.toml
  engine/runtime/common/src/fs.rs
Labels: engine

#589 fix(websocket): blocking operation within an asynchronous context
  .gitignore
  websocket/.DS_Store
  websocket/.gitignore
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/app/Cargo.toml
  websocket/app/src/bin/main.rs
  websocket/app/src/handler.rs
  websocket/app/src/lib.rs
  websocket/app/src/services.rs
  websocket/app/src/state.rs
  websocket/crates/domain/Cargo.toml
  websocket/crates/domain/src/editing_session.rs
  websocket/crates/domain/src/lib.rs
  websocket/crates/domain/src/project.rs
  websocket/crates/domain/src/repository.rs
  websocket/crates/domain/src/types/data.rs
  websocket/crates/domain/src/types/mod.rs
  websocket/crates/domain/src/types/project.rs
  websocket/crates/domain/src/types/snapshot.rs
  websocket/crates/domain/src/types/user.rs
  websocket/crates/domain/src/utils.rs
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/infra/src/persistence/redis/connection.rs
  websocket/crates/infra/src/persistence/redis/default_key_manager.rs
  websocket/crates/infra/src/persistence/redis/errors.rs
  websocket/crates/infra/src/persistence/redis/flow_project_lock.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
  websocket/crates/infra/src/persistence/redis/keys.rs
  websocket/crates/infra/src/persistence/redis/mod.rs
  websocket/crates/infra/src/persistence/redis/redis_client.rs
  websocket/crates/infra/src/persistence/redis/types.rs
  websocket/crates/infra/src/persistence/redis/updates.rs
  websocket/crates/infra/src/persistence/redis/utils.rs
  websocket/crates/services/Cargo.toml
  websocket/crates/services/examples/edit_session_service.rs
  websocket/crates/services/examples/project_service.rs
  websocket/crates/services/src/error.rs
  websocket/crates/services/src/lib.rs
  websocket/crates/services/src/manage_project_edit_session.rs
  websocket/crates/services/src/project.rs
  websocket/crates/services/src/snapshot.rs
  websocket/crates/services/src/types.rs
Labels: websocket

#613 fix(ui): eslint error
  ui/eslint.config.mjs
  ui/package.json
  ui/yarn.lock
Labels: ui

#612 chore(ui): upgrade deps
  .github/workflows/ci_ui.yml
  ui/.yarn/releases/yarn-4.2.1.cjs
  ui/.yarn/releases/yarn-4.5.1.cjs
  ui/.yarnrc.yml
  ui/package.json
  ui/src/lib/yjs/useWorkflowTabs.ts
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/routeTree.gen.ts
  ui/yarn.lock
Labels: ui, cicd

#610 feat(ui): improve deployment manager
  api/internal/infrastructure/mongo/deployment.go
  ui/src/components/DataTable/index.tsx
  ui/src/components/buttons/BaseButton/index.tsx
  ui/src/features/AuthenticationWrapper/index.tsx
  ui/src/features/ConfirmationDialog/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/components/DeployDialog.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Runs/components/RunDetails.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentDeletionDialog.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentDetails.tsx
  ui/src/features/WorkspaceDeployments/components/index.ts
  ui/src/features/WorkspaceDeployments/hooks.ts
  ui/src/features/WorkspaceDeployments/index.tsx
  ui/src/features/WorkspaceProjects/components/ProjectDeletionDialog.tsx
  ui/src/features/WorkspaceRuns/components/NewRun.tsx
  ui/src/features/WorkspaceRuns/components/RunDetails.tsx
  ui/src/features/WorkspaceRuns/components/RunsTable.tsx
  ui/src/features/WorkspaceRuns/components/StatusContent.tsx
  ui/src/features/WorkspaceRuns/components/index.ts
  ui/src/features/WorkspaceRuns/components/styles.css
  ui/src/features/WorkspaceRuns/hooks.ts
  ui/src/features/WorkspaceRuns/index.tsx
  ui/src/features/WorkspaceTopNavigation/components/AccountNavigation.tsx
  ui/src/features/common/DetailsBox.tsx
  ui/src/features/common/index.ts
  ui/src/hooks/index.ts
  ui/src/lib/gql/deployment/useApi.ts
  ui/src/lib/gql/deployment/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/routeTree.gen.ts
  ui/src/routes/__root.tsx
  ui/src/routes/workspaces.$workspaceId.lazy.tsx
  ui/src/routes/workspaces.$workspaceId.tsx
  ui/src/routes/workspaces.$workspaceId_.deployments.$tab.tsx
  ui/src/routes/workspaces.$workspaceId_.runs.$tab.lazy.tsx
  ui/src/routes/workspaces.$workspaceId_.runs.$tab.tsx
  ui/src/routes/workspaces.$workspaceId_.settings.$tab.lazy.tsx
  ui/src/routes/workspaces.$workspaceId_.settings.$tab.tsx
  ui/src/routes/workspaces.tsx
  ui/src/utils/index.ts
  ui/src/utils/lastOfUrl.ts
  ui/src/utils/openLinkInNewTab.ts
Labels: ui, api

#614 feat(engine): add walkdir dependency and implement artifact upload functionality
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/runner/src/runner.rs
  engine/worker/Cargo.toml
  engine/worker/src/artifact.rs
  engine/worker/src/command.rs
  engine/worker/src/errors.rs
  engine/worker/src/main.rs
Labels: engine

#616 feat(ui): use maplibre instead of cesium for 2d preview
  ui/package.json
  ui/src/components/DataTable/index.tsx
  ui/src/components/Table/index.tsx
  ui/src/components/TwoDMap/index.tsx
  ui/src/components/index.ts
  ui/src/features/Editor/components/BottomPanel/components/DataTable/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/Map/index.tsx
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/yarn.lock
Labels: ui

#615 feat(websocket): use edit_session_service in msg handler
  websocket/app/src/errors.rs
  websocket/app/src/handler.rs
  websocket/app/src/room.rs
  websocket/app/src/state.rs
  websocket/crates/domain/src/editing_session.rs
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/infra/src/persistence/redis/default_key_manager.rs
  websocket/crates/infra/src/persistence/redis/errors.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
  websocket/crates/infra/src/persistence/redis/keys.rs
  websocket/crates/infra/src/persistence/redis/updates.rs
  websocket/crates/services/examples/edit_session_service.rs
  websocket/crates/services/src/lib.rs
  websocket/crates/services/src/manage_project_edit_session.rs
  websocket/crates/services/src/project.rs
  websocket/crates/services/src/types.rs
Labels: websocket

#617 feat(logging): add JSON logging support and include tracing-serde dependency
  engine/Cargo.lock
  engine/Cargo.toml
  engine/worker/src/logger.rs
Labels: engine

#619 feat(engine): replace nusamai_mvt with tinymvt for tile ID handling and update dependencies
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/tiling/tree.rs
  engine/runtime/action-sink/src/file/mvt.rs
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/action-sink/src/file/mvt/slice.rs
  engine/runtime/action-sink/src/file/mvt/tags.rs
  engine/runtime/action-sink/src/file/mvt/tileid.rs
Labels: engine

#620 feat(engine): integrate async-trait and enhance event logging functionality
  engine/Cargo.lock
  engine/cli/src/run.rs
  engine/plateau-gis-quality-checker/src-tauri/src/handler.rs
  engine/runtime/action-log/src/lib.rs
  engine/runtime/action-processor/src/echo.rs
  engine/runtime/action-processor/src/feature/filter.rs
  engine/runtime/action-processor/src/feature/merger.rs
  engine/runtime/action-processor/src/tests/utils.rs
  engine/runtime/action-sink/src/echo.rs
  engine/runtime/action-source/src/file/path_extractor.rs
  engine/runtime/examples/plateau/helper.rs
  engine/runtime/runner/Cargo.toml
  engine/runtime/runner/src/executor.rs
  engine/runtime/runner/src/lib.rs
  engine/runtime/runner/src/log_event_handler.rs
  engine/runtime/runner/src/orchestrator.rs
  engine/runtime/runner/src/runner.rs
  engine/runtime/runtime/src/builder_dag.rs
  engine/runtime/runtime/src/error_manager.rs
  engine/runtime/runtime/src/event.rs
  engine/runtime/runtime/src/executor/dag_executor.rs
  engine/runtime/runtime/src/executor/execution_dag.rs
  engine/runtime/runtime/src/executor/processor_node.rs
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/runtime/runtime/src/executor/source_node.rs
  engine/runtime/runtime/src/executor_operation.rs
  engine/runtime/runtime/src/forwarder.rs
  engine/runtime/runtime/src/lib.rs
  engine/runtime/runtime/src/node.rs
  engine/runtime/tests/helper.rs
  engine/worker/src/command.rs
Labels: engine

#618 fix(websocket): update Redis lock handler for better concurrency control
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/app/Cargo.toml
  websocket/app/src/errors.rs
  websocket/app/src/handler.rs
  websocket/app/src/state.rs
  websocket/crates/domain/Cargo.toml
  websocket/crates/domain/src/lib.rs
  websocket/crates/domain/src/utils.rs
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/lib.rs
  websocket/crates/infra/src/persistence/editing_session.rs
  websocket/crates/infra/src/persistence/mod.rs
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/infra/src/persistence/redis/connection.rs
  websocket/crates/infra/src/persistence/redis/errors.rs
  websocket/crates/infra/src/persistence/redis/flow_project_lock.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
  websocket/crates/infra/src/persistence/redis/mod.rs
  websocket/crates/infra/src/persistence/redis/redis_client.rs
  websocket/crates/infra/src/persistence/redis/types.rs
  websocket/crates/infra/src/persistence/redis/updates.rs
  websocket/crates/infra/src/persistence/redis/utils.rs
  websocket/crates/infra/src/persistence/repository.rs
  websocket/crates/infra/src/types/mod.rs
  websocket/crates/infra/src/types/project.rs
  websocket/crates/infra/src/types/snapshot.rs
  websocket/crates/infra/src/types/user.rs
  websocket/crates/infra/src/utils.rs
  websocket/crates/services/Cargo.toml
  websocket/crates/services/examples/edit_session_service.rs
  websocket/crates/services/examples/project_service.rs
  websocket/crates/services/src/error.rs
  websocket/crates/services/src/manage_project_edit_session.rs
  websocket/crates/services/src/project.rs
Labels: websocket

#621 feat(websocket): implement snapshot version control
  websocket/.DS_Store
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/persistence/editing_session.rs
  websocket/crates/infra/src/persistence/event_handler.rs
  websocket/crates/infra/src/persistence/mod.rs
  websocket/crates/infra/src/types/mod.rs
  websocket/crates/infra/src/types/project.rs
  websocket/crates/infra/src/types/snapshot.rs
  websocket/crates/infra/src/types/workspace.rs
  websocket/crates/services/examples/project_service.rs
  websocket/crates/services/src/project.rs
Labels: websocket

#623 feat(engine): update workflow and remove deprecated actions in YAML configurations
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/slice.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/graphs/attribute_reader.yml
  engine/runtime/examples/plateau/testdata/graphs/lod_splitter_with_dm.yml
  engine/runtime/examples/plateau/testdata/workflow/building_proccessor.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/02-tran-rwy-trk-squr-wwy/workflow.yml
Labels: engine

#622 refactor(ui): remove reearth core and cesium as dependencies in favour of maplibre
  ui/package.json
  ui/src/components/TwoDMap/index.tsx
  ui/src/components/index.ts
  ui/src/components/visualizations/Map/index.tsx
  ui/src/components/visualizations/index.ts
  ui/src/components/visualizations/supportedVisualizations.ts
  ui/src/features/Editor/components/BottomPanel/components/BaseActionButtons/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/Contents/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/LogsConsole/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/Map/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/index.ts
  ui/src/features/Editor/components/BottomPanel/hooks.tsx
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/WorkspaceRuns/components/RunDetails.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#624 feat(engine): add MvtWriterFactory error and update workflow configurations for MVT processing
  engine/runtime/action-sink/src/errors.rs
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/02-tran-rwy-trk-squr-wwy/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/04-luse-lsld/workflow.yml
Labels: engine

#625 chore(engine): update .gitignore to include metadata.json and remove obsolete metadata.json file
  engine/.gitignore
  engine/metadata.json
Labels: engine

#626 feat(websocket): add storage selection feature to enhance flexibility
  websocket/.DS_Store
  websocket/.gitignore
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/app/Cargo.toml
  websocket/app/src/errors.rs
  websocket/app/src/state.rs
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/persistence/gcs/gcs_client.rs
  websocket/crates/infra/src/persistence/mod.rs
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
  websocket/crates/services/Cargo.toml
  websocket/crates/services/examples/edit_session_service.rs
  websocket/crates/services/examples/project_service.rs
Labels: websocket

#628 feat(engine): enhance Cesium3DTilesWriter with compiled parameters and improve buffer handling
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/04-luse-lsld/workflow.yml
Labels: engine

#627 fix(ui): several fixes
  ui/package.json
  ui/src/features/Editor/components/RightPanel/index.tsx
  ui/src/features/WorkspaceProjects/index.tsx
  ui/src/index.css
  ui/yarn.lock
Labels: ui

#631 chore(engine): update folder and file path reader names and add new data conversion workflow
  engine/runtime/examples/plateau/testdata/graphs/folder_and_file_path_reader.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/04-luse-lsld/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/05-fld/workflow.yml
Labels: engine

#633 feat(engine): update workflow and enhance attribute handling in metadata and feature processing
  engine/runtime/action-sink/src/file/cesium3dtiles/metadata.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/slice.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/01-bldg/workflow.yml
  engine/runtime/types/src/attribute.rs
  engine/runtime/types/src/feature.rs
Labels: engine

#634 feat(ui): move subworkflow add button
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/Canvas/useNodes.ts
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useYWorkflow.ts
Labels: ui

#635 feat(engine): introduce metadata module and enhance geometry handling
  engine/runtime/action-processor/src/feature/reader/citygml.rs
  engine/runtime/action-processor/src/geometry/area_on_area_overlayer.rs
  engine/runtime/action-processor/src/geometry/bounds_extractor.rs
  engine/runtime/action-processor/src/geometry/bufferer.rs
  engine/runtime/action-processor/src/geometry/center_point_replacer.rs
  engine/runtime/action-processor/src/geometry/city_gml_geometry_lod_filter.rs
  engine/runtime/action-processor/src/geometry/clipper.rs
  engine/runtime/action-processor/src/geometry/closed_curve_filter.rs
  engine/runtime/action-processor/src/geometry/coercer.rs
  engine/runtime/action-processor/src/geometry/coordinate_system_setter.rs
  engine/runtime/action-processor/src/geometry/dimension_filter.rs
  engine/runtime/action-processor/src/geometry/dissolver.rs
  engine/runtime/action-processor/src/geometry/elevation_extractor.rs
  engine/runtime/action-processor/src/geometry/extractor.rs
  engine/runtime/action-processor/src/geometry/extruder.rs
  engine/runtime/action-processor/src/geometry/filter.rs
  engine/runtime/action-processor/src/geometry/hole_counter.rs
  engine/runtime/action-processor/src/geometry/hole_extractor.rs
  engine/runtime/action-processor/src/geometry/horizontal_reprojector.rs
  engine/runtime/action-processor/src/geometry/line_on_line_overlayer.rs
  engine/runtime/action-processor/src/geometry/orientation_extractor.rs
  engine/runtime/action-processor/src/geometry/planarity_filter.rs
  engine/runtime/action-processor/src/geometry/refiner.rs
  engine/runtime/action-processor/src/geometry/replacer.rs
  engine/runtime/action-processor/src/geometry/splitter.rs
  engine/runtime/action-processor/src/geometry/three_dimension_box_replacer.rs
  engine/runtime/action-processor/src/geometry/three_dimension_rotator.rs
  engine/runtime/action-processor/src/geometry/two_dimension_forcer.rs
  engine/runtime/action-processor/src/geometry/validator.rs
  engine/runtime/action-processor/src/geometry/value_filter.rs
  engine/runtime/action-processor/src/geometry/vertex_remover.rs
  engine/runtime/action-processor/src/geometry/vertical_reprojector.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/slice.rs
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/action-sink/src/file/mvt/slice.rs
  engine/runtime/action-source/src/file/reader/citygml.rs
  engine/runtime/types/src/conversion/geojson.rs
  engine/runtime/types/src/conversion/nusamai.rs
  engine/runtime/types/src/feature.rs
  engine/runtime/types/src/geometry.rs
  engine/runtime/types/src/lib.rs
  engine/runtime/types/src/metadata.rs
Labels: engine

#630 feat(websocket): update function within the merge method
  websocket/.DS_Store
  websocket/app/src/handler.rs
  websocket/app/src/state.rs
  websocket/crates/infra/src/persistence/editing_session.rs
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
  websocket/crates/infra/src/persistence/redis/updates.rs
  websocket/crates/infra/src/persistence/repository.rs
  websocket/crates/infra/src/types/user.rs
  websocket/crates/services/examples/edit_session_service.rs
  websocket/crates/services/examples/project_service.rs
  websocket/crates/services/examples/readme.adoc
  websocket/crates/services/src/manage_project_edit_session.rs
  websocket/crates/services/src/project.rs
Labels: websocket

#637 ci: optimize build space by removing unnecessary software
  .github/workflows/ci_engine.yml
Labels: cicd

#640 feat(engine): update metrics and tracing initialization with new exporters and dependencies
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/telemetry/src/lib.rs
Labels: engine

#639 chore(websocket): bump version
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/README.md
  websocket/app/Cargo.toml
  websocket/app/examples/client.rs
  websocket/app/readme.adoc
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/infra/src/persistence/redis/flow_project_lock.rs
  websocket/crates/infra/src/persistence/redis/updates.rs
  websocket/crates/services/examples/project_service.rs
Labels: websocket

#641 feat(engine): update workflow execution and adjust orientation condition in surface validator
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/graphs/surface_validator_2d.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/07-lsld/workflow.yml
Labels: engine

#643 feat(engine): add LogStreamEvent type and enhance logging with node handle support
  engine/runtime/runner/src/log_event_handler.rs
  engine/runtime/runtime/src/event.rs
  engine/runtime/runtime/src/executor/processor_node.rs
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/schema/log_stream_event.json
  engine/worker/README.md
  engine/worker/src/event_handler.rs
  engine/worker/src/types.rs
  engine/worker/src/types/log_stream_event.rs
Labels: engine

#644 feat(engine): introduce Lod module and enhance feature processing with global parameters
  engine/runtime/action-plateau-processor/src/udx_folder_extractor.rs
  engine/runtime/action-processor/src/attribute/aggregator.rs
  engine/runtime/action-processor/src/attribute/manager.rs
  engine/runtime/action-processor/src/attribute/mapper.rs
  engine/runtime/action-processor/src/attribute/statistics_calculator.rs
  engine/runtime/action-processor/src/feature/filter.rs
  engine/runtime/action-processor/src/feature/merger.rs
  engine/runtime/action-processor/src/feature/reader.rs
  engine/runtime/action-processor/src/feature/reader/citygml.rs
  engine/runtime/action-processor/src/feature/reader/csv.rs
  engine/runtime/action-processor/src/feature/rhai.rs
  engine/runtime/action-processor/src/feature/transformer.rs
  engine/runtime/action-processor/src/geometry/extruder.rs
  engine/runtime/action-processor/src/geometry/splitter.rs
  engine/runtime/action-processor/src/geometry/three_dimension_rotator.rs
  engine/runtime/action-processor/src/xml/fragmenter.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/action-sink/src/file/writer.rs
  engine/runtime/action-source/src/file/reader/citygml.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/graphs/lod_splitter_with_dm.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/02-tran-rwy-trk-squr-wwy/workflow.yml
  engine/runtime/types/src/feature.rs
  engine/runtime/types/src/lib.rs
  engine/runtime/types/src/lod.rs
  engine/runtime/types/src/metadata.rs
Labels: engine

#645 feat(engine): add GeometryLodFilter for filtering geometry by LOD parameters
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/geometry.rs
  engine/runtime/action-processor/src/geometry/errors.rs
  engine/runtime/action-processor/src/geometry/lod_filter.rs
  engine/runtime/action-processor/src/geometry/mapping.rs
  engine/schema/actions.json
Labels: engine

#646 chore(engine): update GeometryLodFilter to allow min_lod of 0 and enhance workflow examples
  engine/runtime/action-processor/src/geometry/lod_filter.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/02-tran-rwy-trk-squr-wwy/workflow.yml
  engine/tools/mvt/index.html
Labels: engine

#648 chore(engine): update plateau-gis-converter dependency to v0.5.2 and modify example workflow
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/07-brid-tun-cons/workflow.yml
Labels: engine

#636 feat(engine): add `WasmRuntimeExecutor` for attributes
  .github/workflows/ci_engine.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/README.md
  engine/containers/cli/Dockerfile
  engine/containers/worker/Dockerfile
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-processor/src/lib.rs
  engine/runtime/action-processor/src/mapping.rs
  engine/runtime/action-processor/src/wasm.rs
  engine/runtime/action-processor/src/wasm/errors.rs
  engine/runtime/action-processor/src/wasm/mapping.rs
  engine/runtime/action-processor/src/wasm/runtime_executor.rs
  engine/runtime/examples/plateau/testdata/workflow/wasm_runtime_executor.yml
  engine/runtime/tests/fixture/testdata/wasm/runtime_executor/attribute_python/expect.json
  engine/runtime/tests/fixture/testdata/wasm/runtime_executor/attribute_python/sample.py
  engine/runtime/tests/fixture/workflow/wasm/runtime_executor/attribute_python.yaml
  engine/runtime/tests/testcase.rs
  engine/runtime/tests/testcase/wasm.rs
  engine/runtime/tests/testcase/wasm/runtime_executor.rs
  engine/schema/actions.json
Labels: cicd, engine

#642 refactor(websocket): reorganize websocket handlers and middleware int…
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/Websocket.Dockerfile
  websocket/app/Cargo.toml
  websocket/app/conf/conf.yaml
  websocket/app/examples/readme.adoc
  websocket/app/examples/room_client.rs
  websocket/app/examples/session_client.rs
  websocket/app/readme.adoc
  websocket/app/src/bin/main.rs
  websocket/app/src/config.rs
  websocket/app/src/errors.rs
  websocket/app/src/handler.rs
  websocket/app/src/handlers/cleanup.rs
  websocket/app/src/handlers/heartbeat.rs
  websocket/app/src/handlers/message_handler.rs
  websocket/app/src/handlers/mod.rs
  websocket/app/src/handlers/room_handler.rs
  websocket/app/src/handlers/socket_handler.rs
  websocket/app/src/handlers/types.rs
  websocket/app/src/lib.rs
  websocket/app/src/middleware.rs
  websocket/app/src/middleware/mod.rs
  websocket/app/src/middleware/trace.rs
  websocket/app/src/room.rs
  websocket/app/src/routes.rs
  websocket/app/src/state.rs
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/infra/src/persistence/redis/errors.rs
  websocket/crates/infra/src/persistence/redis/flow_project_lock.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
  websocket/crates/infra/src/persistence/redis/updates.rs
  websocket/crates/infra/src/persistence/repository.rs
  websocket/crates/infra/src/types/workspace.rs
  websocket/crates/services/examples/edit_session_service.rs
  websocket/crates/services/examples/project_service.rs
  websocket/crates/services/src/manage_project_edit_session.rs
  websocket/crates/services/src/project.rs
Labels: websocket

#653 feat(websocket): add process_state_vector to return diff
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/app/Cargo.toml
  websocket/app/examples/room_client.rs
  websocket/app/examples/session_client.rs
  websocket/app/src/errors.rs
  websocket/app/src/handlers/cleanup.rs
  websocket/app/src/handlers/message_handler.rs
  websocket/app/src/handlers/mod.rs
  websocket/app/src/handlers/room_handler.rs
  websocket/app/src/handlers/socket_handler.rs
  websocket/app/src/handlers/types.rs
  websocket/app/src/lib.rs
  websocket/app/src/state.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
  websocket/crates/infra/src/persistence/redis/updates.rs
  websocket/crates/infra/src/persistence/repository.rs
  websocket/crates/services/examples/edit_session_service.rs
  websocket/crates/services/src/lib.rs
  websocket/crates/services/src/manage_project_edit_session.rs
  websocket/crates/services/src/project.rs
  websocket/crates/services/src/types.rs
Labels: websocket

#656 feat(engine): add GltfWriter module and integrate into action sink
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-sink/src/errors.rs
  engine/runtime/action-sink/src/file.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/gltf.rs
  engine/runtime/action-sink/src/mapping.rs
  engine/runtime/gltf/src/lib.rs
  engine/runtime/gltf/src/writer.rs
  engine/schema/actions.json
Labels: engine

#657 fix(api): changes in action.json reflection on action test
  api/internal/app/actions_test.go
Labels: api

#658 chore(ui): add websocket env var to reearth config temaplate
  ui/docker/reearth_config.json.template
Labels: ui

#659 fix(ui): remove trailing comma from reearth config
  ui/docker/reearth_config.json.template
Labels: ui

#660 ci(ui): cloud run service rename from ui to web
  .github/workflows/build_deploy_ui.yml
Labels: cicd

#661 feat(engine): add transform_offset method to geometry types and update example workflow
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/feature.rs
  engine/runtime/action-processor/src/feature/mapping.rs
  engine/runtime/action-processor/src/feature/type_filter.rs
  engine/runtime/action-processor/src/geometry.rs
  engine/runtime/action-processor/src/geometry/errors.rs
  engine/runtime/action-processor/src/geometry/mapping.rs
  engine/runtime/action-processor/src/geometry/offsetter.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/08-ubld/workflow.yml
  engine/runtime/geometry/src/types/coordinate.rs
  engine/runtime/geometry/src/types/face.rs
  engine/runtime/geometry/src/types/geometry.rs
  engine/runtime/geometry/src/types/line.rs
  engine/runtime/geometry/src/types/line_string.rs
  engine/runtime/geometry/src/types/multi_line_string.rs
  engine/runtime/geometry/src/types/multi_point.rs
  engine/runtime/geometry/src/types/multi_polygon.rs
  engine/runtime/geometry/src/types/point.rs
  engine/runtime/geometry/src/types/polygon.rs
  engine/runtime/geometry/src/types/rect.rs
  engine/runtime/geometry/src/types/solid.rs
  engine/runtime/geometry/src/types/triangle.rs
  engine/runtime/storage/src/operator.rs
  engine/runtime/types/src/geometry.rs
  engine/schema/actions.json
Labels: engine

#662 chore(engine): add ExampleTranXLinkChecker workflow configuration
  engine/runtime/examples/plateau/testdata/workflow/example_tran_xlink_checker.yml
Labels: engine

#664 refactor(geometry): remove CityGmlGeometryLodFilter and related files
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/geometry.rs
  engine/runtime/action-processor/src/geometry/city_gml_geometry_lod_filter.rs
  engine/runtime/action-processor/src/geometry/errors.rs
  engine/runtime/action-processor/src/geometry/mapping.rs
  engine/runtime/examples/plateau/testdata/workflow/cesium_3d_tiles.yml
  engine/schema/actions.json
Labels: engine

#595 feat(ui): Subworkflow rename
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/lib/yjs/useYjsStore.ts
Labels: ui

#665 feat(engine): enhance GeometryLodFilter with target_lods parameter and update processing logic
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/geometry/lod_filter.rs
  engine/runtime/geometry/src/algorithm/coords_iter.rs
  engine/schema/actions.json
Labels: cicd, engine
