Repository reearth/reearth-flow, pull requests merged in 2024-06, with the labels that each got.

#217 feat(ui): GraphQL Integration
  ui/.env-local
  ui/.eslintignore
  ui/codegen.ts
  ui/package.json
  ui/src/config/index.ts
  ui/src/features/Dashboard/components/Nav/components/UserNavigation.tsx
  ui/src/features/Root/index.tsx
  ui/src/lib/auth/types.ts
  ui/src/lib/gql/__gen__/fragment-masking.ts
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/index.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/index.ts
  ui/src/lib/gql/provider/GraphQLRequestProvider.tsx
  ui/src/lib/gql/provider/TanStackQueryProvider.tsx
  ui/src/lib/gql/provider/index.tsx
  ui/src/lib/gql/queries/index.ts
  ui/src/lib/gql/queries/user.ts
  ui/src/providers/QueryProvider.tsx
  ui/src/providers/index.tsx
  ui/yarn.lock
Labels: ui

#226 feat(worker): add unmatched_xlink_detector action processor
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/plateau.rs
  worker/crates/action-processor/src/plateau/errors.rs
  worker/crates/action-processor/src/plateau/mapping.rs
  worker/crates/action-processor/src/plateau/unmatched_xlink_detector.rs
  worker/crates/action-processor/src/plateau/xml_attribute_extractor.rs
  worker/crates/common/src/xml.rs
  worker/crates/xml/Cargo.toml
  worker/crates/xml/src/convert.rs
  worker/crates/xml/src/decl.rs
  worker/crates/xml/src/display.rs
  worker/crates/xml/src/dom_impl.rs
  worker/crates/xml/src/error.rs
  worker/crates/xml/src/lib.rs
  worker/crates/xml/src/mutex.rs
  worker/crates/xml/src/name.rs
  worker/crates/xml/src/namespace.rs
  worker/crates/xml/src/node.rs
  worker/crates/xml/src/options.rs
  worker/crates/xml/src/parser.rs
  worker/crates/xml/src/syntax.rs
  worker/crates/xml/src/text.rs
  worker/crates/xml/src/trait_impl.rs
  worker/crates/xml/src/traits.rs
Labels: worker

#232 feat(worker): add geometry_collection module to the geometry crate
  worker/Cargo.lock
  worker/crates/action-log/Cargo.toml
  worker/crates/action-log/src/action.rs
  worker/crates/action-log/src/lib.rs
  worker/crates/action-processor/src/feature/filter.rs
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/geometry/src/types.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/geometry_collection.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/storage/src/storage.rs
  worker/crates/storage/src/storage_sync.rs
  worker/examples/plateau/attribute_reader.rs
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
  worker/examples/plateau/xml_validator.rs
Labels: worker

#234 feat(worker): add splitter module to the geometry crate
  schema/actions.json
  worker/Cargo.lock
  worker/crates/action-processor/src/feature/reader/citygml.rs
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/splitter.rs
  worker/crates/action-source/src/file/reader/citygml.rs
  worker/crates/types/src/feature.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
Labels: worker

#222 feat(ui): Workspace API Integration
  ui/codegen.ts
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dashboard/components/Nav/components/WorkspaceNavigation.tsx
  ui/src/features/Dashboard/components/Nav/index.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Dialog/components/Content.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/features/Dialog/components/workspace/index.ts
  ui/src/features/Dialog/components/workspace/useWorkspace.tsx
  ui/src/features/Dialog/index.tsx
  ui/src/features/LoadingPage/index.tsx
  ui/src/features/Root/index.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/index.ts
  ui/src/lib/gql/provider/GraphQLRequestProvider.tsx
  ui/src/lib/gql/queries/user.ts
  ui/src/lib/gql/workspace/hook.ts
  ui/src/lib/gql/workspace/index.ts
  ui/src/lib/gql/workspace/queries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/main.tsx
  ui/src/mock_data/projectData.ts
  ui/src/mock_data/workspaceData.ts
  ui/src/stores/index.ts
  ui/src/types/api.ts
  ui/src/types/index.ts
  ui/src/types/workspace.ts
Labels: ui

#237 feat(ui): User query refactored
  ui/src/features/Dashboard/components/Nav/components/UserNavigation.tsx
  ui/src/lib/gql/index.ts
  ui/src/lib/gql/queries/index.ts
  ui/src/lib/gql/queries/user.ts
  ui/src/lib/gql/user/hook.ts
  ui/src/lib/gql/user/index.ts
  ui/src/lib/gql/user/queries.ts
  ui/src/types/user.ts
Labels: ui

#238 feat(worker): Add bounded_by field to CityGML parsing
  worker/Cargo.lock
  worker/crates/action-processor/src/feature/reader/citygml.rs
  worker/crates/action-source/src/file/reader/citygml.rs
  worker/crates/types/src/geometry.rs
Labels: worker

#241 chore(worker): modify dot command
  worker/crates/cli/src/dot.rs
Labels: worker

#242 feat(worker): support reading workflow from stdin
  schema/actions.json
  worker/crates/cli/src/run.rs
Labels: worker

#244 feat(worker): add validation module to the types crate
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/bounding_rect.rs
  worker/crates/geometry/src/algorithm/coordinate_position.rs
  worker/crates/geometry/src/algorithm/coords_iter.rs
  worker/crates/geometry/src/algorithm/dimensions.rs
  worker/crates/geometry/src/algorithm/intersects.rs
  worker/crates/geometry/src/algorithm/intersects/coordinate.rs
  worker/crates/geometry/src/algorithm/intersects/line.rs
  worker/crates/geometry/src/algorithm/intersects/line_string.rs
  worker/crates/geometry/src/algorithm/intersects/point.rs
  worker/crates/geometry/src/algorithm/intersects/polygon.rs
  worker/crates/geometry/src/algorithm/intersects/rect.rs
  worker/crates/geometry/src/algorithm/kernels.rs
  worker/crates/geometry/src/algorithm/utils.rs
  worker/crates/geometry/src/lib.rs
  worker/crates/geometry/src/types.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/types/rectangle.rs
  worker/crates/geometry/src/types/triangle.rs
  worker/crates/geometry/src/types/validation.rs
  worker/crates/geometry/src/utils.rs
Labels: worker

#246 feat(worker): add contains module to algorithm crate
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/contains.rs
  worker/crates/geometry/src/algorithm/contains/line.rs
  worker/crates/geometry/src/algorithm/contains/line_string.rs
  worker/crates/geometry/src/algorithm/contains/point.rs
  worker/crates/geometry/src/algorithm/contains/polygon.rs
  worker/crates/geometry/src/algorithm/contains/rect.rs
  worker/crates/geometry/src/algorithm/contains/triangle.rs
  worker/crates/geometry/src/algorithm/dimensions.rs
  worker/crates/geometry/src/algorithm/line_intersection.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/utils.rs
Labels: worker

#227 feat(ui): Project API integration
  ui/.eslintrc.cjs
  ui/README.md
  ui/codegen.ts
  ui/package.json
  ui/src/features/Dashboard/components/LeftSection/components/RunsSection.tsx
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Dialog/components/Content.tsx
  ui/src/features/Dialog/components/project/AddProject.tsx
  ui/src/features/Dialog/components/project/index.ts
  ui/src/features/Dialog/components/project/useProject.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/Handles.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/index.ts
  ui/src/lib/gql/project/index.ts
  ui/src/lib/gql/project/queries.graphql
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/project/useQueries.ts
  ui/src/lib/gql/provider/TanStackQueryProvider.tsx
  ui/src/mock_data/projectData.ts
  ui/src/mock_data/runsData.ts
  ui/src/stores/index.ts
  ui/src/types/project.ts
  ui/src/types/run.ts
  ui/src/utils/date.ts
  ui/src/utils/index.ts
  ui/yarn.lock
Labels: ui

#249 chore(ui): refactor canvas and nodes
  ui/src/features/Dashboard/index.tsx
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/ChangeLogger.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/NodeInspector.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/ViewportLogger.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/index.ts
  ui/src/features/Editor/components/CanvasDevTools/index.tsx
  ui/src/features/Editor/components/CanvasDevTools/style.css
  ui/src/features/Editor/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/index.tsx
  ui/src/features/Root/index.tsx
  ui/src/routes/workspace_.$workspaceId_.project.$projectId.lazy.tsx
Labels: ui

#250 feat(worker): Add rstar crate to geometry dependencies
  worker/Cargo.lock
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/bounding_rect.rs
  worker/crates/geometry/src/algorithm/contains.rs
  worker/crates/geometry/src/algorithm/contains/line.rs
  worker/crates/geometry/src/algorithm/contains/line_string.rs
  worker/crates/geometry/src/algorithm/contains/point.rs
  worker/crates/geometry/src/algorithm/contains/polygon.rs
  worker/crates/geometry/src/algorithm/contains/rect.rs
  worker/crates/geometry/src/algorithm/contains/triangle.rs
  worker/crates/geometry/src/algorithm/coordinate_position.rs
  worker/crates/geometry/src/algorithm/dimensions.rs
  worker/crates/geometry/src/algorithm/geometry_cow.rs
  worker/crates/geometry/src/algorithm/relate.rs
  worker/crates/geometry/src/algorithm/relate/edge_end_builder.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/edge.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/edge_end.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/edge_end_bundle.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/edge_end_bundle_star.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/edge_intersection.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/geometry_graph.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/edge_set_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/rstar_edge_set_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/segment_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/simple_edge_set_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/intersection_matrix.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/label.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/line_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/node.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/node_map.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/planar_graph.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/quadrant.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/robust_line_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/topology_position.rs
  worker/crates/geometry/src/algorithm/relate/relate_operation.rs
  worker/crates/geometry/src/algorithm/utils.rs
  worker/crates/geometry/src/algorithm/winding_order.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/utils.rs
Labels: worker

#251 feat(worker): Add two_dimention_forcer module to geometry module
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/two_dimention_forcer.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/types/src/geometry.rs
Labels: worker

#252 feat(worker): add geometry extractor module
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/extractor.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/three_dimention_box_replacer.rs
  worker/crates/action-processor/src/geometry/two_dimention_forcer.rs
Labels: worker

#253 feat(worker): add Strum and Strum_macros crates to geometry and action-processor dependencies
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/runtime/src/executor/sink_node.rs
  worker/crates/types/src/geometry.rs
Labels: worker

#254 feat(worker): Add parking_lot crate to dependencies and implement sweep algorithm module
  worker/Cargo.lock
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/relate/edge_end_builder.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/geometry_graph.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/edge_set_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/rstar_edge_set_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/segment_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/index/simple_edge_set_intersector.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/planar_graph.rs
  worker/crates/geometry/src/algorithm/relate/relate_operation.rs
  worker/crates/geometry/src/algorithm/sweep.rs
  worker/crates/geometry/src/algorithm/sweep/active.rs
  worker/crates/geometry/src/algorithm/sweep/cross.rs
  worker/crates/geometry/src/algorithm/sweep/events.rs
  worker/crates/geometry/src/algorithm/sweep/im_segment.rs
  worker/crates/geometry/src/algorithm/sweep/iter.rs
  worker/crates/geometry/src/algorithm/sweep/line_or_point.rs
  worker/crates/geometry/src/algorithm/sweep/point.rs
  worker/crates/geometry/src/algorithm/sweep/proc.rs
  worker/crates/geometry/src/algorithm/sweep/segment.rs
  worker/crates/geometry/src/algorithm/sweep/vec_set.rs
Labels: worker

#243 ci(ui, api): add nightly release flow for ui and api
  .github/actions/build_deploy_api/action.yml
  .github/actions/build_deploy_ui/action.yml
  .github/workflows/build_ui.yml
  .github/workflows/ci.yml
  .github/workflows/ci_ui.yml
  ui/docker-compose.yml
  ui/dockerfile
  ui/nginx.conf
Labels: ui, cicd

#255 feat(worker): Add environment variable for cityGmlPath in worker
  worker/README.md
  worker/crates/cli/src/dot.rs
  worker/crates/cli/src/run.rs
  worker/crates/types/src/workflow.rs
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
Labels: worker

#257 feat: Add environment variable for cityGmlPath in worker README
  worker/README.md
  worker/crates/cli/src/run.rs
  worker/crates/common/src/serde.rs
  worker/crates/types/src/workflow.rs
  worker/examples/Cargo.toml
  worker/examples/plateau/attribute_reader.rs
  worker/examples/plateau/lod_splitter_with_dm.rs
Labels: worker

#258 chore(worker): Update Makefile.toml and README.md for cityGmlPath environment variable
  worker/Makefile.toml
  worker/README.md
  worker/examples/plateau/testdata/workflow/attribute_reader.yml
  worker/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
  worker/examples/plateau/testdata/workflow/xml_validator.yml
Labels: worker

#259 feat(worker): Add orientation_extractor module to geometry
  schema/actions.json
  worker/README.md
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/orientation_extractor.rs
  worker/crates/geometry/src/algorithm/winding_order.rs
Labels: worker

#260 feat(worker): add approx crate to dependencies for geometry and action-processor modules
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/validator.rs
  worker/crates/common/Cargo.toml
  worker/crates/common/src/collection.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/lib.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/line.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_line_string.rs
  worker/crates/geometry/src/types/multi_point.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/types/point.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/types/solid.rs
  worker/crates/geometry/src/types/triangle.rs
  worker/crates/geometry/src/validation.rs
Labels: worker

#262 feat(geometry): add check_coord_is_not_finite function
  worker/crates/action-processor/src/geometry/validator.rs
  worker/crates/geometry/src/algorithm/contains/point.rs
  worker/crates/geometry/src/utils.rs
  worker/crates/geometry/src/validation.rs
Labels: worker

#263 feat(worker): add Default trait to Coordinate<T, Z>
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/area2d.rs
  worker/crates/geometry/src/algorithm/area3d.rs
  worker/crates/geometry/src/algorithm/map_coords.rs
  worker/crates/geometry/src/algorithm/remove_repeated_points.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/coordnum.rs
  worker/crates/geometry/src/types/line.rs
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/utils.rs
Labels: worker

#265 feat(worker): Add schema-action and schema-workflow commands to CLI
  schema/workflow.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/Makefile.toml
  worker/crates/cli/src/cli.rs
  worker/crates/cli/src/lib.rs
  worker/crates/cli/src/schema_action.rs
  worker/crates/cli/src/schema_workflow.rs
  worker/crates/geometry/src/validation.rs
  worker/crates/types/src/workflow.rs
Labels: worker

#266 feat(worker): Add num-traits crate to dependencies for worker and geometry modules
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-processor/src/geometry/validator.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/validation.rs
Labels: worker

#267 feat(worker): add HoleCounter module to geometry
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/hole_counter.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/hole.rs
  worker/crates/types/src/geometry.rs
Labels: worker

#271 chore(worker): update YAML schema references in workflow files
  worker/README.md
  worker/docs/images/xml_validator.png
  worker/examples/plateau/testdata/workflow/attribute_reader.yml
  worker/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
  worker/examples/plateau/testdata/workflow/xml_validator.yml
Labels: worker

#272 chore(ui): Upgrade React Flow to v12 (beta)
  ui/package.json
  ui/src/features/Dialog/components/searches/CanvasSearch.tsx
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/CanvasDevTools/components/ChangeLogger.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/NodeInspector.tsx
  ui/src/features/Editor/components/CanvasDevTools/components/ViewportLogger.tsx
  ui/src/features/Editor/components/CustomConnectionLine.tsx
  ui/src/features/Editor/components/CustomEdge.tsx
  ui/src/features/Editor/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/CustomHandle.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/Handles.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/components/Nodes/index.ts
  ui/src/features/Editor/components/OverlayUI/components/CanvasActionbar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Infobar/index.tsx
  ui/src/features/Editor/components/ParamEditor/index.tsx
  ui/src/mock_data/nodeEdgeData.ts
  ui/src/pages/Editor.tsx
  ui/src/types/edge.ts
  ui/src/types/node.ts
  ui/yarn.lock
Labels: ui

#273 feat(worker): add PlanarityFilter module to geometry
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/planarity_filter.rs
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/multi_line_string.rs
  worker/crates/geometry/src/types/multi_point.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/point.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/utils.rs
  worker/crates/types/src/geometry.rs
Labels: worker

#274 chore(worker): add tests for AttributeKeeper and Filter modules
  worker/crates/action-processor/src/attribute/keeper.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/planarity_filter.rs
  worker/crates/action-processor/src/lib.rs
  worker/crates/action-processor/src/tests.rs
  worker/crates/action-processor/src/tests/utils.rs
Labels: worker

#275 ci: use workflow_call instead of workflow_dispatch
  .github/actions/build_deploy_api/action.yml
  .github/actions/build_deploy_ui/action.yml
  .github/workflows/ci.yml
Labels: cicd

#278 chore(api): add gcs env example and refactor config
  api/.env.example
  api/internal/app/config/config.go
  api/internal/infrastructure/fs/file_test.go
Labels: api

#277 feat(worker): add HoleExtractor module to geometry
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/hole_extractor.rs
  worker/crates/action-processor/src/geometry/mapping.rs
Labels: worker

#279 feat(worker): add CSV support to feature file readers
  schema/actions.json
  worker/Cargo.lock
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-processor/src/feature/errors.rs
  worker/crates/action-processor/src/feature/reader.rs
  worker/crates/action-processor/src/feature/reader/csv.rs
  worker/crates/action-source/src/file/reader/json.rs
Labels: worker

#280 chore(worker): update geometry module to use camel case for port names
  schema/actions.json
  worker/crates/action-processor/src/geometry/filter.rs
Labels: worker

#281 feat(worker): add GeometryCoercer module to handle geometry coercion
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/coercer.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
Labels: worker

#282 feat(ui): improve node functionality + perf improves + bug fixes
  ui/package.json
  ui/src/components/DataTable/index.stories.tsx
  ui/src/features/BottomPanel/index.tsx
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dialog/components/searches/CanvasSearch.tsx
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/Canvas/useBatch.ts
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/Canvas/useEdges.ts
  ui/src/features/Editor/components/Canvas/useNodes.ts
  ui/src/features/Editor/components/CustomConnectionLine.tsx
  ui/src/features/Editor/components/CustomEdge.tsx
  ui/src/features/Editor/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/CustomHandle.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/Handles.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/components/index.ts
  ui/src/features/Editor/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/components/Nodes/TransformerNode.tsx
  ui/src/features/Editor/components/Nodes/WriterNode.tsx
  ui/src/features/Editor/components/Nodes/utils.ts
  ui/src/features/Editor/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/components/index.ts
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/RightPanel/index.tsx
  ui/src/features/TopNavigation/components/WorkspaceNavigation.tsx
  ui/src/hooks/index.ts
  ui/src/mock_data/customTransformer.ts
  ui/src/mock_data/runsData.ts
  ui/src/mock_data/workflowData.ts
  ui/src/pages/Editor.tsx
  ui/src/types/node.ts
  ui/src/types/project.ts
  ui/src/types/run.ts
  ui/src/types/workflow.ts
  ui/src/utils/cancellableDebounce.ts
  ui/src/utils/index.ts
  ui/src/utils/randomID.ts
  ui/tailwind.config.ts
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#283 feat(worker): add LineOnLineOverlayer module to geometry crate
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/coercer.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/line_on_line_overlayer.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/geometry/src/algorithm/line_intersection.rs
Labels: worker

#285 feat(worker): add rhai crate for scripting support
  schema/actions.json
  worker/Cargo.lock
  worker/crates/action-sink/Cargo.toml
  worker/crates/action-sink/src/file/excel.rs
  worker/crates/action-sink/src/file/writer.rs
Labels: worker
