Repository reearth/reearth-flow, pull requests merged in 2024-07, with the labels that each got.

#286 feat(worker): add attributeFeature output port to schema/actions.json
  schema/actions.json
  worker/crates/action-processor/src/plateau/dictionaries_initiator.rs
  worker/crates/action-processor/src/plateau/xml_attribute_extractor.rs
  worker/crates/action-processor/src/xml/fragmenter.rs
  worker/crates/runtime/src/errors.rs
  worker/crates/runtime/src/executor/dag_executor.rs
  worker/crates/runtime/src/executor/processor_node.rs
  worker/crates/runtime/src/forwarder.rs
  worker/examples/plateau/testdata/graphs/attribute_reader.yml
  worker/examples/plateau/testdata/workflow/attribute_reader.yml
Labels: worker

#235 feat(websocket): add support for redis infra
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/lib.rs
  websocket/crates/infra/src/persistence/mod.rs
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/infra/src/persistence/redis/flow_project_lock.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
  websocket/crates/infra/src/persistence/redis/mod.rs
  websocket/crates/infra/src/persistence/redis/redis_client.rs
Labels: websocket

#287 chore: Rename crates-ci.yml to ci_worker.yml and update paths in workflows
  .github/workflows/ci.yml
  .github/workflows/ci_worker.yml
  .github/workflows/crates-deny.yml
Labels: cicd

#288 feat(worker): add numerical stability test for polygon area calculation
  .github/workflows/ci.yml
  .github/workflows/ci_worker.yml
  worker/crates/geometry/src/algorithm/area2d.rs
Labels: cicd, worker

#289 feat(worker): optimize coordinate position calculation
  .github/workflows/ci_worker.yml
  worker/crates/geometry/src/algorithm/coordinate_position.rs
Labels: cicd, worker

#284 feat(worker): add max lod extractor
  schema/actions.json
  worker/crates/action-processor/src/plateau.rs
  worker/crates/action-processor/src/plateau/errors.rs
  worker/crates/action-processor/src/plateau/mapping.rs
  worker/crates/action-processor/src/plateau/max_lod_extractor.rs
  worker/crates/action-sink/src/file/writer.rs
  worker/examples/Cargo.toml
  worker/examples/plateau/max_lod_extractor.rs
  worker/examples/plateau/testdata/workflow/max_lod_extract.yml
Labels: worker

#290 feat(websocket): support GCS client
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/crates/domain/src/project.rs
  websocket/crates/domain/src/repository.rs
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/persistence/gcs/gcs_client.rs
  websocket/crates/infra/src/persistence/gcs/mod.rs
  websocket/crates/infra/src/persistence/mod.rs
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/infra/src/persistence/redis/flow_project_redis_data_manager.rs
Labels: websocket

#270 feat(api): Add workflow schema
  api/gql/project.graphql
  api/gql/workflow.graphql
  ui/src/types/workflow.ts
Labels: ui, api

#261 feat(ui): Workspace CRUD
  ui/src/features/NotFoundPage/index.tsx
  ui/src/features/PageWrapper/WorkspaceId.tsx
  ui/src/features/TopNavigation/components/UserNavigation.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
  ui/src/features/WorkspaceSettings/components/IntegrationsSettings.tsx
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/project/useQueries.ts
  ui/src/lib/gql/user/queries.graphql
  ui/src/lib/gql/user/useApi.ts
  ui/src/lib/gql/user/useQueries.ts
  ui/src/lib/gql/workspace/queries.graphql
  ui/src/lib/gql/workspace/useApi.ts
  ui/src/lib/gql/workspace/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/utils.ts
  ui/src/pages/LoadingPage.tsx
  ui/src/routes/workspace_.$workspaceId_.settings.$tab.lazy.tsx
  ui/src/types/member.ts
  ui/src/types/user.ts
  ui/src/types/workspace.ts
Labels: ui

#293 feat(worker): add boolean operations module
  .github/workflows/ci_worker.yml
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/bool_ops.rs
  worker/crates/geometry/src/algorithm/bool_ops/assembly.rs
  worker/crates/geometry/src/algorithm/bool_ops/op.rs
  worker/crates/geometry/src/algorithm/bool_ops/spec.rs
  worker/crates/geometry/src/algorithm/sweep.rs
Labels: cicd, worker

#294 feat(worker): add convex hull algorithm
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/convex_hull.rs
  worker/crates/geometry/src/algorithm/convex_hull/graham.rs
  worker/crates/geometry/src/algorithm/convex_hull/qhull.rs
  worker/crates/geometry/src/algorithm/is_convex.rs
  worker/crates/geometry/src/algorithm/kernels.rs
Labels: worker

#295 docs(websocket): remove unnecessary comments
  websocket/crates/infra/src/persistence/project_repository.rs
Labels: websocket

#297 feat(worker): add bufferable module
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/bufferable.rs
  worker/crates/geometry/src/algorithm/convex_hull.rs
Labels: worker

#299 chore(ci): Add support for lock files in code rabbit configuration
  .coderabbit.yaml
  .github/workflows/ci.yml
Labels: cicd

#300 chore(worker): Update dependencies in worker crate
  worker/Cargo.lock
  worker/Cargo.toml
Labels: worker

#301 fix(api): api ci/cd
  .github/workflows/ci_api.yml
  api/dockerfile
  api/internal/infrastructure/fs/file_test.go
Labels: cicd, api

#306 feat(worker): add conversion from 3D to 2D types
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/bufferer.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/hole_extractor.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/two_dimention_forcer.rs
  worker/crates/geometry/src/algorithm/bufferable.rs
  worker/crates/geometry/src/types/face.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/types/line.rs
  worker/crates/geometry/src/types/multi_line_string.rs
  worker/crates/geometry/src/types/multi_point.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/point.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/types/solid.rs
  worker/crates/geometry/src/types/triangle.rs
Labels: worker

#307 feat(worker): add area on area overlayer processor
  schema/actions.json
  worker/Cargo.lock
  worker/crates/action-processor/Cargo.toml
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/area_on_area_overlayer.rs
  worker/crates/action-processor/src/geometry/bufferer.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/line_on_line_overlayer.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/geometry/src/types/multi_polygon.rs
Labels: worker

#309 chore(worker): bump up opendal, serde_with, clap, proc-macro2, and reqwest dependencies
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/cli/Cargo.toml
  worker/crates/macros/Cargo.toml
  worker/crates/storage/Cargo.toml
Labels: worker

#311 feat(worker): add insert_map_element function to collection module
  worker/crates/action-processor/src/plateau/utils.rs
  worker/crates/action-processor/src/plateau/xml_attribute_extractor.rs
  worker/crates/action-processor/src/xml/fragmenter.rs
  worker/crates/common/src/collection.rs
  worker/crates/common/src/xml.rs
Labels: worker

#298 feat(api): add Workflow to pkg
  api/gql/project.graphql
  api/gql/workflow.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_mutation_project.go
  api/pkg/id/id.go
  api/pkg/workflow/edge.go
  api/pkg/workflow/edge_test.go
  api/pkg/workflow/graph.go
  api/pkg/workflow/graph_test.go
  api/pkg/workflow/id.go
  api/pkg/workflow/node.go
  api/pkg/workflow/node_test.go
  api/pkg/workflow/workflow.go
  api/pkg/workflow/workflow_test.go
Labels: api

#314 feat(worker): add closed curve filter module for geometry processing
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/closed_curve_filter.rs
  worker/crates/action-processor/src/geometry/mapping.rs
Labels: worker

#315 feat(worker): add support for calculating euclidean length of lines, line strings, and multi-line strings
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/euclidean_distance.rs
  worker/crates/geometry/src/algorithm/euclidean_length.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/line.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/point.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/utils.rs
Labels: worker

#316 feat(worker): add simplify module for geometry processing
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/simplify.rs
Labels: worker

#317 feat(worker): add vertex remover module for geometry processing
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/vertex_remover.rs
  worker/crates/geometry/src/algorithm/simplify.rs
Labels: worker

#296 fix(ui): Inconsistent app loading
  ui/src/features/Dashboard/index.tsx
  ui/src/features/NotFoundPage/index.tsx
  ui/src/features/PageWrapper/ProjectId.tsx
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/utils.ts
Labels: ui

#319 feat(worker): add centroid module for geometry processing
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/centroid.rs
  worker/crates/geometry/src/algorithm/dimensions.rs
  worker/crates/geometry/src/algorithm/relate/geomgraph/intersection_matrix.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/coordnum.rs
  worker/crates/geometry/src/types/geometry_collection.rs
  worker/crates/geometry/src/types/point.rs
  worker/crates/geometry/src/types/rect.rs
Labels: worker

#320 feat(worker): add CenterPointReplacer module for geometry processing
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/center_point_replacer.rs
  worker/crates/action-processor/src/geometry/mapping.rs
Labels: worker

#321 feat(ui): Edit Project
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#322 chore(ui): User Dialag styling changes
  ui/src/features/Dialog/components/Content.tsx
  ui/src/features/Dialog/components/ContentSection.tsx
  ui/src/features/Dialog/components/settings/AccountDialog.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#323 chore(worker): improve coplanarity check in geometry module
  worker/crates/action-processor/src/geometry/planarity_filter.rs
  worker/crates/geometry/src/types/geometry.rs
  worker/crates/geometry/src/utils.rs
  worker/crates/types/src/geometry.rs
Labels: worker

#324 feat(worker): Add three-dimensional rotation module for geometry processing
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/three_dimention_rotator.rs
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/rotate_3d.rs
  worker/crates/geometry/src/utils.rs
Labels: worker

#326 feat(worker): Add `proj` module for geometry projection
  worker/crates/action-processor/src/geometry/reprojector.rs
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/proj.rs
  worker/crates/geometry/src/types/coordinate.rs
  worker/crates/geometry/src/types/line_string.rs
  worker/crates/geometry/src/types/no_value.rs
  worker/crates/geometry/src/types/polygon.rs
  worker/crates/geometry/src/types/rect.rs
  worker/crates/geometry/src/types/triangle.rs
Labels: worker

#327 feat(worker): Add support for null values in epsgCode field
  schema/actions.json
  worker/crates/action-processor/src/geometry/reprojector.rs
Labels: worker

#328 feat(worker): Add clipper module for geometry operations
  worker/Cargo.lock
  worker/crates/geometry/Cargo.toml
  worker/crates/geometry/src/algorithm.rs
  worker/crates/geometry/src/algorithm/clipper.rs
  worker/crates/geometry/src/types/coordnum.rs
Labels: worker

#329 feat(worker): add cityGmlAttributes to Feature attributes in citygml.rs and citygml.rs
  worker/crates/action-processor/src/feature/reader/citygml.rs
  worker/crates/action-source/src/file/reader/citygml.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/testdata/workflow/domain_of_definition_validator.yml
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
Labels: worker

#302 feat(worker): Attribute Flattener
  schema/actions.json
  worker/crates/action-processor/src/plateau.rs
  worker/crates/action-processor/src/plateau/attribute_flattener.rs
  worker/crates/action-processor/src/plateau/errors.rs
  worker/crates/action-processor/src/plateau/mapping.rs
  worker/examples/plateau/testdata/workflow/attribute_flatterner.yml
Labels: worker

#331 chore(worker): Add attribute reader and update subGraphId in lod_splitter_with_dm.yml
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
Labels: worker

#332 chore(worker): Add to_hash function for generating node IDs in xml.rs
  worker/crates/common/src/xml.rs
  worker/examples/plateau/testdata/workflow/lod_splitter_with_dm.yml
Labels: worker

#334 feat(worker): Add json and xml modules
  schema/actions.json
  worker/Cargo.lock
  worker/crates/common/Cargo.toml
  worker/crates/common/src/json.rs
  worker/crates/common/src/lib.rs
  worker/crates/eval-expr/src/engine.rs
  worker/crates/eval-expr/src/module.rs
  worker/crates/eval-expr/src/module/json.rs
  worker/crates/eval-expr/src/module/xml.rs
Labels: worker

#335 feat(worker): Add serde_json dependency and new echo module
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-sink/src/echo.rs
  worker/crates/action-sink/src/lib.rs
  worker/crates/action-sink/src/mapping.rs
  worker/crates/eval-expr/src/module/env.rs
  worker/crates/eval-expr/src/module/json.rs
  worker/crates/eval-expr/src/utils.rs
  worker/examples/Cargo.toml
  worker/examples/plateau/example_feature_transformer.rs
  worker/examples/plateau/testdata/workflow/example_feature_transformer.yml
Labels: worker

#336 feat(worker): Add RhaiCaller module for executing Rhai scripts
  schema/actions.json
  worker/crates/action-processor/src/feature.rs
  worker/crates/action-processor/src/feature/errors.rs
  worker/crates/action-processor/src/feature/mapping.rs
  worker/crates/action-processor/src/feature/rhai.rs
Labels: worker

#337 chore(ui): upgrade deps and fix issues around nodes
  ui/package.json
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Editor/components/Canvas/useBatch.ts
  ui/src/features/Editor/components/Canvas/useNodes.ts
  ui/src/features/Editor/components/Nodes/GeneralNode/components/CustomHandle/CustomHandle.tsx
  ui/src/mock_data/nodeEdgeData.ts
  ui/src/routeTree.gen.ts
  ui/yarn.lock
Labels: ui

#338 feat(geometry): add ClipperFactory and Clipper to handle geometry
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/clipper.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
Labels: worker

#339 feat(worker): Add Bounds extractor
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/bounds_extractor.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/examples/plateau/testdata/workflow/bounds_extractor.yml
Labels: worker

#341 chore(worker): Upgrade async-trait to version 0.1.81 and bytes to version 1.6.1
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/telemetry/src/lib.rs
Labels: worker

#340 fix(ui): app loading + refactoring
  ui/src/components/Loading/index.tsx
  ui/src/features/Dashboard/components/MainSection.tsx
  ui/src/features/Dialog/components/project/AddProject.tsx
  ui/src/features/Dialog/components/workspace/AddWorkspace.tsx
  ui/src/features/NotFoundPage/index.tsx
  ui/src/features/PageWrapper/ProjectId.tsx
  ui/src/features/PageWrapper/WorkspaceId.tsx
  ui/src/features/Runs/components/ManualRun.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings.tsx
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/project/useQueries.ts
  ui/src/lib/gql/workspace/useApi.ts
  ui/src/lib/gql/workspace/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/mock_data/membersData.ts
  ui/src/mock_data/nodeEdgeData.ts
  ui/src/mock_data/workflowData.ts
  ui/src/pages/IndexLoadingPage.tsx
  ui/src/pages/LoadingPage.tsx
  ui/src/pages/index.ts
  ui/src/routeTree.gen.ts
  ui/src/routes/index.lazy.tsx
  ui/src/routes/index.tsx
  ui/src/routes/workspace.lazy.tsx
Labels: ui

#342 chore(ui): refactor ui structure
  ui/package.json
  ui/src/features/AuthenticationWrapper/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/Console/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/DataTable/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/Map/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/index.ts
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/Canvas/components/CustomConnectionLine.tsx
  ui/src/features/Editor/components/Canvas/components/CustomEdge.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/components/CustomHandle/CustomHandle.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/components/CustomHandle/Handles.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/components/index.ts
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/README.md
  ui/src/features/Editor/components/Canvas/components/Nodes/ReaderNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/TransformerNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/WriterNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/index.ts
  ui/src/features/Editor/components/Canvas/components/Nodes/utils.ts
  ui/src/features/Editor/components/Canvas/components/index.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/LeftPanel/components/ProjectSettings.tsx
  ui/src/features/Editor/components/LeftPanel/components/Resources.tsx
  ui/src/features/Editor/components/LeftPanel/components/TransformerList.tsx
  ui/src/features/Editor/components/LeftPanel/components/index.ts
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/Nodes/GeneralNode/types.ts
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/RightPanel/components/index.ts
  ui/src/features/Editor/components/RightPanel/index.tsx
  ui/src/features/Editor/components/index.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/ErrorPage/index.tsx
  ui/src/features/NotFound/index.tsx
  ui/src/features/PageWrapper/ProjectId.tsx
  ui/src/features/PageWrapper/WorkspaceId.tsx
  ui/src/features/Root/index.tsx
  ui/src/features/Runs/components/StatusContent.tsx
  ui/src/features/Runs/index.tsx
  ui/src/features/WorkspaceSettings/index.tsx
  ui/src/pages/Dashboard.tsx
  ui/src/pages/Editor.tsx
  ui/src/pages/IndexLoadingPage.tsx
  ui/src/pages/WorkspaceRuns.tsx
  ui/src/pages/WorkspaceSettings.tsx
  ui/src/pages/index.ts
  ui/src/routes/__root.tsx
  ui/src/routes/index.tsx
  ui/src/routes/workspace_.$workspaceId.lazy.tsx
  ui/src/routes/workspace_.$workspaceId_.project.$projectId.lazy.tsx
  ui/src/routes/workspace_.$workspaceId_.runs.$tab.lazy.tsx
  ui/src/routes/workspace_.$workspaceId_.settings.$tab.lazy.tsx
  ui/src/types/node.ts
  ui/yarn.lock
Labels: ui

#310 feat(api): converting workspaces in to single workspace struct
  api/e2e/gql_project_test.go
  api/go.mod
  api/gql/project.graphql
  api/gql/workflow.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/convert_workflow.go
  api/internal/adapter/gql/gqlmodel/convert_workflow_test.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_mutation_project.go
  api/internal/infrastructure/memory/container.go
  api/internal/infrastructure/memory/workflow.go
  api/internal/infrastructure/mongo/container.go
  api/internal/infrastructure/mongo/mongodoc/project.go
  api/internal/infrastructure/mongo/mongodoc/workflow.go
  api/internal/infrastructure/mongo/mongodoc/workflow_test.go
  api/internal/infrastructure/mongo/workflow.go
  api/internal/usecase/interactor/project.go
  api/internal/usecase/interfaces/project.go
  api/internal/usecase/repo/container.go
  api/internal/usecase/repo/workflow.go
  api/pkg/id/id.go
  api/pkg/project/builder.go
  api/pkg/project/id.go
  api/pkg/project/project.go
  api/pkg/workflow/edge.go
  api/pkg/workflow/edge_test.go
  api/pkg/workflow/graph.go
  api/pkg/workflow/graph_test.go
  api/pkg/workflow/id.go
  api/pkg/workflow/node.go
  api/pkg/workflow/node_test.go
  api/pkg/workflow/workflow.go
  api/pkg/workflow/workflow_test.go
Labels: api

#330 feat(ui): Logs UI
  ui/package.json
  ui/src/components/Logs/index.stories.tsx
  ui/src/components/Logs/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/Console/index.tsx
  ui/src/features/Runs/components/StatusContent.tsx
  ui/src/lib/auth/index.ts
  ui/src/lib/auth/log.ts
  ui/src/mock_data/logsData.ts
Labels: ui

#345 feat(worker): Add statistics calculator module for attribute processing
  schema/actions.json
  worker/crates/action-processor/src/attribute.rs
  worker/crates/action-processor/src/attribute/errors.rs
  worker/crates/action-processor/src/attribute/mapping.rs
  worker/crates/action-processor/src/attribute/statistics_calculator.rs
  worker/crates/action-processor/src/feature/reader/citygml.rs
  worker/crates/action-sink/src/echo.rs
  worker/crates/action-source/src/file/reader/citygml.rs
  worker/crates/runner/src/executor.rs
  worker/crates/runner/src/runner.rs
  worker/crates/runtime/src/builder_dag.rs
  worker/crates/runtime/src/errors.rs
  worker/crates/runtime/src/executor_operation.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/example_feature_transformer.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/c02.yml
Labels: worker

#346 chore(worker): Update dependencies for plateau-gis-converter
  worker/Cargo.lock
  worker/Cargo.toml
Labels: worker

#347 feat(ui): setup testing environment and add some basic tests
  ui/.gitignore
  ui/package.json
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/hooks/index.ts
  ui/src/hooks/useStateManager.ts
  ui/src/hooks/useTimeoutOnLoad.ts
  ui/src/lib/gql/project/useQueries.ts
  ui/src/lib/gql/workspace/useQueries.ts
  ui/src/lib/utils.ts
  ui/src/testing/setup.ts
  ui/src/utils/cancellableDebounce.test.ts
  ui/src/utils/date.test.ts
  ui/src/utils/index.ts
  ui/src/utils/isDefined.test.ts
  ui/src/utils/isDefined.ts
  ui/src/utils/randomID.test.ts
  ui/tsconfig.json
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#349 chore(worker): Refactor RhaiCaller to handle array values in attribute processing
  worker/crates/action-processor/src/feature/rhai.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/c02.yml
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/t_bldg_02.yml
Labels: worker

#351 feat(api): add support for actions listing
  api/internal/app/actions.go
  api/internal/app/actions_test.go
  api/internal/app/app.go
Labels: api

#348 chore(ui): Prettier for CSS
  ui/.eslintrc.cjs
  ui/package.json
  ui/src/components/Loading/styles.css
  ui/src/components/Logs/index.tsx
  ui/src/features/Editor/components/CanvasDevTools/style.css
  ui/src/index.css
  ui/src/lib/auth/index.ts
  ui/src/lib/auth/log.ts
  ui/src/types/index.ts
  ui/src/types/log.ts
Labels: ui

#344 feat(ui): Yjs setup for collaborative editing
  ui/package.json
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/Canvas/useBatch.ts
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/Canvas/useEdges.ts
  ui/src/features/Editor/components/Canvas/useNodes.ts
  ui/src/features/Editor/hooks.ts
  ui/src/lib/yjs/conversions.test.ts
  ui/src/lib/yjs/conversions.ts
  ui/src/lib/yjs/index.ts
  ui/src/lib/yjs/useYjsStore.ts
  ui/yarn.lock
Labels: ui

#353 chore(worker): add dockerfile and update Rust version to 1.79
  worker/.dockerignore
  worker/Cargo.toml
  worker/clippy.toml
  worker/crates/geometry/src/algorithm/map_coords.rs
  worker/crates/geometry/src/lib.rs
  worker/dockerfile
  worker/examples/plateau/testdata/graphs/attribute_reader.yml
Labels: worker

#354 chore: rename dockerfile
  api/Dockerfile
  ui/Dockerfile
  worker/Dockerfile
Labels: ui, worker, api

#350 feat(worker): Add Geometry refiner
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/refiner.rs
  worker/crates/runtime/src/node.rs
  worker/examples/plateau/testdata/workflow/geometry_refiner.yml
Labels: worker

#355 feat(worker): Add BuildingInstallationGeometryTypeExtractor module
  schema/actions.json
  worker/Dockerfile
  worker/crates/action-processor/src/plateau.rs
  worker/crates/action-processor/src/plateau/building_installation_geometry_type_extractor.rs
  worker/crates/action-processor/src/plateau/errors.rs
  worker/crates/action-processor/src/plateau/mapping.rs
  worker/examples/plateau/example_feature_transformer.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/t_bldg_02.yml
Labels: worker

#357 chore(worker): Update worker Dockerfile to use --no-install-recommends flag
  worker/Dockerfile
Labels: worker

#360 fix(ui): yjs init setup working with workflows, not single sets of nodes and edges
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/ReaderNode.tsx
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Breadcrumb/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/CanvasActionbar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Infobar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/index.ts
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/components/RightPanel/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/components/index.ts
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/lib/yjs/workflowBuilder.ts
  ui/src/routes/workspace_.$workspaceId_.project.$projectId.lazy.tsx
  ui/src/stores/index.ts
Labels: ui

#361 feat(worker): Update example feature transformer to use l_bldg_04_05.yml instead of t_bldg_06.yml
  schema/actions.json
  worker/crates/action-processor/src/plateau.rs
  worker/crates/action-processor/src/plateau/building_installation_geometry_type_extractor.rs
  worker/crates/action-processor/src/plateau/building_usage_attribute_validator.rs
  worker/crates/action-processor/src/plateau/errors.rs
  worker/crates/action-processor/src/plateau/mapping.rs
  worker/crates/types/src/attribute.rs
  worker/crates/types/src/feature.rs
  worker/examples/plateau/example_feature_transformer.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_bldg_04_05.yml
Labels: worker

#363 feat(worker): Add factory module for built-in action factories
  worker/Cargo.lock
  worker/crates/cli/Cargo.toml
  worker/crates/cli/src/dot.rs
  worker/crates/cli/src/factory.rs
  worker/crates/cli/src/lib.rs
  worker/crates/cli/src/run.rs
  worker/crates/cli/src/schema_action.rs
  worker/crates/runner/Cargo.toml
  worker/crates/runner/src/executor.rs
  worker/crates/runner/src/orchestrator.rs
  worker/crates/runner/src/runner.rs
  worker/crates/runtime/src/dag_schemas.rs
  worker/crates/runtime/src/executor/dag_executor.rs
  worker/examples/Cargo.toml
  worker/examples/plateau/helper.rs
  worker/examples/plateau/xml_validator.rs
  worker/tests/Cargo.toml
  worker/tests/helper.rs
Labels: worker

#365 feat(worker): add action plateau processor crate
  schema/actions.json
  worker/Cargo.lock
  worker/Cargo.toml
  worker/crates/action-plateau-processor/Cargo.toml
  worker/crates/action-plateau-processor/src/attribute_flattener.rs
  worker/crates/action-plateau-processor/src/building_installation_geometry_type_extractor.rs
  worker/crates/action-plateau-processor/src/building_usage_attribute_validator.rs
  worker/crates/action-plateau-processor/src/dictionaries_initiator.rs
  worker/crates/action-plateau-processor/src/domain_of_definition_validator.rs
  worker/crates/action-plateau-processor/src/errors.rs
  worker/crates/action-plateau-processor/src/lib.rs
  worker/crates/action-plateau-processor/src/mapping.rs
  worker/crates/action-plateau-processor/src/max_lod_extractor.rs
  worker/crates/action-plateau-processor/src/types.rs
  worker/crates/action-plateau-processor/src/udx_folder_extractor.rs
  worker/crates/action-plateau-processor/src/unmatched_xlink_detector.rs
  worker/crates/action-plateau-processor/src/utils.rs
  worker/crates/action-plateau-processor/src/xml_attribute_extractor.rs
  worker/crates/action-processor/src/lib.rs
  worker/crates/action-processor/src/mapping.rs
  worker/crates/action-processor/src/plateau/types.rs
  worker/crates/cli/Cargo.toml
  worker/crates/cli/src/factory.rs
  worker/crates/cli/src/run.rs
  worker/crates/cli/src/schema_action.rs
  worker/examples/Cargo.toml
  worker/examples/plateau/helper.rs
  worker/examples/plateau/xml_validator.rs
Labels: worker

#368 feat(worker): Update attribute aggregator parameters in actions schema
  schema/actions.json
  worker/crates/action-processor/src/attribute/aggregator.rs
Labels: worker

#369 feat(worker): Update attribute merger parameters in actions schema
  schema/actions.json
  worker/crates/action-processor/src/feature/merger.rs
Labels: worker

#370 chore(api): Allow all ports on Localhost
  api/internal/app/app.go
Labels: api

#371 feat(worker): Update attribute aggregator parameters in actions schema
  schema/actions.json
  worker/crates/action-processor/src/attribute/aggregator.rs
  worker/crates/cli/src/dot.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/c_bldg_01.yml
  worker/examples/plateau/xml_validator.rs
Labels: worker

#374 chore(worker): Update Rust version to 1.80
  worker/Cargo.toml
  worker/Dockerfile
  worker/clippy.toml
  worker/crates/action-sink/src/file/excel.rs
  worker/crates/geometry/src/types/multi_polygon.rs
  worker/crates/geometry/src/types/polygon.rs
Labels: worker

#375 chore(worker): Update Dockerfile for worker
  worker/.dockerignore
  worker/Dockerfile
Labels: worker

#376 chore(worker): Update Dockerfile to improve Docker image build process
  worker/Dockerfile
Labels: worker

#378 chore(worker): rename GeometryValue Null to None
  worker/crates/action-processor/src/attribute/manager.rs
  worker/crates/action-processor/src/feature/filter.rs
  worker/crates/action-processor/src/geometry/area_on_area_overlayer.rs
  worker/crates/action-processor/src/geometry/bounds_extractor.rs
  worker/crates/action-processor/src/geometry/bufferer.rs
  worker/crates/action-processor/src/geometry/center_point_replacer.rs
  worker/crates/action-processor/src/geometry/clipper.rs
  worker/crates/action-processor/src/geometry/closed_curve_filter.rs
  worker/crates/action-processor/src/geometry/coercer.rs
  worker/crates/action-processor/src/geometry/filter.rs
  worker/crates/action-processor/src/geometry/hole_counter.rs
  worker/crates/action-processor/src/geometry/hole_extractor.rs
  worker/crates/action-processor/src/geometry/line_on_line_overlayer.rs
  worker/crates/action-processor/src/geometry/orientation_extractor.rs
  worker/crates/action-processor/src/geometry/planarity_filter.rs
  worker/crates/action-processor/src/geometry/refiner.rs
  worker/crates/action-processor/src/geometry/reprojector.rs
  worker/crates/action-processor/src/geometry/two_dimention_forcer.rs
  worker/crates/action-processor/src/geometry/validator.rs
  worker/crates/action-processor/src/geometry/vertex_remover.rs
  worker/crates/types/src/geometry.rs
  worker/examples/plateau/example_feature_transformer.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
Labels: worker

#380 feat(worker): Add GeometryValueFilter module
  schema/actions.json
  worker/crates/action-processor/src/geometry.rs
  worker/crates/action-processor/src/geometry/errors.rs
  worker/crates/action-processor/src/geometry/mapping.rs
  worker/crates/action-processor/src/geometry/value_filter.rs
  worker/crates/types/src/geometry.rs
Labels: worker

#382 chore(worker): Update dependencies to use specific git tags
  worker/Cargo.lock
  worker/Cargo.toml
Labels: worker

#318 feat(websocket): implement socket
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/crates/infra/Cargo.toml
  websocket/crates/infra/src/lib.rs
  websocket/crates/infra/src/main.rs
  websocket/crates/infra/src/socket.rs
  websocket/crates/infra/src/socket/errors.rs
  websocket/crates/infra/src/socket/handler.rs
  websocket/crates/infra/src/socket/room.rs
  websocket/crates/infra/src/socket/state.rs
Labels: websocket

#381 feat(ui): Update Me Implementation
  ui/src/features/Dialog/components/settings/AccountDialog.tsx
  ui/src/lib/gql/__gen__/fragment-masking.ts
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/user/queries.graphql
  ui/src/lib/gql/user/useApi.ts
  ui/src/lib/gql/user/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/types/user.ts
Labels: ui

#383 feat(worker): modify duplicate points validation to Polygon
  worker/crates/geometry/src/validation.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
Labels: worker

#377 feat(ui): additional functionality for sub workflows
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/EntranceNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/ExitNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/components/CustomHandle/CustomHandle.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/SubworkflowNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/index.ts
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/Canvas/useDnd.ts
  ui/src/features/Editor/components/Canvas/useNodes.ts
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/RightPanel/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/lib/yjs/types.ts
  ui/src/lib/yjs/useWorkflowTabs.ts
  ui/src/lib/yjs/useYEdge.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/lib/yjs/workflowBuilder.ts
  ui/src/types/node.ts
  ui/yarn.lock
Labels: ui

#385 chore(worker): Add PlanarityFilter, FeatureCounter, HoleCounter, FeatureFilter01, and HoleExtractor actions to quality-check workflow
  worker/crates/action-processor/src/geometry/hole_extractor.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
Labels: worker

#362 feat(ui): Actions list
  ui/.env-local
  ui/src/components/Accordian/index.tsx
  ui/src/components/FileTree/index.tsx
  ui/src/components/Tabs/index.tsx
  ui/src/components/buttons/BaseButton/index.tsx
  ui/src/components/index.ts
  ui/src/features/Dashboard/components/LeftSection/components/RunsSection.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/SingleAction.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/LeftPanel/components/TransformerList.tsx
  ui/src/features/Editor/components/LeftPanel/components/index.ts
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/lib/fetch/actions/index.ts
  ui/src/lib/fetch/actions/useApi.ts
  ui/src/lib/fetch/actions/useFetch.ts
  ui/src/lib/fetch/index.ts
  ui/src/lib/gql/provider/GraphQLRequestProvider.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/types/action.ts
  ui/src/types/index.ts
Labels: ui

#386 feat(worker): Add feature creator for source
  schema/actions.json
  worker/Cargo.lock
  worker/crates/action-sink/src/file/writer.rs
  worker/crates/action-source/Cargo.toml
  worker/crates/action-source/src/errors.rs
  worker/crates/action-source/src/feature_creator.rs
  worker/crates/action-source/src/lib.rs
  worker/crates/action-source/src/mapping.rs
  worker/examples/plateau/helper.rs
  worker/examples/plateau/testdata/workflow/example_feature_creator.yml
Labels: worker

#388 chore(ui): add tests to yjs and sub workflow hooks
  ui/src/lib/yjs/useWorkflowTabs.test.ts
  ui/src/lib/yjs/useYEdge.test.ts
  ui/src/lib/yjs/useYNode.test.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/lib/yjs/useYWorkflow.test.ts
  ui/src/lib/yjs/workflowBuilder.test.ts
Labels: ui

#390 feat(worker): Remove redundant code in closed_curve_filter.rs, line_on_line_overlayer.rs, coercer.rs, and hole_extractor.rs
  worker/crates/action-processor/src/geometry/closed_curve_filter.rs
  worker/crates/action-processor/src/geometry/coercer.rs
  worker/crates/action-processor/src/geometry/hole_extractor.rs
  worker/crates/action-processor/src/geometry/line_on_line_overlayer.rs
  worker/crates/action-processor/src/geometry/orientation_extractor.rs
  worker/examples/plateau/testdata/workflow/quality-check/02-bldg/l_7_8_9_11_13_lod0.yml
Labels: worker
