Repository reearth/reearth-flow, pull requests merged in 2024-10, with the labels that each got.

#542 chore(engine): update dependencies and improve workspace configuration
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/action-sink/Cargo.toml
Labels: engine

#524 feat(ui): Schema Form - RSJF Integration (for action parameters)
  ui/package.json
  ui/src/components/RadioGroup/index.stories.tsx
  ui/src/components/RadioGroup/index.tsx
  ui/src/components/SchemaForm/Templates/ArrayFieldItemTemplate.tsx
  ui/src/components/SchemaForm/Templates/ArrayFieldTemplate.tsx
  ui/src/components/SchemaForm/Templates/BaseInputTemplate.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/AddButton.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/CopyButton.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/MoveDownButton.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/MoveUpButton.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/RemoveButton.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/SubmitButton.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/index.ts
  ui/src/components/SchemaForm/Templates/DescriptionFieldTemplate.tsx
  ui/src/components/SchemaForm/Templates/ErrorListTemplate.tsx
  ui/src/components/SchemaForm/Templates/FieldErrorTemplate.tsx
  ui/src/components/SchemaForm/Templates/FieldHelpTemplate.tsx
  ui/src/components/SchemaForm/Templates/FieldTemplate.tsx
  ui/src/components/SchemaForm/Templates/ObjectFieldTemplate.tsx
  ui/src/components/SchemaForm/Templates/TitleFieldTemplate.tsx
  ui/src/components/SchemaForm/Templates/index.tsx
  ui/src/components/SchemaForm/ThemedForm.tsx
  ui/src/components/SchemaForm/Widgets/CheckboxWidget.tsx
  ui/src/components/SchemaForm/Widgets/CheckboxesWidget.tsx
  ui/src/components/SchemaForm/Widgets/RadioWidget.tsx
  ui/src/components/SchemaForm/Widgets/RangeWidget.tsx
  ui/src/components/SchemaForm/Widgets/SelectWidget.tsx
  ui/src/components/SchemaForm/Widgets/TextareaWidget.tsx
  ui/src/components/SchemaForm/Widgets/index.tsx
  ui/src/components/SchemaForm/index.stories.tsx
  ui/src/components/SchemaForm/index.tsx
  ui/src/components/SchemaForm/utils/WrapIfAdditionalTemplate.tsx
  ui/src/components/index.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/yarn.lock
Labels: ui

#543 feat(engine): refactor geometry handling for async writes
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/action-processor/src/geometry/area_on_area_overlayer.rs
  engine/runtime/geometry/Cargo.toml
  engine/runtime/geometry/src/algorithm/bufferable.rs
  engine/runtime/geometry/src/types/line_string.rs
  engine/runtime/geometry/src/types/multi_polygon.rs
  engine/runtime/geometry/src/types/polygon.rs
  engine/runtime/runtime/src/executor/processor_node.rs
  engine/runtime/runtime/src/feature_store.rs
  engine/runtime/runtime/src/forwarder.rs
Labels: engine

#544 feat(engine): implement conversions between geo_types and custom geometry types
  engine/runtime/geometry/src/types/coordinate.rs
  engine/runtime/geometry/src/types/line.rs
  engine/runtime/geometry/src/types/line_string.rs
  engine/runtime/geometry/src/types/multi_line_string.rs
  engine/runtime/geometry/src/types/multi_point.rs
  engine/runtime/geometry/src/types/point.rs
Labels: engine

#545 feat(engine): update geometry processing with line intersection algor…
  engine/Cargo.toml
  engine/runtime/action-processor/src/geometry/line_on_line_overlayer.rs
Labels: engine

#547 feat(engine): add event handling support and update dependencies
  engine/Cargo.lock
  engine/cli/src/run.rs
  engine/plateau-gis-quality-checker/src-tauri/src/handler.rs
  engine/runtime/examples/Cargo.toml
  engine/runtime/examples/plateau/helper.rs
  engine/runtime/runner/src/executor.rs
  engine/runtime/runner/src/orchestrator.rs
  engine/runtime/runner/src/runner.rs
  engine/runtime/runtime/src/event.rs
  engine/runtime/runtime/src/executor/dag_executor.rs
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/runtime/tests/helper.rs
  engine/worker/src/main.rs
Labels: engine

#548 feat(engine): enhance event handling and introduce new event types
  engine/runtime/examples/plateau/helper.rs
  engine/runtime/runner/src/orchestrator.rs
  engine/runtime/runtime/src/errors.rs
  engine/runtime/runtime/src/event.rs
  engine/runtime/runtime/src/executor/source_node.rs
  engine/runtime/runtime/src/forwarder.rs
Labels: engine

#551 feat(engine): update path handling to use platform-independent spearator
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/package.json
  engine/plateau-gis-quality-checker/src-tauri/tauri.conf.json
  engine/runtime/action-plateau-processor/src/udx_folder_extractor.rs
  engine/runtime/action-source/src/file/path_extractor.rs
Labels: engine

#552 feat(engine): enhance URI path handling with dynamic separator support
  engine/plateau-gis-quality-checker/src-tauri/embed/workflows/luse-urf.yml
  engine/plateau-gis-quality-checker/src-tauri/src/handler.rs
  engine/runtime/common/src/uri.rs
Labels: engine

#555 chore(engine): bump external libraries
  engine/Cargo.lock
  engine/Cargo.toml
Labels: engine

#558 feat(engine): add crossbeam libraries and update workflow examples
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/attribute/mapper.rs
  engine/runtime/action-processor/src/feature/reader.rs
  engine/runtime/action-processor/src/xml/fragmenter.rs
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-sink/src/file/mvt.rs
  engine/runtime/common/src/xml.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/graphs/attribute_reader.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/04-luse-lsld/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/05-luse-urf/workflow.yml
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/runtime/runtime/src/node.rs
  engine/schema/actions.json
Labels: engine

#561 feat(engine): replace nusamai_geometry with flatgeom in Cargo.toml and source files
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/action-processor/src/feature/reader/citygml.rs
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/action-sink/src/file/mvt/slice.rs
  engine/runtime/action-sink/src/file/types/slice.rs
  engine/runtime/action-sink/src/file/util.rs
  engine/runtime/action-source/src/file/reader/citygml.rs
  engine/runtime/geometry/Cargo.toml
  engine/runtime/geometry/src/types/line_string.rs
  engine/runtime/geometry/src/types/multi_line_string.rs
  engine/runtime/geometry/src/types/multi_point.rs
  engine/runtime/geometry/src/types/multi_polygon.rs
  engine/runtime/geometry/src/types/polygon.rs
  engine/runtime/types/Cargo.toml
  engine/runtime/types/src/conversion/nusamai.rs
Labels: engine

#554 refactor(api): remove workflow conversion and save workflow to gcs
  api/e2e/common.go
  api/e2e/gql_deployment_test.go
  api/go.mod
  api/gql/deployment.graphql
  api/gql/project.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/convert_deployment.go
  api/internal/adapter/gql/gqlmodel/convert_workflow.go
  api/internal/adapter/gql/gqlmodel/convert_workflow_test.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_mutation_deployment.go
  api/internal/adapter/gql/resolver_mutation_project.go
  api/internal/infrastructure/fs/common.go
  api/internal/infrastructure/fs/file.go
  api/internal/infrastructure/fs/file_test.go
  api/internal/infrastructure/gcpbatch/batch.go
  api/internal/infrastructure/gcpbatch/batch_test.go
  api/internal/infrastructure/gcs/file.go
  api/internal/infrastructure/gcs/file_test.go
  api/internal/infrastructure/memory/workflow.go
  api/internal/infrastructure/mongo/mongodoc/deployment.go
  api/internal/infrastructure/mongo/mongodoc/workflow.go
  api/internal/infrastructure/mongo/mongodoc/workflow_test.go
  api/internal/infrastructure/mongo/workflow.go
  api/internal/usecase/gateway/batch.go
  api/internal/usecase/gateway/file.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interactor/project.go
  api/internal/usecase/interfaces/deployment.go
  api/internal/usecase/interfaces/project.go
  api/internal/usecase/repo/workflow.go
  api/pkg/deployment/builder.go
  api/pkg/deployment/deployment.go
  api/pkg/workflow/edge.go
  api/pkg/workflow/edge_test.go
  api/pkg/workflow/graph.go
  api/pkg/workflow/graph_test.go
  api/pkg/workflow/id.go
  api/pkg/workflow/node.go
  api/pkg/workflow/node_test.go
  api/pkg/workflow/workflow.go
  api/pkg/workflow/workflow_test.go
Labels: api

#562 feat(ui): new logo + a little ui tweaks
  ui/src/components/Loading/index.tsx
  ui/src/components/icons/FlowLogo.tsx
  ui/src/favicon.ico
  ui/src/features/Dashboard/components/MainSection/components/ProjectCard.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/NotFound/index.tsx
  ui/src/features/TopNavigation/index.tsx
  ui/src/routes/index.tsx
Labels: ui

#563 feat(engine): update nusamai dependencies to version 0.1.1
  engine/Cargo.lock
  engine/Cargo.toml
Labels: engine

#564 feat(ui): Right Panel Action Parameters
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/useNodeLocker.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/types/action.ts
Labels: ui

#565 feat(engine): update dependencies and clean up code structure for 3dtiles
  engine/.gitignore
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/runtime/action-plateau-processor/src/attribute_flattener.rs
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-sink/src/errors.rs
  engine/runtime/action-sink/src/file.rs
  engine/runtime/action-sink/src/file/cesium3dtiles.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/gltf.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/material.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/metadata.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/slice.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/tiling.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/tiling/scheme.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/tiling/tree.rs
  engine/runtime/action-sink/src/file/gltf.rs
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/action-sink/src/file/types.rs
  engine/runtime/action-sink/src/file/types/slice.rs
  engine/runtime/action-sink/src/file/writer.rs
  engine/runtime/action-sink/src/mapping.rs
  engine/runtime/common/src/lib.rs
  engine/runtime/common/src/texture.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/01-bldg/workflow.yml
  engine/runtime/geometry/src/types/line_string.rs
  engine/runtime/geometry/src/types/polygon.rs
  engine/schema/actions.json
Labels: engine

#566 fix(engine): Refactor fn write_excel() to use a title map for columns
  engine/runtime/action-sink/src/file/excel.rs
  engine/runtime/examples/plateau/testdata/workflow/example_excel.yml
Labels: engine

#568 feat(engine): add sheet_name parameter to excel_write()
  engine/docs/mdbook/src/action.md
  engine/runtime/action-sink/src/file/excel.rs
  engine/runtime/action-sink/src/file/writer.rs
  engine/runtime/examples/plateau/testdata/workflow/example_excel.yml
  engine/sample.xlsx
  engine/schema/actions.json
Labels: engine

#569 chore(engine): update dependencies and add sample.xlsx to .gitignore
  engine/.gitignore
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/examples/plateau/testdata/workflow/example_excel.yml
  engine/sample.xlsx
Labels: engine

#570 feat(engine): implement JSON logging format for action logger
  engine/runtime/action-log/src/action.rs
  engine/runtime/action-log/src/json.rs
  engine/runtime/action-log/src/lib.rs
Labels: engine

#571 feat(engine): add transform_inplace method for various geometry types
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/embed/workflows/luse-urf.yml
  engine/plateau-gis-quality-checker/src-tauri/embed/workflows/tran-rwy-trk-squr-wwy.yml
  engine/runtime/action-processor/src/geometry.rs
  engine/runtime/action-processor/src/geometry/errors.rs
  engine/runtime/action-processor/src/geometry/horizontal_reprojector.rs
  engine/runtime/action-processor/src/geometry/mapping.rs
  engine/runtime/action-processor/src/geometry/vertical_reprojector.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/slice.rs
  engine/runtime/examples/plateau/testdata/graphs/lod_splitter_with_dm.yml
  engine/runtime/examples/plateau/testdata/workflow/bounds_extractor.yml
  engine/runtime/examples/plateau/testdata/workflow/building_proccessor.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/01-bldg/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/geometry_refiner.yml
  engine/runtime/geometry/src/types/face.rs
  engine/runtime/geometry/src/types/geometry.rs
  engine/runtime/geometry/src/types/line.rs
  engine/runtime/geometry/src/types/multi_line_string.rs
  engine/runtime/geometry/src/types/multi_point.rs
  engine/runtime/geometry/src/types/multi_polygon.rs
  engine/runtime/geometry/src/types/point.rs
  engine/runtime/geometry/src/types/rect.rs
  engine/runtime/geometry/src/types/solid.rs
  engine/runtime/geometry/src/types/triangle.rs
  engine/runtime/types/src/geometry.rs
  engine/schema/actions.json
Labels: engine

#572 feat(engine): enhance texture resolution handling and add distance per pixel calculations
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/slice.rs
  engine/runtime/common/src/texture.rs
Labels: engine

#576 refactor(api): modify deployments to accept a yaml file, not zip
  api/e2e/gql_deployment_test.go
  api/gql/deployment.graphql
  api/gql/project.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_mutation_deployment.go
  api/internal/adapter/gql/resolver_mutation_project.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interactor/project.go
  api/internal/usecase/interfaces/deployment.go
  api/internal/usecase/interfaces/project.go
Labels: api

#577 refactor(engine): simplify geometry type handling and update dependencies to v0.2.0
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/action-processor/src/feature/reader/citygml.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/slice.rs
  engine/runtime/action-sink/src/file/mvt/slice.rs
  engine/runtime/action-source/src/file/reader/citygml.rs
  engine/runtime/geometry/src/types/line_string.rs
  engine/runtime/types/src/conversion/nusamai.rs
  engine/runtime/types/src/geometry.rs
Labels: engine

#578 chore(ui): optimize Dockerfile, set empty env vars correctly to reearth config file
  .github/workflows/build_deploy_ui.yml
  .github/workflows/ci_ui.yml
  ui/Dockerfile
  ui/docker/40-envsubst-on-reearth_config.sh
  ui/docker/nginx.conf
  ui/docker/nginx.conf.template
  ui/docker/reearth_config.json.template
  ui/yarn.lock
Labels: ui, cicd

#579 chore(ui): Fix action search
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
Labels: ui

#581 feat(engine): add layer_name parameter to MVTWriter and update geometry handling
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/feature/reader/citygml.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/slice.rs
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/action-sink/src/file/mvt/slice.rs
  engine/runtime/action-source/src/file/reader/citygml.rs
  engine/runtime/types/src/conversion/nusamai.rs
  engine/runtime/types/src/geometry.rs
  engine/schema/actions.json
Labels: engine

#583 feat(engine): Add BulkAttributeRenamer processor
  engine/Cargo.lock
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/attribute.rs
  engine/runtime/action-processor/src/attribute/bulk_renamer.rs
  engine/runtime/action-processor/src/attribute/errors.rs
  engine/runtime/action-processor/src/attribute/mapping.rs
  engine/runtime/action-sink/src/file/writer.rs
  engine/runtime/tests/Cargo.toml
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/all_add_prefix/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/all_add_suffix/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/all_remove_prefix/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/all_remove_prefix_error/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/all_remove_suffix/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/all_remove_suffix_error/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/all_string_replace/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/all_string_replace_error/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/delete_attribute/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/selected_add_prefix/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/selected_add_suffix/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/selected_remove_prefix/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/selected_remove_prefix_error/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/selected_remove_suffix/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/selected_remove_suffix_error/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/selected_string_replace/expect.json
  engine/runtime/tests/fixture/testdata/attribute/bulk_renamer/selected_string_replace_error/expect.json
  engine/runtime/tests/fixture/testdata/attribute/renamer/add_prefix/renamer.json
  engine/runtime/tests/fixture/testdata/attribute/renamer/add_suffix/renamer.json
  engine/runtime/tests/fixture/testdata/attribute/renamer/regular_expression_replace/renamer.json
  engine/runtime/tests/fixture/testdata/attribute/renamer/remove_prefix/renamer.json
  engine/runtime/tests/fixture/testdata/attribute/renamer/remove_suffix/renamer.json
  engine/runtime/tests/fixture/testdata/attribute/renamer/string_replace/renamer.json
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/all_add_prefix.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/all_add_suffix.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/all_remove_prefix.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/all_remove_prefix_error.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/all_remove_suffix.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/all_remove_suffix_error.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/all_string_replace.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/all_string_replace_error.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/delete_attribute.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/selected_add_prefix.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/selected_add_suffix.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/selected_remove_prefix.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/selected_remove_prefix_error.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/selected_remove_suffix.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/selected_remove_suffix_error.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/selected_string_replace.yaml
  engine/runtime/tests/fixture/workflow/attribute/bulk_renamer/selected_string_replace_error.yaml
  engine/runtime/tests/fixture/workflow/attribute/renamer/add_prefix.yaml
  engine/runtime/tests/fixture/workflow/attribute/renamer/add_suffix.yaml
  engine/runtime/tests/fixture/workflow/attribute/renamer/regular_expression_replace.yaml
  engine/runtime/tests/fixture/workflow/attribute/renamer/remove_prefix.yaml
  engine/runtime/tests/fixture/workflow/attribute/renamer/remove_suffix.yaml
  engine/runtime/tests/fixture/workflow/attribute/renamer/string_replace.yaml
  engine/runtime/tests/helper.rs
  engine/runtime/tests/testcase/attribute.rs
  engine/runtime/tests/testcase/attribute/bulk_renamer.rs
  engine/schema/actions.json
Labels: engine

#584 chore(engine): update Rust version to 1.82 and refine error handling in BulkAttributeRenamer
  engine/Cargo.toml
  engine/cli/Dockerfile
  engine/clippy.toml
  engine/runtime/action-processor/src/attribute/bulk_renamer.rs
Labels: engine

#585 refactor(engine): replace sender with buffer in MVTWriter and update …
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/runtime/src/errors.rs
  engine/runtime/runtime/src/executor/processor_node.rs
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/runtime/runtime/src/node.rs
Labels: engine

#587 refactor(engine): update parameter names and enhance CityGML processing
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/feature/reader.rs
  engine/runtime/action-processor/src/feature/reader/citygml.rs
  engine/runtime/action-processor/src/feature/reader/csv.rs
  engine/runtime/action-source/src/file/reader/citygml.rs
  engine/runtime/action-source/src/file/reader/runner.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/schema/actions.json
Labels: engine

#588 refactor(engine): update FileWriter to use compiled parameters and im…
  engine/runtime/action-sink/src/file/excel.rs
  engine/runtime/action-sink/src/file/writer.rs
  engine/runtime/tests/helper.rs
Labels: engine

#586 feat(websoket): add examples for edit session service and fix some bug
  websocket/crates/infra/src/persistence/project_repository.rs
  websocket/crates/services/examples/edit_session_service.rs
  websocket/crates/services/src/lib.rs
  websocket/crates/services/src/manage_project_edit_session.rs
Labels: websocket

#582 fix(websocket): fix circular dependency
  websocket/Cargo.lock
  websocket/Cargo.toml
  websocket/app/Cargo.toml
  websocket/app/src/bin/main.rs
  websocket/app/src/config.rs
  websocket/app/src/errors.rs
  websocket/app/src/handler.rs
  websocket/app/src/lib.rs
  websocket/app/src/middleware.rs
  websocket/app/src/room.rs
  websocket/app/src/routes.rs
  websocket/app/src/services.rs
  websocket/app/src/state.rs
  websocket/crates/infra/src/lib.rs
  websocket/crates/infra/src/socket/errors.rs
  websocket/crates/infra/src/socket/mod.rs
  websocket/crates/infra/src/socket/state.rs
  websocket/crates/services/src/bin/main.rs
Labels: websocket

#575 feat(websocket): add redis docker for websocket service
  websocket/Redis.Dockerfile
  websocket/Websocket.Dockerfile
  websocket/docker-compose.yml
  websocket/redis.conf
Labels: api, websocket, engine

#592 refactor(engine): optimize feature writing performance
  engine/runtime/runner/src/orchestrator.rs
  engine/runtime/runtime/src/executor/dag_executor.rs
  engine/runtime/runtime/src/executor/execution_dag.rs
  engine/runtime/runtime/src/executor_operation.rs
  engine/runtime/runtime/src/feature_store.rs
  engine/runtime/state/src/lib.rs
Labels: engine

#593 fix(engine): update workflow paths and output handling in feature transformer
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/runtime/action-plateau-processor/src/attribute_flattener.rs
  engine/runtime/action-processor/src/feature/reader/citygml.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/workflow/attribute_flatterner.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/01-bldg/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/05-luse-urf/workflow.yml
  engine/runtime/runner/src/orchestrator.rs
  engine/schema/actions.json
Labels: engine

#594 feat(worker): add compose.yml for PubSub and GCS emulators
  engine/worker/PubSub.Dockerfile
  engine/worker/Worker.Dockerfile
  engine/worker/compose.yml
  engine/worker/src/pubsub/entrypoint.sh
Labels: engine

#596 refactor(engine): reorganize Dockerfiles and update paths for better structure
  engine/compose.yml
  engine/containers/cli/Dockerfile
  engine/containers/pubsub/Dockerfile
  engine/containers/pubsub/entrypoint.sh
  engine/containers/worker/Dockerfile
  engine/worker/PubSub.Dockerfile
  engine/worker/Worker.Dockerfile
Labels: engine

#597 feat: add description to deployment dialog
  api/gql/deployment.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/convert_deployment.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_mutation_deployment.go
  api/internal/infrastructure/mongo/mongodoc/deployment.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interfaces/deployment.go
  api/pkg/deployment/builder.go
  api/pkg/deployment/deployment.go
  api/pkg/project/project.go
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/components/DeployDialog.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Runs/components/NewRun.tsx
  ui/src/global-constants.ts
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/deployment/queries.graphql
  ui/src/lib/gql/deployment/useApi.ts
  ui/src/lib/gql/deployment/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/types/deployment.ts
Labels: ui, api

#599 feat(worker): add metadata types and logging setup and update asset download logic
  engine/.gitignore
  engine/Cargo.lock
  engine/Cargo.toml
  engine/cli/src/main.rs
  engine/compose.yml
  engine/runtime/action-log/src/json.rs
  engine/runtime/common/src/uri.rs
  engine/runtime/storage/src/operator.rs
  engine/runtime/types/src/workflow.rs
  engine/worker/Cargo.toml
  engine/worker/src/asset.rs
  engine/worker/src/command.rs
  engine/worker/src/errors.rs
  engine/worker/src/logger.rs
  engine/worker/src/main.rs
  engine/worker/src/types.rs
  engine/worker/src/types/metadata.rs
Labels: engine

#598 feat(ui): Actions Panel Params Fixes
  ui/src/components/SchemaForm/Templates/ArrayFieldTemplate.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/AddButton.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/CopyButton.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/MoveDownButton.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/MoveUpButton.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/RemoveButton.tsx
  ui/src/components/SchemaForm/Templates/ButtonTemplates/SubmitButton.tsx
  ui/src/components/SchemaForm/Templates/FieldTemplate.tsx
  ui/src/components/SchemaForm/Templates/TitleFieldTemplate.tsx
Labels: ui

#602 feat(pubsub): implement pubsub module with message handling and error management
  engine/Cargo.lock
  engine/compose.yml
  engine/runtime/examples/plateau/helper.rs
  engine/runtime/runner/src/executor.rs
  engine/runtime/runner/src/orchestrator.rs
  engine/runtime/runner/src/runner.rs
  engine/runtime/runtime/src/event.rs
  engine/runtime/runtime/src/executor/dag_executor.rs
  engine/runtime/runtime/src/executor/processor_node.rs
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/runtime/runtime/src/executor/source_node.rs
  engine/runtime/runtime/src/executor_operation.rs
  engine/worker/Cargo.toml
  engine/worker/src/asset.rs
  engine/worker/src/command.rs
  engine/worker/src/errors.rs
  engine/worker/src/event_handler.rs
  engine/worker/src/logger.rs
  engine/worker/src/main.rs
  engine/worker/src/pubsub.rs
  engine/worker/src/pubsub/backend.rs
  engine/worker/src/pubsub/backend/google_pubsub.rs
  engine/worker/src/pubsub/message.rs
  engine/worker/src/pubsub/publisher.rs
  engine/worker/src/pubsub/topic.rs
  engine/worker/src/types.rs
  engine/worker/src/types/edge_pass_through_event.rs
Labels: engine

#603 feat(worker): add new event schemas and update topic configuration in compose file
  engine/compose.yml
  engine/schema/edge_pass_through_event.json
  engine/schema/metadata.json
  engine/schema/workflow.json
  engine/worker/README.md
Labels: engine

#604 feat(api): add deployment to project
  api/gql/project.graphql
  api/gql/workflow.graphql
  api/gqlgen.yml
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/loader_deployment.go
  api/internal/adapter/gql/resolver_project.go
  api/internal/infrastructure/memory/deployment.go
  api/internal/infrastructure/mongo/deployment.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interfaces/deployment.go
  api/internal/usecase/repo/deployment.go
Labels: api
