Repository reearth/reearth-flow, pull requests merged in 2025-01, with the labels that each got.

#736 chore(engine): update dependencies to latest versions in Cargo.toml
  engine/Cargo.lock
  engine/Cargo.toml
Labels: engine

#739 ci(api): redeploy api if actions update
  .github/workflows/ci.yml
Labels: cicd

#740 ci(ui): subscription type not found
  api/gql/_shared.graphql
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
Labels: ui, api

#731 fix(ui): Other languages for actions, border fix, nav arrows remov
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
  ui/src/lib/fetch/transformers/useApi.ts
  ui/src/lib/fetch/transformers/useFetch.ts
Labels: ui

#737 chore(ui): deps upgrade 20250106
  ui/eslint.config.mjs
  ui/package.json
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/lib/i18n/i18n.ts
  ui/src/lib/i18n/locales.ts
  ui/yarn.lock
Labels: ui

#741 feat(engine): simplify FeatureLodFilter by removing unused LOD counters and update workflow configuration to include FeatureLodFilter action
  engine/runtime/action-processor/src/feature/lod_filter.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/01-bldg/workflow.yml
Labels: engine

#742 feat(engine): update slicing logic and enhance attribute conversion in workflow configuration
  engine/runtime/action-sink/src/file/cesium3dtiles/slice.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/runtime/types/src/attribute.rs
  engine/runtime/types/src/feature.rs
Labels: engine

#744 feat(engine): add Tiling module and update geometry slicing to include tile metadata
  engine/runtime/action-sink/src/file/mvt.rs
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/action-sink/src/file/mvt/slice.rs
  engine/runtime/action-sink/src/file/mvt/tiling.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/04-luse-lsld/workflow.yml
Labels: engine

#745 feat(ui): Hide reader/writer for toolbox on subworkflows
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/index.tsx
  ui/src/features/KeyboardShortcutDialog/useHooks.ts
Labels: ui

#749 refactor(ui): create json rather than yaml for engine workflow
  ui/package.json
  ui/src/features/WorkspaceDeployments/hooks.ts
  ui/src/lib/gql/deployment/useApi.ts
  ui/src/lib/gql/deployment/useQueries.ts
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/mock_data/deploymentsData.ts
  ui/src/utils/engineWorkflowYaml/workflowYaml.test.ts
  ui/src/utils/engineWorkflowYaml/workflowYaml.ts
  ui/src/utils/jsonToFormData.test.ts
  ui/src/utils/jsonToFormData.ts
  ui/src/utils/toEngineWorkflowJson/consolidateWorkflows.test.ts
  ui/src/utils/toEngineWorkflowJson/consolidateWorkflows.ts
  ui/src/utils/toEngineWorkflowJson/convertEdges.test.ts
  ui/src/utils/toEngineWorkflowJson/convertEdges.ts
  ui/src/utils/toEngineWorkflowJson/convertNodes.test.ts
  ui/src/utils/toEngineWorkflowJson/convertNodes.ts
  ui/src/utils/toEngineWorkflowJson/createSubGraphs.test.ts
  ui/src/utils/toEngineWorkflowJson/createSubGraphs.ts
  ui/src/utils/toEngineWorkflowJson/engineReadyWorkflow.test.ts
  ui/src/utils/toEngineWorkflowJson/engineReadyWorkflow.ts
  ui/src/utils/yamlToFormData.ts
  ui/yarn.lock
Labels: ui

#748 fix(ui): some broken ui
  ui/package.json
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/components/DeployDialog.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/yarn.lock
Labels: ui

#750 feat(engine): add sevenz module with decompression functionality and error handling
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/sevenz/Cargo.toml
  engine/runtime/sevenz/src/archive.rs
  engine/runtime/sevenz/src/bcj2.rs
  engine/runtime/sevenz/src/de_funcs.rs
  engine/runtime/sevenz/src/decoders.rs
  engine/runtime/sevenz/src/error.rs
  engine/runtime/sevenz/src/folder.rs
  engine/runtime/sevenz/src/lib.rs
  engine/runtime/sevenz/src/reader.rs
Labels: engine

#743 fix(ui): SubWork Flow Multi Select Deletion
  ui/src/lib/yjs/useYWorkflow.ts
Labels: ui

#751 feat(engine): integrate sevenz support for file extraction in action processor
  engine/Cargo.lock
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-processor/src/feature/file_path_extractor.rs
  engine/runtime/sevenz/src/error.rs
  engine/runtime/sevenz/src/lib.rs
Labels: engine

#753 feat(engine): add SinkFinishFailed event and handle it in processors
  engine/Cargo.toml
  engine/clippy.toml
  engine/containers/cli/Dockerfile
  engine/containers/worker/Dockerfile
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/action-source/src/file/reader/citygml.rs
  engine/runtime/examples/plateau/helper.rs
  engine/runtime/gltf/src/writer.rs
  engine/runtime/runtime/src/event.rs
  engine/worker/src/command.rs
  engine/worker/src/event_handler.rs
Labels: engine

#746 fix(ui): input/output router filtering for main workflow
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/index.tsx
  ui/src/lib/fetch/transformers/useApi.ts
Labels: ui

#757 chore(api): make projectID optional for deployments
  api/gql/asset.graphql
  api/gql/deployment.graphql
  api/gql/job.graphql
  api/gql/parameter.graphql
  api/gql/project.graphql
  api/gql/user.graphql
  api/gql/workspace.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/convert_deployment.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_deployment.go
  api/internal/adapter/gql/resolver_mutation_deployment.go
  api/internal/adapter/gql/resolver_subscription.go
  api/internal/app/graphql.go
  api/internal/infrastructure/gcpbatch/batch.go
  api/internal/infrastructure/gcpbatch/batch_test.go
  api/internal/infrastructure/memory/deployment.go
  api/internal/infrastructure/mongo/deployment.go
  api/internal/infrastructure/mongo/mongodoc/deployment.go
  api/internal/usecase/gateway/batch.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interactor/project.go
  api/internal/usecase/interfaces/deployment.go
  api/pkg/deployment/builder.go
  api/pkg/deployment/deployment.go
Labels: api

#761 chore(ui): update gql making projectId optional on deployments
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/types/deployment.ts
Labels: ui

#752 feat(ui): create deployment from file
  ui/src/components/Input/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/components/DeployDialog.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentAddDialog.tsx
  ui/src/features/WorkspaceDeployments/components/index.ts
  ui/src/features/WorkspaceDeployments/hooks.ts
  ui/src/features/WorkspaceDeployments/index.tsx
  ui/src/features/common/DetailsBox.tsx
  ui/src/lib/gql/deployment/useApi.ts
  ui/src/lib/gql/deployment/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/utils/engineWorkflowValidation.ts
Labels: ui

#762 chore(api): return projectID with deployment in resolver
  api/internal/adapter/gql/gqlmodel/convert_deployment.go
Labels: api

#763 feat(engine): add FeatureDuplicateFilter to process and filter duplicate features
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/feature.rs
  engine/runtime/action-processor/src/feature/duplicate_filter.rs
  engine/runtime/action-processor/src/feature/errors.rs
  engine/runtime/action-processor/src/feature/lod_filter.rs
  engine/runtime/action-processor/src/feature/mapping.rs
  engine/runtime/runtime/src/executor_operation.rs
  engine/runtime/types/src/feature.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#765 feat(ui): improve dashboard and jobs manager
  ui/src/components/Avatar/index.tsx
  ui/src/components/Loading/index.tsx
  ui/src/config/index.ts
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentAddDialog.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentDeletionDialog.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentDetails.tsx
  ui/src/features/WorkspaceDeployments/hooks.ts
  ui/src/features/WorkspaceDeployments/index.tsx
  ui/src/features/WorkspaceJobs/components/JobDetails.tsx
  ui/src/features/WorkspaceJobs/components/JobRunDialog.tsx
  ui/src/features/WorkspaceJobs/components/JobsTable.tsx
  ui/src/features/WorkspaceJobs/components/NewJob.tsx
  ui/src/features/WorkspaceJobs/components/StatusContent.tsx
  ui/src/features/WorkspaceJobs/components/index.ts
  ui/src/features/WorkspaceJobs/components/styles.css
  ui/src/features/WorkspaceJobs/hooks.ts
  ui/src/features/WorkspaceJobs/index.tsx
  ui/src/features/WorkspaceLeftPanel/components/EndSection/components/WorkspaceSettings.tsx
  ui/src/features/WorkspaceLeftPanel/components/EndSection/index.tsx
  ui/src/features/WorkspaceLeftPanel/components/JobsSection.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/DeploymentManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/JobManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/ProjectManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/index.ts
  ui/src/features/WorkspaceLeftPanel/components/TopSection/index.tsx
  ui/src/features/WorkspaceLeftPanel/components/index.ts
  ui/src/features/WorkspaceLeftPanel/index.tsx
  ui/src/features/WorkspaceProjects/components/ProjectCard.tsx
  ui/src/features/WorkspaceProjects/index.tsx
  ui/src/features/WorkspaceSettings/components/GeneralSettings/index.tsx
  ui/src/features/WorkspaceSettings/components/IntegrationsSettings.tsx
  ui/src/features/WorkspaceSettings/components/MembersSettings.tsx
  ui/src/features/WorkspaceSettings/components/index.ts
  ui/src/features/WorkspaceSettings/index.tsx
  ui/src/features/WorkspaceTopNavigation/components/index.ts
  ui/src/features/WorkspaceTopNavigation/index.tsx
  ui/src/features/common/DetailsBox.tsx
  ui/src/features/common/UserMenu/AccountUpdateDialog.tsx
  ui/src/features/common/UserMenu/index.tsx
  ui/src/features/common/WorkspaceMenu/WorkspaceAddDialog.tsx
  ui/src/features/common/WorkspaceMenu/index.tsx
  ui/src/features/common/index.ts
  ui/src/index.css
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/mock_data/deploymentsData.ts
  ui/src/mock_data/jobsData.ts
  ui/src/mock_data/pointData/fires.json
  ui/src/mock_data/pointData/index.ts
  ui/src/routes/workspaces.tsx
  ui/src/testing/setup.ts
  ui/src/utils/cancellableDebounce.ts
  ui/tailwind.config.ts
Labels: ui

#767 feat(engine): add JSON support for feature reading and processing
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/feature/errors.rs
  engine/runtime/action-processor/src/feature/reader.rs
  engine/runtime/action-processor/src/feature/reader/citygml.rs
  engine/runtime/action-processor/src/feature/reader/csv.rs
  engine/runtime/action-processor/src/feature/reader/json.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#768 feat(engine): add FeatureWriter to support writing features in various formats
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/feature.rs
  engine/runtime/action-processor/src/feature/errors.rs
  engine/runtime/action-processor/src/feature/mapping.rs
  engine/runtime/action-processor/src/feature/reader.rs
  engine/runtime/action-processor/src/feature/writer.rs
  engine/runtime/action-processor/src/feature/writer/csv.rs
  engine/runtime/action-processor/src/feature/writer/json.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#769 feat(ui): make deployment files updatable
  ui/src/features/WorkspaceDeployments/components/DeploymentAddDialog.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentDetails.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentEditDialog/index.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentEditDialog/useHooks.ts
  ui/src/features/WorkspaceDeployments/components/index.ts
  ui/src/features/WorkspaceDeployments/hooks.ts
  ui/src/features/WorkspaceDeployments/index.tsx
  ui/src/features/WorkspaceLeftPanel/index.tsx
  ui/src/features/common/DetailsBox.tsx
  ui/src/lib/gql/deployment/useApi.ts
  ui/src/lib/gql/deployment/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useYjsStore.ts
Labels: ui

#771 feat(ui): improvements to dashboard ui
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/WorkspaceLeftPanel/components/EndSection/components/WorkspaceSettings.tsx
  ui/src/features/WorkspaceLeftPanel/components/EndSection/index.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/index.tsx
  ui/src/features/WorkspaceLeftPanel/index.tsx
  ui/src/features/common/UserMenu/index.tsx
  ui/src/features/common/WorkspaceMenu/index.tsx
  ui/src/index.css
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#774 feat(api): support deployments with versioning
  api/gql/deployment.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/convert_deployment.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/loader_deployment.go
  api/internal/adapter/gql/resolver_query.go
  api/internal/infrastructure/memory/deployment.go
  api/internal/infrastructure/memory/deployment_test.go
  api/internal/infrastructure/mongo/deployment.go
  api/internal/infrastructure/mongo/mongodoc/deployment.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interfaces/deployment.go
  api/internal/usecase/repo/deployment.go
  api/pkg/deployment/builder.go
  api/pkg/deployment/deployment.go
  api/pkg/id/id.go
Labels: api

#775 feat(api): support triggers CRUD
  api/gql/trigger.graphql
  api/gqlgen.yml
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqldataloader/dataloader.go
  api/internal/adapter/gql/gqldataloader/triggerloader_gen.go
  api/internal/adapter/gql/gqlmodel/convert_trigger.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/loader.go
  api/internal/adapter/gql/loader_trigger.go
  api/internal/adapter/gql/resolver_mutation_trigger.go
  api/internal/adapter/gql/resolver_query.go
  api/internal/adapter/gql/resolver_trigger.go
  api/internal/infrastructure/memory/container.go
  api/internal/infrastructure/memory/trigger.go
  api/internal/infrastructure/mongo/container.go
  api/internal/infrastructure/mongo/deployment_test.go
  api/internal/infrastructure/mongo/mongodoc/trigger.go
  api/internal/infrastructure/mongo/trigger.go
  api/internal/infrastructure/mongo/trigger_test.go
  api/internal/usecase/interactor/trigger.go
  api/internal/usecase/interactor/trigger_test.go
  api/internal/usecase/interfaces/common.go
  api/internal/usecase/interfaces/trigger.go
  api/internal/usecase/repo/container.go
  api/internal/usecase/repo/trigger.go
  api/pkg/id/id.go
  api/pkg/trigger/builder.go
  api/pkg/trigger/id.go
  api/pkg/trigger/trigger.go
Labels: api

#776 feat(engine): improve error handling with more descriptive messages
  engine/runtime/eval-expr/src/engine.rs
  engine/runtime/eval-expr/src/error.rs
  engine/runtime/eval-expr/src/scope.rs
  engine/runtime/eval-expr/src/utils.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/02-tran-rwy-trk-squr-wwy/workflow.yml
Labels: engine

#777 feat(ui): add graphql trigger CRUD to lib
  ui/src/features/WorkspaceJobs/components/JobDetails.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/convert.ts
  ui/src/lib/gql/fragment.graphql
  ui/src/lib/gql/index.ts
  ui/src/lib/gql/trigger/index.ts
  ui/src/lib/gql/trigger/queries.graphql
  ui/src/lib/gql/trigger/useApi.ts
  ui/src/lib/gql/trigger/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/types/index.ts
  ui/src/types/job.ts
  ui/src/types/trigger.ts
Labels: ui

#778 chore(api): add trigger e2e test
  api/e2e/gql_trigger_test.go
  api/gql/trigger.graphql
  api/internal/infrastructure/mongo/mongodoc/trigger.go
  api/internal/usecase/interactor/common.go
Labels: api

#770 feat(ui): Trigger list & details & CRUD
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/TriggerManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/index.tsx
  ui/src/features/WorkspaceLeftPanel/index.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerAddDialog.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerDeletionDialog.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerDetails.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerEditDialog/index.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerEditDialog/useHooks.ts
  ui/src/features/WorkspaceTriggers/components/index.ts
  ui/src/features/WorkspaceTriggers/hooks.ts
  ui/src/features/WorkspaceTriggers/index.tsx
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/routeTree.gen.ts
  ui/src/routes/workspaces.$workspaceId_.triggers.$tab.tsx
Labels: ui

#766 fix(ui): Removed reader add if more than one
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/KeyboardShortcutDialog/useHooks.ts
  ui/src/hooks/index.ts
  ui/src/hooks/useHasReader.ts
  ui/src/hooks/useIsMainWorkflow.ts
  ui/src/lib/fetch/transformers/useApi.ts
Labels: ui

#783 feat(engine): add AttributeBulkArrayJoiner action and update workflow connections
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/05-fld/workflow.yml
Labels: engine

#785 fix(ui): BASE_URL moved into useFetch
  ui/src/lib/fetch/transformers/useFetch.ts
Labels: ui

#756 feat(ui): Added subflow creation on multi select.
  ui/src/features/Editor/hooks.ts
  ui/src/features/KeyboardShortcutDialog/useHooks.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/types/shortcuts.ts
Labels: ui

#788 chore(engine): remove unused Metakey references and update dependencies
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/storage/src/storage.rs
  engine/runtime/storage/src/storage_sync.rs
Labels: engine

#782 fix(ui): added warning toasts and details fix
  ui/eslint.config.mjs
  ui/src/components/Toast/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/WorkspaceTriggers/components/TriggerDetails.tsx
  ui/src/lib/gql/trigger/useApi.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#790 feat(api): support description in trigger & update deploymen in trigger
  api/e2e/gql_trigger_test.go
  api/gql/trigger.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/convert_trigger.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_mutation_trigger.go
  api/internal/infrastructure/mongo/mongodoc/trigger.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interactor/trigger.go
  api/internal/usecase/interactor/trigger_test.go
  api/internal/usecase/interfaces/trigger.go
  api/pkg/trigger/builder.go
  api/pkg/trigger/trigger.go
Labels: api

#791 feat(engine): enhance geojson conversion with 2D and 3D point, line, and polygon support
  engine/runtime/geometry/src/types.rs
  engine/runtime/geometry/src/types/conversion.rs
  engine/runtime/geometry/src/types/conversion/geojson.rs
  engine/runtime/geometry/src/types/geometry.rs
  engine/runtime/geometry/src/types/line_string.rs
  engine/runtime/geometry/src/types/multi_line_string.rs
  engine/runtime/geometry/src/types/multi_point.rs
  engine/runtime/geometry/src/types/multi_polygon.rs
  engine/runtime/geometry/src/types/point.rs
Labels: engine

#793 feat(engine): add GeoJSON support with reader implementation and schema updates
  engine/Cargo.lock
  engine/docs/mdbook/src/action.md
  engine/runtime/action-source/Cargo.toml
  engine/runtime/action-source/src/errors.rs
  engine/runtime/action-source/src/file/reader.rs
  engine/runtime/action-source/src/file/reader/citygml.rs
  engine/runtime/action-source/src/file/reader/csv.rs
  engine/runtime/action-source/src/file/reader/geojson.rs
  engine/runtime/action-source/src/file/reader/json.rs
  engine/runtime/action-source/src/file/reader/runner.rs
  engine/runtime/examples/plateau/testdata/sources/geojson/sample.geojson
  engine/runtime/examples/plateau/testdata/workflow/example_geojson.yml
  engine/runtime/geometry/src/types/conversion.rs
  engine/runtime/geometry/src/types/conversion/geojson.rs
  engine/runtime/types/src/conversion/geojson.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#794 feat(api): support pagination in triggers
  api/e2e/gql_trigger_test.go
  api/gql/trigger.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/loader_trigger.go
  api/internal/adapter/gql/resolver_mutation_trigger.go
  api/internal/adapter/gql/resolver_query.go
  api/internal/infrastructure/memory/trigger.go
  api/internal/infrastructure/mongo/trigger.go
  api/internal/infrastructure/mongo/trigger_test.go
  api/internal/usecase/interactor/trigger.go
  api/internal/usecase/interfaces/trigger.go
  api/internal/usecase/repo/trigger.go
Labels: api

#792 fix(ui): Trigger Descriptions added
  ui/src/features/WorkspaceTriggers/components/TriggerAddDialog.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerDetails.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerEditDialog/index.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerEditDialog/useHooks.ts
  ui/src/features/WorkspaceTriggers/hooks.ts
  ui/src/features/WorkspaceTriggers/index.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/convert.ts
  ui/src/lib/gql/fragment.graphql
  ui/src/lib/gql/trigger/queries.graphql
  ui/src/lib/gql/trigger/useApi.ts
  ui/src/lib/gql/trigger/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/types/trigger.ts
Labels: ui

#795 chore(api): make description required for triggers
  api/gql/deployment.graphql
  api/gql/trigger.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_mutation_trigger.go
  api/internal/infrastructure/mongo/mongodoc/trigger.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interfaces/deployment.go
  api/pkg/trigger/builder.go
  api/pkg/trigger/trigger.go
Labels: api

#796 fix(ui): conditional rendering for details and required descs
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/components/DeployDialog.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentAddDialog.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentDetails.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentEditDialog/index.tsx
  ui/src/features/WorkspaceJobs/components/JobDetails.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerAddDialog.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerDetails.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerEditDialog/index.tsx
  ui/src/features/common/DetailsBox.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#798 feat(engine): update dependencies to version 0.7.5 and add calamine support
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/action-plateau-processor/Cargo.toml
  engine/runtime/action-plateau-processor/src/lib.rs
  engine/runtime/action-plateau-processor/src/object_list.rs
Labels: engine

#799 chore(engine): bump external crates
  engine/Cargo.lock
Labels: engine

#801 feat(api): support api triggers without results
  api/e2e/gql_trigger_test.go
  api/go.mod
  api/internal/adapter/gql/gqlmodel/convert_trigger.go
  api/internal/app/app.go
  api/internal/app/trigger.go
  api/internal/infrastructure/gcpbatch/batch.go
  api/internal/infrastructure/gcpbatch/batch_test.go
  api/internal/usecase/gateway/batch.go
  api/internal/usecase/interactor/common.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interactor/job.go
  api/internal/usecase/interactor/project.go
  api/internal/usecase/interactor/trigger.go
  api/internal/usecase/interactor/trigger_test.go
  api/internal/usecase/interfaces/trigger.go
  api/pkg/schema/generator/trigger.go
  api/pkg/schema/schema.go
  api/pkg/schema/trigger/execution.json
  api/pkg/trigger/execution.go
  api/pkg/trigger/schema.go
Labels: api

#800 chore(api): move auth middleware from global to protected routes
  api/internal/app/app.go
Labels: api

#802 chore(api): debug statement for batch related functions
  api/internal/infrastructure/gcpbatch/batch.go
  api/internal/usecase/interactor/job.go
Labels: api

#803 fix(api): remove permission check from job monitoring
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interactor/job.go
Labels: api

#805 feat(engine): add ObjectListExtractor for extracting object lists
  engine/docs/mdbook/src/action.md
  engine/runtime/action-plateau-processor/src/object_list.rs
  engine/runtime/action-plateau-processor/src/plateau4.rs
  engine/runtime/action-plateau-processor/src/plateau4/errors.rs
  engine/runtime/action-plateau-processor/src/plateau4/mapping.rs
  engine/runtime/action-plateau-processor/src/plateau4/object_list_extractor.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#807 fix(ui): pulled out routers await of the undoTrackerActionWrapper
  ui/src/lib/yjs/useYWorkflow.ts
Labels: ui

#806 chore(api): refactor monitoring in job and add notification functionality
  api/internal/app/file.go
  api/internal/infrastructure/fs/file.go
  api/internal/infrastructure/gcs/file.go
  api/internal/usecase/gateway/file.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interactor/job.go
  api/internal/usecase/interactor/trigger.go
  api/internal/usecase/interfaces/job.go
  api/internal/usecase/repo/project.go
  api/internal/usecase/repo/trigger.go
  api/internal/usecase/repo/workflow.go
  api/pkg/job/monitor/config.go
  api/pkg/job/monitor/monitor.go
  api/pkg/notification/notification.go
  api/pkg/subscription/subscription.go
Labels: api

#808 feat(ui): yaml file deployment support
  ui/package.json
  ui/src/features/Editor/useNodeLocker.ts
  ui/src/features/KeyboardShortcutDialog/components/Shortcut.tsx
  ui/src/features/KeyboardShortcutDialog/index.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentAddDialog.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentEditDialog/index.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentEditDialog/useHooks.ts
  ui/src/features/WorkspaceLeftPanel/components/BottomSection/components/DeploymentManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/BottomSection/components/ProjectManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/BottomSection/components/WorkspaceSettings.tsx
  ui/src/features/WorkspaceLeftPanel/components/BottomSection/components/index.ts
  ui/src/features/WorkspaceLeftPanel/components/BottomSection/index.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/DeploymentManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/JobManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/ProjectManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/TriggerManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/index.ts
  ui/src/features/WorkspaceLeftPanel/index.tsx
  ui/src/features/common/UserMenu/index.tsx
  ui/src/features/common/WorkspaceMenu/index.tsx
  ui/src/global-constants.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/utils/engineWorkflowValidation/index.ts
  ui/src/utils/engineWorkflowValidation/jsonValidation.ts
  ui/src/utils/engineWorkflowValidation/yamlValidation.ts
  ui/yarn.lock
Labels: ui

#809 ci(worker): add build to deploy worker workflow
  .github/workflows/build_docker_push_worker.yml
Labels: cicd

#810 ci(engine): fix path for build push worker
  .github/workflows/ci.yml
Labels: cicd

#813 feat(engine): integrate MissingAttributeDetector and enhance ObjectListExtractor functionality
  engine/Cargo.lock
  engine/docs/mdbook/src/action.md
  engine/runtime/action-plateau-processor/Cargo.toml
  engine/runtime/action-plateau-processor/src/object_list.rs
  engine/runtime/action-plateau-processor/src/plateau3/unmatched_xlink_detector.rs
  engine/runtime/action-plateau-processor/src/plateau4.rs
  engine/runtime/action-plateau-processor/src/plateau4/errors.rs
  engine/runtime/action-plateau-processor/src/plateau4/mapping.rs
  engine/runtime/action-plateau-processor/src/plateau4/missing_attribute_detector.rs
  engine/runtime/action-plateau-processor/src/plateau4/object_list_extractor.rs
  engine/runtime/action-processor/src/tests/utils.rs
  engine/runtime/common/src/xml.rs
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/graphs/plateau4/folder_and_file_path_reader.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/plateau4/01-common/workflow.yml
  engine/runtime/runtime/src/channels.rs
  engine/runtime/runtime/src/forwarder.rs
  engine/runtime/types/src/feature.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#814 feat(engine): enhance MissingAttributeDetector with new output ports and update related workflows
  engine/docs/mdbook/src/action.md
  engine/runtime/action-plateau-processor/src/plateau4/missing_attribute_detector.rs
  engine/runtime/examples/plateau/testdata/workflow/quality-check/plateau4/01-common/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#784 fix(ui): Added mock data and new log type
  ui/src/components/Logs/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/LogsConsole/index.tsx
  ui/src/features/WorkspaceJobs/components/JobDetails.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/mock_data/logsv2Data.ts
  ui/src/types/log.ts
Labels: ui

#815 feat(worker): add logging for worker start and job completion; rename workflow file for consistency
  engine/runtime/examples/plateau/testdata/workflow/quality-check/plateau4/01-01-common/workflow.yml
  engine/runtime/examples/plateau/testdata/workflow/quality-check/plateau4/01-02-common/workflow.yml
  engine/worker/src/artifact.rs
  engine/worker/src/command.rs
Labels: engine

#812 fix(ui): subworkflow router node deletion
  ui/src/lib/yjs/conversions/sharedTypes.ts
  ui/src/lib/yjs/useParentYWorkflow/index.ts
  ui/src/lib/yjs/useParentYWorkflow/removeParentYWorkflowNodePseudoPort.ts
  ui/src/lib/yjs/useParentYWorkflow/updateParentYWorkflowEdges.ts
  ui/src/lib/yjs/useParentYWorkflow/updateParentYWorkflowNode.ts
  ui/src/lib/yjs/useParentYWorkflow/utils.ts
  ui/src/lib/yjs/useYNode.test.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/lib/yjs/useYjsStore.ts
Labels: ui

#816 chore(api): add support for env vars for flow worker
  api/internal/infrastructure/gcpbatch/batch.go
Labels: api

#817 chore(api): make notificationURL and with optional param for API trigger execution
  api/internal/app/trigger.go
  api/internal/infrastructure/gcpbatch/batch.go
  api/internal/infrastructure/gcpbatch/batch_test.go
  api/internal/usecase/gateway/batch.go
  api/internal/usecase/interactor/trigger.go
  api/internal/usecase/interfaces/trigger.go
  api/pkg/schema/generator/trigger.go
  api/pkg/schema/trigger/execution.json
  api/pkg/trigger/execution.go
Labels: api

#819 fix(runtime): update workflow paths and enhance timeout settings for better performance
  engine/runtime/examples/plateau/example_feature_transformer.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/runtime/storage/src/operator.rs
  engine/runtime/storage/src/storage_sync.rs
Labels: engine
