Repository reearth/reearth-flow, pull requests merged in 2025-08, with the labels that each got.

#1301 test(engine): refactor engine tests (minor changes)
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau4/domain_of_definition_validator.rs
  engine/runtime/action-plateau-processor/src/plateau4/missing_attribute_detector.rs
Labels: engine

#1302 fix(ci): update build path for API to use correct command
  .github/workflows/build_deploy_api.yml
Labels: cicd

#1303 feat(api): update build command to compile from current directory and add main package
  server/api/Dockerfile
Labels: cicd, api

#1305 fix(worker): add python3.11 and other dependencies to worker to support py2wasm
  engine/Cargo.lock
  engine/Cargo.toml
  engine/containers/worker/Dockerfile
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
Labels: engine

#1310 refactor(engine): refactor port names to camelCase
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau4/domain_of_definition_validator.rs
  engine/runtime/action-plateau-processor/src/plateau4/missing_attribute_detector.rs
  engine/runtime/examples/fixture/graphs/plateau4/domain_of_definition_validator.yml
  engine/runtime/examples/fixture/graphs/plateau4/quality-check/01-01-common.yml
  engine/runtime/examples/fixture/graphs/plateau4/quality-check/01-02-common.yml
  engine/runtime/examples/fixture/graphs/plateau4/xml_validator.yml
  engine/runtime/examples/fixture/graphs/xml_validator.yml
  engine/runtime/examples/fixture/workflow/quality-check/plateau4/02-bldg/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1274 feat(api): implement CMS data access via gRPC for API server [FLOW-BE-179]
  server/api/examples/cms/main.go
  server/api/go.mod
  server/api/gql/cms.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_cms.go
  server/api/internal/adapter/gql/resolver_cms.go
  server/api/internal/app/config/config.go
  server/api/internal/app/repo.go
  server/api/internal/infrastructure/cms/grpc_client.go
  server/api/internal/infrastructure/cms/grpc_client_test.go
  server/api/internal/usecase/gateway/cms.go
  server/api/internal/usecase/gateway/container.go
  server/api/internal/usecase/interactor/cms.go
  server/api/internal/usecase/interactor/common.go
  server/api/internal/usecase/interfaces/cms.go
  server/api/internal/usecase/interfaces/common.go
  server/api/pkg/cms/cms.go
  server/api/pkg/cms/proto/schema.pb.go
  server/api/pkg/cms/proto/schema.proto
  server/api/pkg/cms/proto/schema_grpc.pb.go
Labels: api

#1315 fix(worker): correct Dockerfile to install patchelf alongside python3.11-venv
  engine/Cargo.lock
  engine/Cargo.toml
  engine/containers/worker/Dockerfile
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
Labels: engine

#1317 fix(engine): expression fallback
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-processor/src/feature/reader.rs
  engine/runtime/action-processor/src/feature/reader/citygml/processor.rs
  engine/runtime/action-processor/src/feature/reader/citygml/reader.rs
  engine/runtime/action-processor/src/feature/reader/csv.rs
  engine/runtime/action-processor/src/feature/reader/json.rs
  engine/runtime/action-wasm-processor/src/runtime_executor.rs
Labels: engine

#1321 fix(api): remove permission checks in CMS project retrieval
  server/api/internal/usecase/interactor/cms.go
Labels: api

#1323 refactor(docs): Update descriptions and parameter documentation for processors and sources
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-processor/src/attribute/bulk_renamer.rs
  engine/runtime/action-processor/src/geometry/bufferer.rs
  engine/runtime/action-processor/src/geometry/clipper.rs
  engine/runtime/action-source/src/feature_creator.rs
  engine/runtime/action-source/src/file/csv.rs
  engine/runtime/action-source/src/file/reader/csv.rs
  engine/runtime/action-source/src/file/reader/runner.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1322 feat(api): enhance CMS asset and model management with pagination and…
  server/api/examples/cms/main.go
  server/api/gql/cms.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_cms.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/resolver_cms.go
  server/api/internal/app/config/config.go
  server/api/internal/infrastructure/cms/grpc_client.go
  server/api/internal/infrastructure/cms/grpc_client_test.go
  server/api/internal/usecase/gateway/cms.go
  server/api/internal/usecase/interactor/cms.go
  server/api/internal/usecase/interfaces/cms.go
  server/api/pkg/cms/cms.go
  server/api/pkg/cms/proto/schema.pb.go
  server/api/pkg/cms/proto/schema.proto
  server/api/pkg/cms/proto/schema_grpc.pb.go
Labels: api

#1325 feat(server): replace user management to accounts for getme [FLOW-BE-191]
  server/api/e2e/common.go
  server/api/e2e/gql_me_test.go
  server/api/e2e/ping_test.go
  server/api/go.mod
  server/api/go.sum
  server/api/internal/adapter/context.go
  server/api/internal/adapter/gql/context.go
  server/api/internal/adapter/gql/gqlmodel/convert_user.go
  server/api/internal/adapter/gql/resolver_query.go
  server/api/internal/app/app.go
  server/api/internal/app/auth_middleware.go
  server/api/internal/app/main.go
  server/api/internal/infrastructure/auth/jwt_transport.go
  server/api/internal/infrastructure/gql/client.go
  server/api/internal/infrastructure/gql/client_mock.go
  server/api/internal/infrastructure/gql/gqlmodel/me.go
  server/api/internal/infrastructure/gql/gqlmodel/user_metadata.go
  server/api/internal/infrastructure/gql/gqlmodel/workspace.go
  server/api/internal/infrastructure/gql/gqlmodel/workspace_metadata.go
  server/api/internal/infrastructure/gql/user/query.go
  server/api/internal/infrastructure/gql/user/repo.go
  server/api/internal/infrastructure/gql/util/converter.go
  server/api/internal/testutil/factory/user.go
  server/api/internal/testutil/factory/workspace.go
  server/api/pkg/user/builder.go
  server/api/pkg/user/id.go
  server/api/pkg/user/metadata.go
  server/api/pkg/user/metadata_builder.go
  server/api/pkg/user/mockrepo/mockrepo.go
  server/api/pkg/user/repo.go
  server/api/pkg/user/user.go
  server/api/pkg/workspace/builder.go
  server/api/pkg/workspace/id.go
  server/api/pkg/workspace/metadata.go
  server/api/pkg/workspace/metadata_builder.go
  server/api/pkg/workspace/workspace.go
Labels: api

#1329 feat(engine): Enhance parameter documentation and update package versions
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau4/max_lod_extractor.rs
  engine/runtime/action-plateau-processor/src/plateau4/missing_attribute_detector.rs
  engine/runtime/action-plateau-processor/src/plateau4/object_list_extractor.rs
  engine/runtime/action-plateau-processor/src/plateau4/udx_folder_extractor.rs
  engine/runtime/action-processor/src/attribute/manager.rs
  engine/runtime/action-processor/src/feature/reader/csv.rs
  engine/runtime/action-processor/src/feature/type_filter.rs
  engine/runtime/action-processor/src/feature/writer.rs
  engine/runtime/action-processor/src/feature/writer/json.rs
  engine/runtime/action-processor/src/geometry/line_on_line_overlayer.rs
  engine/runtime/action-processor/src/geometry/surface_footprint_replacer.rs
  engine/runtime/action-sink/src/file/excel.rs
  engine/runtime/action-sink/src/file/zip.rs
  engine/runtime/action-source/src/file/reader/citygml.rs
  engine/runtime/action-wasm-processor/src/runtime_executor.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1345 feat(engine): add CityGML geometry support, fix decimal precision for Clipper action
  engine/runtime/action-processor/src/geometry/clipper.rs
Labels: engine

#1348 fix(websocket): remove empty nodes check in map JSON validation
  server/websocket/src/broadcast/group.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/ws.rs
Labels: websocket

#1344 feat(server): replace user management to accounts for GetWorkspaceByID [FLOW-BE-191]
  server/api/e2e/common.go
  server/api/go.mod
  server/api/internal/adapter/gql/gqlmodel/convert_workspace.go
  server/api/internal/adapter/gql/loader.go
  server/api/internal/adapter/gql/loader_workspace.go
  server/api/internal/app/app.go
  server/api/internal/app/auth_middleware.go
  server/api/internal/app/usecase.go
  server/api/internal/infrastructure/gql/client.go
  server/api/internal/infrastructure/gql/client_mock.go
  server/api/internal/infrastructure/gql/gqlmodel/user.go
  server/api/internal/infrastructure/gql/gqlmodel/workspace.go
  server/api/internal/infrastructure/gql/gqlmodel/workspace_member.go
  server/api/internal/infrastructure/gql/util/converter.go
  server/api/internal/infrastructure/gql/workspace/query.go
  server/api/internal/infrastructure/gql/workspace/repo.go
  server/api/internal/usecase/interactor/common.go
  server/api/internal/usecase/interactor/workspace.go
  server/api/internal/usecase/interfaces/common.go
  server/api/internal/usecase/interfaces/workspace.go
  server/api/internal/usecase/repo/container.go
  server/api/pkg/user/repo.go
  server/api/pkg/workspace/builder.go
  server/api/pkg/workspace/member.go
  server/api/pkg/workspace/mockrepo/mockrepo.go
  server/api/pkg/workspace/repo.go
  server/api/pkg/workspace/role.go
  server/api/pkg/workspace/workspace.go
Labels: api

#1354 feat(websocket): node deletion persistence issue where deleted nodes would reappear after page reload
  server/websocket/.env.local
  server/websocket/src/broadcast/group.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/ws.rs
Labels: websocket

#1351 feat(engine): gltf compression
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau4/city_code_extractor.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/pipeline.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/gltf.rs
  engine/runtime/examples/example_main.rs
  engine/runtime/gltf/Cargo.toml
  engine/runtime/gltf/src/errors.rs
  engine/runtime/gltf/src/writer.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1222 feat(engine): implement user-facing log system [FLOW-BE-153]
  engine/.gitignore
  engine/Cargo.lock
  engine/Cargo.toml
  engine/compose.yml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/eval-expr/src/scope.rs
  engine/runtime/runner/src/lib.rs
  engine/runtime/runner/src/log_event_handler.rs
  engine/runtime/runner/src/node_info_tls.rs
  engine/runtime/runner/src/runner.rs
  engine/runtime/runtime/src/builder_dag.rs
  engine/runtime/runtime/src/errors.rs
  engine/runtime/runtime/src/event.rs
  engine/runtime/runtime/src/executor/dag_executor.rs
  engine/runtime/runtime/src/executor/execution_dag.rs
  engine/runtime/runtime/src/executor/processor_node.rs
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/runtime/runtime/src/executor/source_node.rs
  engine/worker/Cargo.toml
  engine/worker/README.md
  engine/worker/src/action_log_parser.rs
  engine/worker/src/command.rs
  engine/worker/src/event_handler.rs
  engine/worker/src/logger.rs
  engine/worker/src/main.rs
  engine/worker/src/pubsub/backend.rs
  engine/worker/src/pubsub/backend/google.rs
  engine/worker/src/pubsub/backend/noop.rs
  engine/worker/src/types.rs
  engine/worker/src/types/user_facing_log_event.rs
  engine/worker/src/user_facing_log_handler.rs
Labels: engine

#1363 feat(server): replace user management to accounts for UpdateMe [FLOW-BE-191]
  server/api/internal/adapter/gql/resolver_mutation_user.go
  server/api/internal/app/auth_middleware.go
  server/api/internal/infrastructure/gql/user/input.go
  server/api/internal/infrastructure/gql/user/mutation.go
  server/api/internal/infrastructure/gql/user/query.go
  server/api/internal/infrastructure/gql/user/repo.go
  server/api/internal/infrastructure/gql/util/converter_common.go
  server/api/internal/infrastructure/gql/util/converter_user.go
  server/api/internal/infrastructure/gql/util/converter_workspace.go
  server/api/internal/usecase/interactor/user.go
  server/api/internal/usecase/interfaces/user.go
  server/api/pkg/user/mockrepo/mockrepo.go
  server/api/pkg/user/repo.go
  server/api/pkg/user/update.go
Labels: api

#1370 feat(api): add user metadata fields including description, website, photo URL and language
  server/api/gql/user.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_user.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
Labels: api

#1366 feat(server): replace user management to accounts for CreateWorkspace [FLOW-BE-191]
  server/api/internal/adapter/gql/gqlmodel/convert_user.go
  server/api/internal/adapter/gql/gqlmodel/convert_workspace.go
  server/api/internal/adapter/gql/loader_user.go
  server/api/internal/adapter/gql/resolver_mutation_workspace.go
  server/api/internal/app/auth_middleware.go
  server/api/internal/infrastructure/gql/util/converter_user.go
  server/api/internal/infrastructure/gql/util/converter_workspace.go
  server/api/internal/infrastructure/gql/workspace/input.go
  server/api/internal/infrastructure/gql/workspace/mutation.go
  server/api/internal/infrastructure/gql/workspace/repo.go
  server/api/internal/usecase/interactor/workspace.go
  server/api/internal/usecase/interfaces/workspace.go
  server/api/pkg/user/user.go
  server/api/pkg/workspace/mockrepo/mockrepo.go
  server/api/pkg/workspace/repo.go
  server/api/pkg/workspace/workspace.go
Labels: api

#1367 feat(ui): Expression Builder
  ui/src/components/Dialog/index.tsx
  ui/src/components/SchemaForm/Templates/ArrayFieldItemTemplate.tsx
  ui/src/components/SchemaForm/Templates/BaseInputTemplate/TextInput.tsx
  ui/src/components/SchemaForm/Templates/FieldTemplate.tsx
  ui/src/components/SchemaForm/Templates/TitleFieldTemplate.tsx
  ui/src/components/SchemaForm/components/ActionArea.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/ConditionalBuilder.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/EnvironmentVariableBuilder.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/ExpressionInput.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/ExpressionTypePicker.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/FeatureAttributeBuilder.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/FilePathBuilder.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/JsonQueryBuilder.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/MathBuilder.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/RhaiAutocomplete.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/RhaiCodeEditor.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/RhaiSyntaxHighlighter.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/RhaiValidator.ts
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/SubExpressionBuilderModal.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/constants.ts
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/utils/toEngineWorkflow/convertNodes.ts
Labels: ui

#1304 feat(api): Add Worker_PubSubUserFacingLogTopic to config
  server/api/internal/app/config/config.go
  server/api/internal/app/repo.go
  server/api/internal/infrastructure/gcpbatch/batch.go
Labels: api

#1362 feat(engine): add CzmlReader for reading CZML files and update related components
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-source/Cargo.toml
  engine/runtime/action-source/src/errors.rs
  engine/runtime/action-source/src/file.rs
  engine/runtime/action-source/src/file/czml.rs
  engine/runtime/action-source/src/mapping.rs
  engine/runtime/action-source/tests/czml_test.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
  engine/schema/i18n/actions/en.json
  engine/schema/i18n/actions/es.json
  engine/schema/i18n/actions/fr.json
  engine/schema/i18n/actions/ja.json
  engine/schema/i18n/actions/zh.json
Labels: engine

#1365 feat(websocket): add 2s delay before cleanup in cleanup_empty_group [FLOW-BE-202]
  server/websocket/src/broadcast/pool.rs
Labels: websocket

#1369 feat(server): replace user management to accounts for UpdateWorkspace [FLOW-BE-191]
  server/api/internal/adapter/gql/resolver_mutation_workspace.go
  server/api/internal/app/auth_middleware.go
  server/api/internal/infrastructure/gql/workspace/input.go
  server/api/internal/infrastructure/gql/workspace/mutation.go
  server/api/internal/infrastructure/gql/workspace/repo.go
  server/api/internal/usecase/interactor/workspace.go
  server/api/internal/usecase/interfaces/workspace.go
  server/api/pkg/workspace/mockrepo/mockrepo.go
  server/api/pkg/workspace/repo.go
Labels: api

#1379 fix(engine): resolve job failure in cloud environment by using `workerArtifactPath`
  engine/runtime/examples/fixture/workflow/data-convert/plateau4/01-bldg.yml
  engine/runtime/examples/fixture/workflow/data-convert/plateau4/01-bldg/workflow.yml
Labels: engine

#1380 fix(ui): prevent clustering on polygons and lines
  ui/src/components/visualizations/MapLibre/sources/GeoJson/index.tsx
Labels: ui

#1383 feat(ui): Expression Templates
  ui/src/components/Alert/index.tsx
  ui/src/components/Badge/index.tsx
  ui/src/components/index.ts
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/ConditionalBuilder.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/EnvironmentVariableBuilder.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/FeatureAttributeBuilder.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/FilePathBuilder.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/JsonQueryBuilder.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/MathBuilder.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/RhaiAutocomplete.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/RhaiCodeEditor.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/RhaiValidator.ts
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/constants.ts
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/index.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/templates/TemplateLibraryDialog.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/templates/TemplatePlaceholderDialog.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/templates/index.ts
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/templates/templateData.ts
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/templates/templateUtils.ts
  ui/src/global-constants.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui
