Repository reearth/reearth-flow, pull requests merged in 2025-03, with the labels that each got.

#902 fix(ui): Job Details Update
  ui/src/components/DataTable/index.tsx
  ui/src/components/LogsTable/index.stories.tsx
  ui/src/components/LogsTable/index.tsx
  ui/src/components/Table/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/LogsConsole/index.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentDetails.tsx
  ui/src/features/WorkspaceDeployments/index.tsx
  ui/src/features/WorkspaceJobs/components/JobDetails.tsx
  ui/src/features/WorkspaceJobs/hooks.ts
  ui/src/features/WorkspaceJobs/index.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerAddDialog.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerDetails.tsx
  ui/src/features/WorkspaceTriggers/index.tsx
  ui/src/features/common/DetailsBox.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/convert.ts
  ui/src/lib/gql/fragment.graphql
  ui/src/lib/gql/job/queries.graphql
  ui/src/lib/gql/job/useApi.ts
  ui/src/lib/gql/job/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/mock_data/logsData.ts
  ui/src/mock_data/logsv2Data.ts
  ui/src/types/job.ts
  ui/src/types/log.ts
  ui/src/utils/index.ts
  ui/src/utils/parseJsonL.ts
  ui/src/utils/timestamp.ts
Labels: ui

#945 feat(ui): full rebrand support
  ui/.env-local
  ui/Dockerfile
  ui/docker/40-envsubst-on-reearth_config.sh
  ui/docker/reearth_config.json.template
  ui/index.html
  ui/src/components/DropdownMenu/index.tsx
  ui/src/components/icons/FlowLogo.tsx
  ui/src/config/index.ts
  ui/src/features/WorkspaceProjects/components/ProjectCard.tsx
  ui/src/features/common/UserMenu/index.tsx
Labels: ui

#950 feat: Add cerbos workflow [FLOW-BE-34]
  .github/workflows/ci.yml
  .github/workflows/ci_policies.yml
  .github/workflows/update_policies.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  go.work.sum
  server/api/Makefile
  server/api/cmd/policy-generator/main.go
  server/api/go.mod
  server/api/go.sum
  server/api/internal/adapter/gql/gqlmodel/convert_user.go
  server/api/internal/adapter/gql/loader_user.go
  server/api/internal/rbac/definitions.go
Labels: cicd, api, engine

#951 fix(ui): added reset button for colours.
  ui/src/components/SchemaForm/Templates/BaseInputTemplate.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/reactFlow/nodeTypes/BatchNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/NoteNode/index.tsx
Labels: ui

#952 fix: update policies workflow [FLOW-BE-52]
  .github/workflows/update_policies.yml
Labels: cicd, api

#944 chore(websocket): update websocket configuration env name
  server/api/.env.example
  server/api/internal/app/config/config.go
  server/api/internal/app/repo.go
  server/api/internal/infrastructure/websocket/client.go
  server/api/internal/usecase/interactor/websocket.go
  server/websocket/.env.docker
  server/websocket/src/conf.rs
Labels: api, websocket

#949 fix(ui): RJSF nested anyOf patch
  ui/src/components/SchemaForm/patchSchemaTypes.ts
Labels: ui

#953 fix(ui): removed readers from ActionList if present in canvas
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
Labels: ui

#954 feat(engine): update version numbers and add AttributeConversionTable processor
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-processor/src/attribute.rs
  engine/runtime/action-processor/src/attribute/conversion_table.rs
  engine/runtime/action-processor/src/attribute/errors.rs
  engine/runtime/action-processor/src/attribute/mapping.rs
  engine/runtime/examples/fixture/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/runtime/examples/fixture/workflow/examples/conversion-table/files/admin_ward_list.csv.txt
  engine/runtime/examples/fixture/workflow/examples/conversion-table/workflow.yml
  engine/runtime/types/src/feature.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#948 fix(ui): copy/pasting subworkflows, subworkflowId prop, workflow removal
  ui/src/features/Editor/useCanvasCopyPaste.ts
  ui/src/features/WorkspaceJobs/components/JobDetails.tsx
  ui/src/lib/reactFlow/useEdges.ts
  ui/src/lib/yjs/useYNode.test.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/lib/yjs/useYjsStore.ts
Labels: ui

#955 feat(storage): add projects prefix for GCS object storage
  server/websocket/src/storage/gcs/mod.rs
  server/websocket/src/storage/kv/mod.rs
Labels: websocket

#958 chore(api): remove pubsub noop command from batch
  server/api/internal/infrastructure/gcpbatch/batch.go
Labels: api

#960 feat(engine): add json_merge_patch to json module
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/common/src/json.rs
Labels: engine

#963 fix(ui): websocket setup for editor, project import/export and workflow import
  ui/src/hooks/useProjectExport.ts
  ui/src/hooks/useProjectImport.ts
  ui/src/hooks/useWorkflowImport.ts
  ui/src/lib/yjs/useYjsSetup.ts
  ui/src/routes/workspaces.$workspaceId_.projects_.$projectId.lazy.tsx
Labels: ui

#964 feat(engine): enhance I18nSchema with parameter support and update related JSON schemas
  engine/Cargo.lock
  engine/Cargo.toml
  engine/cli/src/utils.rs
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/schema/actions_ja.json
  engine/schema/i18n/actions/ja.json
Labels: engine

#965 feat(storage): add buffered updates and batch upload for GCS storage
  server/websocket/src/storage/gcs/mod.rs
  server/websocket/src/storage/kv/mod.rs
Labels: websocket

#966 feat(websocket): update GCS storage only on disconnect
  server/websocket/src/bin/websocket.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/storage/gcs/mod.rs
Labels: websocket

#969 fix(ui): hide file upload from project-based deployments
  ui/src/features/WorkspaceDeployments/components/DeploymentEditDialog/index.tsx
Labels: ui

#961 feat(ui): debug run real-time ui
  ui/src/components/ContextMenu/index.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/Editor/editorContext.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/Editor/useNodeLocker.ts
  ui/src/features/KeyboardShortcutDialog/hooks.ts
  ui/src/features/SharedCanvas/hooks.ts
  ui/src/features/WorkspaceLeftPanel/components/TopSection/index.tsx
  ui/src/features/WorkspaceProjects/components/ProjectCard.tsx
  ui/src/features/common/UserMenu/index.tsx
  ui/src/index.css
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/reactFlow/buildNewCanvasNode.ts
  ui/src/lib/reactFlow/edgeTypes/CustomEdge.tsx
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge.tsx
  ui/src/lib/reactFlow/edgeTypes/index.ts
  ui/src/lib/reactFlow/nodeTypes/BatchNode/hooks.ts
  ui/src/lib/reactFlow/nodeTypes/BatchNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/hooks.ts
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/nodeColors.ts
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/useNodeStatus.ts
  ui/src/lib/reactFlow/nodeTypes/NodeContextMenu.tsx
  ui/src/lib/reactFlow/nodeTypes/NoteNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/utils.ts
  ui/src/lib/yjs/conversions/rebuildWorkflow.ts
  ui/src/lib/yjs/conversions/yWorkflowConstructor.ts
  ui/src/lib/yjs/useYNode.test.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/types/edge.ts
  ui/src/types/index.ts
  ui/src/types/job.ts
  ui/src/types/node.ts
  ui/src/utils/fromEngineWorkflow/convertNodes.ts
  ui/src/utils/toEngineWorkflow/convertEdges.ts
Labels: ui

#947 feat(engine): Implemented LineOnLineOverlayer
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/geometry/area_on_area_overlayer.rs
  engine/runtime/action-processor/src/geometry/line_on_line_overlayer.rs
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/files/tsugaru_strait_power_lines.geojson.txt
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/line_on_line_overlayer.yml
  engine/runtime/geometry/src/algorithm.rs
  engine/runtime/geometry/src/algorithm/line_ops.rs
  engine/runtime/geometry/src/algorithm/line_ops/difference.rs
  engine/runtime/geometry/src/algorithm/line_string_ops.rs
  engine/runtime/geometry/src/types/line.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#971 refactor(engine): change visibility of factory and struct definitions to private
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-processor/src/attribute/aggregator.rs
  engine/runtime/action-processor/src/attribute/bulk_array_joiner.rs
  engine/runtime/action-processor/src/attribute/bulk_renamer.rs
  engine/runtime/action-processor/src/attribute/conversion_table.rs
  engine/runtime/action-processor/src/attribute/duplicate_filter.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#780 feat(api): Add real-time logging functionality using Redis
  server/api/.env.example
  server/api/README.md
  server/api/go.mod
  server/api/go.sum
  server/api/gql/job.graphql
  server/api/gql/log.graphql
  server/api/gqlgen.yml
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_log.go
  server/api/internal/adapter/gql/gqlmodel/convert_log_test.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/loader.go
  server/api/internal/adapter/gql/loader_log.go
  server/api/internal/adapter/gql/loader_log_test.go
  server/api/internal/adapter/gql/resolver_job.go
  server/api/internal/adapter/gql/resolver_subscription.go
  server/api/internal/app/config/config.go
  server/api/internal/app/config/log.go
  server/api/internal/app/repo.go
  server/api/internal/infrastructure/redis/log.go
  server/api/internal/infrastructure/redis/log_test.go
  server/api/internal/usecase/gateway/container.go
  server/api/internal/usecase/gateway/log.go
  server/api/internal/usecase/interactor/common.go
  server/api/internal/usecase/interactor/log.go
  server/api/internal/usecase/interactor/log_test.go
  server/api/internal/usecase/interfaces/common.go
  server/api/internal/usecase/interfaces/log.go
  server/api/pkg/log/id.go
  server/api/pkg/log/log.go
  server/api/pkg/log/log_test.go
  server/api/pkg/subscription/log_subscription.go
  server/subscriber/go.sum
Labels: api

#974 refactor(engine): change visibility of factory structs and types to improve encapsulation
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-processor/src/attribute/file_path_info_extractor.rs
  engine/runtime/action-processor/src/attribute/flattener.rs
  engine/runtime/action-processor/src/attribute/manager.rs
  engine/runtime/action-processor/src/attribute/mapper.rs
  engine/runtime/action-processor/src/attribute/mapping.rs
  engine/runtime/action-processor/src/attribute/statistics_calculator.rs
  engine/runtime/action-processor/src/feature/counter.rs
  engine/runtime/action-processor/src/feature/duplicate_filter.rs
  engine/runtime/action-processor/src/feature/errors.rs
  engine/runtime/action-processor/src/feature/file_path_extractor.rs
  engine/runtime/action-processor/src/feature/filter.rs
  engine/runtime/action-processor/src/feature/list_exploder.rs
  engine/runtime/action-processor/src/feature/lod_filter.rs
  engine/runtime/action-processor/src/feature/mapping.rs
  engine/runtime/action-processor/src/feature/merger.rs
  engine/runtime/action-processor/src/feature/reader.rs
  engine/runtime/action-processor/src/feature/reader/citygml/processor.rs
  engine/runtime/action-processor/src/feature/reader/csv.rs
  engine/runtime/action-processor/src/feature/rhai.rs
  engine/runtime/action-processor/src/feature/sorter.rs
  engine/runtime/action-processor/src/feature/transformer.rs
  engine/runtime/action-processor/src/feature/type_filter.rs
  engine/runtime/action-processor/src/feature/writer.rs
  engine/runtime/action-processor/src/file/directory_decompressor.rs
  engine/runtime/action-processor/src/file/errors.rs
  engine/runtime/action-processor/src/file/mapping.rs
  engine/runtime/action-processor/src/file/property_extractor.rs
  engine/runtime/action-processor/src/geometry/area_on_area_overlayer.rs
  engine/runtime/action-processor/src/geometry/bounds_extractor.rs
  engine/runtime/action-processor/src/geometry/bufferer.rs
  engine/runtime/action-processor/src/geometry/center_point_replacer.rs
  engine/runtime/action-processor/src/geometry/clipper.rs
  engine/runtime/action-processor/src/geometry/closed_curve_filter.rs
  engine/runtime/action-processor/src/geometry/coercer.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#970 feat(websocket): improve document state loading and update handling
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
Labels: websocket

#978 feat(websocket): enhance Redis update handling and storage management
  server/websocket/src/broadcast/group.rs
Labels: websocket

#979 chore: fix-add-migration-to-AddUserMember-interactor [FLOW-BE-62]
  go.work.sum
  server/api/e2e/gql_workspace_test.go
  server/api/go.mod
  server/api/go.sum
  server/api/internal/infrastructure/mongo/container.go
  server/api/internal/usecase/repo/container.go
Labels: api

#981 chore: Add deploy cerbos to the update policy files workflow
  .github/workflows/update_policies_and_deploy_cerbos.yml
Labels: cicd, api

#983 chore(api): Debug Run should return job ID [FLOW-BE-16]
  server/api/gql/project.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/resolver_mutation_project.go
  server/api/internal/adapter/gql/resolver_subscription.go
  server/api/internal/usecase/interactor/job.go
  server/api/internal/usecase/interactor/project.go
  server/api/internal/usecase/interfaces/project.go
  server/api/pkg/subscription/job_subscription.go
Labels: api

#984 refactor(websocket): improve Redis pub/sub connection handling
  .gitignore
  server/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/src/broadcast/group.rs
Labels: websocket

#986 feat(engine): Add ZipFileWriter sink and update related documentation
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-processor/src/feature/writer.rs
  engine/runtime/action-processor/src/feature/writer/json.rs
  engine/runtime/action-sink/src/errors.rs
  engine/runtime/action-sink/src/file.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/action-sink/src/file/zip.rs
  engine/runtime/action-sink/src/mapping.rs
  engine/runtime/common/src/dir.rs
  engine/runtime/common/src/zip.rs
  engine/runtime/examples/fixture/workflow/examples/zip-writer/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#987 refactor(websocket): add redis stream support
  server/websocket/src/broadcast/group.rs
Labels: websocket

#989 refactor(websocket): improve BroadcastGroup shutdown and connection m…
  server/websocket/Dockerfile.websocket
  server/websocket/src/auth/mod.rs
  server/websocket/src/bin/websocket.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
Labels: websocket

#992 chore(websocket): simplify Redis stream handling and update storage [FLOW_BE_68]
  server/websocket/src/broadcast/group.rs
Labels: websocket

#993 chore(websocket): Revert simplify Redis stream handling and update storage [FLOW_BE_68]
  server/websocket/src/broadcast/group.rs
Labels: websocket

#973 feat(ui): subscription set up for real-time logs
  ui/package.json
  ui/src/components/LogsTable/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/LogsConsole/index.tsx
  ui/src/features/WorkspaceJobs/components/JobDetails.tsx
  ui/src/hooks/useProjectExport.ts
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/convert.ts
  ui/src/lib/gql/fragment.graphql
  ui/src/lib/gql/project/queries.graphql
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/project/useQueries.ts
  ui/src/lib/gql/provider/GraphQLSubscriptionProvider.tsx
  ui/src/lib/gql/provider/index.tsx
  ui/src/lib/gql/realTimeLogs/useSubscriptions.ts
  ui/src/lib/gql/subscriptions/queries.graphql
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/mock_data/logsData.ts
  ui/src/mock_data/logsv2Data.ts
  ui/src/types/log.ts
  ui/yarn.lock
Labels: ui

#994 fix(api): Pass uploaded workflow as URL in submitJob of debug run [FLOW-BE-71]
  server/api/internal/usecase/interactor/project.go
Labels: api

#995 fix(ui): Improve project import synchronization and error handling
  ui/src/hooks/useProjectImport.ts
Labels: ui

#996 chore(engine): update version numbers and add DomainOfDefinitionValidator processor
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau4.rs
  engine/runtime/action-plateau-processor/src/plateau4/domain_of_definition_validator.rs
  engine/runtime/action-plateau-processor/src/plateau4/errors.rs
  engine/runtime/action-plateau-processor/src/plateau4/mapping.rs
  engine/runtime/action-processor/src/file/directory_decompressor.rs
  engine/runtime/action-processor/src/xml/validator.rs
  engine/runtime/common/src/dir.rs
  engine/runtime/examples/fixture/graphs/plateau4/domain_of_definition_validator.yml
  engine/runtime/examples/fixture/graphs/plateau4/quality-check/01-01-common.yml
  engine/runtime/examples/fixture/graphs/plateau4/quality-check/01-02-common.yml
  engine/runtime/examples/fixture/graphs/plateau4/xml_validator.yml
  engine/runtime/examples/fixture/workflow/quality-check/plateau4/01-01-common/workflow.yml
  engine/runtime/examples/fixture/workflow/quality-check/plateau4/01-02-common/workflow.yml
  engine/runtime/examples/fixture/workflow/quality-check/plateau4/02-bldg/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#999 fix(websocket): reduced data transmission and improved Redis speed [FLOW-BE-72]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/doc/handler.rs
Labels: websocket

#998 test(api): add end-to-end GraphQL tests for document operations[flow-be-75]
  server/api/e2e/gql_document_test.go
Labels: api

#1004 feat(api): fix not to raise an error for GetAuthInfo [FLOW-BE-64]
  server/api/internal/usecase/interactor/common.go
Labels: api

#972 feat(ui): added customNames for general nodes
  ui/src/components/SchemaForm/Templates/BaseInputTemplate.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Infobar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/hooks.ts
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/features/Editor/components/ParamsPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/ParamsPanel/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/Editor/useDebugRun.ts
  ui/src/hooks/index.ts
  ui/src/hooks/useNodeSchemaGenerate.ts
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/reactFlow/buildNewCanvasNode.ts
  ui/src/lib/reactFlow/index.ts
  ui/src/lib/reactFlow/nodeTypes/BatchNode/hooks.ts
  ui/src/lib/reactFlow/nodeTypes/BatchNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/NoteNode/index.tsx
  ui/src/lib/reactFlow/useDnd.ts
  ui/src/lib/yjs/conversions/rebuildWorkflow.test.ts
  ui/src/lib/yjs/conversions/rebuildWorkflow.ts
  ui/src/lib/yjs/conversions/yWorkflowConstructor.test.ts
  ui/src/lib/yjs/conversions/yWorkflowConstructor.ts
  ui/src/lib/yjs/useYNode.test.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/routes/workspaces.$workspaceId.jobs_.$jobId.tsx
  ui/src/types/action.ts
  ui/src/types/node.ts
  ui/src/utils/fromEngineWorkflow/convertNodes.test.ts
  ui/src/utils/fromEngineWorkflow/convertNodes.ts
Labels: ui

#1009 fix(ui): node drop on edge
  ui/src/lib/reactFlow/useNodes.ts
Labels: ui

#1011 chore(api): support feature writer for worker runtime
  server/api/internal/infrastructure/gcpbatch/batch.go
Labels: api

#1013 chore(api): support extra compute space for the worker batch
  server/api/internal/infrastructure/gcpbatch/batch.go
Labels: api

#1012 fix(engine): update action log and feature writer disable logic to use string comparison
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-log/src/action.rs
  engine/runtime/runtime/src/feature_store.rs
Labels: engine

#1014 fix(ui): initializing a new main workflow before sync
  ui/src/features/Canvas/hooks.ts
  ui/src/features/Canvas/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/editorContext.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/SharedCanvas/hooks.ts
  ui/src/features/SharedCanvas/index.tsx
  ui/src/lib/reactFlow/nodeTypes/BatchNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/NodeContextMenu.tsx
  ui/src/lib/reactFlow/nodeTypes/NoteNode/index.tsx
  ui/src/lib/reactFlow/useNodes.ts
  ui/src/lib/yjs/useYjsSetup.ts
  ui/src/routes/shared.$sharedToken.lazy.tsx
  ui/src/routes/workspaces.$workspaceId_.projects_.$projectId.lazy.tsx
Labels: ui

#1002 fix(websocket): refine document initialization logic and prevent duplicate workflow creation [FLOW-BE-79]
  server/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/src/broadcast/pool.rs
Labels: ui, websocket

#1020 fix(ui): fix new project ydoc init and improvement
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/SharedCanvas/hooks.ts
  ui/src/features/SharedCanvas/index.tsx
  ui/src/lib/yjs/useYjsSetup.ts
  ui/src/routes/shared.$sharedToken.lazy.tsx
  ui/src/routes/workspaces.$workspaceId_.projects_.$projectId.lazy.tsx
Labels: ui

#842 fix(ui): added subscription for jobs
  ui/src/features/WorkspaceJobs/components/JobDetails/hooks.ts
  ui/src/features/WorkspaceJobs/components/JobDetails/index.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/job/index.ts
  ui/src/lib/gql/job/useSubscriptions.ts
  ui/src/lib/gql/subscriptions/queries.graphql
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#1021 chore(engine): adjust RAYON_NUM_THREADS calculation to improve thread utilization
  engine/Cargo.lock
  engine/Cargo.toml
  engine/cli/src/main.rs
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/examples/example_main.rs
  engine/worker/src/main.rs
Labels: engine

#1017 feat: Add Upload policies to GAR workflow [FLOW-BE-81]
  .github/workflows/update_policies_and_deploy_cerbos.yml
Labels: cicd

#1022 fix(ui): wrapped SharedCanvas component with EditorProvider
  ui/src/features/SharedCanvas/index.tsx
Labels: ui

#1023 fix: Add Upload policies to GAR workflow [FLOW-BE-81]
  .github/workflows/update_policies_and_deploy_cerbos.yml
Labels: cicd, api

#1016 fix(websocket): optimized the release of the Redis lock.[FLOW-BE-79]
  .gitignore
  server/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/src/bin/websocket.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/conf.rs
  server/websocket/src/storage/gcs/mod.rs
  server/websocket/src/storage/mod.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/storage/redis/pubsub.rs
  server/websocket/src/storage/sqlite/mod.rs
Labels: websocket

#1024 ci: update secrets for WI federation
  .github/workflows/build_deploy_api.yml
  .github/workflows/build_deploy_subscriber.yml
  .github/workflows/build_deploy_ui.yml
  .github/workflows/build_deploy_websocket.yml
Labels: cicd

#1026 fix(websocket): fixed the issue of long loading time[FLOW-BE-79]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1029 fix(websocket): enhance connection management and initial state [FLOW-BE-79]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/conn.rs
  server/websocket/src/ws.rs
Labels: websocket

#1030 fix(websocket): fixed the issue where refreshing caused the global Redis lock to be released immediately [FLOW-BE-79]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/conn.rs
Labels: websocket

#1031 refactor(websocket): streamline message handling and Redis update [FLOW-BE-79]
  server/websocket/src/broadcast/group.rs
Labels: websocket

#1032 ci: support temporary plateau dev, prod worker push jobs
  .github/workflows/build_docker_push_worker.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
Labels: cicd, engine

#997 feat(engine): Implemented SurfaceFootprintReplacer
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/geometry.rs
  engine/runtime/action-processor/src/geometry/errors.rs
  engine/runtime/action-processor/src/geometry/mapping.rs
  engine/runtime/action-processor/src/geometry/surface_footprint_replacer.rs
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/files/3d_prism.geojson.txt
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/surface_footprint_replacer.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1007 feat(ui): debug preview
  ui/src/components/Select/index.tsx
  ui/src/components/TextArea/index.tsx
  ui/src/components/visualizations/Cesium/Contents.tsx
  ui/src/components/visualizations/Cesium/GeoJson.tsx
  ui/src/components/visualizations/Cesium/index.tsx
  ui/src/features/Editor/components/BottomBar/components/Contents/index.tsx
  ui/src/features/Editor/components/BottomBar/components/DataTable/index.tsx
  ui/src/features/Editor/components/BottomBar/components/Map/index.tsx
  ui/src/features/Editor/components/BottomBar/hooks.tsx
  ui/src/features/Editor/components/BottomBar/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/CanvasActionbar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugLogs/hooks.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugLogs/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/components/DataTable/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/components/GeoMap/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/components/index.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/hooks.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/LayoutOptionsDialog/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/index.ts
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/index.tsx
  ui/src/features/Editor/useUIState.ts
  ui/src/features/LogsConsole/index.tsx
  ui/src/features/WorkspaceJobs/components/JobDetails/hooks.ts
  ui/src/features/WorkspaceJobs/components/JobDetails/index.tsx
  ui/src/hooks/index.ts
  ui/src/hooks/useDataColumnizer.ts
  ui/src/hooks/useFetchAndReadData.ts
  ui/src/hooks/useJobSubscriptionsSetup.ts
  ui/src/lib/gql/job/index.ts
  ui/src/lib/gql/job/useSubscriptions.ts
  ui/src/lib/gql/provider/GraphQLSubscriptionProvider.tsx
  ui/src/lib/gql/provider/index.tsx
  ui/src/lib/gql/realTimeLogs/useSubscriptions.ts
  ui/src/lib/gql/subscriptions/useSubscription.ts
  ui/src/lib/gql/subscriptions/useSubscriptionSetup.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useYjsSetup.ts
  ui/src/mock_data/pointData/fires.json
  ui/src/mock_data/pointData/index.ts
  ui/src/routes/workspaces.$workspaceId.jobs_.$jobId.tsx
  ui/src/routes/workspaces.$workspaceId_.projects_.$projectId.lazy.tsx
  ui/src/types/gisTypes/common.ts
  ui/src/types/gisTypes/geoJSON/Polygon.ts
  ui/src/types/gisTypes/geoJSON/index.ts
  ui/src/utils/fetchAndReadGeoData.ts
Labels: ui

#1034 feat(engine): add default values for AttributeValue and update workflow schemas
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau4/attribute_flattener/constants.rs
  engine/runtime/action-plateau-processor/src/plateau4/attribute_flattener/flattener.rs
  engine/runtime/action-plateau-processor/src/plateau4/attribute_flattener/processor.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/pipeline.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/examples/fixture/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/runtime/types/src/attribute.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
  engine/worker/workflow/cms/plateau4/data-convert/bldg/template/workflow.yml
  engine/worker/workflow/cms/plateau4/data-convert/bldg/workflow.json
Labels: engine

#1035 feat(websocket): implement graceful shutdown with sufficient time for YDoc saving[FLOW-BE-92]
  server/websocket/src/bin/websocket.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/lib.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/ws.rs
  ui/src/features/Editor/hooks.ts
Labels: ui, websocket

#1039 ci: add write permission to package
  .github/workflows/build_docker_push_worker.yml
Labels: cicd

#1040 feat(engine): update version to 0.0.43 and add BoundsExtractor action with default values
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau4/attribute_flattener/processor.rs
  engine/runtime/action-processor/src/geometry/bounds_extractor.rs
  engine/runtime/action-processor/src/geometry/errors.rs
  engine/runtime/examples/fixture/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/runtime/types/src/attribute.rs
  engine/runtime/types/src/feature.rs
  engine/worker/workflow/cms/plateau4/data-convert/bldg/template/workflow.yml
  engine/worker/workflow/cms/plateau4/data-convert/bldg/workflow.json
Labels: engine

#1043 fix(engine): correct coordinate order in geojson conversion and refactor GmlGeometry implementation
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/geometry/src/types/conversion/geojson.rs
  engine/runtime/types/src/conversion/geojson.rs
  engine/runtime/types/src/geometry.rs
Labels: engine

#1044 fix(engine): correct coordinate order in geojson point creation functions
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/geometry/src/types/conversion/geojson.rs
Labels: engine

#1042 fix(websocket): reduce the probability of GCS data loss[FLOW-BE-93]
  server/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/docker-compose.yml
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/storage/kv/mod.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/storage/update_compressor.rs
  server/websocket/src/ws.rs
Labels: websocket

#1048 fix(websocket): fix GCS data return limit [FLOW-BE-97]
  server/websocket/src/storage/gcs/mod.rs
Labels: websocket

#1049 fix(websocket): optimized the speed of getting the latest snapshot [FLOW-BE-98]
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/doc/handler.rs
  server/websocket/src/storage/gcs/mod.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/storage/redis/pubsub.rs
  server/websocket/src/ws.rs
Labels: websocket

#1033 refactor(ui): move away from Y.Arrays to Y.Maps
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/Editor/useCanvasCopyPaste.ts
  ui/src/features/Editor/useDeployment.ts
  ui/src/features/SharedCanvas/hooks.ts
  ui/src/features/SharedCanvas/index.tsx
  ui/src/hooks/useProjectExport.ts
  ui/src/hooks/useProjectImport.ts
  ui/src/hooks/useWorkflowImport.ts
  ui/src/lib/reactFlow/nodeTypes/BatchNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/NoteNode/index.tsx
  ui/src/lib/reactFlow/useEdges.ts
  ui/src/lib/yjs/YWorkflowClass.tsx
  ui/src/lib/yjs/conversions/rebuildWorkflow.test.ts
  ui/src/lib/yjs/conversions/rebuildWorkflow.ts
  ui/src/lib/yjs/conversions/yWorkflowConstructor.test.ts
  ui/src/lib/yjs/conversions/yWorkflowConstructor.ts
  ui/src/lib/yjs/types.ts
  ui/src/lib/yjs/useParentYWorkflow/index.ts
  ui/src/lib/yjs/useParentYWorkflow/removeParentYWorkflowNodePseudoPort.ts
  ui/src/lib/yjs/useParentYWorkflow/updateParentYWorkflowEdges.ts
  ui/src/lib/yjs/useParentYWorkflow/updateParentYWorkflowNode.ts
  ui/src/lib/yjs/useWorkflowTabs.ts
  ui/src/lib/yjs/useYEdge.test.ts
  ui/src/lib/yjs/useYEdge.ts
  ui/src/lib/yjs/useYLayout.ts
  ui/src/lib/yjs/useYNode.test.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/lib/yjs/useYjsSetup.ts
  ui/src/lib/yjs/useYjsStore.ts
Labels: ui

#1019 feat(ui): added project duplication and document queries
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/index.tsx
  ui/src/features/WorkspaceProjects/components/ProjectCard.tsx
  ui/src/features/WorkspaceProjects/components/ProjectDuplicateDialog.tsx
  ui/src/features/WorkspaceProjects/hooks.ts
  ui/src/features/WorkspaceProjects/index.tsx
  ui/src/hooks/index.ts
  ui/src/hooks/useProjectDuplicate.ts
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/convert.ts
  ui/src/lib/gql/document/index.ts
  ui/src/lib/gql/document/queries.graphql
  ui/src/lib/gql/document/useApi.ts
  ui/src/lib/gql/document/useQueries.ts
  ui/src/lib/gql/fragment.graphql
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/types/document.ts
  ui/src/types/index.ts
Labels: ui

#1050 fix(websocket): improve document loading and initial save[FLOW-BE-98]
  server/websocket/src/broadcast/pool.rs
Labels: websocket

#1051 fix(websocket): update Redis instance registration TTL and comment ou…
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/ws.rs
Labels: websocket

#1053 ci: refactor policy deployment action
  .github/workflows/build_deploy_policies_cerbos.yml
  .github/workflows/build_docker_push_worker.yml
  .github/workflows/ci.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
Labels: cicd, engine

#1052 refactor(websocket): adjust buffer capacity and improve document hand…
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/doc/handler.rs
  server/websocket/src/doc/mod.rs
  server/websocket/src/doc/types.rs
Labels: websocket

#1055 fix(websocket): migrate from Redis Pub/Sub to Redis Stream[FLOW-BE-100]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/ws.rs
Labels: ui, websocket

#1056 fix(websocket): optimized the speed of Redis stream parallel processing[FLOW-BE-100]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1057 feat(api, subscriber): edge statuses with intermediate data [FLOW-BE-24]
  server/api/gql/job.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_deployment.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/loader_job.go
  server/api/internal/adapter/gql/resolver_query.go
  server/api/internal/adapter/gql/resolver_subscription.go
  server/api/internal/app/repo.go
  server/api/internal/infrastructure/memory/workflow_test.go
  server/api/internal/infrastructure/mongo/mongodoc/job.go
  server/api/internal/infrastructure/mongo/mongodoc/workflow.go
  server/api/internal/infrastructure/mongo/mongodoc/workflow_test.go
  server/api/internal/infrastructure/mongo/workflow_test.go
  server/api/internal/infrastructure/redis/edge.go
  server/api/internal/infrastructure/redis/log.go
  server/api/internal/rbac/definitions.go
  server/api/internal/usecase/gateway/container.go
  server/api/internal/usecase/gateway/log.go
  server/api/internal/usecase/gateway/redis.go
  server/api/internal/usecase/interactor/common.go
  server/api/internal/usecase/interactor/edge.go
  server/api/internal/usecase/interactor/edge_test.go
  server/api/internal/usecase/interactor/log.go
  server/api/internal/usecase/interactor/log_test.go
  server/api/internal/usecase/interfaces/common.go
  server/api/internal/usecase/interfaces/edge.go
  server/api/pkg/edge/edge.go
  server/api/pkg/id/edge_id.go
  server/api/pkg/id/id.go
  server/api/pkg/id/node_id.go
  server/api/pkg/job/builder.go
  server/api/pkg/job/job.go
  server/api/pkg/subscription/edge_subscription.go
  server/api/pkg/workflow/id.go
  server/api/pkg/workflow/workflow.go
  server/api/pkg/workflow/workflow_test.go
  server/subscriber/cmd/reearth-flow-subscriber/config.go
  server/subscriber/cmd/reearth-flow-subscriber/main.go
  server/subscriber/internal/adapter/pubsub/edge_subscriber.go
  server/subscriber/internal/adapter/pubsub/edge_subsriber_test.go
  server/subscriber/internal/adapter/pubsub/log_subscriber.go
  server/subscriber/internal/adapter/pubsub/log_subscriber_test.go
  server/subscriber/internal/infrastructure/mongo/edge.go
  server/subscriber/internal/infrastructure/mongo/edge_test.go
  server/subscriber/internal/infrastructure/mongo/mongodoc/edge.go
  server/subscriber/internal/infrastructure/redis/client.go
  server/subscriber/internal/infrastructure/redis/edge.go
  server/subscriber/internal/infrastructure/redis/edge_test.go
  server/subscriber/internal/infrastructure/redis/log.go
  server/subscriber/internal/infrastructure/redis/log_test.go
  server/subscriber/internal/infrastructure/storage.go
  server/subscriber/internal/usecase/gateway/edge_storage.go
  server/subscriber/internal/usecase/interactor/edge_subscriber.go
  server/subscriber/internal/usecase/interactor/edge_subscriber_test.go
  server/subscriber/pkg/edge/edge.go
Labels: api

#1059 chore(engine): update package versions and add working directory configuration
  engine/Cargo.lock
  engine/Cargo.toml
  engine/README.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/common/Cargo.toml
  engine/runtime/common/src/dir.rs
Labels: engine

#1061 ci(subscriber): update deploy subscriber workflow and refactor dockerfile
  .github/workflows/build_deploy_subscriber.yml
  server/subscriber/Dockerfile
Labels: cicd

#1058 ci: migrate auth from SA key to WI provider
  .github/workflows/build_deploy_policies_cerbos.yml
Labels: cicd

#1054 ci: update build docker push for plateau worker
  .github/workflows/build_docker_push_worker.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
Labels: cicd, engine

#1064 ci: refactor the main ci.yml
  .github/workflows/ci.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
Labels: cicd, engine

#962 feat(ui): Added Versioning GQL Requests
  ui/src/components/Loading/Splashscreen.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/Version.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/VersionHistoryChangeDialog.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/hooks.ts
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/index.tsx
  ui/src/features/Editor/components/RightPanel/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/fragment.graphql
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useYjsSetup.ts
  ui/src/routes/workspaces.$workspaceId_.projects_.$projectId.lazy.tsx
  ui/src/types/index.ts
Labels: ui

#1065 fix(websocket): update sorting logic[FLOW-BE-104]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/storage/gcs/mod.rs
Labels: websocket

#1067 chore(api, subscriber): debug edge status update
  server/api/internal/infrastructure/mongo/mongodoc/job.go
  server/api/internal/usecase/interactor/edge.go
  server/subscriber/Dockerfile
  server/subscriber/cmd/reearth-flow-subscriber/main.go
  server/subscriber/internal/infrastructure/mongo/edge.go
  server/subscriber/internal/infrastructure/redis/edge.go
  server/subscriber/internal/usecase/interactor/edge_subscriber.go
Labels: api

#1063 ci: update secrets for WI federation
  .github/workflows/build_deploy_policies_cerbos.yml
Labels: cicd

#1071 chore: add indexmap support in various modules and remove unnecessary print statements
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau3/attribute_flattener.rs
  engine/runtime/action-plateau-processor/src/plateau3/max_lod_extractor.rs
  engine/runtime/action-plateau-processor/src/plateau3/udx_folder_extractor.rs
  engine/runtime/action-plateau-processor/src/plateau3/xml_attribute_extractor.rs
  engine/runtime/action-plateau-processor/src/plateau4/attribute_flattener/flattener.rs
  engine/runtime/action-plateau-processor/src/plateau4/attribute_flattener/processor.rs
  engine/runtime/action-plateau-processor/src/plateau4/udx_folder_extractor.rs
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-processor/src/attribute/bulk_array_joiner.rs
  engine/runtime/action-processor/src/attribute/bulk_renamer.rs
  engine/runtime/action-processor/src/attribute/flattener.rs
  engine/runtime/action-processor/src/attribute/mapper.rs
  engine/runtime/action-processor/src/feature/reader/citygml/reader.rs
  engine/runtime/action-processor/src/feature/writer.rs
  engine/runtime/action-processor/src/geometry/area_on_area_overlayer.rs
  engine/runtime/action-processor/src/geometry/convex_hull_accumulator.rs
  engine/runtime/action-processor/src/geometry/dissolver.rs
  engine/runtime/action-processor/src/geometry/line_on_line_overlayer.rs
  engine/runtime/action-processor/src/geometry/replacer.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/slice.rs
  engine/runtime/action-sink/src/file/czml.rs
  engine/runtime/action-sink/src/file/excel.rs
  engine/runtime/action-sink/src/file/gltf.rs
  engine/runtime/action-sink/src/file/mvt/slice.rs
  engine/runtime/action-sink/src/file/shapefile/conversion.rs
  engine/runtime/action-source/Cargo.toml
  engine/runtime/action-source/src/feature_creator.rs
  engine/runtime/action-source/src/file/reader/csv.rs
  engine/runtime/action-source/src/file/reader/json.rs
  engine/runtime/action-source/src/sql.rs
  engine/runtime/action-wasm-processor/Cargo.toml
  engine/runtime/action-wasm-processor/src/runtime_executor.rs
  engine/runtime/gltf/src/metadata.rs
  engine/runtime/types/src/conversion/geojson.rs
  engine/runtime/types/src/feature.rs
Labels: engine

#1074 fix(ui): removed tempYDoc
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/hooks.ts
Labels: ui

#1072 fix(ui): name and description editable on project duplication
  ui/src/features/WorkspaceProjects/components/ProjectDuplicateDialog.tsx
  ui/src/hooks/useProjectDuplicate.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#1076 fix(api, subscriber): disentangle edgeExecution from jobs
  go.work.sum
  server/api/gql/edge.graphql
  server/api/gql/job.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_deployment.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/loader.go
  server/api/internal/adapter/gql/loader_edge.go
  server/api/internal/adapter/gql/loader_job.go
  server/api/internal/adapter/gql/resolver_query.go
  server/api/internal/adapter/gql/resolver_subscription.go
  server/api/internal/infrastructure/mongo/container.go
  server/api/internal/infrastructure/mongo/edge.go
  server/api/internal/infrastructure/mongo/mongodoc/edge.go
  server/api/internal/infrastructure/mongo/mongodoc/job.go
  server/api/internal/infrastructure/mongo/mongodoc/parameter.go
  server/api/internal/infrastructure/mongo/mongodoc/project.go
  server/api/internal/infrastructure/redis/edge.go
  server/api/internal/usecase/interactor/common.go
  server/api/internal/usecase/interactor/edge.go
  server/api/internal/usecase/interactor/edge_test.go
  server/api/internal/usecase/interfaces/common.go
  server/api/internal/usecase/interfaces/edge.go
  server/api/internal/usecase/repo/container.go
  server/api/internal/usecase/repo/edge.go
  server/api/pkg/edge/builder.go
  server/api/pkg/edge/edge.go
  server/api/pkg/job/builder.go
  server/api/pkg/job/job.go
  server/subscriber/cmd/reearth-flow-subscriber/main.go
  server/subscriber/internal/adapter/pubsub/edge_subscriber_test.go
  server/subscriber/internal/infrastructure/mongo/edge.go
  server/subscriber/internal/infrastructure/mongo/mongodoc/edge.go
  server/subscriber/internal/usecase/interactor/edge_subscriber.go
  server/subscriber/pkg/edge/edge.go
  server/subscriber/pkg/id/id.go
Labels: api

#1073 chore(websocket): remove pending_updates [FLOW-BE-100]
  server/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1078 ci(subscriber): specify Dockerfile path in build_deploy_subscriber.yml
  .github/workflows/build_deploy_subscriber.yml
Labels: cicd

#1081 fix(api, subscriber): intermediate data url is not correct and refactor
  server/api/internal/adapter/gql/loader_edge_test.go
  server/api/internal/adapter/gql/loader_project.go
  server/api/internal/infrastructure/gcpbatch/batch.go
  server/api/internal/infrastructure/mongo/edge.go
  server/api/internal/infrastructure/mongo/edge_test.go
  server/api/internal/infrastructure/mongo/mongodoc/edge.go
  server/api/internal/infrastructure/mongo/mongodoc/job.go
  server/api/internal/infrastructure/mongo/project.go
  server/api/internal/infrastructure/thrift/document_server.go
  server/api/internal/usecase/interactor/edge.go
  server/api/internal/usecase/interactor/job.go
  server/api/pkg/edge/builder.go
  server/api/pkg/edge/edge.go
  server/subscriber/internal/infrastructure/mongo/edge.go
Labels: api, subscriber

#1083 chore(engine): reorganize BASE_SCHEMA_KEYS and add missing attributes
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau4/attribute_flattener/processor.rs
Labels: engine

#1085 chore(worker): support completed status in edge pass through event [FLOW-BE-105]
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/examples/example_main.rs
  engine/runtime/runtime/src/event.rs
  engine/runtime/runtime/src/forwarder.rs
  engine/worker/src/event_handler.rs
Labels: engine

#1086 fix(api): handleJobCompletion tasks should happen only after job status has changed to completed
  server/api/internal/usecase/interactor/job.go
Labels: api

#1088 fix(api): deployment deletion now removes only specified deployment[FLOW-BE-26]
  server/api/internal/usecase/interactor/deployment.go
Labels: api

#1069 feat(ui): edge status and intermediate data support
  ui/src/components/visualizations/Cesium/GeoJson.tsx
  ui/src/components/visualizations/Cesium/index.tsx
  ui/src/features/Canvas/index.tsx
  ui/src/features/Editor/components/BottomBar/hooks.tsx
  ui/src/features/Editor/components/BottomBar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/hooks.ts
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Breadcrumb/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugLogs/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/components/DataTable/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/components/GeoMap/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/hooks.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Infobar/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/WorkflowTab.tsx
  ui/src/features/Editor/useDebugRun.ts
  ui/src/features/LogsConsole/index.tsx
  ui/src/hooks/useDataColumnizer.ts
  ui/src/hooks/useFetchAndReadData.ts
  ui/src/hooks/useJobSubscriptionsSetup.ts
  ui/src/index.css
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/convert.ts
  ui/src/lib/gql/fragment.graphql
  ui/src/lib/gql/job/queries.graphql
  ui/src/lib/gql/job/useApi.ts
  ui/src/lib/gql/job/useQueries.ts
  ui/src/lib/gql/subscriptions/queries.graphql
  ui/src/lib/gql/subscriptions/useSubscription.ts
  ui/src/lib/gql/subscriptions/useSubscriptionSetup.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/indexedDB/index.ts
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge.tsx
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/hooks.ts
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/index.tsx
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/useEdgeStatusSubscription.ts
  ui/src/routes/workspaces.$workspaceId_.projects_.$projectId.lazy.tsx
  ui/src/stores/indexedDB.ts
  ui/src/types/job.ts
  ui/src/utils/fetchAndReadGeoData.ts
  ui/src/utils/jsonl/index.ts
  ui/src/utils/jsonl/parseJsonL.ts
  ui/src/utils/jsonl/transformIntermediateData.test.ts
  ui/src/utils/jsonl/transformIntermediateData.ts
Labels: ui

#1087 fix(websocket): implement batched downloads for improved performance[FLOW-BE-106]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/conf.rs
  server/websocket/src/storage/gcs/mod.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1091 fix(websocket): improved cleanup logic to ensure proper disconnection[FLOW-BE-100]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1092 chore(websocket): increase batch size for broadcast group processing fr…
  server/websocket/src/broadcast/group.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1090 chore(ui): add flow brand favicon url to reearth config json template
  ui/docker/reearth_config.json.template
Labels: ui

#1093 refactor(websocket): update state encoding [FLOW-BE-107]
  server/websocket/Dockerfile.websocket
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/conf.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1095 chore(redis): migrate bb8 to deadpool [FLOW-BE-107]
  server/Cargo.lock
  server/Cargo.toml
  server/websocket/Cargo.toml
  server/websocket/src/broadcast/group.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1094 fix(ui): removed conditional logic for edge remove
  ui/src/lib/reactFlow/useNodes.ts
Labels: ui

#1096 fix(websocket): optimize slow initial Redis loading [FLOW-BE-107]
  server/websocket/Cargo.toml
  server/websocket/src/bin/websocket.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/conn.rs
  server/websocket/src/server.rs
  server/websocket/src/storage/gcs/mod.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/storage/update_compressor.rs
  server/websocket/src/ws.rs
Labels: websocket

#1098 refactor(ui): ui updates and code refactor
  ui/src/features/Editor/components/BottomBar/index.tsx
  ui/src/features/Editor/components/ParamsPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/PageWrapper/WorkspaceId.tsx
  ui/src/features/SharedCanvas/hooks.ts
  ui/src/features/SharedCanvas/index.tsx
  ui/src/features/WorkspaceDeployments/hooks.ts
  ui/src/features/WorkspaceJobs/components/JobRunDialog.tsx
  ui/src/features/WorkspaceJobs/hooks.ts
  ui/src/features/WorkspaceTriggers/components/TriggerAddDialog.tsx
  ui/src/features/WorkspaceTriggers/hooks.ts
  ui/src/hooks/useProjectPagination.ts
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/hooks.ts
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/index.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/hooks.ts
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/useNodeStatus.ts
  ui/src/lib/reactFlow/nodeTypes/ReaderNode.tsx
  ui/src/lib/reactFlow/nodeTypes/TransformerNode.tsx
  ui/src/lib/reactFlow/nodeTypes/WriterNode.tsx
  ui/src/lib/yjs/useYEdge.ts
  ui/src/lib/yjs/useYHistory.ts
  ui/src/lib/yjs/useYLayout.ts
  ui/src/lib/yjs/useYNode.ts
  ui/src/lib/yjs/useYWorkflow.ts
  ui/src/lib/yjs/useYjsSetup.ts
  ui/src/lib/yjs/useYjsStore.ts
Labels: ui

#1099 fix(ws): optimize save logic and improve history API[FLOW-BE-107]
  server/Cargo.lock
  server/api/e2e/gql_document_test.go
  server/api/go.mod
  server/api/go.sum
  server/api/gql/document.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/resolver_document.go
  server/api/internal/app/main.go
  server/api/internal/infrastructure/auth/auth_service.go
  server/api/internal/infrastructure/thrift/auth_service.go
  server/api/internal/infrastructure/thrift/document_server.go
  server/api/internal/infrastructure/thrift/server.go
  server/api/internal/infrastructure/websocket/client.go
  server/api/internal/usecase/interactor/websocket.go
  server/api/internal/usecase/interfaces/websocket.go
  server/api/pkg/websocket/websocket.go
  server/api/proto/GoUnusedProtection__.go
  server/api/proto/auth-consts.go
  server/api/proto/auth.go
  server/api/proto/auth.thrift
  server/api/proto/auth_service-remote/auth_service-remote.go
  server/api/proto/document-consts.go
  server/api/proto/document.go
  server/api/proto/document_service-remote/document_service-remote.go
  server/api/thrift/README.md
  server/api/thrift/document.thrift
  server/websocket/Cargo.toml
  server/websocket/Dockerfile.websocket
  server/websocket/build.rs
  server/websocket/src/auth/mod.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/doc/handler.rs
  server/websocket/src/doc/mod.rs
  server/websocket/src/doc/route.rs
  server/websocket/src/doc/types.rs
  server/websocket/src/lib.rs
  server/websocket/src/server.rs
  server/websocket/src/storage/gcs/mod.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/thrift/auth.rs
  server/websocket/src/thrift/document.rs
  server/websocket/src/thrift/mod.rs
  server/websocket/thrift/auth.thrift
  server/websocket/thrift/document.thrift
Labels: api, websocket

#1101 fix(api): remove proto directory copy from Dockerfile and add heartbeat task[FLOW-BE-107]
  .github/workflows/build_deploy_api.yml
  .github/workflows/build_deploy_websocket.yml
  server/api/Dockerfile
  server/websocket/src/bin/websocket.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/storage/redis/mod.rs
Labels: cicd, api, websocket

#1103 feat(engine): add NoteStatusEvent support
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/examples/example_main.rs
  engine/runtime/runtime/src/event.rs
  engine/runtime/runtime/src/executor/processor_node.rs
  engine/runtime/runtime/src/executor/receiver_loop.rs
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/runtime/runtime/src/executor/source_node.rs
  engine/runtime/runtime/src/node.rs
  engine/schema/node_status_event.json
  engine/worker/README.md
  engine/worker/src/event_handler.rs
  engine/worker/src/types.rs
  engine/worker/src/types/node_status_event.rs
Labels: engine

#1104 feat(ws): manually save data to GCS when getting the latest[FLOW-BE-111]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/conf.rs
  server/websocket/src/doc/handler.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1105 feat(subscriber): node status subscriber [FLOW-BE-112]
  server/subscriber/cmd/reearth-flow-subscriber/config.go
  server/subscriber/cmd/reearth-flow-subscriber/main.go
  server/subscriber/internal/adapter/pubsub/edge_subscriber.go
  server/subscriber/internal/adapter/pubsub/edge_subscriber_test.go
  server/subscriber/internal/adapter/pubsub/node_subscriber.go
  server/subscriber/internal/infrastructure/mongo/edge.go
  server/subscriber/internal/infrastructure/mongo/edge_test.go
  server/subscriber/internal/infrastructure/mongo/mongodoc/node.go
  server/subscriber/internal/infrastructure/mongo/node.go
  server/subscriber/internal/infrastructure/redis/edge.go
  server/subscriber/internal/infrastructure/redis/edge_test.go
  server/subscriber/internal/infrastructure/redis/node.go
  server/subscriber/internal/infrastructure/storage.go
  server/subscriber/internal/usecase/gateway/edge_storage.go
  server/subscriber/internal/usecase/gateway/node_storage.go
  server/subscriber/internal/usecase/interactor/edge_subscriber.go
  server/subscriber/internal/usecase/interactor/edge_subscriber_test.go
  server/subscriber/internal/usecase/interactor/node_subscriber.go
  server/subscriber/pkg/edge/edge.go
  server/subscriber/pkg/id/id.go
  server/subscriber/pkg/node/id.go
  server/subscriber/pkg/node/node.go
Labels: subscriber

#1106 feat(api): Node status resolver and refactor edge execution [FLOW-BE-114]
  server/api/gql/edge.graphql
  server/api/gql/node.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_deployment.go
  server/api/internal/adapter/gql/gqlmodel/convert_graph.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/loader.go
  server/api/internal/adapter/gql/loader_edge_test.go
  server/api/internal/adapter/gql/loader_node.go
  server/api/internal/adapter/gql/resolver_query.go
  server/api/internal/adapter/gql/resolver_subscription.go
  server/api/internal/app/config/config.go
  server/api/internal/app/repo.go
  server/api/internal/infrastructure/fs/file.go
  server/api/internal/infrastructure/gcpbatch/batch.go
  server/api/internal/infrastructure/gcs/file.go
  server/api/internal/infrastructure/mongo/container.go
  server/api/internal/infrastructure/mongo/edge.go
  server/api/internal/infrastructure/mongo/edge_test.go
  server/api/internal/infrastructure/mongo/mongodoc/edge.go
  server/api/internal/infrastructure/mongo/mongodoc/node.go
  server/api/internal/infrastructure/mongo/node.go
  server/api/internal/infrastructure/redis/edge.go
  server/api/internal/rbac/definitions.go
  server/api/internal/usecase/gateway/file.go
  server/api/internal/usecase/gateway/redis.go
  server/api/internal/usecase/interactor/common.go
  server/api/internal/usecase/interactor/edge.go
  server/api/internal/usecase/interactor/edge_test.go
  server/api/internal/usecase/interactor/log_test.go
  server/api/internal/usecase/interactor/node.go
  server/api/internal/usecase/interfaces/common.go
  server/api/internal/usecase/interfaces/edge.go
  server/api/internal/usecase/interfaces/node.go
  server/api/internal/usecase/repo/container.go
  server/api/internal/usecase/repo/edge.go
  server/api/internal/usecase/repo/node.go
  server/api/pkg/edge/builder.go
  server/api/pkg/edge/edge.go
  server/api/pkg/graph/edge.go
  server/api/pkg/graph/edge_builder.go
  server/api/pkg/graph/id.go
  server/api/pkg/graph/node.go
  server/api/pkg/graph/node_builder.go
  server/api/pkg/id/edge_id.go
  server/api/pkg/id/id.go
  server/api/pkg/subscription/node_subscription.go
Labels: api

#1108 fix(engine): sink_node and event_handle fmt
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/worker/src/event_handler.rs
Labels: engine

#1109 chore(api, subscriber): remove edgeExecution and refactor NE id on subscriber
  server/api/gql/edge.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_graph.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/loader.go
  server/api/internal/adapter/gql/loader_edge.go
  server/api/internal/adapter/gql/resolver_query.go
  server/subscriber/internal/infrastructure/mongo/mongodoc/node.go
  server/subscriber/internal/infrastructure/mongo/node.go
  server/subscriber/internal/infrastructure/storage.go
  server/subscriber/internal/usecase/gateway/node_storage.go
  server/subscriber/internal/usecase/interactor/node_subscriber.go
  server/subscriber/pkg/node/id.go
  server/subscriber/pkg/node/node.go
Labels: api, subscriber

#1110 chore(engine): add simple flush mechanism in eventhub [FLOW-BE-116]
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/runtime/src/event.rs
  engine/runtime/runtime/src/executor/dag_executor.rs
Labels: engine

#1111 feat(api): implement project snapshot query and add flush to gcs api[FLOW-BE-117]
  server/api/e2e/gql_document_test.go
  server/api/gql/document.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/resolver_document.go
  server/api/internal/infrastructure/websocket/client.go
  server/api/internal/usecase/interactor/websocket.go
  server/api/internal/usecase/interfaces/websocket.go
  server/websocket/src/broadcast/group.rs
  server/websocket/src/doc/handler.rs
  server/websocket/src/doc/route.rs
  server/websocket/src/storage/gcs/mod.rs
Labels: ui, api, websocket

#1114 fix(api, engine): Add node status tracking with configurable propagation delay
  engine/Cargo.lock
  engine/Cargo.toml
  engine/README.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/runtime/src/executor/processor_node.rs
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/runtime/runtime/src/executor/source_node.rs
  server/api/internal/app/config/config.go
  server/api/internal/app/repo.go
  server/api/internal/infrastructure/gcpbatch/batch.go
Labels: api, engine

#1113 refactor(api): update ProjectSnapshot query and related resolver logic to return a single snapshot instead of a list[FLOW-BE-117]
  server/api/gql/document.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/resolver_document.go
  server/api/internal/infrastructure/websocket/client.go
  server/api/internal/usecase/interactor/websocket.go
  server/api/internal/usecase/interfaces/websocket.go
  server/websocket/src/doc/handler.rs
  server/websocket/src/storage/gcs/mod.rs
  server/websocket/src/storage/redis/mod.rs
Labels: api, websocket

#1115 chore(api, subscriber): refactor and change types to be more appropriate
  server/api/internal/adapter/gql/gqlmodel/convert_node.go
  server/api/internal/infrastructure/mongo/mongodoc/node.go
  server/api/internal/infrastructure/redis/node.go
  server/api/pkg/graph/id.go
  server/api/pkg/graph/node.go
  server/api/pkg/graph/node_builder.go
  server/subscriber/internal/infrastructure/mongo/node.go
  server/subscriber/internal/infrastructure/redis/node.go
  server/subscriber/internal/usecase/interactor/node_subscriber.go
Labels: api, subscriber

#1116 fix(ws): fix XREADGROUP command is not allowed with BLOCK option from scripts script[FLOW-BE-107]
  server/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/script/run.sh
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/doc/handler.rs
  server/websocket/src/lib.rs
  server/websocket/src/storage/gcs/mod.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1107 feat(ui): full debug run support
  ui/index.html
  ui/src/components/Loading/Skeleton.tsx
  ui/src/components/Loading/styles.css
  ui/src/components/LogsTable/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugLogs/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/hooks.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/index.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/Version.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/VersionHistoryChangeDialog.tsx
  ui/src/features/Editor/useCanvasCopyPaste.ts
  ui/src/features/LogsConsole/index.tsx
  ui/src/features/PageWrapper/WorkspaceId.tsx
  ui/src/index.css
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/convert.ts
  ui/src/lib/gql/document/queries.graphql
  ui/src/lib/gql/document/useQueries.ts
  ui/src/lib/gql/fragment.graphql
  ui/src/lib/gql/job/queries.graphql
  ui/src/lib/gql/job/useApi.ts
  ui/src/lib/gql/job/useQueries.ts
  ui/src/lib/gql/subscriptions/queries.graphql
  ui/src/lib/gql/subscriptions/useSubscriptionSetup.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/hooks.ts
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/index.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/hooks.ts
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/nodeColors.ts
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/useNodeStatus.ts
  ui/src/lib/reactFlow/nodeTypes/useNodeStatusSubscription.ts
  ui/src/lib/reactFlow/nodeTypes/utils.ts
  ui/src/mock_data/versionHistoryData.ts
  ui/src/stores/indexedDB.ts
  ui/src/types/document.ts
  ui/src/types/job.ts
  ui/src/utils/copyToClipboard.ts
  ui/src/utils/fetchAndReadGeoData.ts
  ui/src/utils/toEngineWorkflow/convertNodes.test.ts
  ui/src/utils/toEngineWorkflow/convertNodes.ts
Labels: ui

#1082 chore(ui): updated dependencies to latest versions for March 2025
  ui/package.json
  ui/yarn.lock
Labels: ui

#1117 chore(ui): tailwind migration from 3.4 to 4
  ui/eslint.config.mjs
  ui/package.json
  ui/postcss.config.js
  ui/src/components/Card/index.tsx
  ui/src/components/Checkbox/index.tsx
  ui/src/components/Command/index.tsx
  ui/src/components/ContextMenu/index.tsx
  ui/src/components/Dialog/index.tsx
  ui/src/components/DropdownMenu/index.tsx
  ui/src/components/FileTree/index.tsx
  ui/src/components/Input/index.tsx
  ui/src/components/NavigationMenu/index.tsx
  ui/src/components/RadioGroup/index.tsx
  ui/src/components/Resizable/index.tsx
  ui/src/components/Select/index.tsx
  ui/src/components/Table/index.tsx
  ui/src/components/Tabs/index.tsx
  ui/src/components/TextArea/index.tsx
  ui/src/components/Toast/index.tsx
  ui/src/components/buttons/BaseButton/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/components/ParamsPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/ParamsPanel/index.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/Version.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/index.tsx
  ui/src/features/KeyboardShortcutDialog/index.tsx
  ui/src/features/WorkspaceProjects/components/ProjectCard.tsx
  ui/src/index.css
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/components/CustomHandle/Handles.tsx
  ui/src/lib/reactFlow/nodeTypes/NoteNode/index.tsx
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#1084 feat(engine): Implemented ThreeDimensionPlanarityRotator
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/geometry.rs
  engine/runtime/action-processor/src/geometry/errors.rs
  engine/runtime/action-processor/src/geometry/mapping.rs
  engine/runtime/action-processor/src/geometry/surface_footprint_replacer.rs
  engine/runtime/action-processor/src/geometry/three_dimension_planarity_rotator.rs
  engine/runtime/action-processor/src/geometry/three_dimension_rotator.rs
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/files/3d_prism.geojson.txt
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/three_dimension_planarity_rotator.yml
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/three_dimension_rotator.yml
  engine/runtime/geometry/src/algorithm.rs
  engine/runtime/geometry/src/algorithm/geo_distance_converter.rs
  engine/runtime/geometry/src/algorithm/normal_3d.rs
  engine/runtime/geometry/src/algorithm/rotate.rs
  engine/runtime/geometry/src/algorithm/rotate/query.rs
  engine/runtime/geometry/src/algorithm/rotate/rotate_3d.rs
  engine/runtime/geometry/src/algorithm/rotate_3d.rs
  engine/runtime/geometry/src/utils.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1120 ci(engine): remove plateau deployment jobs
  .github/workflows/build_docker_push_worker.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
Labels: cicd, engine

#1122 fix(api): Introduce Universal Job Status Monitoring with Self-Cleaning Subscriptions [FLOW-BE-119]
  server/api/internal/usecase/interactor/job.go
  server/api/internal/usecase/interactor/job_artifact.go
  server/api/internal/usecase/interactor/job_monitor.go
  server/api/internal/usecase/interactor/job_notification.go
  server/api/internal/usecase/interactor/job_status.go
  server/api/internal/usecase/interactor/job_subscription.go
  server/api/internal/usecase/interactor/trigger.go
Labels: api

#1041 fix(ui): context menu and node pickers added for canvas [FLOW-FE-140]
  ui/package.json
  ui/src/components/ContextMenu/index.tsx
  ui/src/features/Canvas/components/NodeContextMenu/index.tsx
  ui/src/features/Canvas/components/index.ts
  ui/src/features/Canvas/hooks.ts
  ui/src/features/Canvas/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/reactFlow/nodeTypes/BatchNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/NoteNode/index.tsx
  ui/yarn.lock
Labels: ui

#1126 fix(ui): docker file postcss removal
  ui/Dockerfile
Labels: ui

#1128 refactor(ws): reorganize BackgroundTasks and BroadcastConfig structur…
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/mod.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/broadcast/tasks.rs
  server/websocket/src/broadcast/types.rs
Labels: websocket

#1123 feat(websocket): enable brotli compression for HTTP responses [FLOW-BE-120]
  server/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/mod.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/broadcast/tasks.rs
  server/websocket/src/broadcast/types.rs
  server/websocket/src/server.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1121 refactor(ws): graceful shutdown [FLOW-BE-118]
  server/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/mod.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/broadcast/tasks.rs
  server/websocket/src/broadcast/types.rs
  server/websocket/src/server.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1119 chore(websocket): improve Redis connection handling in broadcast updates [FLOW-BE-107]
  server/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/mod.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/broadcast/tasks.rs
  server/websocket/src/broadcast/types.rs
  server/websocket/src/conn.rs
  server/websocket/src/server.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1129 ci(ui): add job to validate nginx config
  .github/workflows/ci_ui.yml
Labels: cicd

#1127 fix(ui): added selection context menu and deletion
  ui/src/components/ContextMenu/index.tsx
  ui/src/features/Canvas/components/NodeContextMenu/index.tsx
  ui/src/features/Canvas/components/SelectionContextMenu/index.tsx
  ui/src/features/Canvas/components/index.ts
  ui/src/features/Canvas/hooks.ts
  ui/src/features/Canvas/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#1132 feat(engine): Set logger level of action-log to Trace instead of Info
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-log/src/action.rs
Labels: engine

#1135 chore(websocket): update build and deployment configurations by remov…
  .github/workflows/build_deploy_websocket.yml
  server/.gitignore
  server/Cargo.toml
  server/websocket/.gitignore
  server/websocket/Cargo.lock
  server/websocket/Dockerfile.websocket
Labels: cicd, websocket

#1130 perf(websocket): optimize lock holding time in handle_msg method [FLOW-BE-107]
  .github/workflows/build_deploy_websocket.yml
  server/.gitignore
  server/Cargo.toml
  server/websocket/.gitignore
  server/websocket/Cargo.lock
  server/websocket/Dockerfile.websocket
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/storage/redis/mod.rs
Labels: cicd, websocket

#1138 feat(ui): improve parameters editor ui
  ui/src/components/Dialog/index.tsx
  ui/src/components/Tabs/index.tsx
  ui/src/features/Canvas/index.tsx
  ui/src/features/Editor/components/ParamsPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/ParamsPanel/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui
