Repository reearth/reearth-flow, pull requests merged in 2025-02, with the labels that each got.

#820 feat(engine): implement multi-threading support and optimize buffer flushing in MaxLodExtractor and FeatureLodFilter
  engine/runtime/action-plateau-processor/src/plateau4/max_lod_extractor.rs
  engine/runtime/action-processor/src/feature/lod_filter.rs
Labels: engine

#804 feat(api): add page-based pagination for deployments
  api/e2e/gql_pagination_test.go
  api/e2e/gql_project_test.go
  api/gql/_shared.graphql
  api/gql/asset.graphql
  api/gql/deployment.graphql
  api/gql/job.graphql
  api/gql/project.graphql
  api/gql/trigger.graphql
  api/gql/workspace.graphql
  api/gqlgen.yml
  api/internal/adapter/gql/context.go
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/convert.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/loader_asset.go
  api/internal/adapter/gql/loader_deployment.go
  api/internal/adapter/gql/loader_job.go
  api/internal/adapter/gql/loader_project.go
  api/internal/adapter/gql/loader_trigger.go
  api/internal/adapter/gql/resolver_query.go
  api/internal/adapter/gql/resolver_workspace.go
  api/internal/infrastructure/fs/common.go
  api/internal/infrastructure/fs/file.go
  api/internal/infrastructure/memory/asset.go
  api/internal/infrastructure/memory/deployment.go
  api/internal/infrastructure/memory/deployment_test.go
  api/internal/infrastructure/memory/job.go
  api/internal/infrastructure/memory/project.go
  api/internal/infrastructure/memory/trigger.go
  api/internal/infrastructure/mongo/asset.go
  api/internal/infrastructure/mongo/container.go
  api/internal/infrastructure/mongo/deployment.go
  api/internal/infrastructure/mongo/deployment_test.go
  api/internal/infrastructure/mongo/job.go
  api/internal/infrastructure/mongo/mongodoc/deployment.go
  api/internal/infrastructure/mongo/mongodoc/job.go
  api/internal/infrastructure/mongo/project.go
  api/internal/infrastructure/mongo/trigger.go
  api/internal/usecase/interactor/asset.go
  api/internal/usecase/interactor/deployment.go
  api/internal/usecase/interactor/job.go
  api/internal/usecase/interactor/project.go
  api/internal/usecase/interactor/trigger.go
  api/internal/usecase/interfaces/asset.go
  api/internal/usecase/interfaces/deployment.go
  api/internal/usecase/interfaces/job.go
  api/internal/usecase/interfaces/pageinfo.go
  api/internal/usecase/interfaces/pagination.go
  api/internal/usecase/interfaces/project.go
  api/internal/usecase/interfaces/trigger.go
  api/internal/usecase/repo/asset.go
  api/internal/usecase/repo/deployment.go
  api/internal/usecase/repo/job.go
  api/internal/usecase/repo/project.go
  api/internal/usecase/repo/trigger.go
Labels: api

#821 feat(engine): modify 3dtiles writer
  engine/Cargo.lock
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
Labels: engine

#823 chore(engine): update dependencies in Cargo.toml to latest versions
  engine/Cargo.lock
  engine/Cargo.toml
Labels: engine

#825 chore(api): rename queries to original name without page suffix
  api/e2e/gql_pagination_test.go
  api/e2e/gql_project_test.go
  api/gql/asset.graphql
  api/gql/deployment.graphql
  api/gql/job.graphql
  api/gql/project.graphql
  api/gql/trigger.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/resolver_query.go
Labels: api

#827 chore(engine): update atlas-packer dependency to version v0.0.2
  engine/Cargo.lock
  engine/Cargo.toml
Labels: engine

#828 feat(engine): add PLATEAU4 workflow examples and refactor file readers to accept byte content
  engine/docs/mdbook/src/action.md
  engine/runtime/action-sink/src/file/geojson.rs
  engine/runtime/action-source/src/file/reader/citygml.rs
  engine/runtime/action-source/src/file/reader/csv.rs
  engine/runtime/action-source/src/file/reader/geojson.rs
  engine/runtime/action-source/src/file/reader/json.rs
  engine/runtime/action-source/src/file/reader/runner.rs
  engine/runtime/examples/plateau/testdata/workflow/requirement/PLATEAU4/A001-7/buffer.yml
  engine/runtime/examples/plateau/testdata/workflow/requirement/PLATEAU4/A001-7/fixtures/buffer.geojson.txt
  engine/runtime/examples/plateau/testdata/workflow/requirement/PLATEAU4/README.md
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#824 fix(ui): GraphQL fix for projects
  ui/src/components/DataTable/index.tsx
  ui/src/components/Logs/index.tsx
  ui/src/components/Pagination/index.tsx
  ui/src/components/Spinner/index.tsx
  ui/src/components/index.ts
  ui/src/features/Editor/components/BottomPanel/components/Contents/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/LogsConsole/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/components/DeployDialog.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/WorkspaceJobs/components/JobDetails.tsx
  ui/src/features/WorkspaceJobs/hooks.ts
  ui/src/features/WorkspaceJobs/index.tsx
  ui/src/features/WorkspaceProjects/hooks.ts
  ui/src/features/WorkspaceProjects/index.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerAddDialog.tsx
  ui/src/features/WorkspaceTriggers/hooks.ts
  ui/src/features/WorkspaceTriggers/index.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/deployment/queries.graphql
  ui/src/lib/gql/deployment/useApi.ts
  ui/src/lib/gql/deployment/useQueries.ts
  ui/src/lib/gql/job/queries.graphql
  ui/src/lib/gql/job/useApi.ts
  ui/src/lib/gql/job/useQueries.ts
  ui/src/lib/gql/project/queries.graphql
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/project/useQueries.ts
  ui/src/lib/gql/trigger/queries.graphql
  ui/src/lib/gql/trigger/useApi.ts
  ui/src/lib/gql/trigger/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/mock_data/logsv2Data.ts
  ui/src/types/log.ts
  ui/src/types/paginationOptions.ts
Labels: ui

#831 feat(engine): add DirectoryDecompressor module and update related error handling
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/feature/file_path_extractor.rs
  engine/runtime/action-processor/src/file.rs
  engine/runtime/action-processor/src/file/directory_decompressor.rs
  engine/runtime/action-processor/src/file/errors.rs
  engine/runtime/action-processor/src/file/mapping.rs
  engine/runtime/action-processor/src/lib.rs
  engine/runtime/action-processor/src/utils.rs
  engine/runtime/action-processor/src/utils/decompressor.rs
  engine/runtime/action-processor/src/utils/errors.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#826 fix(api): deployment queries not working and docs for pagination
  .gitignore
  api/e2e/gql_deployment_pagination_test.go
  api/e2e/gql_pagination_test.go
  api/e2e/pagination_sorting.adoc
  api/e2e/readme.adoc
  api/internal/infrastructure/memory/deployment.go
  api/internal/infrastructure/memory/job.go
  api/internal/infrastructure/memory/project.go
  api/internal/infrastructure/memory/trigger.go
  api/internal/infrastructure/mongo/asset.go
  api/internal/infrastructure/mongo/container.go
  api/internal/infrastructure/mongo/deployment.go
  api/internal/infrastructure/mongo/job.go
  api/internal/infrastructure/mongo/project.go
  api/internal/infrastructure/mongo/trigger.go
Labels: api

#832 feat(engine): simplify archive extraction logic and update schema parameters for DirectoryDecompressor
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/feature/file_path_extractor.rs
  engine/runtime/action-processor/src/file/directory_decompressor.rs
  engine/runtime/action-processor/src/utils/decompressor.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#834 feat(engine): enhance DirectoryDecompressor with codelists and schemas support in workflow and schema definitions
  engine/docs/mdbook/src/action.md
  engine/runtime/action-plateau-processor/src/plateau4/udx_folder_extractor.rs
  engine/runtime/action-processor/src/feature/file_path_extractor.rs
  engine/runtime/action-processor/src/file/directory_decompressor.rs
  engine/runtime/common/src/fs.rs
  engine/runtime/examples/plateau/testdata/graphs/plateau4/folder_and_file_path_reader.yml
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#833 ci: Update GCP auth method from SA key to Workload Identity
  .github/workflows/build_deploy_api.yml
  .github/workflows/build_deploy_ui.yml
  .github/workflows/build_deploy_websocket.yml
  .github/workflows/build_docker_push_worker.yml
  .github/workflows/ci.yml
Labels: cicd

#822 feat(ui): basic project version history panel component
  ui/src/components/LogsTable/index.stories.tsx
  ui/src/components/LogsTable/index.tsx
  ui/src/components/index.ts
  ui/src/features/Editor/components/BottomPanel/components/LogsConsole/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/components/DeployDialog.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Breadcrumb/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/CanvasActionbar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/index.ts
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/components/ParamsPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/ParamsPanel/components/index.ts
  ui/src/features/Editor/components/ParamsPanel/index.tsx
  ui/src/features/Editor/components/RightPanel/index.tsx
  ui/src/features/Editor/components/index.ts
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/Editor/useUIState.ts
  ui/src/features/WorkspaceDeployments/components/DeploymentAddDialog.tsx
  ui/src/global-constants.ts
  ui/src/lib/gql/deployment/useApi.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useYjsSetup.ts
  ui/src/mock_data/versionHistoryData.ts
Labels: ui

#838 feat(engine): add zip functionality and compressOutput option to action schema
  engine/Cargo.lock
  engine/docs/mdbook/src/action.md
  engine/runtime/action-sink/src/file/cesium3dtiles.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/pipeline.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/common/Cargo.toml
  engine/runtime/common/src/lib.rs
  engine/runtime/common/src/zip.rs
  engine/runtime/eval-expr/src/module/file.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#830 fix(ui): sorting added for projects and jobs
  ui/src/components/DataTable/index.tsx
  ui/src/components/Loading/index.tsx
  ui/src/components/Pagination/index.tsx
  ui/src/components/Spinner/index.tsx
  ui/src/components/Table/index.tsx
  ui/src/components/index.ts
  ui/src/features/WorkspaceDeployments/components/DeploymentsDialog.tsx
  ui/src/features/WorkspaceDeployments/hooks.ts
  ui/src/features/WorkspaceDeployments/index.tsx
  ui/src/features/WorkspaceJobs/components/JobDetails.tsx
  ui/src/features/WorkspaceJobs/components/JobRunDialog.tsx
  ui/src/features/WorkspaceJobs/hooks.ts
  ui/src/features/WorkspaceJobs/index.tsx
  ui/src/features/WorkspaceProjects/hooks.ts
  ui/src/features/WorkspaceProjects/index.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerAddDialog.tsx
  ui/src/features/WorkspaceTriggers/hooks.ts
  ui/src/features/WorkspaceTriggers/index.tsx
  ui/src/lib/gql/deployment/useApi.ts
  ui/src/lib/gql/deployment/useQueries.ts
  ui/src/lib/gql/job/useQueries.ts
  ui/src/lib/gql/project/useQueries.ts
  ui/src/lib/gql/trigger/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/types/paginationOptions.ts
Labels: ui

#835 fix(ui): added screenToFlowPosition for nodepickerdialog
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/utils/getRandomNumberInRange.ts
Labels: ui

#695 feat(ui): Batch Node Customization
  ui/src/features/Editor/components/Canvas/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/utils.ts
  ui/src/features/Editor/components/ParamsPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#836 feat(engine): Impelemented Convex Hull constructor
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/geometry.rs
  engine/runtime/action-processor/src/geometry/convex_hull_accumulator.rs
  engine/runtime/action-processor/src/geometry/errors.rs
  engine/runtime/action-processor/src/geometry/mapping.rs
  engine/runtime/tests/fixture/testdata/geometry/convex_hull_accumulator/tsugaru_strait.geojson.txt
  engine/runtime/tests/fixture/workflow/geometry/convex_hull_accumulator.yml
  engine/runtime/tests/testcase/geometry/convex_hull_accumulator.sh
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#841 feat(engine): implement AttributeFlattener processor for city GML attributes transformation
  engine/runtime/action-plateau-processor/src/plateau4/attribute_flattener.rs
  engine/runtime/action-plateau-processor/src/plateau4/attribute_flattener/constants.rs
  engine/runtime/action-plateau-processor/src/plateau4/attribute_flattener/flattener.rs
  engine/runtime/action-plateau-processor/src/plateau4/attribute_flattener/processor.rs
  engine/runtime/action-plateau-processor/src/plateau4/mapping.rs
  engine/runtime/action-processor/src/feature/reader/citygml.rs
  engine/runtime/action-source/src/file/reader/citygml.rs
  engine/runtime/examples/plateau/testdata/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/runtime/types/src/attribute.rs
  engine/runtime/types/src/conversion/nusamai.rs
Labels: engine

#843 fix(ui): cleanup for parentworkflow edges on sub selection creation
  ui/src/lib/yjs/useYWorkflow.ts
Labels: ui

#844 fix(ui): removed shortcut for subworkflow on selection
  ui/src/features/Editor/hooks.ts
  ui/src/features/KeyboardShortcutDialog/useHooks.ts
Labels: ui

#848 chore(ui): Feb Dependencies Update
  ui/package.json
  ui/yarn.lock
Labels: ui

#840 feat(engine): Improved Dissolver
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/geometry/convex_hull_accumulator.rs
  engine/runtime/action-processor/src/geometry/dissolver.rs
  engine/runtime/action-processor/src/geometry/mapping.rs
  engine/runtime/action-processor/src/geometry/union.rs
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/convex_hull_accumulator.yml
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/dissolver.yml
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/files/tsugaru_strait.geojson.txt
  engine/runtime/tests/testcase/geometry/convex_hull_accumulator.sh
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#852 chore(api): add websocket transport layer to graphql api
  api/internal/app/app.go
  api/internal/app/graphql.go
Labels: api

#850 feat(api): url sharing of project
  api/e2e/gql_projectAccess_test.go
  api/gql/projectAccess.graphql
  api/internal/adapter/gql/generated.go
  api/internal/adapter/gql/gqlmodel/models_gen.go
  api/internal/adapter/gql/resolver_mutation_projectAccess.go
  api/internal/adapter/gql/resolver_projectAccess.go
  api/internal/app/app.go
  api/internal/app/config/config.go
  api/internal/infrastructure/memory/container.go
  api/internal/infrastructure/memory/projectAccess.go
  api/internal/infrastructure/memory/projectAccess_test.go
  api/internal/infrastructure/mongo/container.go
  api/internal/infrastructure/mongo/mongodoc/projectAccess.go
  api/internal/infrastructure/mongo/mongodoc/projectAccess_test.go
  api/internal/infrastructure/mongo/projectAccess.go
  api/internal/infrastructure/mongo/projectAccess_test.go
  api/internal/usecase/interactor/common.go
  api/internal/usecase/interactor/projectAccess.go
  api/internal/usecase/interactor/projectAccess_test.go
  api/internal/usecase/interfaces/common.go
  api/internal/usecase/interfaces/projectAccess.go
  api/internal/usecase/repo/container.go
  api/internal/usecase/repo/projectAccess.go
  api/pkg/id/id.go
  api/pkg/projectAccess/builder.go
  api/pkg/projectAccess/builder_test.go
  api/pkg/projectAccess/id.go
  api/pkg/projectAccess/projectAccess.go
  api/pkg/projectAccess/projectAccess_test.go
  go.work.sum
Labels: api

#853 feat(engine): update workflow examples with specific naming and output paths
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/README.md
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/convex_hull_accumulator.yml
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/dissolver.yml
Labels: engine

#851 feat(engine): Implemented Unifier
  engine/docs/mdbook/src/action.md
  engine/runtime/action-processor/src/geometry.rs
  engine/runtime/action-processor/src/geometry/errors.rs
  engine/runtime/action-processor/src/geometry/mapping.rs
  engine/runtime/action-processor/src/geometry/unifier.rs
  engine/runtime/action-processor/src/geometry/union.rs
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a001-7/unifier.yml
  engine/runtime/geometry/src/types/multi_polygon.rs
  engine/runtime/geometry/src/types/polygon.rs
  engine/runtime/geometry/src/types/rect.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#849 feat(ui): preview improvements + moving back to cesium
  ui/package.json
  ui/src/components/DataTable/index.tsx
  ui/src/components/visualizations/Cesium/Contents.tsx
  ui/src/components/visualizations/Cesium/index.tsx
  ui/src/components/visualizations/Map/index.tsx
  ui/src/components/visualizations/index.ts
  ui/src/features/Editor/components/BottomPanel/components/BaseActionButtons/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/Contents/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/DataTable/index.tsx
  ui/src/features/Editor/components/BottomPanel/components/Map/index.tsx
  ui/src/features/Editor/components/BottomPanel/hooks.tsx
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Infobar/index.tsx
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/index.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentsDialog.tsx
  ui/src/features/WorkspaceDeployments/index.tsx
  ui/src/features/WorkspaceJobs/index.tsx
  ui/src/features/WorkspaceTriggers/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/vite.config.ts
  ui/yarn.lock
Labels: ui

#857 feat(engine): add compressOutput property to action schema and update workflows
  engine/docs/mdbook/src/action.md
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/action-sink/src/file/mvt.rs
  engine/runtime/action-sink/src/file/mvt/pipeline.rs
  engine/runtime/action-sink/src/file/mvt/sink.rs
  engine/runtime/examples/fixture/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/runtime/examples/fixture/workflow/data-convert/plateau4/04-luse-lsld/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#861 feat(engine): add CMS workflow generation and quality check scripts
  engine/Makefile.toml
  engine/worker/workflow/cms/plateau4/data-convert/bldg/template/workflow.yml
  engine/worker/workflow/cms/plateau4/data-convert/bldg/workflow.json
  engine/worker/workflow/cms/plateau4/quality-check/.gitkeep
Labels: cicd, engine

#862 feat(ui): export project from dashboard
  ui/package.json
  ui/src/components/Loading/index.tsx
  ui/src/components/Loading/styles.css
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/WorkspaceProjects/components/ProjectCard.tsx
  ui/src/features/WorkspaceProjects/hooks.ts
  ui/src/features/WorkspaceProjects/index.tsx
  ui/src/hooks/index.ts
  ui/src/hooks/useProjectExport.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/tailwind.config.ts
  ui/yarn.lock
Labels: ui

#864 feat(cli): update CLI and worker command to include version information
  engine/Cargo.toml
  engine/cli/Cargo.toml
  engine/cli/src/cli.rs
  engine/runtime/action-log/Cargo.toml
  engine/runtime/action-plateau-processor/Cargo.toml
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-source/Cargo.toml
  engine/runtime/action-wasm-processor/Cargo.toml
  engine/runtime/common/Cargo.toml
  engine/runtime/eval-expr/Cargo.toml
  engine/runtime/examples/Cargo.toml
  engine/runtime/geometry/Cargo.toml
  engine/runtime/gltf/Cargo.toml
  engine/runtime/macros/Cargo.toml
  engine/runtime/runner/Cargo.toml
  engine/runtime/runner/src/runner.rs
  engine/runtime/runtime/Cargo.toml
  engine/runtime/runtime/src/executor/processor_node.rs
  engine/runtime/runtime/src/executor/sink_node.rs
  engine/runtime/runtime/src/executor/source_node.rs
  engine/runtime/sevenz/Cargo.toml
  engine/runtime/state/Cargo.toml
  engine/runtime/storage/Cargo.toml
  engine/runtime/telemetry/Cargo.toml
  engine/runtime/tests/Cargo.toml
  engine/runtime/types/Cargo.toml
  engine/worker/Cargo.toml
  engine/worker/src/command.rs
Labels: engine

#865 feat(engine): update versioning in Cargo.toml files and add version check in CI workflow
  .github/workflows/ci_engine.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/cli/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-log/Cargo.toml
  engine/runtime/action-plateau-processor/Cargo.toml
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-source/Cargo.toml
  engine/runtime/action-wasm-processor/Cargo.toml
  engine/runtime/common/Cargo.toml
  engine/runtime/eval-expr/Cargo.toml
  engine/runtime/examples/Cargo.toml
  engine/runtime/geometry/Cargo.toml
  engine/runtime/gltf/Cargo.toml
  engine/runtime/macros/Cargo.toml
  engine/runtime/runner/Cargo.toml
  engine/runtime/runtime/Cargo.toml
  engine/runtime/sevenz/Cargo.toml
  engine/runtime/state/Cargo.toml
  engine/runtime/storage/Cargo.toml
  engine/runtime/telemetry/Cargo.toml
  engine/runtime/tests/Cargo.toml
  engine/runtime/types/Cargo.toml
  engine/worker/Cargo.toml
Labels: cicd, engine

#866 feat(ci): add conditional check for version comparison in CI workflow
  .github/workflows/ci_engine.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
Labels: cicd, engine

#868 refactor(websocket): modularize server and add rollback from history func
  server/websocket/src/bin/main.rs
  server/websocket/src/handlers.rs
  server/websocket/src/lib.rs
  server/websocket/src/server.rs
Labels: ui, api, websocket

#870 feat(engine): add datetime module and enhance datetime parsing functionality
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-processor/src/attribute/manager.rs
  engine/runtime/common/src/datetime.rs
  engine/runtime/common/src/lib.rs
  engine/runtime/eval-expr/Cargo.toml
  engine/runtime/eval-expr/src/engine.rs
  engine/runtime/eval-expr/src/module.rs
  engine/runtime/eval-expr/src/module/datetime.rs
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a008-1/README.md
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a008-1/workflow.yml
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a008-2/README.md
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a008-2/workflow.yml
  engine/runtime/types/src/datetime.rs
Labels: engine

#735 feat(subscriber): add log_subscriber to write real-time logs to redis
  .github/workflows/ci.yml
  .github/workflows/ci_subscriber.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/compose.yml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/worker/README.md
  go.work
  go.work.sum
  server/api/pkg/i18n/string_test.go
  server/subscriber/.env.example
  server/subscriber/.gitignore
  server/subscriber/.golangci.yml
  server/subscriber/Dockerfile.log-subscriber
  server/subscriber/Makefile
  server/subscriber/README.md
  server/subscriber/cmd/log_subscriber/main.go
  server/subscriber/compose.yml
  server/subscriber/go.mod
  server/subscriber/go.sum
  server/subscriber/internal/adapter/pubsub/message.go
  server/subscriber/internal/adapter/pubsub/subscriber.go
  server/subscriber/internal/adapter/pubsub/subscriber_test.go
  server/subscriber/internal/adapter/pubsub/subscription.go
  server/subscriber/internal/infrastructure/redis/log.go
  server/subscriber/internal/infrastructure/redis/log_test.go
  server/subscriber/internal/infrastructure/storage.go
  server/subscriber/internal/usecase/gateway/log_storage.go
  server/subscriber/internal/usecase/interactor/log_subscriber.go
  server/subscriber/internal/usecase/interactor/log_subscriber_test.go
  server/subscriber/pkg/log/log.go
Labels: cicd, api, engine

#873 feat(engine): update plateau-gis-converter dependency to v0.7.6 and add new workflow example
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a008-2/workflow.yml
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a008-3/README.md
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a008-3/workflow.yml
Labels: engine

#874 feat(engine): add CzmlWriter sink and related documentation
  engine/.gitattributes
  engine/.gitignore
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-sink/src/errors.rs
  engine/runtime/action-sink/src/file.rs
  engine/runtime/action-sink/src/file/czml.rs
  engine/runtime/action-sink/src/file/geojson.rs
  engine/runtime/action-sink/src/mapping.rs
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a009-3/README.md
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a009-3/files/52397789_bldg_6697.gml
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a009-3/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
  engine/tools/README.md
  engine/tools/czml/index.html
  engine/tools/czml/json/.gitkeep
Labels: engine

#875 refactor(engine): remove unused coordinate system setter module and related references
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-processor/src/geometry.rs
  engine/runtime/action-processor/src/geometry/coordinate_system_setter.rs
  engine/runtime/action-processor/src/geometry/horizontal_reprojector.rs
  engine/runtime/action-processor/src/geometry/mapping.rs
  engine/runtime/action-processor/src/geometry/types.rs
  engine/runtime/geometry/src/algorithm/transverse_mercator_proj.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#876 feat(ui): import project
  ui/src/components/buttons/BaseButton/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/index.tsx
  ui/src/features/WorkspaceDeployments/index.tsx
  ui/src/features/WorkspaceProjects/hooks.ts
  ui/src/features/WorkspaceProjects/index.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerAddDialog.tsx
  ui/src/features/WorkspaceTriggers/index.tsx
  ui/src/hooks/index.ts
  ui/src/hooks/useIsMainWorkflow.ts
  ui/src/hooks/useProjectImport.ts
  ui/src/hooks/useProjectPagination.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useWorkflowTabs.ts
  ui/src/types/project.ts
Labels: ui

#863 fix(ui): customization for note node
  ui/src/features/Editor/components/Canvas/components/Nodes/NoteNode/index.tsx
  ui/src/features/Editor/components/ParamsPanel/components/ParamEditor/index.tsx
Labels: ui

#878 fix(ui): editor UI fixes
  ui/src/components/SchemaForm/Templates/BaseInputTemplate.tsx
  ui/src/components/SchemaForm/Templates/index.tsx
  ui/src/components/SchemaForm/Widgets/TextareaWidget.tsx
  ui/src/components/SchemaForm/index.stories.tsx
  ui/src/components/SchemaForm/index.tsx
  ui/src/components/TextArea/index.tsx
  ui/src/components/index.ts
  ui/src/features/Editor/components/ParamsPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/ParamsPanel/index.tsx
  ui/src/features/Editor/components/RightPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/RightPanel/components/index.ts
  ui/src/features/WorkspaceProjects/components/ProjectAddDialog.tsx
  ui/src/features/WorkspaceProjects/components/ProjectEditDialog.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#880 feat(ui): auto layout options (dagre)
  ui/package.json
  ui/src/features/Editor/components/OverlayUI/components/LayoutOptionsDialog/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/index.ts
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/WorkspaceProjects/hooks.ts
  ui/src/features/WorkspaceProjects/index.tsx
  ui/src/global-constants.ts
  ui/src/hooks/index.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useYLayout.ts
  ui/src/lib/yjs/useYjsStore.ts
  ui/src/types/index.ts
  ui/src/types/layout.ts
  ui/src/utils/autoLayout.ts
  ui/yarn.lock
Labels: ui

#881 feat(engine): add rayon dependency and increase thread count
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau4/max_lod_extractor.rs
  engine/runtime/action-processor/src/attribute/aggregator.rs
  engine/runtime/action-processor/src/feature/errors.rs
  engine/runtime/action-processor/src/feature/lod_filter.rs
  engine/runtime/action-processor/src/feature/mapping.rs
  engine/runtime/action-processor/src/feature/reader.rs
  engine/runtime/action-processor/src/feature/reader/citygml.rs
  engine/runtime/action-processor/src/feature/reader/citygml/processor.rs
  engine/runtime/action-processor/src/feature/reader/citygml/reader.rs
  engine/runtime/action-processor/src/feature/sorter.rs
  engine/runtime/action-sink/src/file/cesium3dtiles/sink.rs
  engine/runtime/examples/example_main.rs
  engine/runtime/examples/fixture/workflow/data-convert/plateau4/01-bldg/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
  engine/worker/src/main.rs
  engine/worker/workflow/cms/plateau4/data-convert/bldg/template/workflow.yml
  engine/worker/workflow/cms/plateau4/data-convert/bldg/workflow.json
Labels: engine

#871 fix(ui): Improved Canvas Nav V-2
  ui/src/components/FileTree/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/BatchNode/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/index.tsx
  ui/src/features/Editor/useNodeLocker.ts
  ui/src/features/WorkspaceTriggers/components/TriggerAddDialog.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/utils/getNodeIcon.ts
Labels: ui

#883 feat(engine): add json-subscriber dependency and update logging configuration
  engine/Cargo.lock
  engine/Cargo.toml
  engine/cli/Cargo.toml
  engine/cli/src/cli.rs
  engine/cli/src/logger.rs
  engine/cli/src/main.rs
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/worker/Cargo.toml
  engine/worker/src/logger.rs
Labels: engine

#882 fix(ui): added params on click useYNodes node change
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/ParamsPanel/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
Labels: ui

#885 feat(engine): update thread management and add num_cpus dependency
  engine/Cargo.lock
  engine/Cargo.toml
  engine/README.md
  engine/cli/Cargo.toml
  engine/cli/src/main.rs
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau3/domain_of_definition_validator.rs
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-processor/src/attribute/aggregator.rs
  engine/runtime/action-processor/src/feature/reader/citygml/processor.rs
  engine/runtime/action-processor/src/xml/fragmenter.rs
  engine/runtime/action-processor/src/xml/validator.rs
  engine/runtime/examples/Cargo.toml
  engine/runtime/examples/example_main.rs
  engine/runtime/runner/Cargo.toml
  engine/runtime/runner/src/runner.rs
  engine/worker/Cargo.toml
  engine/worker/src/command.rs
  engine/worker/src/main.rs
Labels: engine

#886 feat(ui): workflow to project importing
  ui/src/components/Pagination/index.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/GeneralNode/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/WorkspaceDeployments/components/DeploymentAddDialog.tsx
  ui/src/features/WorkspaceProjects/components/ProjectAddDialog.tsx
  ui/src/features/WorkspaceProjects/index.tsx
  ui/src/global-constants.ts
  ui/src/hooks/index.ts
  ui/src/hooks/useProjectExport.ts
  ui/src/hooks/useWorkflowFileUpload.ts
  ui/src/hooks/useWorkflowImport.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/conversions/rebuildWorkflow.ts
  ui/src/lib/yjs/conversions/yWorkflowConstructor.ts
  ui/src/types/node.ts
  ui/src/utils/fromEngineWorkflow/convertEdges.test.ts
  ui/src/utils/fromEngineWorkflow/convertEdges.ts
  ui/src/utils/fromEngineWorkflow/convertNodes.test.ts
  ui/src/utils/fromEngineWorkflow/convertNodes.ts
  ui/src/utils/fromEngineWorkflow/deconstructedEngineWorkflow.ts
  ui/src/utils/fromEngineWorkflow/separateWorkflows.ts
  ui/src/utils/toEngineWorkflow/consolidateWorkflows.test.ts
  ui/src/utils/toEngineWorkflow/consolidateWorkflows.ts
  ui/src/utils/toEngineWorkflow/convertEdges.test.ts
  ui/src/utils/toEngineWorkflow/convertEdges.ts
  ui/src/utils/toEngineWorkflow/convertNodes.test.ts
  ui/src/utils/toEngineWorkflow/convertNodes.ts
  ui/src/utils/toEngineWorkflow/createSubGraphs.test.ts
  ui/src/utils/toEngineWorkflow/createSubGraphs.ts
  ui/src/utils/toEngineWorkflow/engineReadyWorkflow.test.ts
  ui/src/utils/toEngineWorkflow/engineReadyWorkflow.ts
Labels: ui

#887 feat(ui): improve loading
  ui/src/components/Loading/Skeleton.tsx
  ui/src/components/Loading/Splashscreen.tsx
  ui/src/components/Loading/index.stories.tsx
  ui/src/components/Loading/index.ts
  ui/src/features/PageWrapper/ProjectId.tsx
  ui/src/features/PageWrapper/WorkspaceId.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentsDialog.tsx
  ui/src/features/WorkspaceDeployments/index.tsx
  ui/src/features/WorkspaceJobs/components/JobDetails.tsx
  ui/src/features/WorkspaceJobs/components/JobRunDialog.tsx
  ui/src/features/WorkspaceJobs/index.tsx
  ui/src/features/WorkspaceProjects/index.tsx
  ui/src/features/WorkspaceTriggers/index.tsx
  ui/src/routes/index.tsx
  ui/src/routes/workspaces_.$workspaceId_.projects_.$projectId.lazy.tsx
Labels: ui

#889 fix(ui): subworkflow port name updating
  ui/src/features/Editor/hooks.ts
  ui/src/features/PageWrapper/ProjectId.tsx
  ui/src/features/PageWrapper/WorkspaceId.tsx
  ui/src/lib/yjs/useParentYWorkflow/removeParentYWorkflowNodePseudoPort.ts
  ui/src/lib/yjs/useParentYWorkflow/updateParentYWorkflowEdges.ts
  ui/src/lib/yjs/useParentYWorkflow/updateParentYWorkflowNode.ts
  ui/src/lib/yjs/useYNode.ts
Labels: ui

#888 fix(api): dependencies among api and subscriber
  go.work
  go.work.sum
  server/api/go.mod
  server/api/go.sum
Labels: api

#892 fix(ui): ghost edge creation on node deletion
  ui/src/features/Editor/components/Canvas/useNodes.ts
  ui/src/lib/yjs/useYNode.ts
Labels: ui

#891 fix(ui): Text Area and Input Fix for Params
  ui/src/components/SchemaForm/Templates/BaseInputTemplate.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/NoteNode/index.tsx
Labels: ui

#895 feat(engine): add ShapefileWriter sink and related files
  engine/Cargo.lock
  engine/Cargo.toml
  engine/clippy.toml
  engine/containers/cli/Dockerfile
  engine/containers/worker/Dockerfile
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-sink/src/errors.rs
  engine/runtime/action-sink/src/file.rs
  engine/runtime/action-sink/src/file/mvt/pipeline.rs
  engine/runtime/action-sink/src/file/shapefile.rs
  engine/runtime/action-sink/src/file/shapefile/conversion.rs
  engine/runtime/action-sink/src/file/shapefile/crs.rs
  engine/runtime/action-sink/src/file/shapefile/null_shape.rs
  engine/runtime/action-sink/src/file/shapefile/pipeline.rs
  engine/runtime/action-sink/src/file/shapefile/sink.rs
  engine/runtime/action-sink/src/mapping.rs
  engine/runtime/examples/example_main.rs
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a009-5/README.md
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a009-5/files/52310614_bldg_6697_op.gml
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a009-5/workflow.yml
  engine/runtime/storage/src/storage.rs
  engine/runtime/types/src/attribute.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#897 feat(engine): add XML writer functionality and update dependencies
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-sink/Cargo.toml
  engine/runtime/action-sink/src/errors.rs
  engine/runtime/action-sink/src/file.rs
  engine/runtime/action-sink/src/file/writer.rs
  engine/runtime/action-sink/src/file/xml.rs
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a009-6/README.md
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a009-6/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#898 feat(api): support allowedlocation for batch worker
  server/api/internal/app/config/config.go
  server/api/internal/app/repo.go
  server/api/internal/infrastructure/gcpbatch/batch.go
Labels: api

#899 fix(engine): adjust thread pool size calculation for FeatureCityGmlReader
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-processor/src/feature/reader/citygml/processor.rs
Labels: engine

#893 chore(ui): move react-flow code into lib and cleanup
  ui/src/features/Editor/components/Canvas/components/Nodes/EntranceNode.tsx
  ui/src/features/Editor/components/Canvas/components/Nodes/ExitNode.tsx
  ui/src/features/Editor/components/Canvas/components/index.ts
  ui/src/features/Editor/components/Canvas/hooks.ts
  ui/src/features/Editor/components/Canvas/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/NodePickerDialog/index.tsx
  ui/src/features/Editor/components/ParamsPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/useDeployment.ts
  ui/src/features/Editor/useHover.ts
  ui/src/features/Editor/useUIState.ts
  ui/src/hooks/index.ts
  ui/src/hooks/useHasReader.ts
  ui/src/lib/reactFlow/CustomConnectionLine.tsx
  ui/src/lib/reactFlow/buildNewCanvasNode.ts
  ui/src/lib/reactFlow/edgeTypes/CustomEdge.tsx
  ui/src/lib/reactFlow/edgeTypes/index.ts
  ui/src/lib/reactFlow/index.ts
  ui/src/lib/reactFlow/nodeTypes/BatchNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/components/CustomHandle/CustomHandle.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/components/CustomHandle/Handles.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/components/index.ts
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/NoteNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/README.md
  ui/src/lib/reactFlow/nodeTypes/ReaderNode.tsx
  ui/src/lib/reactFlow/nodeTypes/SubworkflowNode.tsx
  ui/src/lib/reactFlow/nodeTypes/TransformerNode.tsx
  ui/src/lib/reactFlow/nodeTypes/WriterNode.tsx
  ui/src/lib/reactFlow/nodeTypes/index.ts
  ui/src/lib/reactFlow/nodeTypes/utils.ts
  ui/src/lib/reactFlow/useBatch.ts
  ui/src/lib/reactFlow/useDnd.ts
  ui/src/lib/reactFlow/useEdges.ts
  ui/src/lib/reactFlow/useNodes.ts
  ui/src/lib/reactFlow/utils.ts
  ui/src/types/node.ts
Labels: ui

#904 fix(api): add cancelled as job status type
  server/api/gql/job.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_deployment.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
Labels: api

#903 feat(api): sharedURL made accessible through project
  server/api/gql/project.graphql
  server/api/gql/projectAccess.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_project.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/resolver_projectAccess.go
  server/api/internal/infrastructure/mongo/mongodoc/project.go
  server/api/internal/usecase/interactor/projectAccess.go
  server/api/pkg/project/builder.go
  server/api/pkg/project/project.go
Labels: api

#905 feat(api): add compute resources to batch config
  server/api/internal/infrastructure/gcpbatch/batch.go
Labels: api

#906 chore(ci): remove GCS storage feature flag from build configuration
  .github/workflows/build_deploy_websocket.yml
  server/api/Dockerfile
Labels: cicd, api

#907 chore(ci): update Docker build context and Dockerfile path for API de…
  .github/workflows/build_deploy_api.yml
Labels: cicd

#908 feat(api): support env var for batch compute resources
  server/api/internal/app/config/config.go
  server/api/internal/app/repo.go
  server/api/internal/infrastructure/gcpbatch/batch.go
Labels: api

#910 chore(websocket): improve error handling in broadcast group initializ…
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
Labels: websocket

#911 chore(ci): update websocket deployment path
  .github/workflows/build_deploy_websocket.yml
  server/websocket/src/bin/websocket.rs
Labels: cicd, websocket

#913 chore(websocket): simplify GCS endpoint configuration handling
  server/websocket/src/storage/gcs/mod.rs
Labels: websocket

#914 chore(websocket): fix GCS client configuration handling
  server/websocket/src/storage/gcs/mod.rs
Labels: websocket

#915 chore(websocket): remove bucket existence check and update GCS client…
  server/websocket/src/bin/websocket.rs
  server/websocket/src/storage/gcs/mod.rs
Labels: websocket

#901 feat(api): add graphID to Workflow domain [FLOW-BE-10]
  server/api/internal/infrastructure/memory/workflow.go
  server/api/internal/infrastructure/memory/workflow_test.go
  server/api/internal/infrastructure/mongo/mongodoc/workflow.go
  server/api/internal/infrastructure/mongo/mongodoc/workflow_test.go
  server/api/internal/infrastructure/mongo/workflow.go
  server/api/internal/infrastructure/mongo/workflow_test.go
  server/api/pkg/workflow/id.go
  server/api/pkg/workflow/workflow.go
  server/api/pkg/workflow/workflow_test.go
Labels: api

#916 chore(api): add logging for JWT token validation errors
  server/api/internal/infrastructure/grpc/auth_service.go
Labels: api

#917 chore(websocket): build with no default features in Dockerfile
  server/websocket/Dockerfile.websocket
Labels: websocket

#918 chore(websocket): add optional authentication query support via featur…
  server/websocket/src/ws.rs
Labels: websocket

#890 chore(subscriber): refactor config and use redis url for connection [FLOW-BE-14]
  .github/workflows/build_deploy_subscriber.yml
  .github/workflows/ci.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  go.work.sum
  server/api/Makefile
  server/api/compose.yml
  server/api/internal/adapter/gql/gqlmodel/convert_user.go
  server/api/internal/adapter/gql/loader_user.go
  server/subscriber/Dockerfile
  server/subscriber/cmd/log_subscriber/main.go
  server/subscriber/cmd/reearth-flow-subscriber/config.go
  server/subscriber/cmd/reearth-flow-subscriber/main.go
  server/subscriber/compose.yml
  server/subscriber/go.mod
  server/subscriber/go.sum
  server/subscriber/internal/adapter/pubsub/subscriber.go
  server/subscriber/internal/adapter/pubsub/subscriber_test.go
  server/subscriber/internal/infrastructure/redis/log.go
  server/subscriber/internal/infrastructure/redis/log_test.go
  server/subscriber/internal/infrastructure/storage.go
  server/subscriber/internal/usecase/gateway/log_storage.go
  server/subscriber/internal/usecase/interactor/log_subscriber.go
  server/subscriber/internal/usecase/interactor/log_subscriber_test.go
Labels: cicd, api, engine

#919 fix(api): cancelled job should still have log and outputdataURLs is ndefined even after job completion [FLOW-BE-32]
  server/api/gql/job.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_deployment.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/infrastructure/mongo/job.go
  server/api/internal/infrastructure/mongo/mongodoc/job.go
  server/api/internal/usecase/gateway/batch.go
  server/api/internal/usecase/interactor/common.go
  server/api/internal/usecase/interactor/deployment.go
  server/api/internal/usecase/interactor/job.go
  server/api/internal/usecase/interactor/project.go
  server/api/pkg/job/builder.go
  server/api/pkg/job/job.go
Labels: api

#921 feat(engine): add SQL adapter with error handling and database kind support
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/sql/Cargo.toml
  engine/runtime/sql/src/errors.rs
  engine/runtime/sql/src/kind.rs
  engine/runtime/sql/src/lib.rs
Labels: engine

#923 fix(ui): added simple search for members
  ui/src/features/WorkspaceSettings/components/MembersSettings/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#922 fix(ui): Change Dialog added to version history
  ui/src/features/Editor/components/BottomPanel/index.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/Version.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/VersionHistoryChangeDialog.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/index.tsx
  ui/src/features/Editor/components/RightPanel/components/index.ts
  ui/src/features/Editor/components/RightPanel/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/mock_data/versionHistoryData.ts
Labels: ui

#925 fix(ui): Project Duplication
  ui/src/features/WorkspaceProjects/components/ProjectCard.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#927 feat(engine): add SQL support with new SqlReader and related error handling
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-source/Cargo.toml
  engine/runtime/action-source/src/errors.rs
  engine/runtime/action-source/src/lib.rs
  engine/runtime/action-source/src/mapping.rs
  engine/runtime/action-source/src/sql.rs
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a002-2/README.md
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a002-2/files/test.db
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a002-2/workflow.yml
  engine/runtime/sql/Cargo.toml
  engine/runtime/types/Cargo.toml
  engine/runtime/types/src/error.rs
  engine/runtime/types/src/feature.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#928 fix(ui): added correct colours, removed resources shortcut
  ui/src/components/FileTree/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/Version.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/index.tsx
  ui/src/features/KeyboardShortcutDialog/useHooks.ts
  ui/src/index.css
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#933 ci(subscriber): add deploy workflow for subscriber
  .github/workflows/build_deploy_subscriber.yml
  .github/workflows/ci.yml
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
Labels: cicd, engine

#926 refactor(websocket): Migrate from gRPC to Thrift for authentication service
  .github/workflows/build_deploy_api.yml
  .github/workflows/build_deploy_websocket.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_websocket.yml
  go.work.sum
  server/Cargo.lock
  server/api/Dockerfile
  server/api/go.mod
  server/api/go.sum
  server/api/gql/document.graphql
  server/api/gqlgen.yml
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/resolver_document.go
  server/api/internal/app/main.go
  server/api/internal/infrastructure/grpc/server.go
  server/api/internal/infrastructure/thrift/auth_service.go
  server/api/internal/infrastructure/thrift/server.go
  server/api/internal/infrastructure/websocket/client.go
  server/api/internal/usecase/interfaces/websocket.go
  server/api/internal/usecase/websocket/document.go
  server/api/pkg/websocket/websocket.go
  server/api/proto/GoUnusedProtection__.go
  server/api/proto/auth-consts.go
  server/api/proto/auth.go
  server/api/proto/auth.pb.go
  server/api/proto/auth.thrift
  server/api/proto/auth_grpc.pb.go
  server/api/proto/auth_service-remote/auth_service-remote.go
  server/websocket/Cargo.toml
  server/websocket/Dockerfile.websocket
  server/websocket/build.rs
  server/websocket/proto/auth.proto
  server/websocket/src/auth/mod.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/conn.rs
  server/websocket/src/lib.rs
  server/websocket/src/thrift/auth.rs
  server/websocket/src/thrift/mod.rs
  server/websocket/src/ws.rs
  server/websocket/thrift/auth.thrift
Labels: cicd, api, websocket

#935 ci(ui): deploy ui after build-ui is completed
  .github/workflows/build_deploy_ui.yml
Labels: cicd

#936 chore(api): remove ffi at docker
  server/api/Dockerfile
Labels: api

#938 chore(api): remove grpc and ffi from dockerfile
  server/api/Dockerfile
  server/api/proto/auth.proto
Labels: cicd, api

#941 chore(api): refactor job completion method
  server/api/internal/usecase/interactor/job.go
Labels: api

#940 chore(api): save sharing token instead sharing url with project
  server/api/gql/project.graphql
  server/api/gql/projectAccess.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_project.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/resolver_projectAccess.go
  server/api/internal/infrastructure/mongo/mongodoc/project.go
  server/api/internal/usecase/interactor/projectAccess.go
  server/api/pkg/project/builder.go
  server/api/pkg/project/project.go
Labels: api
