Repository reearth/reearth-flow, pull requests merged in 2025-10, with the labels that each got.

#1496 test(engine): rename testdir
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/Z-bldg-04_lod0or1-buildingpart/02_建築物_LOD0-1のBuildingPart.csv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/Z-bldg-04_lod0or1-buildingpart/codelists
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/Z-bldg-04_lod0or1-buildingpart/schemas
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/Z-bldg-04_lod0or1-buildingpart/udx/bldg/test_buildingpart.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/Z-bldg-04_lod0or1-buildingpart/workflow_test.json
Labels: engine

#1504 fix(websocket): implement locking mechanism for BroadcastGroup
  server/websocket/src/broadcast/pool.rs
Labels: websocket

#1513 fix(websocket): remove get_latest handler from DocumentHandler
  server/websocket/src/interface/http/handlers.rs
  server/websocket/src/interface/http/router.rs
Labels: websocket

#1517 feat(engine): add ObjWriter and update mappings for OBJ file support
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-sink/src/errors.rs
  engine/runtime/action-sink/src/file.rs
  engine/runtime/action-sink/src/file/obj.rs
  engine/runtime/action-sink/src/mapping.rs
  engine/runtime/examples/fixture/tests/Cargo.toml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1512 fix(api, subscriber): normalize log level to uppercase and change displayMessage to message
  server/api/internal/infrastructure/redis/userfacinglog.go
  server/api/internal/infrastructure/redis/userfacinglog_test.go
  server/subscriber/internal/adapter/pubsub/user_facing_log_subscriber_test.go
  server/subscriber/internal/infrastructure/redis/user_facing_log_test.go
  server/subscriber/internal/usecase/interactor/user_facing_log_subscriber.go
  server/subscriber/internal/usecase/interactor/user_facing_log_subscriber_test.go
  server/subscriber/pkg/userfacinglog/user_facing_log.go
  server/subscriber/pkg/userfacinglog/user_facing_log_test.go
Labels: api, subscriber

#1516 feat(engine): add GltfReader for reading 3D models from glTF 2.0 files and update schema files
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-source/Cargo.toml
  engine/runtime/action-source/src/errors.rs
  engine/runtime/action-source/src/file.rs
  engine/runtime/action-source/src/file/gltf.rs
  engine/runtime/action-source/src/mapping.rs
  engine/runtime/examples/fixture/tests/Cargo.toml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1522 feat(engine): add zstd compression to jsonl intermediate data
  engine/Cargo.lock
  engine/Cargo.toml
  engine/README.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/examples/fixture/tests/Cargo.toml
  engine/runtime/state/Cargo.toml
  engine/runtime/state/src/lib.rs
Labels: engine
