Repository reearth/reearth-flow, pull requests merged in 2025-09, with the labels that each got.

#1368 test(engine): add test data for PLATEAU quality-check workflows
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/C01/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/C01/udx/bldg/54377084_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/L-frn-01/README.md
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/L-frn-01/udx/bldg/49303415_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/L01/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/L02/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/L03/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/L04_01/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/L04_02/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/L05/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/L06/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/README.md
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/T03_01/README.md
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/T03_01/udx/bldg/49303425_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/T03_02/README.md
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/T03_02/udx/bldg/49303425_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-01-common/X-invalid-gml-id/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-02-common/C05/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-02-common/C06/16211_city_2024_objectlist_op__C06test.xlsx
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-02-common/C06/README.md
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-02-common/C06/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-02-common/C07/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-02-common/C08/udx/bldg/54377074_bldg_6697_op.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/01-02-common/README.md
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/README.md
Labels: engine

#1332 feat(api): Add user-facing log URLs to jobs and a GraphQL subscription for real-time log updates [FLOW-BE-153]
  go.work.sum
  server/api/go.mod
  server/api/gql/job.graphql
  server/api/gql/userfacinglog.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_deployment.go
  server/api/internal/adapter/gql/gqlmodel/convert_userfacinglog.go
  server/api/internal/adapter/gql/gqlmodel/convert_userfacinglog_test.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/resolver_subscription.go
  server/api/internal/infrastructure/fs/file.go
  server/api/internal/infrastructure/fs/file_test.go
  server/api/internal/infrastructure/gcs/file.go
  server/api/internal/infrastructure/gcs/file_test.go
  server/api/internal/infrastructure/mongo/mongodoc/job.go
  server/api/internal/infrastructure/mongo/mongodoc/job_test.go
  server/api/internal/infrastructure/redis/userfacinglog.go
  server/api/internal/infrastructure/redis/userfacinglog_test.go
  server/api/internal/usecase/gateway/file.go
  server/api/internal/usecase/gateway/redis.go
  server/api/internal/usecase/interactor/common.go
  server/api/internal/usecase/interactor/job.go
  server/api/internal/usecase/interactor/log_test.go
  server/api/internal/usecase/interactor/userfacinglog.go
  server/api/internal/usecase/interactor/userfacinglog_test.go
  server/api/internal/usecase/interfaces/common.go
  server/api/internal/usecase/interfaces/userfacinglog.go
  server/api/pkg/job/builder.go
  server/api/pkg/job/job.go
  server/api/pkg/job/job_test.go
  server/api/pkg/subscription/userfacinglog_subscription.go
  server/api/pkg/userfacinglog/id.go
  server/api/pkg/userfacinglog/userfacinglog.go
  server/api/pkg/userfacinglog/userfacinglog_test.go
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
Labels: ui, api

#1402 feat(ui): add CityGML data processing and visualization components
  ui/src/components/visualizations/Cesium/CityGmlData.tsx
  ui/src/components/visualizations/Cesium/index.tsx
  ui/src/components/visualizations/Cesium/utils/cityGmlGeometryConverter.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/DebugPreview/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/hooks.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/index.tsx
  ui/src/hooks/useStreamingDebugRunQuery.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#1403 feat(ui): move attributions to cleanup UI
  ui/src/components/visualizations/Cesium/index.tsx
  ui/src/components/visualizations/MapLibre/index.tsx
  ui/src/features/Canvas/index.tsx
  ui/src/features/Editor/components/TopBar/components/HomeMenu/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#1374 feat(server): replace user management to accounts for DeleteWorkspace [FLOW-BE-191]
  server/api/internal/adapter/gql/resolver_mutation_workspace.go
  server/api/internal/app/auth_middleware.go
  server/api/internal/infrastructure/gql/workspace/input.go
  server/api/internal/infrastructure/gql/workspace/mutation.go
  server/api/internal/infrastructure/gql/workspace/repo.go
  server/api/internal/usecase/interactor/workspace.go
  server/api/internal/usecase/interfaces/workspace.go
  server/api/pkg/workspace/mockrepo/mockrepo.go
  server/api/pkg/workspace/repo.go
Labels: api

#1389 feat(server): replace user management to accounts for RemoveMemberFromWorkspace [FLOW-BE-191]
  server/api/internal/adapter/gql/resolver_mutation_workspace.go
  server/api/internal/app/auth_middleware.go
  server/api/internal/infrastructure/gql/workspace/input.go
  server/api/internal/infrastructure/gql/workspace/mutation.go
  server/api/internal/infrastructure/gql/workspace/repo.go
  server/api/internal/usecase/interactor/workspace.go
  server/api/internal/usecase/interfaces/workspace.go
  server/api/pkg/workspace/mockrepo/mockrepo.go
  server/api/pkg/workspace/repo.go
Labels: api

#1406 chore(server): add logs for job status unrelible [FLOW-BE-171]
  server/api/internal/adapter/gql/resolver_subscription.go
  server/api/internal/usecase/interactor/job.go
  server/api/pkg/job/monitor/monitor.go
  server/api/pkg/subscription/job_subscription.go
Labels: api

#1404 feat(websocket): implement awareness auto-cleanup when users disconnect [FLOW-BE-210]
  server/websocket/src/bin/websocket.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/conn.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/ws.rs
Labels: websocket

#1411 feat(ui): detailed feature viewer
  ui/src/components/Dialog/index.tsx
  ui/src/components/visualizations/Cesium/index.tsx
  ui/src/components/visualizations/VirtualizedTable/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/DebugPreview/components/TableViewer/FeatureDetailsDialog.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/DebugPreview/components/TableViewer/FeatureDetailsOverlay.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/DebugPreview/components/TableViewer/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/DebugPreview/components/ThreeDViewer/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/DebugPreview/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/constants.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/hooks.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/index.tsx
  ui/src/hooks/useDataColumnizer.ts
  ui/src/hooks/useStreamingDataColumnizer.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#1409 feat(engine): add ObjReader for importing 3D models from Wavefront OBJ files
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-source/src/file.rs
  engine/runtime/action-source/src/file/obj.rs
  engine/runtime/action-source/src/mapping.rs
  engine/runtime/tests/fixture/testdata/obj/detailed.obj
  engine/runtime/tests/fixture/testdata/obj/materials.mtl
  engine/runtime/tests/fixture/testdata/obj/simple.obj
  engine/runtime/tests/fixture/workflow/obj-reader-detailed.yml
  engine/runtime/tests/fixture/workflow/obj-reader.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1416 feat(server): make Job in-process singleton [FLOW-BE-171]
  server/api/internal/app/app.go
  server/api/internal/app/usecase.go
  server/api/internal/usecase/interactor/common.go
Labels: api

#1417 feat(engine): workflow unit testing
  engine/Cargo.lock
  engine/Cargo.toml
  engine/runtime/examples/fixture/testdata/README.md
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-06/02_bldg_l_bldg_06エラー.tsv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-06/codelists/Common_localPublicAuthorities.xml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-06/schemas/iur/urf/3.0/urbanFunction.xsd
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-06/schemas/iur/uro/3.0/urbanObject.xsd
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-06/udx/bldg/input.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-06/workflow_test.json
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/T-BLDG-02/02_bldg_t_bldg_02エラー.tsv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/T-BLDG-02/_workflow_test.json
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/T-BLDG-02/codelists/Common_localPublicAuthorities.xml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/T-BLDG-02/error_count_test_filtered.jsonl
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/T-BLDG-02/schemas/iur/urf/3.0/urbanFunction.xsd
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/T-BLDG-02/schemas/iur/uro/3.0/urbanObject.xsd
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/T-BLDG-02/udx/bldg/input.gml
  engine/runtime/examples/fixture/tests/Cargo.toml
  engine/runtime/examples/fixture/tests/build.rs
  engine/runtime/examples/fixture/tests/src/main.rs
  engine/runtime/examples/fixture/workflow/quality-check/plateau4/02-bldg/ref_and_type_checks.yml
Labels: engine

#1422 feat(ui): debug run improvements
  ui/src/components/visualizations/Cesium/GeoJson.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/DownloadConfirmDialog.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/OutputDataDownload.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/hooks.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/hooks.ts
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/index.tsx
  ui/src/stores/indexedDB.ts
  ui/src/types/node.ts
Labels: ui

#1432 refactor(websocket): reorganize configuration and remove unused connection module
  server/websocket/src/conf.rs
  server/websocket/src/doc/mod.rs
  server/websocket/src/domain/entity/mod.rs
  server/websocket/src/domain/mod.rs
  server/websocket/src/domain/value_objects/conf.rs
  server/websocket/src/domain/value_objects/http.rs
  server/websocket/src/domain/value_objects/mod.rs
  server/websocket/src/domain/value_objects/redis.rs
  server/websocket/src/interface/http/handlers.rs
  server/websocket/src/interface/http/middlerware.rs
  server/websocket/src/interface/http/mod.rs
  server/websocket/src/interface/http/router.rs
  server/websocket/src/interface/mod.rs
  server/websocket/src/interface/websocket/conn.rs
  server/websocket/src/interface/websocket/mod.rs
  server/websocket/src/lib.rs
  server/websocket/src/server.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/ws.rs
Labels: websocket

#1434 fix(websocket): adjust configuration for authentication feature
  server/websocket/src/conf.rs
  server/websocket/src/lib.rs
Labels: websocket

#1437 fix(ui): minor fixes and improvements
  ui/src/components/SchemaForm/patchSchemaTypes.ts
  ui/src/global-constants.ts
Labels: ui

#1438 fix(engine): csv tests for unit tests and some output file renamings
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/examples/fixture/testdata/README.md
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/C-BLDG-01/02_bldg_c_bldg_01エラー.tsv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/C-BLDG-01/02_建築物_C-bldg-01エラー.csv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/C-BLDG-01/workflow_test.json
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/C02/02_bldg_地物インスタンス数.tsv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/C02/02_建築物_地物インスタンス数.csv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/C02/udx/bldg/input.gml
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/C02/workflow_test.json
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/CITY-CODE/02_bldg_市区町村コードエラー.tsv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/CITY-CODE/02_建築物_市区町村コードエラー.csv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/CITY-CODE/workflow_test.json
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-04/02_bldg_l-bldg-04-05エラー.tsv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-04/02_建築物_L-bldg-04,05エラー.csv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-04/workflow_test.json
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-05/02_bldg_l-bldg-04-05エラー.tsv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-05/02_建築物_L-bldg-04,05エラー.csv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-05/workflow_test.json
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-06/02_bldg_l_bldg_06エラー.tsv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-06/02_建築物_L-bldg-06エラー.csv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/L-BLDG-06/workflow_test.json
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/T-BLDG-02/02_bldg_t_bldg_02エラー.tsv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/T-BLDG-02/02_建築物_T-bldg-02エラー.csv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/T-BLDG-02/workflow_test.json
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/URO/02_bldg_建物ID書式不正.tsv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/URO/02_建築物_建物ID書式不正.csv
  engine/runtime/examples/fixture/testdata/quality-check/plateau4/02-bldg/URO/workflow_test.json
  engine/runtime/examples/fixture/tests/Cargo.toml
  engine/runtime/examples/fixture/tests/build.rs
  engine/runtime/examples/fixture/tests/src/main.rs
  engine/runtime/examples/fixture/workflow/quality-check/plateau4/02-bldg/format_checks.yml
  engine/runtime/examples/fixture/workflow/quality-check/plateau4/02-bldg/ref_and_type_checks.yml
Labels: engine

#1444 feat(ui): python code editor
  ui/package.json
  ui/src/components/Dialog/index.tsx
  ui/src/components/SchemaForm/Templates/BaseInputTemplate.tsx
  ui/src/components/SchemaForm/Templates/BaseInputTemplate/TextInput.tsx
  ui/src/components/SchemaForm/components/ActionArea.tsx
  ui/src/components/SchemaForm/index.tsx
  ui/src/components/visualizations/VirtualizedTable/index.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/ParamsDialog/components/PythonEditorDialog/index.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/components/RhaiValidator.ts
  ui/src/features/Editor/components/ParamsDialog/components/ValueEditorDialog/index.tsx
  ui/src/features/Editor/components/ParamsDialog/components/index.ts
  ui/src/features/Editor/components/ParamsDialog/index.tsx
  ui/src/features/SharedCanvas/index.tsx
  ui/src/features/WorkspaceProjects/useProjectImportFromFile.ts
  ui/src/hooks/useWorkflowImport.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/yarn.lock
Labels: ui

#1443 refactor(websocket): reorganize domain structure and introduce key-value store traits
  server/websocket/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/src/application/kv.rs
  server/websocket/src/application/mod.rs
  server/websocket/src/bin/websocket.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/conf.rs
  server/websocket/src/domain/entity/http.rs
  server/websocket/src/domain/entity/ws.rs
  server/websocket/src/domain/mod.rs
  server/websocket/src/domain/repository/kv.rs
  server/websocket/src/domain/repository/mod.rs
  server/websocket/src/domain/value_objects/http.rs
  server/websocket/src/domain/value_objects/keys.rs
  server/websocket/src/domain/value_objects/mod.rs
  server/websocket/src/infrastructure/gcs/mod.rs
  server/websocket/src/infrastructure/mod.rs
  server/websocket/src/interface/http/handlers.rs
  server/websocket/src/lib.rs
  server/websocket/src/storage/kv/error.rs
  server/websocket/src/storage/mod.rs
  server/websocket/src/tools/mod.rs
  server/websocket/src/ws.rs
  server/websocket/tests/ydoc.rs
Labels: websocket

#1435 feat(engine): enhance OBJ reader to support material properties
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-source/src/file/geopackage.rs
  engine/runtime/action-source/src/file/obj.rs
  engine/runtime/examples/fixture/tests/Cargo.toml
Labels: engine

#1456 fix(engine): cityGML reader fix for the flatten option
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau4.rs
  engine/runtime/action-plateau-processor/src/plateau4/errors.rs
  engine/runtime/action-plateau-processor/src/plateau4/instance_histogram_creator.rs
  engine/runtime/action-plateau-processor/src/plateau4/mapping.rs
  engine/runtime/action-processor/src/feature/reader/citygml/reader.rs
  engine/runtime/examples/fixture/tests/Cargo.toml
  engine/runtime/examples/fixture/workflow/quality-check/plateau4/02-bldg/format_checks.yml
  engine/runtime/examples/fixture/workflow/quality-check/plateau4/02-bldg/workflow.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1455 refactor(websocket): reorganize modules and update Redis integration
  server/websocket/Dockerfile.websocket
  server/websocket/src/application/kv.rs
  server/websocket/src/bin/websocket.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/mod.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/domain/entity/doc.rs
  server/websocket/src/domain/entity/http.rs
  server/websocket/src/domain/entity/mod.rs
  server/websocket/src/domain/mod.rs
  server/websocket/src/domain/repository/doc.rs
  server/websocket/src/domain/repository/mod.rs
  server/websocket/src/domain/value_objects/count.rs
  server/websocket/src/domain/value_objects/http.rs
  server/websocket/src/domain/value_objects/mod.rs
  server/websocket/src/domain/value_objects/sub.rs
  server/websocket/src/infrastructure/gcs/mod.rs
  server/websocket/src/infrastructure/mod.rs
  server/websocket/src/infrastructure/redis/mod.rs
  server/websocket/src/infrastructure/repository/doc.rs
  server/websocket/src/infrastructure/repository/mod.rs
  server/websocket/src/interface/http/handlers.rs
  server/websocket/src/interface/websocket/conn.rs
  server/websocket/src/lib.rs
  server/websocket/src/storage/mod.rs
Labels: websocket

#1440 feat(server): replace user management to accounts for DeleteMe [FLOW-BE-191]
  server/api/internal/adapter/gql/resolver_mutation_user.go
  server/api/internal/app/auth_middleware.go
  server/api/internal/infrastructure/gql/user/input.go
  server/api/internal/infrastructure/gql/user/mutation.go
  server/api/internal/infrastructure/gql/user/repo.go
  server/api/internal/usecase/interactor/user.go
  server/api/internal/usecase/interfaces/user.go
  server/api/pkg/user/mockrepo/mockrepo.go
  server/api/pkg/user/repo.go
Labels: api

#1442 feat(server): remove reearthx.usecase of user and workspace from gql.adapter [FLOW-BE-191]
  server/api/e2e/common.go
  server/api/e2e/gql_asset_test.go
  server/api/e2e/gql_deployment_pagination_test.go
  server/api/e2e/gql_pagination_test.go
  server/api/e2e/gql_param_test.go
  server/api/e2e/gql_projectAccess_test.go
  server/api/e2e/gql_project_test.go
  server/api/e2e/gql_trigger_test.go
  server/api/e2e/gql_user_test.go
  server/api/e2e/gql_workspace_test.go
  server/api/internal/adapter/context.go
  server/api/internal/adapter/gql/context.go
  server/api/internal/adapter/gql/gqlmodel/convert_user.go
  server/api/internal/adapter/gql/gqlmodel/convert_workspace.go
  server/api/internal/adapter/gql/gqlmodel/convert_workspace_test.go
  server/api/internal/adapter/gql/loader.go
  server/api/internal/adapter/gql/loader_user.go
  server/api/internal/adapter/gql/loader_workspace.go
  server/api/internal/adapter/gql/resolver_mutation_user.go
  server/api/internal/adapter/gql/resolver_mutation_workspace.go
  server/api/internal/adapter/gql/resolver_query.go
  server/api/internal/app/auth_client.go
  server/api/internal/app/auth_middleware.go
  server/api/internal/app/public.go
  server/api/internal/usecase/interactor/asset.go
  server/api/internal/usecase/interactor/asset_test.go
  server/api/internal/usecase/interactor/common.go
  server/api/internal/usecase/interactor/log_test.go
  server/api/internal/usecase/interactor/parameter_test.go
  server/api/internal/usecase/interactor/projectAccess_test.go
  server/api/internal/usecase/interactor/project_test.go
  server/api/internal/usecase/interactor/trigger_test.go
  server/api/internal/usecase/interactor/userfacinglog_test.go
  server/api/internal/usecase/interfaces/common.go
  server/api/internal/usecase/repo/container.go
Labels: api

#1465 feat(webscoket): enhance Redis stream management with new configuration options and trimming functionality
  server/websocket/src/application/kv.rs
  server/websocket/src/bin/websocket.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/conf.rs
  server/websocket/src/domain/value_objects/conf.rs
  server/websocket/src/domain/value_objects/http.rs
  server/websocket/src/domain/value_objects/redis.rs
  server/websocket/src/infrastructure/redis/mod.rs
  server/websocket/src/infrastructure/redis/trimmer.rs
  server/websocket/src/interface/http/handlers.rs
  server/websocket/src/interface/http/router.rs
  server/websocket/tests/ydoc.rs
Labels: websocket

#1471 fix(websocket): fixed issue where WebSocket resources were not cleaned up correctly
  server/websocket/src/bin/websocket.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/domain/value_objects/conf.rs
  server/websocket/src/domain/value_objects/sub.rs
  server/websocket/src/interface/websocket/conn.rs
Labels: websocket

#1460 fix(engine): temporarily disable tile processing in GeoPackageReader
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-source/src/file/geopackage.rs
  engine/runtime/examples/fixture/tests/Cargo.toml
Labels: engine

#1477 fix(websocket): improve document transaction handling in copy_document method
  server/websocket/src/application/kv.rs
Labels: websocket

#1478 fix(api): update Bytes marshaling and unmarshaling to use number arrays instead of base64 encoding
  server/api/internal/adapter/gql/gqlmodel/scalar.go
Labels: api

#1483 chore(subscriber): update dependencies for subscriber-2 [FLOW-BE-214]
  server/subscriber/Dockerfile
  server/subscriber/go.mod
Labels: subscriber

#1486 fix(api): update importDocument method to convert data from byte array to int array
  server/api/e2e/gql_import_test.go
  server/api/internal/infrastructure/websocket/client.go
  server/api/internal/infrastructure/websocket/dto.go
Labels: api

#1492 docs(engine): update engine/README.md
  engine/README.md
Labels: engine

#1490 feat(ui): GUI improvements
  ui/src/components/DropdownMenu/index.tsx
  ui/src/components/LogsTable/index.tsx
  ui/src/components/SchemaForm/Templates/BaseInputTemplate/ColorInput.tsx
  ui/src/components/SchemaForm/Templates/DescriptionFieldTemplate.tsx
  ui/src/components/SchemaForm/Templates/FieldTemplate.tsx
  ui/src/components/SchemaForm/Templates/TitleFieldTemplate.tsx
  ui/src/components/buttons/ButtonWithTooltip/index.tsx
  ui/src/components/visualizations/VirtualizedTable/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/DebugPreview/components/TableViewer/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/DebugPreview/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/hooks.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/JobStatus/hooks.tsx
  ui/src/features/Editor/components/OverlayUI/components/JobStatus/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/index.ts
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/index.tsx
  ui/src/features/Editor/components/TopBar/components/CollaborationActionBar/components/CollaborationCard.tsx
  ui/src/features/Editor/components/TopBar/components/CollaborationActionBar/components/CollaborationPopover.tsx
  ui/src/features/Editor/components/TopBar/components/CollaborationActionBar/index.tsx
  ui/src/features/Editor/components/TopBar/components/DebugActionBar/hooks.ts
  ui/src/features/Editor/components/TopBar/components/DebugActionBar/index.tsx
  ui/src/features/Editor/components/TopBar/components/HomeMenu/index.tsx
  ui/src/features/Editor/components/TopBar/index.tsx
  ui/src/features/SharedCanvas/components/SharedCanvasTopBar/index.tsx
  ui/src/features/VersionCanvas/index.tsx
  ui/src/global-constants.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/hooks.ts
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/index.tsx
  ui/src/lib/reactFlow/nodeTypes/BatchNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/NoteNode/index.tsx
  ui/src/stores/indexedDB.ts
Labels: ui
