Repository reearth/reearth-flow, pull requests merged in 2025-05, with the labels that each got.

#1184 fix(websocket): prevent unnecessary updates [FLOW-BE-137]
  server/websocket/src/broadcast/group.rs
Labels: websocket

#1170 chore(ui): May 2025 Dependencies Update [FLOW-FE-159]
  .github/workflows/license_check.yml
  ui/package.json
  ui/src/components/SchemaForm/Templates/ArrayFieldItemTemplate.tsx
  ui/yarn.lock
Labels: ui, cicd

#1183 fix(ui): Canvas Context Menu Refactor [FLOW-FE-166]
  ui/src/components/ContextMenu/index.tsx
  ui/src/features/Canvas/components/CanvasContextMenu/index.tsx
  ui/src/features/Canvas/components/NodeContextMenu/index.tsx
  ui/src/features/Canvas/components/PaneContextMenu/index.tsx
  ui/src/features/Canvas/components/SelectionContextMenu/index.tsx
  ui/src/features/Canvas/components/index.ts
  ui/src/features/Canvas/hooks.ts
  ui/src/features/Canvas/index.tsx
  ui/src/features/Editor/useCanvasCopyPaste.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#1191 fix(ui): removed console.log and set edges to deselect on paste [FLOW-FE-167]
  ui/src/features/Editor/useCanvasCopyPaste.ts
Labels: ui

#1193 refactor(engine): fix clippy warnings
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-log/src/json.rs
  engine/runtime/common/src/fs.rs
  engine/runtime/runtime/src/executor_operation.rs
  engine/runtime/sevenz/src/reader.rs
  engine/runtime/state/src/lib.rs
Labels: engine

#1195 chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: engine

#1197 fix(ui): removed redundant logic from combinedFilter function [FLOW-FE-168]
  ui/src/lib/fetch/transformers/useApi.ts
Labels: ui

#1196 docs(engine): improve explanation for schema file generation command
  engine/README.md
Labels: documentation, engine

#1198 test(engine): fix broken example demonstrating the WasmExecutor+Python action
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/examples/Cargo.toml
  engine/runtime/examples/example_main.rs
  engine/runtime/examples/fixture/workflow/requirement/plateau4/b005-3/workflow.yml
Labels: engine

#1131 ci(go): utilize go.mod for go version
  .github/workflows/build_deploy_api.yml
  .github/workflows/build_deploy_policies_cerbos.yml
  .github/workflows/build_deploy_subscriber.yml
  .github/workflows/ci_api.yml
  .github/workflows/ci_policies.yml
  .github/workflows/ci_subscriber.yml
Labels: cicd

#1203 fix(engine): fix 'Action not found: WasmRuntimeExecutor' error for worker
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/examples/example_main.rs
  engine/worker/Cargo.toml
  engine/worker/src/factory.rs
Labels: engine

#1201 fix(ui): Node Double Click Same Across Nodes [FLOW-FE-170]
  ui/src/features/Canvas/components/CanvasContextMenu/index.tsx
  ui/src/features/Canvas/hooks.ts
  ui/src/features/Canvas/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/SharedCanvas/hooks.ts
  ui/src/lib/reactFlow/useNodes.ts
Labels: ui

#1169 fix(ui): deletion dialog for input and output routers [FLOW-FE-90]
  ui/src/features/Canvas/components/CanvasContextMenu/index.tsx
  ui/src/features/Canvas/hooks.ts
  ui/src/features/Canvas/index.tsx
  ui/src/features/Editor/components/NodeDeletionDialog/index.tsx
  ui/src/features/Editor/components/index.ts
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui
