Repository reearth/reearth-flow, pull requests merged in 2025-04, with the labels that each got.

#1139 refactor(redis): streamline Redis connection handling [FLOW-BE-107]
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1137 chore(websocket): prevent processing empty GCS updates and improve Redis atomic operations [FLOW-BE-107]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/conn.rs
  server/websocket/src/storage/gcs/mod.rs
  server/websocket/src/storage/kv/mod.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/ws.rs
Labels: websocket

#1140 refactor(websocket): increase buffer size and add sleep duration in BroadcastGroup for improved message handling
  server/websocket/src/broadcast/group.rs
Labels: websocket

#1143 refactor(websocket): migrate from XGROUP READ to XREAD[FLOW-BE-124]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1142 fix(websocket): added lock management for OID to prevent data races[FLOW-BE-123]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/storage/gcs/mod.rs
  server/websocket/src/storage/kv/mod.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1097 feat(engine): Introduce DynamicFileWriter to support both console and file logging layers [FLOW-BE-94]
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/worker/Cargo.toml
  engine/worker/src/command.rs
  engine/worker/src/logger.rs
Labels: engine

#1100 feat(api): Add workerLogsURL field to Job domain [FLOW-BE-94]
  server/api/gql/job.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_deployment.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/infrastructure/fs/file.go
  server/api/internal/infrastructure/fs/file_test.go
  server/api/internal/infrastructure/gcs/file.go
  server/api/internal/infrastructure/gcs/file_test.go
  server/api/internal/infrastructure/mongo/mongodoc/job.go
  server/api/internal/usecase/gateway/file.go
  server/api/internal/usecase/interactor/job.go
  server/api/pkg/job/builder.go
  server/api/pkg/job/job.go
Labels: api

#1136 fix(ui): copy and paste cross project refactor [FLOW-FE-96]
  ui/src/components/ContextMenu/index.tsx
  ui/src/features/Canvas/components/PaneContextMenu/index.tsx
  ui/src/features/Canvas/components/SelectionContextMenu/index.tsx
  ui/src/features/Canvas/components/index.ts
  ui/src/features/Canvas/hooks.ts
  ui/src/features/Canvas/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/Editor/useCanvasCopyPaste.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#1148 feat(ui): UI overhaul
  ui/src/components/Dialog/index.tsx
  ui/src/components/DropdownMenu/index.tsx
  ui/src/components/Loading/LoadingDots.tsx
  ui/src/components/Loading/Splashscreen.tsx
  ui/src/components/Select/index.tsx
  ui/src/components/Tooltip/index.tsx
  ui/src/components/buttons/ButtonWithTooltip/index.tsx
  ui/src/features/Canvas/index.tsx
  ui/src/features/Editor/components/BottomBar/index.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/ActionBar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/CanvasActionbar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugLogs/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Infobar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/JobStatus/hooks.tsx
  ui/src/features/Editor/components/OverlayUI/components/JobStatus/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/index.ts
  ui/src/features/Editor/components/OverlayUI/index.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/components/DeployDialog.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/components/ShareDialog.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/components/index.ts
  ui/src/features/Editor/components/TopBar/components/ActionBar/hooks.ts
  ui/src/features/Editor/components/TopBar/components/ActionBar/index.tsx
  ui/src/features/Editor/components/TopBar/components/Breadcrumb/index.tsx
  ui/src/features/Editor/components/TopBar/components/DebugActionBar/components/DebugStopDialog.tsx
  ui/src/features/Editor/components/TopBar/components/DebugActionBar/components/index.ts
  ui/src/features/Editor/components/TopBar/components/DebugActionBar/hooks.ts
  ui/src/features/Editor/components/TopBar/components/DebugActionBar/index.tsx
  ui/src/features/Editor/components/TopBar/components/HomeMenu/index.tsx
  ui/src/features/Editor/components/TopBar/components/index.ts
  ui/src/features/Editor/components/TopBar/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/WorkflowTab.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/components/index.ts
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/Editor/useUIState.ts
  ui/src/features/SharedCanvas/hooks.ts
  ui/src/features/SharedCanvas/index.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/DeploymentManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/index.tsx
  ui/src/features/WorkspaceLeftPanel/index.tsx
  ui/src/features/WorkspaceProjects/components/ProjectCard.tsx
  ui/src/features/common/UserMenu/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/reactFlow/nodeTypes/BatchNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/NoteNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/useNodeStatusSubscription.ts
  ui/tailwind.config.ts
Labels: ui

#1146 fix(ui): refresh copy after five mins [FLOW-FE-156]
  ui/src/features/Canvas/components/SelectionContextMenu/index.tsx
  ui/src/features/Editor/useCanvasCopyPaste.ts
  ui/src/global-constants.ts
  ui/src/stores/indexedDB.ts
Labels: ui

#1144 feat(websocket): add create_empty_stream_with_ttl method for stream initialization and TTL management[FLOW-BE-127]
  server/websocket/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/src/auth/mod.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/broadcast/types.rs
  server/websocket/src/doc/handler.rs
  server/websocket/src/doc/types.rs
  server/websocket/src/server.rs
  server/websocket/src/storage/gcs/mod.rs
  server/websocket/src/storage/kv/mod.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/ws.rs
Labels: websocket

#1150 refactor(group): enhance logging and manage active subscriptions in BroadcastGroup
  server/websocket/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/ws.rs
Labels: websocket

#1133 fix(api): add workspace filter support in trigger [FLOW-BE-26]
  server/api/internal/infrastructure/mongo/trigger.go
  server/api/internal/infrastructure/mongo/trigger_test.go
Labels: api

#1147 fix(ui): added mouse position for paste [FLOW-FE-158]
  ui/src/components/ContextMenu/index.tsx
  ui/src/features/Canvas/components/PaneContextMenu/index.tsx
  ui/src/features/Canvas/components/SelectionContextMenu/index.tsx
  ui/src/features/Canvas/hooks.ts
  ui/src/features/Canvas/index.tsx
  ui/src/features/Editor/useCanvasCopyPaste.ts
Labels: ui

#1153 refactor(broadcast): enhance Publish and RedisStore for improved update handling with instance tracking
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/publish.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/ws.rs
Labels: websocket

#1152 feat(websocket): introduce Publish struct to manage Redis updates and optimize message handling in BroadcastGroup and PING/PONG logic [FLOW-BE-129]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/mod.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/broadcast/publish.rs
  server/websocket/src/conn.rs
  server/websocket/src/server.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/ws.rs
Labels: websocket

#1155 refactor(broadcast): streamline Redis update handling by removing origin tracking and enhancing read methods for improved performance
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/broadcast/publish.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1154 refactor(websocket): update listen method to be asynchronous and enhance Redis connection handling in Publish struct [FLOW-BE-131]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/broadcast/publish.rs
  server/websocket/src/conn.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1157 feat(websocket): implement periodic sync task [FLOW-BE-131]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/mod.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/broadcast/sub.rs
  server/websocket/src/broadcast/tasks.rs
  server/websocket/src/conn.rs
  server/websocket/src/lib.rs
  server/websocket/src/ws.rs
Labels: websocket

#1158 chore(ui): April 2025 dependencies updates [FLOW-FE-146]
  ui/package.json
  ui/yarn.lock
Labels: ui

#1160 ci: add golang license checker
  .github/workflows/license_check.yml
Labels: cicd

#1156 fix(api): Add handling for Cloud Batch status SCHEDULED in conversion [FLOW-BE-96]
  server/api/internal/infrastructure/gcpbatch/batch.go
  server/api/internal/infrastructure/gcpbatch/batch_test.go
Labels: api

#1159 fix(websocket): enhance read_stream_data_in_batches method with read lock management and conditional stream deletion for improved concurrency handling [FLOW-BE-132]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/broadcast/publish.rs
  server/websocket/src/storage/redis/mod.rs
Labels: websocket

#1161 fix(ui): subworkflow customizations added
  ui/src/features/Canvas/components/NodeContextMenu/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/WorkflowTab.tsx
  ui/src/hooks/useNodeSchemaGenerate.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/hooks.ts
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/index.tsx
  ui/src/lib/yjs/conversions/rebuildWorkflow.ts
  ui/src/lib/yjs/conversions/yWorkflowConstructor.ts
  ui/src/lib/yjs/useYNode.test.ts
  ui/src/types/node.ts
Labels: ui

#1151 fix(ui): cut added [FLOW-FE-110]
  ui/src/features/Canvas/components/NodeContextMenu/index.tsx
  ui/src/features/Canvas/components/PaneContextMenu/index.tsx
  ui/src/features/Canvas/components/SelectionContextMenu/index.tsx
  ui/src/features/Canvas/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/Editor/useCanvasCopyPaste.ts
  ui/src/features/KeyboardShortcutDialog/hooks.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/types/shortcuts.ts
Labels: ui

#1164 fix(ui): toast added for yjs doc missing for rollback
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/hooks.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#1168 ci: update license check
  .github/workflows/license_check.yml
Labels: ui, cicd, api, subscriber

#1166 fix(ui): workflow tab name update
  ui/src/features/Editor/components/ParamsPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/ParamsPanel/index.tsx
  ui/src/features/Editor/components/TopBar/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/WorkflowTab.tsx
  ui/src/features/Editor/components/WorkflowTabs/index.tsx
  ui/src/features/Editor/hooks.ts
  ui/src/features/Editor/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/useWorkflowTabs.ts
  ui/src/lib/yjs/useYWorkflow.ts
Labels: ui
