Repository reearth/reearth-flow, pull requests merged in 2025-06, with the labels that each got.

#1209 refactor(api): rename FlushProjectToGcs to SaveSnapshot in GraphQL mutations and resolvers [FLOW-BE-154]
  go.work.sum
  server/api/e2e/gql_document_test.go
  server/api/gql/document.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/convert_user.go
  server/api/internal/adapter/gql/resolver_document.go
  server/api/internal/app/config/auth.go
  server/api/internal/app/main.go
  server/api/internal/app/repo.go
  server/api/internal/app/trigger.go
  server/api/internal/infrastructure/auth0/authenticator.go
  server/api/internal/infrastructure/gcpbatch/batch.go
  server/api/internal/infrastructure/mongo/mongodoc/parameter_test.go
  server/api/internal/infrastructure/mongo/mongodoc/projectAccess_test.go
  server/api/internal/usecase/interactor/parameter.go
  server/api/pkg/deployment/id.go
  server/api/pkg/job/id.go
  server/api/pkg/log/id.go
  server/api/pkg/log/log.go
  server/api/pkg/projectAccess/builder_test.go
  server/api/pkg/trigger/id.go
  server/api/pkg/trigger/schema.go
  server/api/pkg/trigger/trigger.go
Labels: api

#1210 fix(ui): added virtualizer for data table [FLOW-FE-180]
  ui/package.json
  ui/src/components/DataTable/index.tsx
  ui/src/components/Table/index.tsx
  ui/yarn.lock
Labels: ui

#1190 fix(ui): Versioning with live previewing [FLOW-FE-152]
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/Version.tsx
  ui/src/features/Editor/components/RightPanel/components/VersionHistory/index.tsx
  ui/src/features/Editor/components/RightPanel/components/index.ts
  ui/src/features/Editor/components/RightPanel/index.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/components/Version/VersionConfirmationDialog.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/components/Version/VersionDialog.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/components/Version/VersionHistoryList.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/components/Version/hooks.ts
  ui/src/features/Editor/components/TopBar/components/ActionBar/hooks.ts
  ui/src/features/Editor/components/TopBar/components/ActionBar/index.tsx
  ui/src/features/Editor/components/TopBar/index.tsx
  ui/src/features/Editor/components/index.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/VersionCanvas/hooks.ts
  ui/src/features/VersionCanvas/index.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/convert.ts
  ui/src/lib/gql/document/queries.graphql
  ui/src/lib/gql/document/useApi.ts
  ui/src/lib/gql/document/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/types/document.ts
Labels: ui

#1214 fix(api): remove token from unique index to fix project unsharing [FLOW-BE-155]
  server/api/README.md
  server/api/internal/infrastructure/mongo/projectAccess.go
Labels: api

#1215 feat(api): gcp scheduler intergration for time-driven triggers [FLOW-BE-156]
  go.work
  go.work.sum
  server/api/go.mod
  server/api/go.sum
  server/api/internal/app/repo.go
  server/api/internal/app/trigger.go
  server/api/internal/infrastructure/gcpscheduler/scheduler.go
  server/api/internal/usecase/gateway/container.go
  server/api/internal/usecase/gateway/scheduler.go
  server/api/internal/usecase/interactor/trigger.go
  server/api/internal/usecase/interfaces/trigger.go
Labels: api, websocket

#1216 chore(ui): june Dependencies Update 2025 [FLOW-FE-165]
  ui/.storybook/main.ts
  ui/package.json
  ui/yarn.lock
Labels: ui

#1219 refactor(websocket): replace flush mechanism with new data trigger for publishing updates [FLOW-BE-158]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/broadcast/publish.rs
Labels: websocket

#1224 fix(websocket): saveSnapshot mutation always returning true issue [FLOW-BE-159]
  go.work.sum
  server/api/gql/document.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/resolver_document.go
  server/websocket/Cargo.lock
  server/websocket/Cargo.toml
  server/websocket/src/broadcast/pool.rs
Labels: api, websocket

#1227 chore(ui): changed all phosphor icons to updated names [FLOW-FE-206]
  ui/src/components/DateTimePicker/index.tsx
  ui/src/components/FileTree/index.tsx
  ui/src/components/LogsTable/index.tsx
  ui/src/components/Pagination/index.tsx
  ui/src/components/SchemaForm/index.stories.tsx
  ui/src/features/Canvas/components/CanvasContextMenu/index.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/Action.tsx
  ui/src/features/Editor/components/LeftPanel/components/Resources.tsx
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/CanvasActionbar/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugLogs/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/Toolbox/index.tsx
  ui/src/features/Editor/components/ParamsPanel/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/components/DeployDialog.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/components/SharePopover.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/index.tsx
  ui/src/features/Editor/components/TopBar/components/Breadcrumb/index.tsx
  ui/src/features/Editor/components/TopBar/components/DebugActionBar/index.tsx
  ui/src/features/Editor/components/TopBar/components/HomeMenu/index.tsx
  ui/src/features/Editor/components/WorkflowTabs/WorkflowTab.tsx
  ui/src/features/KeyboardShortcutDialog/index.tsx
  ui/src/features/SharedCanvas/components/SharedCanvasTopBar/index.tsx
  ui/src/features/WorkspaceDeployments/components/DeploymentDetails/index.tsx
  ui/src/features/WorkspaceDeployments/index.tsx
  ui/src/features/WorkspaceJobs/components/JobDetails/index.tsx
  ui/src/features/WorkspaceLeftPanel/components/BottomSection/components/WorkspaceSettings.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/DeploymentManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/JobManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/ProjectManager.tsx
  ui/src/features/WorkspaceLeftPanel/components/TopSection/components/TriggerManager.tsx
  ui/src/features/WorkspaceProjects/components/ProjectCard.tsx
  ui/src/features/WorkspaceProjects/index.tsx
  ui/src/features/WorkspaceSettings/components/MembersSettings/index.tsx
  ui/src/features/WorkspaceSettings/index.tsx
  ui/src/features/WorkspaceTriggers/components/TriggerDetails.tsx
  ui/src/features/WorkspaceTriggers/index.tsx
  ui/src/features/common/DetailsBox.tsx
  ui/src/features/common/UserMenu/index.tsx
  ui/src/features/common/WorkspaceMenu/index.tsx
  ui/src/lib/reactFlow/edgeTypes/DefaultEdge/index.tsx
  ui/src/lib/reactFlow/nodeTypes/BatchNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/index.tsx
  ui/src/lib/reactFlow/nodeTypes/NoteNode/index.tsx
  ui/src/utils/getNodeIcon.ts
Labels: ui

#1230 ci: remove license checker temporarily
  .github/workflows/license_check.yml
Labels: cicd

#1231 fix(websocket): update SaveSnapshot to return boolean result on error [FLOW-BE-159]
  go.work.sum
  server/api/gql/document.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/resolver_document.go
  server/websocket/src/broadcast/pool.rs
  server/websocket/tests/flush_to_gcs_test.rs
  server/websocket/tests/mock_server.rs
Labels: api, websocket

#1233 fix(websocket): revert flush_to_gcs
  server/websocket/src/broadcast/pool.rs
Labels: websocket

#1234 perf(api): optimize WebSocket performance and monitoring intervals [FLOW-BE-162]
  server/api/internal/app/graphql.go
  server/api/internal/usecase/interactor/job.go
  server/api/internal/usecase/interactor/log.go
  server/api/internal/usecase/interactor/node.go
  server/api/pkg/subscription/job_subscription.go
  server/api/pkg/subscription/log_subscription.go
  server/api/pkg/subscription/node_subscription.go
Labels: api

#1223 feat(ui): added maplibre package [FLOW-FE-204]
  ui/package.json
  ui/src/components/visualizations/MapLibre/geoJsonExampleData.ts
  ui/src/components/visualizations/MapLibre/index.stories.tsx
  ui/src/components/visualizations/MapLibre/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/yarn.lock
Labels: ui

#1243 chore(websocket): optimize document load time
  server/websocket/src/broadcast/pool.rs
Labels: websocket

#1245 docs: add comprehensive CLAUDE.md documentation for monorepo
  CLAUDE.md
  engine/CLAUDE.md
  engine/README.md
  engine/runtime/examples/fixture/workflow/requirement/plateau4/a009-4/workflow.yml
Labels: engine

#1240 fix(ui): Map Libre Improvements for All Geometry types [FLOW-FE-213]
  ui/package.json
  ui/src/components/visualizations/MapLibre/index.tsx
  ui/yarn.lock
Labels: ui

#1249 ci: create PR preview link
  .github/workflows/build_deploy_ui.yml
  .github/workflows/ci.yml
  .github/workflows/ci_subscriber.yml
  .github/workflows/cleanup-pr-revision.yml
Labels: cicd

#1241 fix(ui): added a generic error page for general errors [FLOW-FE-212]
  ui/src/components/errors/ErrorPage/index.tsx
  ui/src/components/errors/index.ts
  ui/src/components/index.ts
  ui/src/errors/index.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/yjs/conversions/rebuildWorkflow.ts
  ui/src/main.tsx
  ui/src/routes/index.tsx
  ui/src/routes/shared.$sharedToken.lazy.tsx
  ui/src/routes/workspaces.$workspaceId_.projects_.$projectId.lazy.tsx
  ui/src/routes/workspaces.tsx
Labels: ui

#1237 feat(ui): add MSW mock server integration for development [FLOW-BE-163]
  ui/.env-local
  ui/.env.example
  ui/.prettierignore
  ui/package.json
  ui/public/mockServiceWorker.js
  ui/src/lib/gql/provider/GraphQLRequestProvider.tsx
  ui/src/main.tsx
  ui/src/mocks/README.md
  ui/src/mocks/browser.ts
  ui/src/mocks/data/deployments.ts
  ui/src/mocks/data/jobs.ts
  ui/src/mocks/data/projects.ts
  ui/src/mocks/data/users.ts
  ui/src/mocks/data/workspaces.ts
  ui/src/mocks/handlers/graphql.ts
  ui/src/mocks/handlers/index.ts
  ui/src/mocks/index.ts
  ui/src/mocks/schema/resolvers.ts
  ui/src/mocks/schema/typeDefs.ts
  ui/src/mocks/test.ts
  ui/yarn.lock
Labels: ui

#1248 fix(websocket): prevent txn deadlock by removing duplicate transaction calls [FLOW-BE-165]
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/storage/kv/mod.rs
  server/websocket/tests/ydoc.rs
Labels: websocket

#1254 refactor(websocket): simplify string formatting in various modules [FLOW-BE-169]
  server/websocket/benches/server_bench.rs
  server/websocket/src/broadcast/group.rs
  server/websocket/src/broadcast/pool.rs
  server/websocket/src/doc/handler.rs
  server/websocket/src/server.rs
  server/websocket/src/storage/redis/mod.rs
  server/websocket/tests/flush_to_gcs_test.rs
Labels: websocket

#1257 fix(ui): devMode and mockEnabled env vars
  ui/.env.example
  ui/docker/reearth_config.json.template
  ui/src/config/index.ts
  ui/src/features/Editor/components/TopBar/index.tsx
  ui/src/lib/gql/provider/GraphQLRequestProvider.tsx
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/main.tsx
Labels: ui
