Repository reearth/reearth-flow, pull requests merged in 2025-07, with the labels that each got.

#1262 chore(ui): add CLAUDE.md file for better claude code support
  ui/CLAUDE.md
Labels: ui

#1250 fix(ui): Reviewed Toasts, API fallbacks, Reusable RenderFallback Component [FLOW-FE-220]
  ui/src/components/errors/RenderFallback/index.tsx
  ui/src/components/errors/index.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/components/DataTable/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/components/GeoMap/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/components/ThreeDViewer/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/components/TwoDViewer/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/components/index.ts
  ui/src/features/Editor/components/OverlayUI/components/DebugPreview/index.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/components/Version/VersionDialog.tsx
  ui/src/lib/gql/document/useApi.ts
  ui/src/lib/gql/project/useApi.ts
  ui/src/lib/gql/sharedProject/useApi.ts
  ui/src/lib/gql/workspace/useApi.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/routes/workspaces.tsx
Labels: ui

#1261 feat(api): extend parameters functionality [FLOW-BE-173]
  server/api/e2e/gql_param_test.go
  server/api/gql/parameter.graphql
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqldataloader/dataloader.go
  server/api/internal/adapter/gql/gqldataloader/parameterloader_gen.go
  server/api/internal/adapter/gql/gqlmodel/convert_parameter.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/loader.go
  server/api/internal/adapter/gql/loader_parameter.go
  server/api/internal/adapter/gql/resolver_mutation_parameter.go
  server/api/internal/adapter/gql/resolver_project.go
  server/api/internal/adapter/gql/resolver_query.go
  server/api/internal/infrastructure/mongo/mongodoc/parameter.go
  server/api/internal/infrastructure/mongo/mongodoc/parameter_test.go
  server/api/internal/usecase/interactor/parameter.go
  server/api/internal/usecase/interactor/parameter_test.go
  server/api/internal/usecase/interfaces/parameter.go
  server/api/pkg/parameter/builder.go
  server/api/pkg/parameter/parameter.go
Labels: api

#692 feat(ui): project variable support [FLOW-FE-138]
  ui/package.json
  ui/public/mockServiceWorker.js
  ui/src/components/DropdownMenu/index.tsx
  ui/src/components/RadioGroup/index.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/Action.tsx
  ui/src/features/Editor/components/LeftPanel/components/Actions/index.tsx
  ui/src/features/Editor/components/LeftPanel/components/Resources.tsx
  ui/src/features/Editor/components/LeftPanel/components/index.ts
  ui/src/features/Editor/components/LeftPanel/index.tsx
  ui/src/features/Editor/components/ParamsDialog/components/ParamEditor/index.tsx
  ui/src/features/Editor/components/ParamsDialog/components/index.ts
  ui/src/features/Editor/components/ParamsDialog/index.tsx
  ui/src/features/Editor/components/TopBar/components/ActionBar/index.tsx
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/ProjectVariablesTable.tsx
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/VariableEditDialog/components/AttributeNameEditor.tsx
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/VariableEditDialog/components/ChoiceEditor.tsx
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/VariableEditDialog/components/ColorEditor.tsx
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/VariableEditDialog/components/DateTimeEditor.tsx
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/VariableEditDialog/components/DefaultEditor.tsx
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/VariableEditDialog/components/NumberEditor.tsx
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/VariableEditDialog/components/YesNoEditor.tsx
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/VariableEditDialog/hooks.ts
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/VariableEditDialog/index.tsx
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/components/index.tsx
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/hooks.ts
  ui/src/features/Editor/components/TopBar/components/ProjectVariablesDialog/index.tsx
  ui/src/features/Editor/components/TopBar/components/index.ts
  ui/src/features/Editor/components/TopBar/index.tsx
  ui/src/features/Editor/components/index.ts
  ui/src/features/Editor/index.tsx
  ui/src/features/SharedCanvas/index.tsx
  ui/src/features/VersionCanvas/index.tsx
  ui/src/features/WorkspaceLeftPanel/components/BottomSection/index.tsx
  ui/src/lib/gql/__gen__/gql.ts
  ui/src/lib/gql/__gen__/graphql.ts
  ui/src/lib/gql/__gen__/plugins/graphql-request.ts
  ui/src/lib/gql/convert.ts
  ui/src/lib/gql/fragment.graphql
  ui/src/lib/gql/index.ts
  ui/src/lib/gql/projectVariables/index.ts
  ui/src/lib/gql/projectVariables/queries.graphql
  ui/src/lib/gql/projectVariables/useApi.ts
  ui/src/lib/gql/projectVariables/useQueries.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
  ui/src/lib/reactFlow/nodeTypes/GeneralNode/index.tsx
  ui/src/types/index.ts
  ui/src/types/projectVariables.ts
  ui/src/utils/getDefaultValueForProjectVar.ts
  ui/src/utils/index.ts
  ui/yarn.lock
Labels: ui, api

#1273 fix(websocket): fix Ping-Pong Busy Loop [FLOW-BE-170]
  server/websocket/src/storage/redis/mod.rs
  server/websocket/src/ws.rs
Labels: websocket

#1271 fix(api): enhance job status handling and monitoring logic[FLOW-BE-171]
  server/api/internal/infrastructure/gcpbatch/batch.go
  server/api/internal/usecase/interactor/job.go
Labels: api

#1277 fix(engine): missing action parameters
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/src/plateau3/building_usage_attribute_validator.rs
  engine/runtime/action-plateau-processor/src/plateau3/xml_attribute_extractor.rs
  engine/runtime/action-processor/src/geometry/bounds_extractor.rs
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1278 fix(api): enforce operator checks in asset mutations
  go.work.sum
  server/api/Makefile
  server/api/go.mod
  server/api/go.sum
  server/api/internal/adapter/gql/generated.go
  server/api/internal/adapter/gql/gqlmodel/models_gen.go
  server/api/internal/adapter/gql/resolver.go
  server/api/internal/adapter/gql/resolver_mutation_asset.go
  server/api/internal/adapter/gql/resolver_workspace.go
Labels: api

#1263 fix(engine): revert stdout log event publishing support
  engine/.gitignore
  engine/Cargo.lock
  engine/Cargo.toml
  engine/compose.yml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/common/src/xml.rs
  engine/runtime/common/test.zip
  engine/runtime/runtime/src/epoch.rs
  engine/worker/README.md
  engine/worker/src/command.rs
  engine/worker/src/logger.rs
  engine/worker/src/pubsub/backend.rs
  engine/worker/src/pubsub/backend/google.rs
  engine/worker/src/pubsub/backend/noop.rs
  engine/worker/src/types.rs
  engine/worker/src/types/stdout_log_event.rs
  go.work.sum
Labels: engine

#1281 chore(ui): July 2025 Dependencies Updates [FLOW-FE-183]
  ui/package.json
  ui/public/mockServiceWorker.js
  ui/src/routeTree.gen.ts
  ui/yarn.lock
Labels: ui

#1265 feat(engine): add HTTPS schema support for XML validator processor
  engine/.gitignore
  engine/CLAUDE.md
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-processor/Cargo.toml
  engine/runtime/action-processor/src/xml.rs
  engine/runtime/action-processor/src/xml/README.md
  engine/runtime/action-processor/src/xml/cache.rs
  engine/runtime/action-processor/src/xml/errors.rs
  engine/runtime/action-processor/src/xml/namespace.rs
  engine/runtime/action-processor/src/xml/schema_composer.rs
  engine/runtime/action-processor/src/xml/schema_fetcher.rs
  engine/runtime/action-processor/src/xml/schema_resolver.rs
  engine/runtime/action-processor/src/xml/schema_rewriter.rs
  engine/runtime/action-processor/src/xml/types.rs
  engine/runtime/action-processor/src/xml/validator.rs
  engine/runtime/common/src/zip.rs
Labels: engine

#1280 fix(api): stop log watching when job is done[FLOW-BE-170]
  server/api/internal/usecase/interactor/common.go
  server/api/internal/usecase/interactor/log.go
  server/api/internal/usecase/interactor/log_test.go
Labels: api

#1287 fix(refactor): Remove infobox and adjust map zoom
  ui/src/components/visualizations/MapLibre/index.tsx
  ui/src/features/Editor/components/OverlayUI/components/DebugPanel/hooks.ts
  ui/src/lib/i18n/locales/en.json
  ui/src/lib/i18n/locales/es.json
  ui/src/lib/i18n/locales/fr.json
  ui/src/lib/i18n/locales/ja.json
  ui/src/lib/i18n/locales/zh.json
Labels: ui

#1291 feat(engine): add common quality-check workflow
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-plateau-processor/src/lib.rs
  engine/runtime/action-plateau-processor/src/plateau3/domain_of_definition_validator.rs
  engine/runtime/action-plateau-processor/src/plateau4/domain_of_definition_validator.rs
  engine/runtime/action-plateau-processor/src/plateau4/missing_attribute_detector.rs
  engine/runtime/action-plateau-processor/src/tests.rs
  engine/runtime/action-plateau-processor/src/tests/utils.rs
  engine/runtime/common/test.zip
  engine/runtime/examples/fixture/graphs/plateau4/domain_of_definition_validator.yml
  engine/runtime/examples/fixture/graphs/plateau4/quality-check/01-01-common.yml
  engine/runtime/examples/fixture/graphs/plateau4/quality-check/01-02-common.yml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1294 chore(engine): fix minor issues
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/src/main.rs
  engine/runtime/sevenz/src/reader.rs
Labels: engine

#1296 fix(engine): bugfix for remove_lod
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/types/src/lod.rs
Labels: engine

#1298 fix(engine): prevent duplicate ports in ChannelManager sender_port mapping
  engine/Cargo.lock
  engine/Cargo.toml
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/runtime/src/forwarder.rs
Labels: engine

#1297 feat(engine): enhance WasmRuntimeExecutor to support downloading source code from URLs
  engine/Cargo.lock
  engine/Cargo.toml
  engine/docs/mdbook/src/action.md
  engine/plateau-gis-quality-checker/src-tauri/Cargo.toml
  engine/runtime/action-wasm-processor/src/runtime_executor.rs
  engine/runtime/examples/fixture/workflow/requirement/plateau4/b005-3/workflow.yml
  engine/runtime/tests/fixture/workflow/wasm/runtime_executor/attribute_python.yaml
  engine/schema/actions.json
  engine/schema/actions_en.json
  engine/schema/actions_es.json
  engine/schema/actions_fr.json
  engine/schema/actions_ja.json
  engine/schema/actions_zh.json
Labels: engine

#1299 feat(engine): quality-check workflow for bldg (WIP)
  engine/CLAUDE.md
  engine/runtime/examples/fixture/graphs/lod_splitter_with_dm_2.yml
  engine/runtime/examples/fixture/workflow/quality-check/plateau4/01-common/workflow.yml
  engine/runtime/examples/fixture/workflow/quality-check/plateau4/02-bldg/workflow.yml
Labels: engine
